<%@ page import="com.kombos.administrasi.PartJob" %>

<div class="control-group fieldcontain ${hasErrors(bean: partJobInstance, field: 'partJob', 'error')} ">

    <div class="controls">
        <input type="file" required="" id="fileExcel" name="fileExcel" accept="application/excel|application/vnd.ms-excel" />
    </div>
</div>
