

<%@ page import="com.kombos.administrasi.Audio" %>
<!DOCTYPE html>
<html>
<head>
<meta name="layout" content="main">
<r:require modules="bootstrapeditable" />
<g:set var="entityName"
	value="${message(code: 'audio.label', default: 'Suara')}" />
<title><g:message code="default.show.label" args="[entityName]" /></title>
<g:javascript disposition="head">
var deleteAudio;
var cancelView;

$(function(){ 
	deleteAudio=function(id){
		$.ajax({type:'POST', url:'${request.contextPath}/audio/delete/',
			data: { id: id },
   			success:function(data,textStatus){
   				reloadAudioTable();
   				expandTableLayout();
   			},
   			error:function(XMLHttpRequest,textStatus,errorThrown){},
   			complete:function(XMLHttpRequest,textStatus){
   				$('#spinner').fadeOut();
   			}
   		});
	}

	 cancelView = function(){
	 var myAudio=document.getElementById("audio1");
     myAudio.pause();
      //  $('#audio1').pause();
        expandTableLayout();
    }
});

</g:javascript>
</head>
<body>
	<div id="show-audio" role="main">
		<legend>
			<g:message code="default.show.label" args="[entityName]" />
		</legend>
		<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
		</g:if>
		<table id="audio"
			class="table table-bordered table-hover">
			<tbody>

				
				<g:if test="${audioInstance?.m405Text}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="m405Text-label" class="property-label"><g:message
					code="audio.m405Text.label" default="Text" />:</span></td>
						<td class="span3"><span class="property-value"
						aria-labelledby="m405Text-label">
						%{--<ba:editableValue
								bean="${audioInstance}" field="m405Text"
								url="${request.contextPath}/Audio/updatefield" type="text"
								title="Enter m405Text" onsuccess="reloadAudioTable();" />--}%
							
								<g:fieldValue bean="${audioInstance}" field="m405Text"/>
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${audioInstance?.audioPath}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="audioPath-label" class="property-label"><g:message
					code="audio.audioPath.label" default="Suara" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="audioPath-label">
                            <audio id="audio1" controls>
                                <source src="${resource(dir: 'audio', file: "${audioInstance?.audioPath}")}" type="audio/mpeg">
                                Your browser does not support this audio format.
                            </audio>
                            <br/>
                        	  <g:link action="downloadAudio" params="[audioPath: audioInstance?.audioPath]"> ${audioInstance?.audioPath} </g:link>

                        </span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${audioInstance?.lastUpdProcess}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="lastUpdProcess-label" class="property-label"><g:message
					code="audio.lastUpdProcess.label" default="Last Upd Process" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="lastUpdProcess-label">
						%{--<ba:editableValue
								bean="${audioInstance}" field="lastUpdProcess"
								url="${request.contextPath}/Audio/updatefield" type="text"
								title="Enter lastUpdProcess" onsuccess="reloadAudioTable();" />--}%
							
								<g:fieldValue bean="${audioInstance}" field="lastUpdProcess"/>
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${audioInstance?.dateCreated}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="dateCreated-label" class="property-label"><g:message
					code="audio.dateCreated.label" default="Date Created" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="dateCreated-label">
						%{--<ba:editableValue
								bean="${audioInstance}" field="dateCreated"
								url="${request.contextPath}/Audio/updatefield" type="text"
								title="Enter dateCreated" onsuccess="reloadAudioTable();" />--}%
							
								<g:formatDate date="${audioInstance?.dateCreated}"  type="datetime" style="MEDIUM" />
							
						</span></td>
					
				</tr>
				</g:if>

            <g:if test="${audioInstance?.createdBy}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="createdBy-label" class="property-label"><g:message
                                code="audio.createdBy.label" default="Created By" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="createdBy-label">
                        %{--<ba:editableValue
                                bean="${audioInstance}" field="createdBy"
                                url="${request.contextPath}/Audio/updatefield" type="text"
                                title="Enter createdBy" onsuccess="reloadAudioTable();" />--}%

                        <g:fieldValue bean="${audioInstance}" field="createdBy"/>

                    </span></td>

                </tr>
            </g:if>
			
				<g:if test="${audioInstance?.lastUpdated}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="lastUpdated-label" class="property-label"><g:message
					code="audio.lastUpdated.label" default="Last Updated" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="lastUpdated-label">
						%{--<ba:editableValue
								bean="${audioInstance}" field="lastUpdated"
								url="${request.contextPath}/Audio/updatefield" type="text"
								title="Enter lastUpdated" onsuccess="reloadAudioTable();" />--}%
							
								<g:formatDate date="${audioInstance?.lastUpdated}" type="datetime" style="MEDIUM"/>
							
						</span></td>
					
				</tr>
				</g:if>

            <g:if test="${audioInstance?.updatedBy}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="updatedBy-label" class="property-label"><g:message
                                code="audio.updatedBy.label" default="Updated By" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="updatedBy-label">
                        %{--<ba:editableValue
                                bean="${audioInstance}" field="updatedBy"
                                url="${request.contextPath}/Audio/updatefield" type="text"
                                title="Enter updatedBy" onsuccess="reloadAudioTable();" />--}%

                        <g:fieldValue bean="${audioInstance}" field="updatedBy"/>

                    </span></td>

                </tr>
            </g:if>
			
			</tbody>
		</table>
		<g:form class="form-horizontal">
			<fieldset class="buttons controls">
				<a class="btn cancel" href="javascript:void(0);"
					onclick="cancelView();"><g:message
						code="default.button.cancel.label" default="Cancel" /></a>		
				<g:remoteLink class="btn btn-primary edit" action="edit"
					id="${audioInstance?.id}"
					update="[success:'audio-form',failure:'audio-form']"
					on404="alert('not found');">
					<g:message code="default.button.edit.label" default="Edit" />
				</g:remoteLink>
				<ba:confirm id="delete" class="btn cancel"
					message="${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}"
					onsuccess="deleteAudio('${audioInstance?.id}')" label="${message(code: 'default.button.delete.label', default: 'Delete')}"/>
			</fieldset>
		</g:form>
	</div>
</body>
</html>
