<%@ page import="com.kombos.administrasi.FullModelCode" %>

<div class="control-group fieldcontain ${hasErrors(bean: fullModelCodeInstance, field: 't110FullModelCode', 'error')} ">
    %{--<label class="control-label" for="t110FullModelCode">--}%
        %{--<g:message code="operation.upload.label" default="Upload File" />--}%

    %{--</label>--}%
    <div class="controls">
        <input type="file" required="" id="fileExcelFullModel" name="fileExcelFullModel" accept="application/excel|application/vnd.ms-excel" />
    </div>
</div>

%{--<div class="control-group fieldcontain ${hasErrors(bean: fullModelVinCodeInstance, field: 'customerVehicle', 'error')} ">--}%
    %{--<label class="control-label" for="t110FullModelCode">--}%
    %{--<g:message code="operation.upload.label" default="Upload File" />--}%

    %{--</label>--}%
    %{--<div class="controls">--}%
        %{--<input type="file" required="" id="fileExcelFullModelVin" name="fileExcelFullModelVin" accept="application/excel|application/vnd.ms-excel" />--}%
    %{--</div>--}%
%{--</div>--}%