<%@ page import="com.kombos.finance.Asset" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'asset.label', default: 'Asset')}" />
		<title><g:message code="default.edit.label" args="[entityName]" /></title>
        <g:javascript>
            $(function() {
                $(".numeric").autoNumeric("init", {
                    vMin: '-999999999.99',
                    vMax: '99999999999.99'
                });
            })
        </g:javascript>
	</head>
	<body>
		<div id="edit-asset" class="content scaffold-edit" role="main">
			<legend>
                <g:if test="${params.opname}">
                    Opname
                </g:if>
                <g:else>
                    <g:message code="default.edit.label" args="[entityName]" />
                </g:else>
            </legend>
			<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
			</g:if>
			<g:hasErrors bean="${assetInstance}">
			<ul class="errors" role="alert">
				<g:eachError bean="${assetInstance}" var="error">
				<li <g:if test="${error in org.springframework.validation.FieldError}">data-field-id="${error.field}"</g:if>><g:message error="${error}"/></li>
				</g:eachError>
			</ul>
			</g:hasErrors>
			%{--<g:form method="post" >--}%
			<g:formRemote class="form-horizontal" name="edit" on404="alert('not found!');" onSuccess="cancel();" update="asset-form"
				url="[controller: 'asset', action:'update']">
				<g:hiddenField name="id" value="${assetInstance?.id}" />
				<g:hiddenField name="version" value="${assetInstance?.version}" />
				<fieldset class="form">
					<g:render template="form"/>
				</fieldset>
				<fieldset class="buttons controls">
					<g:actionSubmit class="btn btn-primary save" action="update" value="${message(code: 'default.button.update.label', default: 'Update')}" />
                    <a class="btn cancel" href="javascript:void(0);"
                       onclick="expandTableLayout('asset');reloadAssetTable();"><g:message
                            code="default.button.cancel.label" default="Cancel" /></a>
				</fieldset>
			</g:formRemote>
			%{--</g:form>--}%
		</div>
	</body>
</html>
