
<%@ page import="com.kombos.parts.PartFifo" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'partFifo.label', default: 'PartFifo')}" />
		<title><g:message code="default.list.label" args="[entityName]" /></title>
		<r:require modules="baseapplayout, baseapplist" />
		<g:javascript>
			var searchData;
			var clearSearchData;
			$(function(){
				$('#goods').typeahead({
					source: function (query, process) {
						var word = $('#goods').val();
						return $.get('${request.contextPath}/partFifo/listGoods?word='+word, { query: query }, function (data) {
							return process(data.options);
						});
					}
				});

				searchData = function(){
					var wGoods = $("#goods").val();
					var wTanggal1 = $("#tanggalAwal").val();
					var wTanggal2 = $("#tanggalAkhir").val();
					if(wGoods=="" || wTanggal1=="" || wTanggal2==""){
						alert("Kriteria pencarian tidak lengkap");
						return
					}
					reloadPartFifoTable();
				}

				clearSearchData = function(){
					var wGoods = $("#goods").val("");
					var wTanggal1 = $("#tanggalAwal").val("");
					var wTanggal2 = $("#tanggalAkhir").val("");
					reloadPartFifoTable();
				}
			});
		</g:javascript>
	</head>
	<body>
		<div class="navbar box-header no-border">
			<span class="pull-left"><g:message code="partsFifo.label" default="Parts FIFO" /></span>

		</div>

	<div class="box">
		<div class="span12" id="partFifo-table">
			<g:if test="${flash.message}">
				<div class="message" role="status">
					${flash.message}
				</div>
			</g:if>
			<table>
				<tr>
					<td style="padding: 5px">
						Parts
					</td>
					<td style="padding: 5px">
						<g:textField style="width:462px" name="goods" id="goods" required="" class="typeahead" autocomplete="off"/>
					</td>
				</tr>
				<tr>
					<td style="padding: 5px">
						Periode
					</td>
					<td style="padding: 5px">
						<ba:datePicker style="width:70px" name="tanggalAwal" id="tanggalAwal" precision="day" value="" format="dd-MM-yyyy"/>&nbsp;s.d.&nbsp;
						<ba:datePicker style="width:70px" name="tanggalAkhir" id="tanggalAkhir" precision="day" value="" format="dd-MM-yyyy"/>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<div class="pull-right">
							<g:field type="button" style="padding: 5px" class="btn cancel" onclick="searchData();"
									 name="view" id="view" value="${message(code: 'stokOPName.search.label', default: 'Search')}" />

							<g:field type="button" style="padding: 5px" class="btn cancel" onclick="clearSearchData();"
									 name="clear" id="clear" value="${message(code: 'stokOPName.clearsearch.label', default: 'Clear Search')}" />
						</div>
					</td>
				</tr>
			</table>
			<br/><br/>
			<g:render template="dataTables" />

		</div>
		<div class="span7" id="partFifo-form" style="display: none;"></div>
		</div>
	</body>
</html>
