<r:require modules="baseapplayout" />
<g:render template="../menu/maxLineDisplay"/>

<table id="searchParts_datatables" cellpadding="0" cellspacing="0"
       border="0"
       class="display table table-striped table-bordered table-hover"
       width="100%">
    <thead>
    <tr>
        <th style="border-bottom: none;padding: 5px;">
            <div>Kode Parts</div>
        </th>
        <th style="border-bottom: none;padding: 5px;">
            <div>Nama Parts</div>
        </th>
        <th style="border-bottom: none;padding: 5px;">
            <div>Nomor PO</div>
        </th>
        <th style="border-bottom: none;padding: 5px;">
            <div>Tanggal PO</div>
        </th>
        <th style="border-bottom: none;padding: 5px;">
            <div>Nomor Invoice</div>
        </th>
        <th style="border-bottom: none;padding: 5px;">
            <div>Tanggal Invoice</div>
        </th>
    </tr>

    </thead>
</table>

<g:javascript>
var searchPartsTable;
var reloadsearchPartsTable;
$(function(){

    $("th div input").bind('keypress', function(e) {
		var code = (e.keyCode ? e.keyCode : e.which);
		if(code == 13) {
			e.stopPropagation();
		 	searchPartsTable.fnDraw();
		}
	});
	$("th div input").click(function (e) {
	 	e.stopPropagation();
	});

	searchPartsTable = $('#searchParts_datatables').dataTable({
		"sScrollX": "100%",
		"bScrollCollapse": true,
		"bAutoWidth" : true,
		"bPaginate" : true,
		"sInfo" : "",
		"sInfoEmpty" : "",
		"sDom": "<'row-fluid'r>t<'row-fluid'<'span12'i>><'row-fluid'<'span12'p>>",
		bFilter: true,
		"bStateSave": false,
		'sPaginationType': 'bootstrap',
		"fnInitComplete": function () {
			this.fnAdjustColumnSizing(true);
		   },
		   "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
			return nRow;
		   },
		"bSort": true,
		"bProcessing": true,
		"bServerSide": true,
		"sServerMethod": "POST",
		"iDisplayLength" : maxLineDisplay, //maxLineDisplay is set in menu/maxLineDisplay.gsp
		"sAjaxSource": "${g.createLink(action: "searchPartsDatatablesList")}",
		"aoColumns": [

{
	"sName": "kodeParts",
	"mDataProp": "kodeParts",
	"aTargets": [0],
	"mRender": function ( data, type, row ) {
		return '<input id="checkBoxVendor" type="checkbox" class="pull-left row-select" aria-label="Row '+row['id']+'" title="Select this"><input type="hidden" value="'+row['id']+'">&nbsp;&nbsp;'+data;
	},
	"bSortable": false,
	"bSearchable": true,
	"sWidth":"100px",
	"bVisible": true
},
{
	"sName": "namaParts",
	"mDataProp": "namaParts",
	"aTargets": [1],
	"bSortable": false,
	"bSearchable": true,
	"sWidth":"100px",
	"bVisible": true
},
{
	"sName": "nomorPO",
	"mDataProp": "nomorPO",
	"aTargets": [2],
	"bSortable": false,
	"bSearchable": true,
	"sWidth":"100px",
	"bVisible": true
},
{
	"sName": "tglPO",
	"mDataProp": "tglPO",
	"aTargets": [3],
	"bSortable": false,
	"bSearchable": true,
	"sWidth":"100px",
	"bVisible": true
},
{
	"sName": "nomorInvoice",
	"mDataProp": "nomorInvoice",
	"aTargets": [4],
	"bSortable": false,
	"bSearchable": true,
	"sWidth":"100px",
	"bVisible": true
},
{
	"sName": "tglInvoice",
	"mDataProp": "tglInvoice",
	"aTargets": [5],
	"bSortable": false,
	"bSearchable": true,
	"sWidth":"100px",
	"bVisible": true
}],
        "fnServerData": function ( sSource, aoData, fnCallback, oSettings ) {

						var kode = $('#filter_kode input').val();

						$.ajax({ "dataType": 'json',
							"type": "POST",
							"url": sSource,
							"data": aoData ,
							"success": function (json) {
								fnCallback(json);
							   },
							"complete": function () {
							   }
						});
		}
	});
});
</g:javascript>



