
<%@ page import="com.kombos.baseapp.Approval" %>
<grid:grid name='datatables'
		columns.module.dataTablesLog.sWidth='"200px"'
		
		columns.params.dataTablesLog.sWidth='"200px"'

		columns.approvalStatus.dataTablesLog.sWidth='"14%"'
	
		columns.approvedBy.dataTablesLog.sWidth='"14%"'
	
		columns.approvedOn.dataTablesLog.sWidth='"9%"'				
	
		columns.requestBy.dataTablesLog.sWidth='"14%"'
	
		columns.requestOn.dataTablesLog.sWidth='"9%"'
	
		
></grid:grid>