

<%@ page import="com.kombos.administrasi.Serial" %>
<!DOCTYPE html>
<html>
<head>
<meta name="layout" content="main">
<r:require modules="bootstrapeditable" />
<g:set var="entityName"
	value="${message(code: 'serial.label', default: 'Serial')}" />
<title><g:message code="default.show.label" args="[entityName]" /></title>
<g:javascript disposition="head">
var deleteSerial;

$(function(){ 
	deleteSerial=function(id){
		$.ajax({type:'POST', url:'${request.contextPath}/serial/delete/',
			data: { id: id },
   			success:function(data,textStatus){
   				reloadSerialTable();
   				expandTableLayout();
   			},
   			error:function(XMLHttpRequest,textStatus,errorThrown){},
   			complete:function(XMLHttpRequest,textStatus){
   				$('#spinner').fadeOut();
   			}
   		});
	}
});

</g:javascript>
</head>
<body>
	<div id="show-serial" role="main">
		<legend>
			<g:message code="default.show.label" args="[entityName]" />
		</legend>
		<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
		</g:if>
		<table id="serial"
			class="table table-bordered table-hover">
			<tbody>

				
				<g:if test="${serialInstance?.section}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="section-label" class="property-label"><g:message
					code="serial.section.label" default="Section" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="section-label">
						%{--<ba:editableValue
								bean="${serialInstance}" field="section"
								url="${request.contextPath}/Serial/updatefield" type="text"
								title="Enter section" onsuccess="reloadSerialTable();" />--}%
							
								${serialInstance?.section?.encodeAsHTML()}
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${serialInstance?.m052ID}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="m052ID-label" class="property-label"><g:message
					code="serial.m052ID.label" default="Kode Serial" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="m052ID-label">
						%{--<ba:editableValue
								bean="${serialInstance}" field="m052ID"
								url="${request.contextPath}/Serial/updatefield" type="text"
								title="Enter m052ID" onsuccess="reloadSerialTable();" />--}%
							
								<g:fieldValue bean="${serialInstance}" field="m052ID"/>
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${serialInstance?.m052NamaSerial}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="m052NamaSerial-label" class="property-label"><g:message
					code="serial.m052NamaSerial.label" default="Nama Serial" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="m052NamaSerial-label">
						%{--<ba:editableValue
								bean="${serialInstance}" field="m052NamaSerial"
								url="${request.contextPath}/Serial/updatefield" type="text"
								title="Enter m052NamaSerial" onsuccess="reloadSerialTable();" />--}%
							
								<g:fieldValue bean="${serialInstance}" field="m052NamaSerial"/>
							
						</span></td>
					
				</tr>
				</g:if>
			
				%{--<g:if test="${serialInstance?.staDel}">--}%
				%{--<tr>--}%
				%{--<td class="span2" style="text-align: right;"><span--}%
					%{--id="staDel-label" class="property-label"><g:message--}%
					%{--code="serial.staDel.label" default="Sta Del" />:</span></td>--}%
					%{----}%
						%{--<td class="span3"><span class="property-value"--}%
						%{--aria-labelledby="staDel-label">--}%
						%{--<ba:editableValue--}%
								%{--bean="${serialInstance}" field="staDel"--}%
								%{--url="${request.contextPath}/Serial/updatefield" type="text"--}%
								%{--title="Enter staDel" onsuccess="reloadSerialTable();" />--}%
							%{----}%
								%{--<g:fieldValue bean="${serialInstance}" field="staDel"/>--}%
							%{----}%
						%{--</span></td>--}%
					%{----}%
				%{--</tr>--}%
				%{--</g:if>--}%
			
				<g:if test="${serialInstance?.lastUpdProcess}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="lastUpdProcess-label" class="property-label"><g:message
					code="serial.lastUpdProcess.label" default="Last Upd Process" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="lastUpdProcess-label">
						%{--<ba:editableValue
								bean="${serialInstance}" field="lastUpdProcess"
								url="${request.contextPath}/Serial/updatefield" type="text"
								title="Enter lastUpdProcess" onsuccess="reloadSerialTable();" />--}%
							
								<g:fieldValue bean="${serialInstance}" field="lastUpdProcess"/>
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${serialInstance?.dateCreated}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="dateCreated-label" class="property-label"><g:message
					code="serial.dateCreated.label" default="Date Created" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="dateCreated-label">
						%{--<ba:editableValue
								bean="${serialInstance}" field="dateCreated"
								url="${request.contextPath}/Serial/updatefield" type="text"
								title="Enter dateCreated" onsuccess="reloadSerialTable();" />--}%
							
								<g:formatDate date="${serialInstance?.dateCreated}" type="datetime" style="MEDIUM"  />
							
						</span></td>
					
				</tr>
				</g:if>

            <g:if test="${serialInstance?.createdBy}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="createdBy-label" class="property-label"><g:message
                                code="serial.createdBy.label" default="Created By" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="createdBy-label">
                        %{--<ba:editableValue
                                bean="${serialInstance}" field="createdBy"
                                url="${request.contextPath}/Serial/updatefield" type="text"
                                title="Enter createdBy" onsuccess="reloadSerialTable();" />--}%

                        <g:fieldValue bean="${serialInstance}" field="createdBy"/>

                    </span></td>

                </tr>
            </g:if>
			
				<g:if test="${serialInstance?.lastUpdated}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="lastUpdated-label" class="property-label"><g:message
					code="serial.lastUpdated.label" default="Last Updated" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="lastUpdated-label">
						%{--<ba:editableValue
								bean="${serialInstance}" field="lastUpdated"
								url="${request.contextPath}/Serial/updatefield" type="text"
								title="Enter lastUpdated" onsuccess="reloadSerialTable();" />--}%
							
								<g:formatDate date="${serialInstance?.lastUpdated}" type="datetime" style="MEDIUM"  />
							
						</span></td>
					
				</tr>
				</g:if>

            <g:if test="${serialInstance?.updatedBy}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="updatedBy-label" class="property-label"><g:message
                                code="serial.updatedBy.label" default="Updated By" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="updatedBy-label">
                        %{--<ba:editableValue
                                bean="${serialInstance}" field="updatedBy"
                                url="${request.contextPath}/Serial/updatefield" type="text"
                                title="Enter updatedBy" onsuccess="reloadSerialTable();" />--}%

                        <g:fieldValue bean="${serialInstance}" field="updatedBy"/>

                    </span></td>

                </tr>
            </g:if>
			
			</tbody>
		</table>
		<g:form class="form-horizontal">
			<fieldset class="buttons controls">
				<a class="btn cancel" href="javascript:void(0);"
					onclick="expandTableLayout();"><g:message
						code="default.button.cancel.label" default="Cancel" /></a>		
				<g:remoteLink class="btn btn-primary edit" action="edit"
					id="${serialInstance?.id}"
					update="[success:'serial-form',failure:'serial-form']"
					on404="alert('not found');">
					<g:message code="default.button.edit.label" default="Edit" />
				</g:remoteLink>
				<ba:confirm id="delete" class="btn cancel"
					message="${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}"
					onsuccess="deleteSerial('${serialInstance?.id}')" label="${message(code: 'default.button.delete.label', default: 'Delete')}"/>
			</fieldset>
		</g:form>
	</div>
</body>
</html>
