<table cellpadding="0" cellspacing="0"
       border="0"
       class="display table table-striped table-bordered table-hover table-selectable"
       width="100%">
    <tr>
    	<td>
    		<input type="checkbox" name="unitin" value="all"/>&nbsp;ALL
    	</td>
    </tr>
    <tr>
    	<td>
    		<input type="checkbox" name="unitin" value="walkin"/>&nbsp;WALK IN
    	</td>
    </tr>
    <tr>
    	<td>
    		<input type="checkbox" name="unitin" value="branch"/>&nbsp;BRANCH
    	</td>
    </tr>
</table>