<table cellpadding="0" cellspacing="0"
       border="0"
       class="display table table-striped table-bordered table-hover table-selectable"
       width="100%">
    <tr>
    	<td>
    		<input type="checkbox" name="appointmentStatus" value="all"/>&nbsp;ALL
    	</td>
    </tr>
    <tr>
    	<td>
    		<input type="checkbox" name="appointmentStatus" value="booking"/>&nbsp;BOOKING
    	</td>
    </tr>
    <tr>
    	<td>
    		<input type="checkbox" name="appointmentStatus" value="nonbooking"/>&nbsp;NON BOOKING
    	</td>
    </tr>
</table>