
<%@ page import="com.kombos.board.JPB" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'JPB.label', default: 'JPB GR')}" />
		%{--<title><g:message code="default.list.label" args="[entityName]" /></title>--}%
		<r:require modules="baseapplayout, baseapplist" />
		<g:javascript>
			var show;
			var edit;
                    var jpbView;
			$(function(){ 
			         
	$('#search_tglViewMonth').datepicker().on('changeDate', function(ev) {
			var newDate = new Date(ev.date);
			$('#search_tglViewMonth_day').val(newDate.getDate());
			$('#search_tglViewMonth_month').val(newDate.getMonth()+1);
			$('#search_tglViewMonth_year').val(newDate.getFullYear());
			$(this).datepicker('hide');
	});

   	jpbView = function(){
        var oTable = $('#JPB_datatables').dataTable();
        oTable.fnReloadAjax();
        var from = $("#search_tglViewMonth").val().split("/");
        var theDate = new Date();
        theDate.setFullYear(from[2], from[1] - 1, from[0]);
        //alert("theDate=" + theDate);
        var m_names = new Array("Januari", "Februari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember");
        var formattedDate =  theDate.getDate() + " " + m_names[theDate.getMonth()] + " " + theDate.getFullYear();
        document.getElementById("lblTglView").innerHTML = formattedDate;
   	}
});

</g:javascript>
	</head>
	<body>
	<div class="navbar box-header no-border">

	</div>

	<div class="box">
        <table style="width: 100%;border: 0px;padding-left: 10px;padding-right: 10px;">
            <tr>
            <td style="width: 53%;vertical-align: top;">

                <div class="box">
                    <legend style="font-size: small">Input JPB</legend>
                    <table style="width: 100%;border: 0px">
                        <tr>
                            <td>
                                <label class="control-label" for="lbl_rcvDate">
                                    Tgl/Jam Janji Datang
                                </label>
                            </td>
                            <td><g:checkBox name="checkJanjiDatang"/></td>
                            <td>
                                <div id="lbl_rcvDate" class="controls">
                                    <ba:datePicker id="input_rcvDateMonth" name="input_rcvDateMonth" precision="day" format="dd-MM-yyyy"  value=""  />
                                    <select id="input_rcvHourMonth" name="input_rcvHourMonth" style="width: 60px" required="">
                                        %{
                                            for (int i=0;i<24;i++){
                                                if(i<10){
                                                        out.println('<option value="'+i+'">0'+i+'</option>');
                                                } else {
                                                        out.println('<option value="'+i+'">'+i+'</option>');
                                                }
                                            }
                                        }%
                                    </select> :
                                    <select id="input_rcvMinuiteMonth" name="input_rcvMinuiteMonth" style="width: 60px" required="">
                                        %{
                                            for (int i=0;i<60;i++){
                                                if(i<10){
                                                        out.println('<option value="'+i+'">0'+i+'</option>');
                                                } else {
                                                        out.println('<option value="'+i+'">'+i+'</option>');
                                                }
                                            }
                                        }%
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Status Mobil</td>
                            <td colspan="2">
                                <div class="controls">
                                    <g:radioGroup name="statusMobil" values="['W','L', 'P']" value="${JPBInstance?.t351StaOkCancelReSchedule}" labels="['Ditunggu','Mobil Ditinggal', 'Parts Ditinggal']">
                                        ${it.radio} <g:message code="${it.label}" />
                                    </g:radioGroup>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label" for="lbl_penyerahan">
                                    Tgl/Jam Janji Penyerahan
                                </label>
                            </td>
                            <td><g:checkBox name="checkJanjiPenyerahan"/></td>
                            <td style="padding-top: 10px;">
                                <div id="lbl_penyerahan" class="controls">
                                    <ba:datePicker id="input_penyerahanMonth" name="input_penyerahanMonth" precision="day" format="dd-MM-yyyy"  value=""  />
                                    <select id="input_penyerahanMonthHour" name="input_penyerahanMonthHour" style="width: 60px" required="">
                                        %{
                                            for (int i=0;i<24;i++){
                                                if(i<10){
                                                        out.println('<option value="'+i+'">0'+i+'</option>');
                                                } else {
                                                        out.println('<option value="'+i+'">'+i+'</option>');
                                                }
                                            }
                                        }%
                                    </select> :
                                    <select id="input_penyerahanMonthMinuite" name="input_penyerahanMonthMinuite" style="width: 60px" required="">
                                        %{
                                            for (int i=0;i<60;i++){
                                                if(i<10){
                                                        out.println('<option value="'+i+'">0'+i+'</option>');
                                                } else {
                                                        out.println('<option value="'+i+'">'+i+'</option>');
                                                }
                                            }
                                        }%
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="text-align: right; padding-right: 120px;"><button class="btn btn-primary" id="buttonSave" onclick="save();">Search</button></td>
                        </tr>
                    </table>
                </div>

            </td>
            <td style="width: 13%;vertical-align: top;padding-left: 10px;">

            </td>

            <td style="width: 33%;vertical-align: top;padding-left: 10px;">
                <div class="box">
                    <legend style="font-size: small">View JPB</legend>
                    <table style="width: 100%;border: 0px">
                        <tr>
                            <td></td>
                            <td style="width: 135px;"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <label class="control-label" for="lbl_rcvDate">
                                    Nama Workshop
                                </label>
                            </td>
                            <td colspan="2">
                                <div id="lbl_companyDealer" class="controls">
                                    <g:if test="${session?.userCompanyDealer?.m011NamaWorkshop?.toUpperCase()?.contains("HO")}">
                                        <g:select name="companyDealer.id" id="input_companyDealer" from="${com.kombos.administrasi.CompanyDealer.createCriteria().list {eq("staDel","0");order("m011NamaWorkshop");}}" optionKey="id" optionValue="m011NamaWorkshop" value="${session?.userCompanyDealer?.id}" />
                                    </g:if>
                                    <g:else>
                                        <g:select name="companyDealer.id" id="input_companyDealer" readonly="" disabled="" from="${com.kombos.administrasi.CompanyDealer.createCriteria().list {eq("staDel","0");order("m011NamaWorkshop");}}" optionKey="id" optionValue="m011NamaWorkshop" value="${session?.userCompanyDealer?.id}" />
                                    </g:else>
                                    %{--<g:select id="input_companyDealer" name="companyDealer.id" from="${com.kombos.administrasi.CompanyDealer.list()}" optionKey="id" required="" class="many-to-one"/>--}%
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label class="control-label" for="lbl_tglView">
                                    Tanggal
                                </label>
                            </td>
                            <td>
                                <div id="lbl_tglView" class="controls">
                                    <div id="filter_tglView" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;">
                                         <input type="hidden" name="search_tglViewMonth" value="date.struct">
                                         <input type="hidden" name="search_tglViewMonth_day" id="search_tglViewMonth_day" value="">
                                         <input type="hidden" name="search_tglViewMonth_month" id="search_tglViewMonth_month" value="">
                                         <input type="hidden" name="search_tglViewMonth_year" id="search_tglViewMonth_year" value="">
                                         <input type="text" data-date-format="dd/mm/yyyy" name="search_tglViewMonth_dp" value="" id="search_tglViewMonth" class="search_init">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-primary" id="buttonView" onclick="clickView()">View</button>
                            </td>
                        </tr>

                    </table>
                </div>

            </td>

            </tr>
            <tr>
                <td colspan="3">
                    <div id="JPB-table">
                        <g:if test="${flash.message}">
                            <div class="message" role="status">
                                ${flash.message}
                            </div>
                        </g:if>

                        <g:render template="dataTablesPerMonth" />
                    </div>
                    </td>
                </tr>
        </table>
	</div>
</body>
</html>
