
<%@ page import="com.kombos.finance.BankAccountNumber" %>

<r:require modules="baseapplayout" />
<g:render template="../menu/maxLineDisplay"/>

<table id="bankAccountNumber_datatables" cellpadding="0" cellspacing="0"
	border="0"
	class="display table table-striped table-bordered table-hover"
	width="100%">
	<thead>
		<tr>

%{--
			<th style="border-bottom: none;padding: 5px;">
				<div><g:message code="bankAccountNumber.lastUpdProcess.label" default="Last Upd Process" /></div>
			</th>
--}%


			<th style="border-bottom: none;padding: 5px;">
				<div><g:message code="bankAccountNumber.accountNumber.label" default="Account Number" /></div>
			</th>


			<th style="border-bottom: none;padding: 5px;">
				<div><g:message code="bankAccountNumber.bank.label" default="Bank" /></div>
			</th>
%{--

			<th style="border-bottom: none;padding: 5px;">
				<div><g:message code="bankAccountNumber.transaction.label" default="Transaction" /></div>
			</th>--}%

		
		</tr>
		<tr>
		%{--
	
			<th style="border-top: none;padding: 5px;">
				<div id="filter_lastUpdProcess" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;">
					<input type="text" name="search_lastUpdProcess" class="search_init" />
				</div>
			</th>--}%
	
			<th style="border-top: none;padding: 5px;">
				<div id="filter_accountNumber" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;">
					<input type="text" name="search_accountNumber" class="search_init" />
				</div>
			</th>
	
			<th style="border-top: none;padding: 5px;">
				<div id="filter_bank" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;">
					<input type="text" name="search_bank" class="search_init" />
				</div>
			</th>
	
		%{--	<th style="border-top: none;padding: 5px;">
				<div id="filter_transaction" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;">
					<input type="text" name="search_transaction" class="search_init" />
				</div>
			</th>--}%


		</tr>
	</thead>
</table>

<g:javascript>
var bankAccountNumberTable;
var reloadBankAccountNumberTable;
$(function(){
	
	reloadBankAccountNumberTable = function() {
		bankAccountNumberTable.fnDraw();
	}

	

$("th div input").bind('keypress', function(e) {
		var code = (e.keyCode ? e.keyCode : e.which);
		if(code == 13) { 
			e.stopPropagation();
		 	bankAccountNumberTable.fnDraw();
		}
	});
	$("th div input").click(function (e) {
	 	e.stopPropagation();
	});

	bankAccountNumberTable = $('#bankAccountNumber_datatables').dataTable({
		"sScrollX": "100%",
		"bScrollCollapse": true,
		"bAutoWidth" : false,
		"bPaginate" : true,
		"sInfo" : "",
		"sInfoEmpty" : "",
		"sDom": "<'row-fluid'r>t<'row-fluid'<'span12'i>><'row-fluid'<'span12'p>>",
		bFilter: true,
		"bStateSave": false,
		'sPaginationType': 'bootstrap',
		"fnInitComplete": function () {
			this.fnAdjustColumnSizing(true);
		   },
		   "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
			return nRow;
		   },
		"bSort": true,
		"bProcessing": true,
		"bServerSide": true,
		"sServerMethod": "POST",
		"iDisplayLength" : maxLineDisplay, //maxLineDisplay is set in menu/maxLineDisplay.gsp
		"sAjaxSource": "${g.createLink(action: "datatablesList")}",
		"aoColumns": [

/*
{
	"sName": "lastUpdProcess",
	"mDataProp": "lastUpdProcess",
	"aTargets": [0],

	"bSearchable": true,
	"bSortable": true,
	"sWidth":"300px",
	"bVisible": true
}

,
*/

{
	"sName": "accountNumber",
	"mDataProp": "accountNumber",
	"aTargets": [1],
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"200px",
	"bVisible": true,
	"mRender": function ( data, type, row ) {
		return '<input type="checkbox" class="pull-left row-select" aria-label="Row '+row['id']+'" title="Select this"><input type="hidden" value="'+row['id']+'">&nbsp;&nbsp;<a href="#" onclick="show('+row['id']+');">'+data+'</a><a class="pull-right cell-action" href="javascript:void(0);" onclick="edit('+row['id']+');">&nbsp;&nbsp;<i class="icon-pencil"></i>&nbsp;&nbsp;</a>';
	}
}

,

{
	"sName": "bank",
	"mDataProp": "bank",
	"aTargets": [2],
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"200px",
	"bVisible": true
}

/*,*/

/*{
	"sName": "transaction",
	"mDataProp": "transaction",
	"aTargets": [3],
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"200px",
	"bVisible": true
}*/

],
        "fnServerData": function ( sSource, aoData, fnCallback, oSettings ) {
	
						var lastUpdProcess = $('#filter_lastUpdProcess input').val();
						if(lastUpdProcess){
							aoData.push(
									{"name": 'sCriteria_lastUpdProcess', "value": lastUpdProcess}
							);
						}
	
						var accountNumber = $('#filter_accountNumber input').val();
						if(accountNumber){
							aoData.push(
									{"name": 'sCriteria_accountNumber', "value": accountNumber}
							);
						}
	
						var bank = $('#filter_bank input').val();
						if(bank){
							aoData.push(
									{"name": 'sCriteria_bank', "value": bank}
							);
						}
	
						var transaction = $('#filter_transaction input').val();
						if(transaction){
							aoData.push(
									{"name": 'sCriteria_transaction', "value": transaction}
							);
						}

						$.ajax({ "dataType": 'json',
							"type": "POST",
							"url": sSource,
							"data": aoData ,
							"success": function (json) {
								fnCallback(json);
							   },
							"complete": function () {
							   }
						});
		}			
	});
});
</g:javascript>


			
