

<%@ page import="com.kombos.finance.BankAccountNumber" %>
<!DOCTYPE html>
<html>
<head>
<meta name="layout" content="main">
<r:require modules="bootstrapeditable" />
<g:set var="entityName"
	value="${message(code: 'bankAccountNumber.label', default: 'BankAccountNumber')}" />
<title><g:message code="default.show.label" args="[entityName]" /></title>
<g:javascript disposition="head">
var deleteBankAccountNumber;

$(function(){ 
	deleteBankAccountNumber=function(id){
		$.ajax({type:'POST', url:'${request.contextPath}/bankAccountNumber/delete/',
			data: { id: id },
   			success:function(data,textStatus){
   				reloadBankAccountNumberTable();
   				expandTableLayout('bankAccountNumber');
   			},
   			error:function(XMLHttpRequest,textStatus,errorThrown){},
   			complete:function(XMLHttpRequest,textStatus){
   				$('#spinner').fadeOut();
   			}
   		});
	}
});

</g:javascript>
</head>
<body>
	<div id="show-bankAccountNumber" role="main">
		<legend>
			<g:message code="default.show.label" args="[entityName]" />
		</legend>
		<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
		</g:if>
		<table id="bankAccountNumber"
			class="table table-bordered table-hover">
			<tbody>

				
				<g:if test="${bankAccountNumberInstance?.accountNumber}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="accountNumber-label" class="property-label"><g:message
					code="bankAccountNumber.accountNumber.label" default="Account Number" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="accountNumber-label">
						%{--<ba:editableValue
								bean="${bankAccountNumberInstance}" field="accountNumber"
								url="${request.contextPath}/BankAccountNumber/updatefield" type="text"
								title="Enter accountNumber" onsuccess="reloadBankAccountNumberTable();" />--}%
                        <g:fieldValue bean="${bankAccountNumberInstance?.accountNumber}" field="accountNumber"/> -
                        <g:fieldValue bean="${bankAccountNumberInstance?.accountNumber}" field="accountName"/>

						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${bankAccountNumberInstance?.bank}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="bank-label" class="property-label"><g:message
					code="bankAccountNumber.bank.label" default="Bank" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="bank-label">
						%{--<ba:editableValue
								bean="${bankAccountNumberInstance}" field="bank"
								url="${request.contextPath}/BankAccountNumber/updatefield" type="text"
								title="Enter bank" onsuccess="reloadBankAccountNumberTable();" />--}%
                        <g:fieldValue bean="${bankAccountNumberInstance?.bank}" field="m702NamaBank"/> -
                        <g:fieldValue bean="${bankAccountNumberInstance?.bank}" field="m702Cabang"/>
								%{--<g:link controller="bank" action="show" id="${bankAccountNumberInstance?.bank?.id}">${bankAccountNumberInstance?.bank?.encodeAsHTML()}</g:link>--}%
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${bankAccountNumberInstance?.dateCreated}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="dateCreated-label" class="property-label"><g:message
					code="bankAccountNumber.dateCreated.label" default="Date Created" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="dateCreated-label">
						%{--<ba:editableValue
								bean="${bankAccountNumberInstance}" field="dateCreated"
								url="${request.contextPath}/BankAccountNumber/updatefield" type="text"
								title="Enter dateCreated" onsuccess="reloadBankAccountNumberTable();" />--}%
							
								<g:formatDate date="${bankAccountNumberInstance?.dateCreated}" />
							
						</span></td>
					
				</tr>
				</g:if>

            <g:if test="${bankAccountNumberInstance?.createdBy}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="createdBy-label" class="property-label"><g:message
                                code="bankAccountNumber.createdBy.label" default="Created By" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="createdBy-label">
                        %{--<ba:editableValue
                                bean="${bankAccountNumberInstance}" field="createdBy"
                                url="${request.contextPath}/BankAccountNumber/updatefield" type="text"
                                title="Enter createdBy" onsuccess="reloadBankAccountNumberTable();" />--}%

                        <g:fieldValue bean="${bankAccountNumberInstance}" field="createdBy"/>

                    </span></td>

                </tr>
            </g:if>

            <g:if test="${bankAccountNumberInstance?.updatedBy}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="updatedBy-label" class="property-label"><g:message
                                code="bankAccountNumber.updatedBy.label" default="Updated By" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="updatedBy-label">
                        %{--<ba:editableValue
                                bean="${bankAccountNumberInstance}" field="updatedBy"
                                url="${request.contextPath}/BankAccountNumber/updatefield" type="text"
                                title="Enter updatedBy" onsuccess="reloadBankAccountNumberTable();" />--}%

                        <g:fieldValue bean="${bankAccountNumberInstance}" field="updatedBy"/>

                    </span></td>

                </tr>
            </g:if>

            <g:if test="${bankAccountNumberInstance?.lastUpdProcess}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="lastUpdProcess-label" class="property-label"><g:message
                                code="bankAccountNumber.lastUpdProcess.label" default="Last Upd Process" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="lastUpdProcess-label">
                        %{--<ba:editableValue
                                bean="${bankAccountNumberInstance}" field="lastUpdProcess"
                                url="${request.contextPath}/BankAccountNumber/updatefield" type="text"
                                title="Enter lastUpdProcess" onsuccess="reloadBankAccountNumberTable();" />--}%

                        <g:fieldValue bean="${bankAccountNumberInstance}" field="lastUpdProcess"/>

                    </span></td>

                </tr>
            </g:if>



            <g:if test="${bankAccountNumberInstance?.lastUpdated}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="lastUpdated-label" class="property-label"><g:message
					code="bankAccountNumber.lastUpdated.label" default="Last Updated" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="lastUpdated-label">
						%{--<ba:editableValue
								bean="${bankAccountNumberInstance}" field="lastUpdated"
								url="${request.contextPath}/BankAccountNumber/updatefield" type="text"
								title="Enter lastUpdated" onsuccess="reloadBankAccountNumberTable();" />--}%
							
								<g:formatDate date="${bankAccountNumberInstance?.lastUpdated}" />
							
						</span></td>
					
				</tr>
				</g:if>

			</tbody>
		</table>
		<g:form class="form-horizontal">
			<fieldset class="buttons controls">
				<a class="btn cancel" href="javascript:void(0);"
					onclick="expandTableLayout('bankAccountNumber');"><g:message
						code="default.button.cancel.label" default="Cancel" /></a>		
				<g:remoteLink class="btn btn-primary edit" action="edit"
					id="${bankAccountNumberInstance?.id}"
					update="[success:'bankAccountNumber-form',failure:'bankAccountNumber-form']"
					on404="alert('not found');">
					<g:message code="default.button.edit.label" default="Edit" />
				</g:remoteLink>
				<ba:confirm id="delete" class="btn cancel"
					message="${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}"
					onsuccess="deleteBankAccountNumber('${bankAccountNumberInstance?.id}')" label="${message(code: 'default.button.delete.label', default: 'Delete')}"/>
			</fieldset>
		</g:form>
	</div>
</body>
</html>
