
<%@ page import="com.kombos.administrasi.KategoriKendaraan" %>

<r:require modules="baseapplayout" />
<g:render template="../menu/maxLineDisplay"/>

<table id="kategoriKendaraan_datatables" cellpadding="0" cellspacing="0"
	border="0"
	class="display table table-striped table-bordered table-hover table-selectable"
	width="100%">
	<thead>
		<tr>


			<th style="border-bottom: none;padding: 5px;">
				<div><g:message code="kategoriKendaraan.m101KodeKategori.label" default="Kode Kategori" /></div>
			</th>


			<th style="border-bottom: none;padding: 5px;">
				<div><g:message code="kategoriKendaraan.m101NamaKategori.label" default="Nama Kategori" /></div>
			</th>

			<th style="border-bottom: none;padding: 5px;">
				<div><g:message code="kategoriKendaraan.createdBy.label" default="Created By" /></div>
			</th>


			<th style="border-bottom: none;padding: 5px;">
				<div><g:message code="kategoriKendaraan.updatedBy.label" default="Updated By" /></div>
			</th>


			<th style="border-bottom: none;padding: 5px;">
				<div><g:message code="kategoriKendaraan.lastUpdProcess.label" default="Last Upd Process" /></div>
			</th>

		
		</tr>
		<tr>
		
	
	
			<th style="border-top: none;padding: 5px;">
				<div id="filter_m101KodeKategori" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;">
					<input type="text" name="search_m101KodeKategori" class="search_init" />
				</div>
			</th>
	
			<th style="border-top: none;padding: 5px;">
				<div id="filter_m101NamaKategori" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;">
					<input type="text" name="search_m101NamaKategori" class="search_init" />
				</div>
			</th>
	
			<th style="border-top: none;padding: 5px;">
				<div id="filter_createdBy" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;">
					<input type="text" name="search_createdBy" class="search_init" />
				</div>
			</th>
	
			<th style="border-top: none;padding: 5px;">
				<div id="filter_updatedBy" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;">
					<input type="text" name="search_updatedBy" class="search_init" />
				</div>
			</th>
	
			<th style="border-top: none;padding: 5px;">
				<div id="filter_lastUpdProcess" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;">
					<input type="text" name="search_lastUpdProcess" class="search_init" />
				</div>
			</th>

		
		</tr>
	</thead>
</table>

<g:javascript>
var KategoriKendaraanTable;
var reloadKategoriKendaraanTable;
$(function(){
	
	reloadKategoriKendaraanTable = function() {
		KategoriKendaraanTable.fnDraw();
	}

	var recordsKategoriKendaraanperpage = [];//new Array();
    var anKategoriKendaraanSelected;
    var jmlRecKategoriKendaraanPerPage=0;
    var id;

$("th div input").bind('keypress', function(e) {
		var code = (e.keyCode ? e.keyCode : e.which);
		if(code == 13) { 
			e.stopPropagation();
		 	KategoriKendaraanTable.fnDraw();
		}
	});
	$("th div input").click(function (e) {
	 	e.stopPropagation();
	});

	KategoriKendaraanTable = $('#kategoriKendaraan_datatables').dataTable({
		"sScrollX": "100%",
		"bScrollCollapse": true,
		"bAutoWidth" : false,
		"bPaginate" : true,
		"sInfo" : "",
		"sInfoEmpty" : "",
		"sDom": "<'row-fluid'r>t<'row-fluid'<'span12'i>><'row-fluid'<'span12'p>>",
		bFilter: true,
		"bStateSave": false,
		'sPaginationType': 'bootstrap',
		"fnDrawCallback": function () {
            //alert( $('li.active').text() );
            var rsKategoriKendaraan = $("#kategoriKendaraan_datatables tbody .row-select");
            var jmlKategoriKendaraanCek = 0;
            var nRow;
            var idRec;
            rsKategoriKendaraan.each(function() {
                idRec = $(this).next("input:hidden").val();
                nRow = $(this).parent().parent();//.addClass('row_selected');
                if(recordsKategoriKendaraanperpage[idRec]=="1"){
                    jmlKategoriKendaraanCek = jmlKategoriKendaraanCek + 1;
                    $(this).attr('checked', true);
                    nRow.addClass('row_selected');
                } else if(recordsKategoriKendaraanperpage[idRec]=="0"){
                    $(this).attr('checked', false);
                    nRow.removeClass('row_selected');
                }

            });
            jmlRecKategoriKendaraanPerPage = rsKategoriKendaraan.length;
            if(jmlKategoriKendaraanCek==jmlRecKategoriKendaraanPerPage && jmlRecKategoriKendaraanPerPage>0){
                $('.select-all').attr('checked', true);
            } else {
                $('.select-all').attr('checked', false);
            }
            //alert("apakah ini : "+rs.length);
        },
		"fnInitComplete": function () {
			this.fnAdjustColumnSizing(true);
		   },
		   "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
			return nRow;
		   },
		"bSort": true,
		"bProcessing": true,
		"bServerSide": true,
		"sServerMethod": "POST",
		"iDisplayLength" : maxLineDisplay, //maxLineDisplay is set in menu/maxLineDisplay.gsp
		"sAjaxSource": "${g.createLink(action: "datatablesList")}",
		"aoColumns": [



{
	"sName": "m101KodeKategori",
	"mDataProp": "m101KodeKategori",
	"aTargets": [1],
	"mRender": function ( data, type, row ) {
		return '<input type="checkbox" class="pull-left row-select" aria-label="Row '+row['id']+'" title="Select this"><input type="hidden" value="'+row['id']+'">&nbsp;&nbsp;<a href="#" onclick="show('+row['id']+');">'+data+'</a><a class="pull-right cell-action" href="javascript:void(0);" onclick="edit('+row['id']+');">&nbsp;&nbsp;<i class="icon-pencil"></i>&nbsp;&nbsp;</a>';
	},
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"200px",
	"bVisible": true
}

,

{
	"sName": "m101NamaKategori",
	"mDataProp": "m101NamaKategori",
	"aTargets": [2],
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"200px",
	"bVisible": true
}
,

{
	"sName": "createdBy",
	"mDataProp": "createdBy",
	"aTargets": [3],
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"200px",
	"bVisible": false
}

,

{
	"sName": "updatedBy",
	"mDataProp": "updatedBy",
	"aTargets": [4],
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"200px",
	"bVisible": false
}

,

{
	"sName": "lastUpdProcess",
	"mDataProp": "lastUpdProcess",
	"aTargets": [5],
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"200px",
	"bVisible": false
}

],
        "fnServerData": function ( sSource, aoData, fnCallback, oSettings ) {
	
						
	
						var m101KodeKategori = $('#filter_m101KodeKategori input').val();
						if(m101KodeKategori){
							aoData.push(
									{"name": 'sCriteria_m101KodeKategori', "value": m101KodeKategori}
							);
						}
	
						var m101NamaKategori = $('#filter_m101NamaKategori input').val();
						if(m101NamaKategori){
							aoData.push(
									{"name": 'sCriteria_m101NamaKategori', "value": m101NamaKategori}
							);
						}
						
						var createdBy = $('#filter_createdBy input').val();
						if(createdBy){
							aoData.push(
									{"name": 'sCriteria_createdBy', "value": createdBy}
							);
						}
	
						var updatedBy = $('#filter_updatedBy input').val();
						if(updatedBy){
							aoData.push(
									{"name": 'sCriteria_updatedBy', "value": updatedBy}
							);
						}
	
						var lastUpdProcess = $('#filter_lastUpdProcess input').val();
						if(lastUpdProcess){
							aoData.push(
									{"name": 'sCriteria_lastUpdProcess', "value": lastUpdProcess}
							);
						}
						
					
						$.ajax({ "dataType": 'json',
							"type": "POST",
							"url": sSource,
							"data": aoData ,
							"success": function (json) {
								fnCallback(json);
							   },
							"complete": function () {
							   }
						});
		}			
	});
	$('.select-all').click(function(e) {

        $("#kategoriKendaraan_datatables tbody .row-select").each(function() {
            //alert(this.checked);
            //var id = $(this).next("input:hidden").val();
            if(this.checked){
                recordsKategoriKendaraanperpage[$(this).next("input:hidden").val()] = "1";
            } else {
                recordsKategoriKendaraanperpage[$(this).next("input:hidden").val()] = "0";
            }
        });

    });

	$('#kategoriKendaraan_datatables tbody tr').live('click', function () {

        id = $(this).find('.row-select').next("input:hidden").val();
        if($(this).find('.row-select').is(":checked")){
            recordsKategoriKendaraanperpage[id] = "1";
            $(this).find('.row-select').parent().parent().addClass('row_selected');
            anKategoriKendaraanSelected = KategoriKendaraanTable.$('tr.row_selected');
            if(jmlRecKategoriKendaraanPerPage == anKategoriKendaraanSelected.length){
                $('.select-all').attr('checked', true);
            }
        } else {
            recordsKategoriKendaraanperpage[id] = "0";
            $('.select-all').attr('checked', false);
            $(this).find('.row-select').parent().parent().removeClass('row_selected');
        }
    });
});
</g:javascript>


			
