
<%@ page import="com.kombos.finance.PecahanUang" %>

<r:require modules="baseapplayout" />
<g:render template="../menu/maxLineDisplay"/>

<table id="pecahanUang_datatables" cellpadding="0" cellspacing="0"
	border="0"
	class="display table table-striped table-bordered table-hover"
	width="100%">
	<thead>
		<tr>

			<th style="border-bottom: none;padding: 5px;">
				<div><g:message code="pecahanUang.pecahanUang.label" default="Pecahan Uang" /></div>
			</th>


			<th style="border-bottom: none;padding: 5px;">
				<div><g:message code="pecahanUang.nilai.label" default="Nilai" /></div>
			</th>


	%{--		<th style="border-bottom: none;padding: 5px;">
				<div><g:message code="pecahanUang.lastUpdProcess.label" default="Last Upd Process" /></div>
			</th>
--}%

%{--
			<th style="border-bottom: none;padding: 5px;">
				<div><g:message code="pecahanUang.cashBalanceDetail.label" default="Cash Balance Detail" /></div>
			</th>
--}%

		
		</tr>
		<tr>
		
	
			<th style="border-top: none;padding: 5px;">
				<div id="filter_pecahanUang" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;">
					<input type="text" name="search_pecahanUang" class="search_init" />
				</div>
			</th>
	
			<th style="border-top: none;padding: 5px;">
				<div id="filter_nilai" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;">
					<input type="text" name="search_nilai" class="search_init" />
				</div>
			</th>
	
		%{--	<th style="border-top: none;padding: 5px;">
				<div id="filter_lastUpdProcess" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;">
					<input type="text" name="search_lastUpdProcess" class="search_init" />
				</div>
			</th>
	--}%
	%{--		<th style="border-top: none;padding: 5px;">
				<div id="filter_cashBalanceDetail" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;">
					<input type="text" name="search_cashBalanceDetail" class="search_init" />
				</div>
			</th>--}%


		</tr>
	</thead>
</table>

<g:javascript>
var pecahanUangTable;
var reloadPecahanUangTable;
$(function(){
	
	reloadPecahanUangTable = function() {
		pecahanUangTable.fnDraw();
	}

	

$("th div input").bind('keypress', function(e) {
		var code = (e.keyCode ? e.keyCode : e.which);
		if(code == 13) { 
			e.stopPropagation();
		 	pecahanUangTable.fnDraw();
		}
	});
	$("th div input").click(function (e) {
	 	e.stopPropagation();
	});

	pecahanUangTable = $('#pecahanUang_datatables').dataTable({
		"sScrollX": "100%",
		"bScrollCollapse": true,
		"bAutoWidth" : false,
		"bPaginate" : true,
		"sInfo" : "",
		"sInfoEmpty" : "",
		"sDom": "<'row-fluid'r>t<'row-fluid'<'span12'i>><'row-fluid'<'span12'p>>",
		bFilter: true,
		"bStateSave": false,
		'sPaginationType': 'bootstrap',
		"fnInitComplete": function () {
			this.fnAdjustColumnSizing(true);
		   },
		   "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
			return nRow;
		   },
		"bSort": true,
		"bProcessing": true,
		"bServerSide": true,
		"sServerMethod": "POST",
		"iDisplayLength" : maxLineDisplay, //maxLineDisplay is set in menu/maxLineDisplay.gsp
		"sAjaxSource": "${g.createLink(action: "datatablesList")}",
		"aoColumns": [

{
	"sName": "pecahanUang",
	"mDataProp": "pecahanUang",
	"aTargets": [0],
	"mRender": function ( data, type, row ) {
		return '<input type="checkbox" class="pull-left row-select" aria-label="Row '+row['id']+'" title="Select this"><input type="hidden" value="'+row['id']+'">&nbsp;&nbsp;<a href="#" onclick="show('+row['id']+');">'+data+'</a><a class="pull-right cell-action" href="javascript:void(0);" onclick="edit('+row['id']+');">&nbsp;&nbsp;<i class="icon-pencil"></i>&nbsp;&nbsp;</a>';
	},
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"300px",
	"bVisible": true
}

,

{
	"sName": "nilai",
	"mDataProp": "nilai",
	"aTargets": [1],
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"200px",
	"bVisible": true
}

,

/*{
	"sName": "lastUpdProcess",
	"mDataProp": "lastUpdProcess",
	"aTargets": [2],
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"200px",
	"bVisible": true
}

,*/
/*

{
	"sName": "cashBalanceDetail",
	"mDataProp": "cashBalanceDetail",
	"aTargets": [3],
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"200px",
	"bVisible": true
}
*/

],
        "fnServerData": function ( sSource, aoData, fnCallback, oSettings ) {
	
						var pecahanUang = $('#filter_pecahanUang input').val();
						if(pecahanUang){
							aoData.push(
									{"name": 'sCriteria_pecahanUang', "value": pecahanUang}
							);
						}
	
						var nilai = $('#filter_nilai input').val();
						if(nilai){
							aoData.push(
									{"name": 'sCriteria_nilai', "value": nilai}
							);
						}
	
						var lastUpdProcess = $('#filter_lastUpdProcess input').val();
						if(lastUpdProcess){
							aoData.push(
									{"name": 'sCriteria_lastUpdProcess', "value": lastUpdProcess}
							);
						}
	
						var cashBalanceDetail = $('#filter_cashBalanceDetail input').val();
						if(cashBalanceDetail){
							aoData.push(
									{"name": 'sCriteria_cashBalanceDetail', "value": cashBalanceDetail}
							);
						}

						$.ajax({ "dataType": 'json',
							"type": "POST",
							"url": sSource,
							"data": aoData ,
							"success": function (json) {
								fnCallback(json);
							   },
							"complete": function () {
							   }
						});
		}			
	});
});
</g:javascript>


			
