

<%@ page import="com.kombos.administrasi.DealerPenjual" %>
<!DOCTYPE html>
<html>
<head>
<meta name="layout" content="main">
<r:require modules="bootstrapeditable" />
<g:set var="entityName"
	value="${message(code: 'dealerPenjual.label', default: 'Dealer Penjual')}" />
<title><g:message code="default.show.label" args="[entityName]" /></title>
<g:javascript disposition="head">
var deleteDealerPenjual;

$(function(){ 
	deleteDealerPenjual=function(id){
		$.ajax({type:'POST', url:'${request.contextPath}/dealerPenjual/delete/',
			data: { id: id },
   			success:function(data,textStatus){
   				reloadDealerPenjualTable();
   				expandTableLayout();
   			},
   			error:function(XMLHttpRequest,textStatus,errorThrown){},
   			complete:function(XMLHttpRequest,textStatus){
   				$('#spinner').fadeOut();
   			}
   		});
	}
});

</g:javascript>
</head>
<body>
	<div id="show-dealerPenjual" role="main">
		<legend>
			<g:message code="default.show.label" args="[entityName]" />
		</legend>
		<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
		</g:if>
		<table id="dealerPenjual"
			class="table table-bordered table-hover">
			<tbody>

            <g:if test="${dealerPenjualInstance?.m091ID}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="m091ID-label" class="property-label"><g:message
                                code="dealerPenjualInstance.m091ID.label" default="Kode Dealer" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="m091ID-label">
                        %{--<ba:editableValue
                                bean="${dealerInstance}" field="m091ID"
                                url="${request.contextPath}/DealerPenjual/updatefield" type="text"
                                title="Enter m091ID" onsuccess="reloadDealerPenjualTable();" />--}%

                        <g:fieldValue bean="${dealerPenjualInstance}" field="m091ID"/>

                    </span></td>

                </tr>
            </g:if>

            <g:if test="${dealerPenjualInstance?.m091NamaDealer}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="m091NamaDealer-label" class="property-label"><g:message
					code="dealerPenjual.m091NamaDealer.label" default="Nama Dealer" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="m091NamaDealer-label">
						%{--<ba:editableValue
								bean="${dealerPenjualInstance}" field="m091NamaDealer"
								url="${request.contextPath}/DealerPenjual/updatefield" type="text"
								title="Enter m091NamaDealer" onsuccess="reloadDealerPenjualTable();" />--}%
							
								<g:fieldValue bean="${dealerPenjualInstance}" field="m091NamaDealer"/>
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${dealerPenjualInstance?.m091AlamatDealer}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="m091AlamatDealer-label" class="property-label"><g:message
					code="dealerPenjual.m091AlamatDealer.label" default="Alamat Dealer" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="m091AlamatDealer-label">
						%{--<ba:editableValue
								bean="${dealerPenjualInstance}" field="m091AlamatDealer"
								url="${request.contextPath}/DealerPenjual/updatefield" type="text"
								title="Enter m091AlamatDealer" onsuccess="reloadDealerPenjualTable();" />--}%
							
								<g:fieldValue bean="${dealerPenjualInstance}" field="m091AlamatDealer"/>
							
						</span></td>
					
				</tr>
				</g:if>

            <g:if test="${dealerPenjualInstance?.dateCreated}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="dateCreated-label" class="property-label"><g:message
                                code="dealerPenjual.dateCreated.label" default="Date Created" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="dateCreated-label">
                        <g:formatDate date="${dealerPenjualInstance?.dateCreated}" type="datetime" style="MEDIUM" />

                    </span></td>

                </tr>
            </g:if>

            <g:if test="${dealerPenjualInstance?.createdBy}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="createdBy-label" class="property-label"><g:message
                                code="dealerPenjual.createdBy.label" default="Created By" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="createdBy-label">
                        %{--<ba:editableValue
                                bean="${dealerPenjualInstance}" field="createdBy"
                                url="${request.contextPath}/dealerPenjual/updatefield" type="text"
                                title="Enter createdBy" onsuccess="reloaddealerPenjualTable();" />--}%

                        <g:fieldValue bean="${dealerPenjualInstance}" field="createdBy"/>

                    </span></td>

                </tr>
            </g:if>

            <g:if test="${dealerPenjualInstance?.lastUpdProcess}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="lastUpdProcess-label" class="property-label"><g:message
                                code="dealerPenjual.lastUpdProcess.label" default="Last Upd Process" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="lastUpdProcess-label">

                        <g:fieldValue bean="${dealerPenjualInstance}" field="lastUpdProcess"/>

                    </span></td>

                </tr>
            </g:if>


            <g:if test="${dealerPenjualInstance?.lastUpdated}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="lastUpdated-label" class="property-label"><g:message
                                code="dealerPenjual.lastUpdated.label" default="Last Updated" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="lastUpdated-label">
                        %{--<ba:editableValue
                                bean="${dealerPenjualInstance}" field="lastUpdated"
                                url="${request.contextPath}/dealerPenjual/updatefield" type="text"
                                title="Enter lastUpdated" onsuccess="reloaddealerPenjualTable();" />--}%

                        <g:formatDate date="${dealerPenjualInstance?.lastUpdated}" type="datetime" style="MEDIUM"  />

                    </span></td>

                </tr>
            </g:if>

            <g:if test="${dealerPenjualInstance?.updatedBy}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="updatedBy-label" class="property-label"><g:message
                                code="dealerPenjual.updatedBy.label" default="Updated By" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="updatedBy-label">
                        %{--<ba:editableValue
                                bean="${dealerPenjualInstance}" field="updatedBy"
                                url="${request.contextPath}/dealerPenjual/updatefield" type="text"
                                title="Enter updatedBy" onsuccess="reloaddealerPenjualTable();" />--}%

                        <g:fieldValue bean="${dealerPenjualInstance}" field="updatedBy"/>

                    </span></td>

                </tr>
            </g:if>


			</tbody>
		</table>
		<g:form class="form-horizontal">
			<fieldset class="buttons controls">
				<a class="btn cancel" href="javascript:void(0);"
					onclick="expandTableLayout();"><g:message
						code="default.button.cancel.label" default="Cancel" /></a>		
				<g:remoteLink class="btn btn-primary edit" action="edit"
					id="${dealerPenjualInstance?.id}"
					update="[success:'dealerPenjual-form',failure:'dealerPenjual-form']"
					on404="alert('not found');">
					<g:message code="default.button.edit.label" default="Edit" />
				</g:remoteLink>
				<ba:confirm id="delete" class="btn cancel"
					message="${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}"
					onsuccess="deleteDealerPenjual('${dealerPenjualInstance?.id}')" label="${message(code: 'default.button.delete.label', default: 'Delete')}"/>
			</fieldset>
		</g:form>
	</div>
</body>
</html>
