.clearfix {
	*zoom: 1
}

.clearfix:before,.clearfix:after {
	display: table;
	content: "";
	line-height: 0
}

.clearfix:after {
	clear: both
}

.hide-text {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0
}

.input-block-level {
	display: block;
	width: 100%;
	min-height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

body {
	background-image: url("../../images/bg-body.png");
	padding: 62px 0 0 110px
}

legend {
	font-size: 18px
}

table {
	font-size: 13px
}

a:active {
	background: 0
}

#main-navbar .container {
	width: 980px
}

.container {
	padding: 0;
	margin: 0;
	width: 870px
}

.rounded-borders {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}

.box {
	display: block;
	background-color: #fff;
	border: 1px solid #d6d6d6;
	margin: 0 0 20px 0;
	padding: 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	*zoom: 1
}

.box:before,.box:after {
	display: table;
	content: "";
	line-height: 0
}

.box:after {
	clear: both
}

.box.no-padding {
	padding: 0 !important
}

.box-header {
	color: #222;
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
	margin-left: 10px;
	margin-bottom: 0;
	padding-bottom: 10px;
	text-transform: capitalize
}

.box-header>i:after {
	content: "";
	display: inline-block;
	width: 5px
}

.box-header:hover .box-collapse {
	opacity: 1;
	filter: alpha(opacity = 100)
}

.box-collapse,.box-expand {
	color: #888;
	font-size: 11px;
	font-weight: 600;
	margin: 2px 10px 0 0;
	position: relative;
	text-transform: none;
	-webkit-text-shadow: #fff 0 1px 0;
	-moz-text-shadow: #fff 0 1px 0;
	-o-text-shadow: #fff 0 1px 0;
	text-shadow: #fff 0 1px 0
}

.box-collapse:hover,.box-expand:hover {
	color: #444;
	text-decoration: none
}

.box-collapse {
	opacity: .3;
	filter: alpha(opacity = 30);
	-webkit-transition: opacity .2s;
	-moz-transition: opacity .2s;
	-o-transition: opacity .2s;
	transition: opacity .2s
}

.box-collapse i {
	position: relative;
	top: -1px
}



#left-panel {
	background: #2b2b2b url("../../images/bg-body-bar.jpg");
	border-right: 1px solid #1d1d1d;
	height: 100%;
	left: 0;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	
	z-index: 1020
}

#left-panel ul {
	display: block;
	margin: 0;
	padding-top: 41px
}

#left-panel li,#left-panel a {
	display: block;
	list-style: none;
	
}

#left-panel a {
	border-bottom: 1px solid #1d1d1d;
	border-top: 1px solid #323232;
	height: 28px;
	padding-top: 40px;
	text-decoration: none
}

#left-panel a span {
	display: block;
	color: #999;
	font-size: 2.5em;
	margin-top: -25px;
	position: absolute;

}

#left-panel,#left-panel a {
	color: #aaa;
	font-size: 10px;
	font-weight: 400;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.6) 0 -1px 0;
	text-transform: uppercase
}

#left-panel a,#left-panel a span {
	text-shadow: rgba(0, 0, 0, 0.6) 0 -1px 0;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s
}

#left-panel a:hover,#left-panel a:hover span {
	color: #ccc;
	text-shadow: rgba(255, 255, 255, 0.3) 0 0 5px
}

#left-panel li.active a,#left-panel li.active a span {
	color: #ffae78;
	text-shadow: rgba(255, 174, 120, 0.5) 0 0 5px
}

#left-panel a:first-child {
	-webkit-box-shadow: #1d1d1d 0 -1px 0;
	-moz-box-shadow: #1d1d1d 0 -1px 0;
	box-shadow: #1d1d1d 0 -1px 0
}

#left-panel a:last-child {
	-webkit-box-shadow: #323232 0 1px 0;
	-moz-box-shadow: #323232 0 1px 0;
	box-shadow: #323232 0 1px 0
}

#left-panel .icon-caret-down,#left-panel .icon-caret-up {
	display: none
}

#left-panel-content {
	height: 100% !important
}

.open #left-panel-content {
	height: auto !important
}

#main-footer {
	margin-top: 20px;
	padding: 20px 0;
	border-top: 1px solid #e3e3e3;
	color: #999;
	font-size: 13px;
	text-align: center
}

#main-footer a {
	color: #999;
	text-decoration: none;
}

#main-footer a:hover {
	color: #444
}

#main-footer a.pull-right {
	text-decoration: none;
	line-height: 20px
}

#main-footer a.pull-right i {
	font-size: 8px;
	position: relative;
	top: -1px
}

.dropdown-menu {
	-webkit-box-shadow: rgba(102, 102, 102, 0.3) 0 1px 4px;
	-moz-box-shadow: rgba(102, 102, 102, 0.3) 0 1px 4px;
	box-shadow: rgba(102, 102, 102, 0.3) 0 1px 4px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}

.dropdown-menu li>a:hover,.dropdown-menu li>a:focus,.dropdown-menu .active>a,.dropdown-menu .active>a:hover,.dropdown-submenu:hover>a
	{
	border: 0;
	color: #fff;
	/*background: #93ca47;*/
    background: #93CA47;
	*background-color: #93ca47;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=  false )
}

.btn {
	color: #444;
	text-shadow: #fff 0 1px 0;
	background-color: #eee;
	background-image: -moz-linear-gradient(top, #f2f2f2, #e8e8e8);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2),
		to(#e8e8e8) );
	background-image: -webkit-linear-gradient(top, #f2f2f2, #e8e8e8);
	background-image: -o-linear-gradient(top, #f2f2f2, #e8e8e8);
	background-image: linear-gradient(to bottom, #f2f2f2, #e8e8e8);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2',
		endColorstr='#ffe8e8e8', GradientType=0 );
	border-color: #e8e8e8 #e8e8e8 #c2c2c2;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #e8e8e8;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=  false );
	-webkit-box-shadow: #fff 0 1px 0 inset;
	-moz-box-shadow: #fff 0 1px 0 inset;
	box-shadow: #fff 0 1px 0 inset;
	border: 1px solid #c4c4c4
}

.btn:hover,.btn:active,.btn.active,.btn.disabled,.btn[disabled] {
	color: #444;
	background-color: #e8e8e8;
	*background-color: #dbdbdb
}

.btn:active,.btn.active {
	background-color: #cfcfcf \9
}

.btn.disabled,.btn[disabled] {
	background: #ededed;
	border: 1px solid #d8d8d8;
	color: #888;
	opacity: 1;
	filter: alpha(opacity = 100);
	-webkit-text-shadow: none !important;
	-moz-text-shadow: none !important;
	-o-text-shadow: none !important;
	text-shadow: none !important
}

.btn.disabled:active,.btn[disabled]:active,.btn.disabled.active,.btn[disabled].active
	{
	background: #ededed;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important
}

.btn .caret {
	border-top-color: #444
}

.btn:active,.btn.active,.open .dropdown-toggle {
	background-color: #e5e5e5;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px inset !important;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px inset !important;
	box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px inset !important
}

.btn-blue,.btn-orange,.btn-green,.btn-cyan,.btn-red,.btn-black,.btn-black.dropdown-toggle,.btn-pink,.btn-info,.btn-warning,.btn-success,.btn-danger,.btn-inverse
	{
	color: #fff;
	-webkit-text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
	-moz-text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
	-o-text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
	text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
	-webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 inset;
	-moz-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 inset;
	box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 inset
}

.btn-blue .caret,.btn-orange .caret,.btn-green .caret,.btn-cyan .caret,.btn-red .caret,.btn-black .caret,.btn-black.dropdown-toggle .caret,.btn-pink .caret,.btn-info .caret,.btn-warning .caret,.btn-success .caret,.btn-danger .caret,.btn-inverse .caret
	{
	border-top-color: #fff
}

.btn-blue {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #3b94e5;
	background-image: -moz-linear-gradient(top, #3da0ea, #3983de);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3da0ea),
		to(#3983de) );
	background-image: -webkit-linear-gradient(top, #3da0ea, #3983de);
	background-image: -o-linear-gradient(top, #3da0ea, #3983de);
	background-image: linear-gradient(to bottom, #3da0ea, #3983de);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3da0ea',
		endColorstr='#ff3983de', GradientType=0 );
	border-color: #3983de #3983de #1d5eae;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #3983de;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=  false );
	border-color: #3c6791
}

.btn-blue:hover,.btn-blue:active,.btn-blue.active,.btn-blue.disabled,.btn-blue[disabled]
	{
	color: #fff;
	background-color: #3983de;
	*background-color: #2475d9
}

.btn-blue:active,.btn-blue.active {
	background-color: #216ac3 \9
}

.btn-blue.disabled,.btn-blue[disabled] {
	background: #6ea8e6;
	border-color: #668db2
}

.btn-blue.disabled:active,.btn-blue[disabled]:active,.btn-blue.disabled.active,.btn-blue[disabled].active
	{
	background: #6ea8e6
}

.open .btn-blue.dropdown-toggle {
	background: #3580dd !important
}

.btn-orange,.btn-warning {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #eea123;
	background-image: -moz-linear-gradient(top, #f2ac1e, #e7912a);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2ac1e),
		to(#e7912a) );
	background-image: -webkit-linear-gradient(top, #f2ac1e, #e7912a);
	background-image: -o-linear-gradient(top, #f2ac1e, #e7912a);
	background-image: linear-gradient(to bottom, #f2ac1e, #e7912a);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2ac1e',
		endColorstr='#ffe7912a', GradientType=0 );
	border-color: #e7912a #e7912a #b16914;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #e7912a;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=  false );
	border-color: #c07c1e
}

.btn-orange:hover,.btn-warning:hover,.btn-orange:active,.btn-warning:active,.btn-orange.active,.btn-warning.active,.btn-orange.disabled,.btn-warning.disabled,.btn-orange[disabled],.btn-warning[disabled]
	{
	color: #fff;
	background-color: #e7912a;
	*background-color: #de8519
}

.btn-orange:active,.btn-warning:active,.btn-orange.active,.btn-warning.active
	{
	background-color: #c87716 \9
}

.btn-orange.disabled,.btn-warning.disabled,.btn-orange[disabled],.btn-warning[disabled]
	{
	background: #ecac58;
	border-color: #c79856
}

.btn-orange.disabled:active,.btn-warning.disabled:active,.btn-orange[disabled]:active,.btn-warning[disabled]:active,.btn-orange.disabled.active,.btn-warning.disabled.active,.btn-orange[disabled].active,.btn-warning[disabled].active
	{
	background: #ecac58
}

.open .btn-orange.dropdown-toggle,.open .btn-warning.dropdown-toggle {
	background: #e68f25 !important
}

.btn-green,.btn-success {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #acc70a;
	background-image: -moz-linear-gradient(top, #bacf0b, #98ba09);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bacf0b),
		to(#98ba09) );
	background-image: -webkit-linear-gradient(top, #bacf0b, #98ba09);
	background-image: -o-linear-gradient(top, #bacf0b, #98ba09);
	background-image: linear-gradient(to bottom, #bacf0b, #98ba09);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbacf0b',
		endColorstr='#ff98ba09', GradientType=0 );
	border-color: #98ba09 #98ba09 #5c7105;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #98ba09;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=  false );
	border-color: #7c9710
}

.btn-green:hover,.btn-success:hover,.btn-green:active,.btn-success:active,.btn-green.active,.btn-success.active,.btn-green.disabled,.btn-success.disabled,.btn-green[disabled],.btn-success[disabled]
	{
	color: #fff;
	background-color: #98ba09;
	*background-color: #84a208
}

.btn-green:active,.btn-success:active,.btn-green.active,.btn-success.active
	{
	background-color: #708907 \9
}

.btn-green.disabled,.btn-success.disabled,.btn-green[disabled],.btn-success[disabled]
	{
	background: #acc352;
	border-color: #98aa4f
}

.btn-green.disabled:active,.btn-success.disabled:active,.btn-green[disabled]:active,.btn-success[disabled]:active,.btn-green.disabled.active,.btn-success.disabled.active,.btn-green[disabled].active,.btn-success[disabled].active
	{
	background: #acc352
}

.open .btn-green.dropdown-toggle,.open .btn-success.dropdown-toggle {
	background: #94b509 !important
}

.btn-cyan,.btn-info {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #4ac1c8;
	background-image: -moz-linear-gradient(top, #4ec9ce, #45b4bf);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4ec9ce),
		to(#45b4bf) );
	background-image: -webkit-linear-gradient(top, #4ec9ce, #45b4bf);
	background-image: -o-linear-gradient(top, #4ec9ce, #45b4bf);
	background-image: linear-gradient(to bottom, #4ec9ce, #45b4bf);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4ec9ce',
		endColorstr='#ff45b4bf', GradientType=0 );
	border-color: #45b4bf #45b4bf #2f8089;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #45b4bf;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=  false );
	border-color: #36919b
}

.btn-cyan:hover,.btn-info:hover,.btn-cyan:active,.btn-info:active,.btn-cyan.active,.btn-info.active,.btn-cyan.disabled,.btn-info.disabled,.btn-cyan[disabled],.btn-info[disabled]
	{
	color: #fff;
	background-color: #45b4bf;
	*background-color: #3ca4ae
}

.btn-cyan:active,.btn-info:active,.btn-cyan.active,.btn-info.active {
	background-color: #36929b \9
}

.btn-cyan.disabled,.btn-info.disabled,.btn-cyan[disabled],.btn-info[disabled]
	{
	background: #7cc3ca;
	border-color: #6eadb3
}

.btn-cyan.disabled:active,.btn-info.disabled:active,.btn-cyan[disabled]:active,.btn-info[disabled]:active,.btn-cyan.disabled.active,.btn-info.disabled.active,.btn-cyan[disabled].active,.btn-info[disabled].active
	{
	background: #7cc3ca
}

.open .btn-cyan.dropdown-toggle,.open .btn-info.dropdown-toggle {
	background: #41b2be !important
}

.btn-red,.btn-danger {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #e46837;
	background-image: -moz-linear-gradient(top, #5c970b, #93ca47);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5c970b),
		to(#93ca47) );
	background-image: -webkit-linear-gradient(top, #5c970b, #93ca47);
	background-image: -o-linear-gradient(top, #5c970b, #93ca47);
	background-image: linear-gradient(to bottom, #5c970b, #93ca47);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5c970b',
		endColorstr='#ff93ca47', GradientType=0 );
	border-color: #93ca47 #93ca47 #a33b20;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #93ca47;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=  false );
	border-color: #314f08
}

.btn-red:hover,.btn-danger:hover,.btn-red:active,.btn-danger:active,.btn-red.active,.btn-danger.active,.btn-red.disabled,.btn-danger.disabled,.btn-red[disabled],.btn-danger[disabled]
	{
	color: #fff;
	background-color: #93ca47;
	*background-color: #cd4a28
}

.btn-red:active,.btn-danger:active,.btn-red.active,.btn-danger.active {
	background-color: #b84224 \9
}

.btn-red.disabled,.btn-danger.disabled,.btn-red[disabled],.btn-danger[disabled]
	{
	background: #e07e63;
	border-color: #b86a57
}

.btn-red.disabled:active,.btn-danger.disabled:active,.btn-red[disabled]:active,.btn-danger[disabled]:active,.btn-red.disabled.active,.btn-danger.disabled.active,.btn-red[disabled].active,.btn-danger[disabled].active
	{
	background: #e07e63
}

.open .btn-red.dropdown-toggle,.open .btn-danger.dropdown-toggle {
	background: #d75433 !important
}

.btn-black,.btn-inverse {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5a5a5a;
	background-image: -moz-linear-gradient(top, #616161, #505050);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#616161),
		to(#505050) );
	background-image: -webkit-linear-gradient(top, #616161, #505050);
	background-image: -o-linear-gradient(top, #616161, #505050);
	background-image: linear-gradient(to bottom, #616161, #505050);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff616161',
		endColorstr='#ff505050', GradientType=0 );
	border-color: #505050 #505050 #2a2a2a;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #505050;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=  false );
	border-color: #1b1b1b
}

.btn-black:hover,.btn-inverse:hover,.btn-black:active,.btn-inverse:active,.btn-black.active,.btn-inverse.active,.btn-black.disabled,.btn-inverse.disabled,.btn-black[disabled],.btn-inverse[disabled]
	{
	color: #fff;
	background-color: #505050;
	*background-color: #434343
}

.btn-black:active,.btn-inverse:active,.btn-black.active,.btn-inverse.active
	{
	background-color: #373737 \9
}

.btn-black.disabled,.btn-inverse.disabled,.btn-black[disabled],.btn-inverse[disabled]
	{
	background: #7a7a7a;
	border-color: #5e5e5e
}

.btn-black.disabled:active,.btn-inverse.disabled:active,.btn-black[disabled]:active,.btn-inverse[disabled]:active,.btn-black.disabled.active,.btn-inverse.disabled.active,.btn-black[disabled].active,.btn-inverse[disabled].active
	{
	background: #7a7a7a
}

.open .btn-black.dropdown-toggle,.open .btn-inverse.dropdown-toggle {
	background: #4d4d4d !important
}

.btn-pink {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #ed6fa4;
	background-image: -moz-linear-gradient(top, #f377ab, #e3649a);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f377ab),
		to(#e3649a) );
	background-image: -webkit-linear-gradient(top, #f377ab, #e3649a);
	background-image: -o-linear-gradient(top, #f377ab, #e3649a);
	background-image: linear-gradient(to bottom, #f377ab, #e3649a);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff377ab',
		endColorstr='#ffe3649a', GradientType=0 );
	border-color: #e3649a #e3649a #d42670;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #e3649a;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=  false );
	border-color: #b4366b
}

.btn-pink:hover,.btn-pink:active,.btn-pink.active,.btn-pink.disabled,.btn-pink[disabled]
	{
	color: #fff;
	background-color: #e3649a;
	*background-color: #df4e8c
}

.btn-pink:active,.btn-pink.active {
	background-color: #db397e \9
}

.btn-pink.disabled,.btn-pink[disabled] {
	background: #f083b1;
	border-color: #c06e90
}

.btn-pink.disabled:active,.btn-pink[disabled]:active,.btn-pink.disabled.active,.btn-pink[disabled].active
	{
	background: #f083b1
}

.open .btn-pink.dropdown-toggle {
	background: #e26097 !important
}

.btn-link {
	background: none !important;
	border: none !important;
	color: #08c
}

.btn-link:hover {
	color: #005580;
	background: none !important
}

.btn-link:active,.btn-link.active {
	color: #005580;
	background: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important
}

.open .btn-link.dropdown-toggle {
	background: none !important
}

.input-append .btn-group .btn:first-child {
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
	border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-left-radius: 0
}

.progress {
	background: #fff;
	border: 1px solid #d6d6d6;
	height: 9px;
	overflow: visible;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 1px 2px inset,
		rgba(255, 255, 255, 0.8) 0 1px 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.09) 0 1px 2px inset,
		rgba(255, 255, 255, 0.8) 0 1px 0;
	box-shadow: rgba(0, 0, 0, 0.09) 0 1px 2px inset,
		rgba(255, 255, 255, 0.8) 0 1px 0
}

.progress .bar {
	background-color: #428ee4;
	border: 1px solid;
	font-size: 9px;
	font-weight: 800;
	height: 9px;
	line-height: 8px;
	margin: -1px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 inset;
	-moz-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 inset;
	box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 inset;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}

.progress.progress-blue .bar {
	border-color: #3c74a9;
	background-color: #4ba0ea;
	background-image: -moz-linear-gradient(top, #52adee, #408ce4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#52adee),
		to(#408ce4) );
	background-image: -webkit-linear-gradient(top, #52adee, #408ce4);
	background-image: -o-linear-gradient(top, #52adee, #408ce4);
	background-image: linear-gradient(to bottom, #52adee, #408ce4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff52adee',
		endColorstr='#ff408ce4', GradientType=0 );
	*background-color: #3ba2ec;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=  false )
}

.progress.progress-orange .bar,.progress.progress-warning .bar {
	border-color: #da9637;
	background-color: #f7be35;
	background-image: -moz-linear-gradient(top, #f7c642, #f8b222);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f7c642),
		to(#f8b222) );
	background-image: -webkit-linear-gradient(top, #f7c642, #f8b222);
	background-image: -o-linear-gradient(top, #f7c642, #f8b222);
	background-image: linear-gradient(to bottom, #f7c642, #f8b222);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff7c642',
		endColorstr='#fff8b222', GradientType=0 );
	*background-color: #f6bf2a;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=  false )
}

.progress.progress-green .bar,.progress.progress-success .bar {
	border-color: #8cb920;
	background-color: #b2df4b;
	background-image: -moz-linear-gradient(top, #c0e45d, #9ed831);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c0e45d),
		to(#9ed831) );
	background-image: -webkit-linear-gradient(top, #c0e45d, #9ed831);
	background-image: -o-linear-gradient(top, #c0e45d, #9ed831);
	background-image: linear-gradient(to bottom, #c0e45d, #9ed831);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc0e45d',
		endColorstr='#ff9ed831', GradientType=0 );
	*background-color: #b7e047;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=  false )
}

.progress.progress-cyan .bar,.progress.progress-info .bar {
	border-color: #4aa7b0;
	background-color: #71ccd2;
	background-image: -moz-linear-gradient(top, #7fd8db, #5dbbc4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7fd8db),
		to(#5dbbc4) );
	background-image: -webkit-linear-gradient(top, #7fd8db, #5dbbc4);
	background-image: -o-linear-gradient(top, #7fd8db, #5dbbc4);
	background-image: linear-gradient(to bottom, #7fd8db, #5dbbc4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7fd8db',
		endColorstr='#ff5dbbc4', GradientType=0 );
	*background-color: #6bd2d5;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=  false )
}

.progress.progress-red .bar,.progress.progress-danger .bar {
	border-color: #c45132;
	background-color: #f77152;
	background-image: -moz-linear-gradient(top, #f8805d, #f55b41);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8805d),
		to(#f55b41) );
	background-image: -webkit-linear-gradient(top, #f8805d, #f55b41);
	background-image: -o-linear-gradient(top, #f8805d, #f55b41);
	background-image: linear-gradient(to bottom, #f8805d, #f55b41);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8805d',
		endColorstr='#fff55b41', GradientType=0 );
	*background-color: #f76d45;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=  false )
}

.progress.progress-black .bar {
	border-color: #444;
	background-color: #5f5f5f;
	background-image: -moz-linear-gradient(top, #666, #555);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#666),
		to(#555) );
	background-image: -webkit-linear-gradient(top, #666, #555);
	background-image: -o-linear-gradient(top, #666, #555);
	background-image: linear-gradient(to bottom, #666, #555);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff666666',
		endColorstr='#ff555555', GradientType=0 );
	*background-color: #595959;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=  false )
}

.progress.progress-pink .bar {
	border-color: #aa2e62;
	background-color: #ed5c99;
	background-image: -moz-linear-gradient(top, #f466a1, #e34d8c);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f466a1),
		to(#e34d8c) );
	background-image: -webkit-linear-gradient(top, #f466a1, #e34d8c);
	background-image: -o-linear-gradient(top, #f466a1, #e34d8c);
	background-image: linear-gradient(to bottom, #f466a1, #e34d8c);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff466a1',
		endColorstr='#ffe34d8c', GradientType=0 );
	*background-color: #f24e92;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=  false )
}

.progress.progress-blue.progress-striped .bar {
	background-color: #489ae8;
	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255,
		255, 0.15) ), color-stop(0.25, transparent),
		color-stop(0.5, transparent),
		color-stop(0.5, rgba(255, 255, 255, 0.15) ),
		color-stop(0.75, rgba(255, 255, 255, 0.15) ),
		color-stop(0.75, transparent), to(transparent) );
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent );
	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent );
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent );
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%,
		transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent )
}

.progress.progress-orange.progress-striped .bar,.progress.progress-warning.progress-striped .bar
	{
	background-color: #f8b528;
	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255,
		255, 0.15) ), color-stop(0.25, transparent),
		color-stop(0.5, transparent),
		color-stop(0.5, rgba(255, 255, 255, 0.15) ),
		color-stop(0.75, rgba(255, 255, 255, 0.15) ),
		color-stop(0.75, transparent), to(transparent) );
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent );
	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent );
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent );
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%,
		transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent )
}

.progress.progress-green.progress-striped .bar,.progress.progress-success.progress-striped .bar
	{
	background-color: #acdd44;
	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255,
		255, 0.15) ), color-stop(0.25, transparent),
		color-stop(0.5, transparent),
		color-stop(0.5, rgba(255, 255, 255, 0.15) ),
		color-stop(0.75, rgba(255, 255, 255, 0.15) ),
		color-stop(0.75, transparent), to(transparent) );
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent );
	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent );
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent );
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%,
		transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent )
}

.progress.progress-cyan.progress-striped .bar,.progress.progress-info.progress-striped .bar
	{
	background-color: #63c0c8;
	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255,
		255, 0.15) ), color-stop(0.25, transparent),
		color-stop(0.5, transparent),
		color-stop(0.5, rgba(255, 255, 255, 0.15) ),
		color-stop(0.75, rgba(255, 255, 255, 0.15) ),
		color-stop(0.75, transparent), to(transparent) );
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent );
	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent );
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent );
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%,
		transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent )
}

.progress.progress-red.progress-striped .bar,.progress.progress-danger.progress-striped .bar
	{
	background-color: #f65e43;
	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255,
		255, 0.15) ), color-stop(0.25, transparent),
		color-stop(0.5, transparent),
		color-stop(0.5, rgba(255, 255, 255, 0.15) ),
		color-stop(0.75, rgba(255, 255, 255, 0.15) ),
		color-stop(0.75, transparent), to(transparent) );
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent );
	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent );
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent );
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%,
		transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent )
}

.progress.progress-black.progress-striped .bar {
	background-color: #5a5a5a;
	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255,
		255, 0.15) ), color-stop(0.25, transparent),
		color-stop(0.5, transparent),
		color-stop(0.5, rgba(255, 255, 255, 0.15) ),
		color-stop(0.75, rgba(255, 255, 255, 0.15) ),
		color-stop(0.75, transparent), to(transparent) );
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent );
	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent );
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent );
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%,
		transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent )
}

.progress.progress-pink.progress-striped .bar {
	background-color: #e85492;
	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255,
		255, 0.15) ), color-stop(0.25, transparent),
		color-stop(0.5, transparent),
		color-stop(0.5, rgba(255, 255, 255, 0.15) ),
		color-stop(0.75, rgba(255, 255, 255, 0.15) ),
		color-stop(0.75, transparent), to(transparent) );
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent );
	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent );
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent );
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%,
		transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent )
}

.label {
	background-color: #bcbcbc;
	font-size: 12px;
	font-weight: 700;
	padding: 2px 5px
}

.label.label-green,.label.label-success {
	background-color: #9bb921
}

.label.label-blue {
	background-color: #3f89de
}

.label.label-orange,.label.label-warning {
	background-color: #f3a139
}

.label.label-cyan,.label.label-info {
	background-color: #63c0c8
}

.label.label-red,.label.label-important {
	background-color: #dc6343
}

.label.label-black,.label.label-inverse {
	background-color: #444
}

.label.label-pink {
	background-color: #d04a81
}

.badge {
	background-color: #bcbcbc;
	font-size: 12px;
	font-weight: 700;
	padding: 2px 5px
}

.badge.badge-green,.badge.badge-success {
	background-color: #9bb921
}

.badge.badge-blue {
	background-color: #3f89de
}

.badge.badge-orange,.badge.badge-warning {
	background-color: #f3a139
}

.badge.badge-cyan,.badge.badge-info {
	background-color: #63c0c8
}

.badge.badge-red,.badge.badge-important {
	background-color: #dc6343
}

.badge.badge-black,.badge.badge-inverse {
	background-color: #444
}

.badge.badge-pink {
	background-color: #d04a81
}

.counter,.counter-separated {
	display: block;
	float: left
}

.counter span,.counter-separated span {
	display: inline-block;
	border: 1px solid #333;
	color: #fff;
	font-size: 27px;
	font-weight: 700;
	height: 32px;
	line-height: 32px;
	padding: 0 6px 2px 6px;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.7) 0 -1px 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0,
		rgba(255, 255, 255, 0.2) 0 1px 0 inset;
	-moz-box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0,
		rgba(255, 255, 255, 0.2) 0 1px 0 inset;
	box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0, rgba(255, 255, 255, 0.2) 0
		1px 0 inset;
	background-color: #4e4e4e;
	background-image: -moz-linear-gradient(top, #555, #444);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555),
		to(#444) );
	background-image: -webkit-linear-gradient(top, #555, #444);
	background-image: -o-linear-gradient(top, #555, #444);
	background-image: linear-gradient(to bottom, #555, #444);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff555555',
		endColorstr='#ff444444', GradientType=0 );
	*background-color: #484848;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=  false )
}

.counter span:before,.counter-separated span:before {
	background: #333;
	content: " ";
	display: block;
	font-size: 0;
	height: 1px;
	left: -6px;
	padding: 0 6px;
	position: relative;
	top: 16px;
	width: 100%;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0;
	-moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0;
	box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0
}

.counter.small span,.counter-separated.small span {
	height: 26px;
	line-height: 26px;
	font-size: 20px
}

.counter.small span:before,.counter-separated.small span:before {
	top: 14px
}

.counter-separated span {
	float: left;
	margin-right: 5px;
	padding: 0 5px 2px 5px
}

.counter-separated span:before {
	padding: 0 5px;
	left: -5px
}

.counter-separated.small span {
	margin-right: 3px;
	padding: 0 4px 2px 4px
}

.counter-separated.small span:before {
	padding: 0 4px;
	left: -4px;
	top: 14px
}

.alert,.alert-block {
	background-color: #fef7cd;
	border: 1px solid #f3e4ad;
	color: #aa7d29;
	font-size: 14px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
	-moz-box-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
	box-shadow: rgba(255, 255, 255, 0.8) 0 1px 0
}

.alert .close,.alert-block .close {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	top: 0
}

.alert-error {
	border-color: #f7cccc;
	background-color: #f7e4e4;
	color: #b85355
}

.alert-success {
	background-color: #e1f2d3;
	border-color: #cbe7c5;
	color: #5c8847
}

.alert-info {
	background-color: #d5eef1;
	border-color: #c8e0e6;
	color: #4e7b86
}

select,textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input
	{
	border: 1px solid #c4c4c4;
	border-top-color: #aaa;
	-webkit-box-shadow: rgba(255, 255, 255, 0.9) 0 1px 0;
	-moz-box-shadow: rgba(255, 255, 255, 0.9) 0 1px 0;
	box-shadow: rgba(255, 255, 255, 0.9) 0 1px 0
}

textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus
	{
	border-color: #eb7c55;
	-webkit-box-shadow: rgba(235, 124, 85, 0.5) 0 0 5px;
	-moz-box-shadow: rgba(235, 124, 85, 0.5) 0 0 5px;
	box-shadow: rgba(235, 124, 85, 0.5) 0 0 5px
}

input[disabled],select[disabled],textarea[disabled] {
	border-color: #ccc;
	color: #888
}

.form-inline button,.form-search button,.form-inline input[type="radio"],.form-search input[type="radio"],.form-inline input[type="submit"],.form-search input[type="submit"],.form-inline .btn,.form-search .btn
	{
	margin: 0
}

.help-inline,.help-block {
	font-size: 13px
}

.control-group.warning .control-label,.control-group.warning .help-block,.control-group.warning .help-inline
	{
	color: #aa7d29
}

.control-group.warning .checkbox,.control-group.warning .radio,.control-group.warning input,.control-group.warning select,.control-group.warning textarea
	{
	color: #aa7d29
}

.control-group.warning input,.control-group.warning select,.control-group.warning textarea
	{
	border-color: #aa8134
}

.control-group.warning input:focus,.control-group.warning select:focus,.control-group.warning textarea:focus
	{
	border-color: #aa8134
}

.control-group.warning .input-prepend .add-on,.control-group.warning .input-append .add-on
	{
	color: #aa7d29;
	border-color: #aa8134
}

.control-group.error .control-label,.control-group.error .help-block,.control-group.error .help-inline
	{
	color: #b85355
}

.control-group.error .checkbox,.control-group.error .radio,.control-group.error input,.control-group.error select,.control-group.error textarea
	{
	color: #b85355
}

.control-group.error input,.control-group.error select,.control-group.error textarea
	{
	border-color: #b35d5e
}

.control-group.error input:focus,.control-group.error select:focus,.control-group.error textarea:focus
	{
	border-color: #b35d5e
}

.control-group.error .input-prepend .add-on,.control-group.error .input-append .add-on
	{
	color: #b85355;
	border-color: #b35d5e
}

.control-group.success .control-label,.control-group.success .help-block,.control-group.success .help-inline
	{
	color: #5c8846
}

.control-group.success .checkbox,.control-group.success .radio,.control-group.success input,.control-group.success select,.control-group.success textarea
	{
	color: #5c8846
}

.control-group.success input,.control-group.success select,.control-group.success textarea
	{
	border-color: #779867
}

.control-group.success input:focus,.control-group.success select:focus,.control-group.success textarea:focus
	{
	border-color: #779867
}

.control-group.success .input-prepend .add-on,.control-group.success .input-append .add-on
	{
	color: #5c8846;
	border-color: #779867
}

.control-group.info .control-label,.control-group.info .help-block,.control-group.info .help-inline
	{
	color: #4e7b86
}

.control-group.info .checkbox,.control-group.info .radio,.control-group.info input,.control-group.info select,.control-group.info textarea
	{
	color: #4e7b86
}

.control-group.info input,.control-group.info select,.control-group.info textarea
	{
	border-color: #577981
}

.control-group.info input:focus,.control-group.info select:focus,.control-group.info textarea:focus
	{
	border-color: #577981
}

.control-group.info .input-prepend .add-on,.control-group.info .input-append .add-on
	{
	color: #4e7b86;
	border-color: #577981
}

.input-prepend .add-on,.input-append .add-on {
	border-color: #c4c4c4
}

.input-append .search-query+.btn {
	border-left: none
}

.add-on>i {
	font-size: 14px;
	line-height: 20px
}

.nav-list>li>a {
	color: #777;
	font-size: 13px
}

.nav-list>li>a:hover {
	color: #444
}

.nav-list>li.active {
	background: #93ca47
}

.nav-list>li.active>a,.nav-list>li.active>a:hover {
	cursor: default;
	background: #93ca47
}

.nav-list .nav-header {
	color: #93ca47
}

.pagination ul {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

.pagination ul>li>a,.pagination ul>li>span {
	border: 1px solid #ddd;
	color: #777;
	margin-right: 5px;
	-webkit-border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	border-radius: 3px !important
}

.pagination ul>li>a:hover {
	background: 0;
	border-color: #93ca47;
	color: #444
}

.pagination ul>li.active>a,.pagination ul>li.active>a:hover,.pagination ul>li.active>span
	{
	background: #93ca47;
	border-color: #93ca47;
	color: #fff;
	font-weight: 700
}

.pagination ul>li.disabled>a:hover {
	border-color: #ddd
}

.pager li>a,.pager li>span {
	border-color: #ddd;
	color: #777;
	font-size: 14px
}

.pager li>a:hover {
	background: 0;
	border-color: #93ca47;
	color: #444
}

.pager li.disabled>a:hover {
	border-color: #ddd
}

.breadcrumb {
	background-color: rgba(214, 214, 214, 0.30000000000000004);
	font-size: 13px
}

.breadcrumb li>a {
	color: #888
}

.breadcrumb li>a:hover {
	color: #444
}

.breadcrumb li.active {
	color: #444
}

.nav .dropdown-toggle .caret {
	border-top-color: #999
}

.nav .dropdown-toggle:hover .caret {
	border-top-color: #444
}

.nav-tabs {
	border-bottom: 2px solid #93ca47;
	margin-bottom: 12px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.75) 0 1px 0;
	-moz-box-shadow: rgba(255, 255, 255, 0.75) 0 1px 0;
	box-shadow: rgba(255, 255, 255, 0.75) 0 1px 0
}

.nav-tabs>li>a {
	border: 0;
	color: #999;
	font-size: 14px;
	margin-bottom: -1px;
	padding: 3px 15px
}

.nav-tabs>li>a:hover {
	background: 0;
	color: #444
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
	background: 0;
/* 	border: 0; */
	border: 1px solid #93ca47;
	border-bottom: 2px solid #93ca47;
	color: #444
}

.tabs-below .nav-tabs {
	border-top: 2px solid #e1e1e1;
	-webkit-box-shadow: rgba(255, 255, 255, 0.75) 0 1px 0 inset;
	-moz-box-shadow: rgba(255, 255, 255, 0.75) 0 1px 0 inset;
	box-shadow: rgba(255, 255, 255, 0.75) 0 1px 0 inset
}

.tabs-below .nav-tabs>li>a {
	margin-bottom: 0;
	margin-top: -1px;
	padding: 4px 15px
}

.tabs-below .nav-tabs>.active>a,.tabs-below .nav-tabs>.active>a:hover {
	border: 0;
	border-top: 2px solid #93ca47;
	padding-top: 2px
}

.tabs-left .nav-tabs li {
	border-right: 2px solid #93ca47;
	-webkit-box-shadow: rgba(255, 255, 255, 0.75) 1px 0 0;
	-moz-box-shadow: rgba(255, 255, 255, 0.75) 1px 0 0;
	box-shadow: rgba(255, 255, 255, 0.75) 1px 0 0
}

.tabs-left .nav-tabs>li>a {
	margin-bottom: 0;
	margin-right: 0px
}

.tabs-left .nav-tabs .active {
	border-right: 0;
}

.tabs-left .nav-tabs>.active>a,.tabs-left .nav-tabs>.active>a:hover {
	border: 2px solid #93ca47;
	border-right: 0;	
	padding-right: 13px;
	outline: 0;
}

.tabs-left > .nav-tabs .active > a, .tabs-left > .nav-tabs .active > a:hover, .tabs-left > .nav-tabs .active > a:focus {
    border-color: #93ca47 rgba(0, 0, 0, 0) #93ca47 #93ca47;
}

.tabs-right .nav-tabs {
	border-left: 2px solid #e1e1e1;
	-webkit-box-shadow: rgba(255, 255, 255, 0.75) 1px 0 0 inset;
	-moz-box-shadow: rgba(255, 255, 255, 0.75) 1px 0 0 inset;
	box-shadow: rgba(255, 255, 255, 0.75) 1px 0 0 inset
}

.tabs-right .nav-tabs>li>a {
	margin-bottom: 0;
	margin-left: -2px
}

.tabs-right .nav-tabs>.active>a,.tabs-right .nav-tabs>.active>a:hover {
	border: 0;
	border-left: 2px solid #93ca47;
	padding-left: 13px
}

.nav-tabs.nav-stacked>li>a {
	padding: 7px 18px
}

.nav-tabs.nav-stacked>.active>a,.nav-tabs.nav-stacked>.active>a:hover {
	border: 1px solid #ddd;
	padding-left: 30px
}

.nav-tabs.nav-stacked>.active>a:before,.nav-tabs.nav-stacked>.active>a:hover:before
	{
	background: #93ca47;
	content: " ";
	display: block;
	height: 5px;
	margin: 8px 0 0 -11px;
	position: absolute;
	width: 5px
}

.nav-pills {
	margin-bottom: 12px
}

.nav-pills>li>a {
	color: #999;
	font-size: 14px;
	padding: 8px 18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}

.nav-pills>li>a:hover {
	color: #444;
	-webkit-box-shadow: rgba(255, 255, 255, 0.75) 0 1px 0;
	-moz-box-shadow: rgba(255, 255, 255, 0.75) 0 1px 0;
	box-shadow: rgba(255, 255, 255, 0.75) 0 1px 0
}

.nav-pills>.active>a,.nav-pills>.active>a:hover {
	background: #93ca47;
	color: #fff;
	cursor: default
}

@
-ms-viewport {
	width: device-width
}

.hidden {
	display: none;
	visibility: hidden
}

.visible-phone {
	display: none !important
}

.visible-tablet {
	display: none !important
}

.hidden-desktop {
	display: none !important
}

.visible-desktop {
	display: inherit !important
}

@media ( min-width :768px) and (max-width:979px) {
	.hidden-desktop {
		display: inherit !important
	}
	.visible-desktop {
		display: none !important
	}
	.visible-tablet {
		display: inherit !important
	}
	.hidden-tablet {
		display: none !important
	}
}

@media ( max-width :767px) {
	.hidden-desktop {
		display: inherit !important
	}
	.visible-desktop {
		display: none !important
	}
	.visible-phone {
		display: inherit !important
	}
	.hidden-phone {
		display: none !important
	}
}

@media ( min-width :1200px) {
	.row {
		margin-left: -30px;
		*zoom: 1
	}
	.row:before,.row:after {
		display: table;
		content: "";
		line-height: 0
	}
	.row:after {
		clear: both
	}
	[class*="span"] {
		float: left;
		min-height: 1px;
		margin-left: 30px
	}
	.container,.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container
		{
		width: 1186px
	}
	.span12 {
		width: 1186px
	}
	.span11 {
		width: 1093px
	}
	.span10 {
		width: 1000px
	}
	.span9 {
		width: 907px
	}
	.span8 {
		width: 814px
	}
	.span7 {
		width: 721px
	}
	.span6 {
		width: 628px
	}
	.span5 {
		width: 535px
	}
	.span4 {
		width: 442px
	}
	.span3 {
		width: 349px
	}
	.span2 {
		width: 256px
	}
	.span1 {
		width: 163px
	}
	.offset12 {
		margin-left: 1246px
	}
	.offset11 {
		margin-left: 1153px
	}
	.offset10 {
		margin-left: 1060px
	}
	.offset9 {
		margin-left: 967px
	}
	.offset8 {
		margin-left: 874px
	}
	.offset7 {
		margin-left: 781px
	}
	.offset6 {
		margin-left: 688px
	}
	.offset5 {
		margin-left: 595px
	}
	.offset4 {
		margin-left: 502px
	}
	.offset3 {
		margin-left: 409px
	}
	.offset2 {
		margin-left: 316px
	}
	.offset1 {
		margin-left: 223px
	}
	.row-fluid {
		width: 100%;
		*zoom: 1
	}
	.row-fluid:before,.row-fluid:after {
		display: table;
		content: "";
		line-height: 0
	}
	.row-fluid:after {
		clear: both
	}
	.row-fluid [class*="span"] {
		display: block;
		width: 100%;
		min-height: 30px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		margin-left: 2.7624309392265194%;
		*margin-left: 2.7049596748587033%
	}
	.row-fluid [class*="span"]:first-child {
		margin-left: 0
	}
	.row-fluid .controls-row [class*="span"]+[class*="span"] {
		margin-left: 2.7624309392265194%
	}
	.row-fluid .span12 {
		width: 100%;
		*width: 99.94252873563218%
	}
	.row-fluid .span11 {
		width: 91.43646408839778%;
		*width: 91.37899282402996%
	}
	.row-fluid .span10 {
		width: 82.87292817679558%;
		*width: 82.81545691242776%
	}
	.row-fluid .span9 {
		width: 74.30939226519337%;
		*width: 74.25192100082555%
	}
	.row-fluid .span8 {
		width: 65.74585635359117%;
		*width: 65.68838508922335%
	}
	.row-fluid .span7 {
		width: 57.18232044198895%;
		*width: 57.12484917762114%
	}
	.row-fluid .span6 {
		width: 48.61878453038674%;
		*width: 48.56131326601893%
	}
	.row-fluid .span5 {
		width: 40.05524861878453%;
		*width: 39.99777735441672%
	}
	.row-fluid .span4 {
		width: 31.491712707182323%;
		*width: 31.434241442814507%
	}
	.row-fluid .span3 {
		width: 22.92817679558011%;
		*width: 22.870705531212295%
	}
	.row-fluid .span2 {
		width: 14.3646408839779%;
		*width: 14.307169619610084%
	}
	.row-fluid .span1 {
		width: 5.801104972375691%;
		*width: 5.7436337080078745%
	}
	.row-fluid .offset12 {
		margin-left: 105.52486187845304%;
		*margin-left: 105.4099193497174%
	}
	.row-fluid .offset12:first-child {
		margin-left: 102.76243093922652%;
		*margin-left: 102.64748841049088%
	}
	.row-fluid .offset11 {
		margin-left: 96.96132596685082%;
		*margin-left: 96.84638343811518%
	}
	.row-fluid .offset11:first-child {
		margin-left: 94.1988950276243%;
		*margin-left: 94.08395249888866%
	}
	.row-fluid .offset10 {
		margin-left: 88.39779005524862%;
		*margin-left: 88.28284752651298%
	}
	.row-fluid .offset10:first-child {
		margin-left: 85.6353591160221%;
		*margin-left: 85.52041658728646%
	}
	.row-fluid .offset9 {
		margin-left: 79.8342541436464%;
		*margin-left: 79.71931161491077%
	}
	.row-fluid .offset9:first-child {
		margin-left: 77.07182320441989%;
		*margin-left: 76.95688067568425%
	}
	.row-fluid .offset8 {
		margin-left: 71.2707182320442%;
		*margin-left: 71.15577570330856%
	}
	.row-fluid .offset8:first-child {
		margin-left: 68.50828729281768%;
		*margin-left: 68.39334476408204%
	}
	.row-fluid .offset7 {
		margin-left: 62.70718232044199%;
		*margin-left: 62.59223979170636%
	}
	.row-fluid .offset7:first-child {
		margin-left: 59.94475138121547%;
		*margin-left: 59.82980885247984%
	}
	.row-fluid .offset6 {
		margin-left: 54.14364640883978%;
		*margin-left: 54.02870388010415%
	}
	.row-fluid .offset6:first-child {
		margin-left: 51.38121546961326%;
		*margin-left: 51.266272940877634%
	}
	.row-fluid .offset5 {
		margin-left: 45.58011049723757%;
		*margin-left: 45.465167968501945%
	}
	.row-fluid .offset5:first-child {
		margin-left: 42.81767955801105%;
		*margin-left: 42.702737029275426%
	}
	.row-fluid .offset4 {
		margin-left: 37.01657458563536%;
		*margin-left: 36.901632056899736%
	}
	.row-fluid .offset4:first-child {
		margin-left: 34.25414364640884%;
		*margin-left: 34.13920111767322%
	}
	.row-fluid .offset3 {
		margin-left: 28.45303867403315%;
		*margin-left: 28.338096145297516%
	}
	.row-fluid .offset3:first-child {
		margin-left: 25.69060773480663%;
		*margin-left: 25.575665206070997%
	}
	.row-fluid .offset2 {
		margin-left: 19.88950276243094%;
		*margin-left: 19.774560233695308%
	}
	.row-fluid .offset2:first-child {
		margin-left: 17.12707182320442%;
		*margin-left: 17.01212929446879%
	}
	.row-fluid .offset1 {
		margin-left: 11.32596685082873%;
		*margin-left: 11.211024322093097%
	}
	.row-fluid .offset1:first-child {
		margin-left: 8.56353591160221%;
		*margin-left: 8.448593382866578%
	}
	input,textarea,.uneditable-input {
		margin-left: 0
	}
	.controls-row [class*="span"]+[class*="span"] {
		margin-left: 30px
	}
	input.span12,textarea.span12,.uneditable-input.span12 {
		width: 1072px
	}
	input.span11,textarea.span11,.uneditable-input.span11 {
		width: 979px
	}
	input.span10,textarea.span10,.uneditable-input.span10 {
		width: 886px
	}
	input.span9,textarea.span9,.uneditable-input.span9 {
		width: 793px
	}
	input.span8,textarea.span8,.uneditable-input.span8 {
		width: 700px
	}
	input.span7,textarea.span7,.uneditable-input.span7 {
		width: 607px
	}
	input.span6,textarea.span6,.uneditable-input.span6 {
		width: 514px
	}
	input.span5,textarea.span5,.uneditable-input.span5 {
		width: 421px
	}
	input.span4,textarea.span4,.uneditable-input.span4 {
		width: 328px
	}
	input.span3,textarea.span3,.uneditable-input.span3 {
		width: 235px
	}
	input.span2,textarea.span2,.uneditable-input.span2 {
		width: 142px
	}
	input.span1,textarea.span1,.uneditable-input.span1 {
		width: 49px
	}
	.thumbnails {
		margin-left: -30px
	}
	.thumbnails>li {
		margin-left: 30px
	}
	.row-fluid .thumbnails {
		margin-left: 0
	}
	#main-navbar .container {
		width: 1296px
	}
}

@media ( min-width :768px) and (max-width:979px) {
	.row {
		margin-left: -20px;
		*zoom: 1
	}
	.row:before,.row:after {
		display: table;
		content: "";
		line-height: 0
	}
	.row:after {
		clear: both
	}
	[class*="span"] {
		float: left;
		min-height: 1px;
		margin-left: 20px
	}
	.container,.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container
		{
		width: 748px
	}
	.span12 {
		width: 748px
	}
	.span11 {
		width: 684px
	}
	.span10 {
		width: 620px
	}
	.span9 {
		width: 556px
	}
	.span8 {
		width: 492px
	}
	.span7 {
		width: 428px
	}
	.span6 {
		width: 364px
	}
	.span5 {
		width: 300px
	}
	.span4 {
		width: 236px
	}
	.span3 {
		width: 172px
	}
	.span2 {
		width: 108px
	}
	.span1 {
		width: 44px
	}
	.offset12 {
		margin-left: 788px
	}
	.offset11 {
		margin-left: 724px
	}
	.offset10 {
		margin-left: 660px
	}
	.offset9 {
		margin-left: 596px
	}
	.offset8 {
		margin-left: 532px
	}
	.offset7 {
		margin-left: 468px
	}
	.offset6 {
		margin-left: 404px
	}
	.offset5 {
		margin-left: 340px
	}
	.offset4 {
		margin-left: 276px
	}
	.offset3 {
		margin-left: 212px
	}
	.offset2 {
		margin-left: 148px
	}
	.offset1 {
		margin-left: 84px
	}
	.row {
		width: auto
	}
	.row [class*="span"]:first-child {
		margin-left: 0
	}
	.row .controls-row [class*="span"]+[class*="span"] {
		margin-left: 2.6737967914438503%
	}
	.row .span12 {
		width: 100%;
		*width: 99.94252873563218%
	}
	.row .span11 {
		width: 91.44385026737967%;
		*width: 91.38637900301185%
	}
	.row .span10 {
		width: 82.88770053475935%;
		*width: 82.83022927039153%
	}
	.row .span9 {
		width: 74.33155080213903%;
		*width: 74.27407953777121%
	}
	.row .span8 {
		width: 65.77540106951872%;
		*width: 65.7179298051509%
	}
	.row .span7 {
		width: 57.219251336898395%;
		*width: 57.16178007253058%
	}
	.row .span6 {
		width: 48.66310160427807%;
		*width: 48.605630339910256%
	}
	.row .span5 {
		width: 40.106951871657756%;
		*width: 40.049480607289944%
	}
	.row .span4 {
		width: 31.55080213903743%;
		*width: 31.493330874669613%
	}
	.row .span3 {
		width: 22.99465240641711%;
		*width: 22.937181142049294%
	}
	.row .span2 {
		width: 14.43850267379679%;
		*width: 14.381031409428974%
	}
	.row .span1 {
		width: 5.88235294117647%;
		*width: 5.824881676808654%
	}
	.row .offset12 {
		margin-left: 105.3475935828877%;
		*margin-left: 105.23265105415206%
	}
	.row .offset12:first-child {
		margin-left: 102.67379679144385%;
		*margin-left: 102.55885426270821%
	}
	.row .offset11 {
		margin-left: 96.79144385026737%;
		*margin-left: 96.67650132153173%
	}
	.row .offset11:first-child {
		margin-left: 94.11764705882352%;
		*margin-left: 94.00270453008788%
	}
	.row .offset10 {
		margin-left: 88.23529411764704%;
		*margin-left: 88.1203515889114%
	}
	.row .offset10:first-child {
		margin-left: 85.5614973262032%;
		*margin-left: 85.44655479746756%
	}
	.row .offset9 {
		margin-left: 79.67914438502673%;
		*margin-left: 79.56420185629109%
	}
	.row .offset9:first-child {
		margin-left: 77.00534759358288%;
		*margin-left: 76.89040506484724%
	}
	.row .offset8 {
		margin-left: 71.12299465240642%;
		*margin-left: 71.00805212367078%
	}
	.row .offset8:first-child {
		margin-left: 68.44919786096257%;
		*margin-left: 68.33425533222693%
	}
	.row .offset7 {
		margin-left: 62.56684491978609%;
		*margin-left: 62.451902391050474%
	}
	.row .offset7:first-child {
		margin-left: 59.893048128342244%;
		*margin-left: 59.77810559960662%
	}
	.row .offset6 {
		margin-left: 54.010695187165766%;
		*margin-left: 53.89575265843015%
	}
	.row .offset6:first-child {
		margin-left: 51.33689839572192%;
		*margin-left: 51.22195586698629%
	}
	.row .offset5 {
		margin-left: 45.45454545454545%;
		*margin-left: 45.339602925809835%
	}
	.row .offset5:first-child {
		margin-left: 42.780748663101605%;
		*margin-left: 42.66580613436598%
	}
	.row .offset4 {
		margin-left: 36.89839572192513%;
		*margin-left: 36.7834531931895%
	}
	.row .offset4:first-child {
		margin-left: 34.22459893048128%;
		*margin-left: 34.10965640174565%
	}
	.row .offset3 {
		margin-left: 28.34224598930481%;
		*margin-left: 28.22730346056918%
	}
	.row .offset3:first-child {
		margin-left: 25.66844919786096%;
		*margin-left: 25.55350666912533%
	}
	.row .offset2 {
		margin-left: 19.78609625668449%;
		*margin-left: 19.67115372794886%
	}
	.row .offset2:first-child {
		margin-left: 17.11229946524064%;
		*margin-left: 16.99735693650501%
	}
	.row .offset1 {
		margin-left: 11.229946524064172%;
		*margin-left: 11.11500399532854%
	}
	.row .offset1:first-child {
		margin-left: 8.55614973262032%;
		*margin-left: 8.441207203884687%
	}
	.row-fluid {
		width: 100%;
		*zoom: 1
	}
	.row-fluid:before,.row-fluid:after {
		display: table;
		content: "";
		line-height: 0
	}
	.row-fluid:after {
		clear: both
	}
	.row-fluid [class*="span"] {
		display: block;
		width: 100%;
		min-height: 30px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		margin-left: 2.6737967914438503%;
		*margin-left: 2.616325527076034%
	}
	.row-fluid [class*="span"]:first-child {
		margin-left: 0
	}
	.row-fluid .controls-row [class*="span"]+[class*="span"] {
		margin-left: 2.6737967914438503%
	}
	.row-fluid .span12 {
		width: 100%;
		*width: 99.94252873563218%
	}
	.row-fluid .span11 {
		width: 91.44385026737967%;
		*width: 91.38637900301185%
	}
	.row-fluid .span10 {
		width: 82.88770053475935%;
		*width: 82.83022927039153%
	}
	.row-fluid .span9 {
		width: 74.33155080213903%;
		*width: 74.27407953777121%
	}
	.row-fluid .span8 {
		width: 65.77540106951872%;
		*width: 65.7179298051509%
	}
	.row-fluid .span7 {
		width: 57.219251336898395%;
		*width: 57.16178007253058%
	}
	.row-fluid .span6 {
		width: 48.66310160427807%;
		*width: 48.605630339910256%
	}
	.row-fluid .span5 {
		width: 40.106951871657756%;
		*width: 40.049480607289944%
	}
	.row-fluid .span4 {
		width: 31.55080213903743%;
		*width: 31.493330874669613%
	}
	.row-fluid .span3 {
		width: 22.99465240641711%;
		*width: 22.937181142049294%
	}
	.row-fluid .span2 {
		width: 14.43850267379679%;
		*width: 14.381031409428974%
	}
	.row-fluid .span1 {
		width: 5.88235294117647%;
		*width: 5.824881676808654%
	}
	.row-fluid .offset12 {
		margin-left: 105.3475935828877%;
		*margin-left: 105.23265105415206%
	}
	.row-fluid .offset12:first-child {
		margin-left: 102.67379679144385%;
		*margin-left: 102.55885426270821%
	}
	.row-fluid .offset11 {
		margin-left: 96.79144385026737%;
		*margin-left: 96.67650132153173%
	}
	.row-fluid .offset11:first-child {
		margin-left: 94.11764705882352%;
		*margin-left: 94.00270453008788%
	}
	.row-fluid .offset10 {
		margin-left: 88.23529411764704%;
		*margin-left: 88.1203515889114%
	}
	.row-fluid .offset10:first-child {
		margin-left: 85.5614973262032%;
		*margin-left: 85.44655479746756%
	}
	.row-fluid .offset9 {
		margin-left: 79.67914438502673%;
		*margin-left: 79.56420185629109%
	}
	.row-fluid .offset9:first-child {
		margin-left: 77.00534759358288%;
		*margin-left: 76.89040506484724%
	}
	.row-fluid .offset8 {
		margin-left: 71.12299465240642%;
		*margin-left: 71.00805212367078%
	}
	.row-fluid .offset8:first-child {
		margin-left: 68.44919786096257%;
		*margin-left: 68.33425533222693%
	}
	.row-fluid .offset7 {
		margin-left: 62.56684491978609%;
		*margin-left: 62.451902391050474%
	}
	.row-fluid .offset7:first-child {
		margin-left: 59.893048128342244%;
		*margin-left: 59.77810559960662%
	}
	.row-fluid .offset6 {
		margin-left: 54.010695187165766%;
		*margin-left: 53.89575265843015%
	}
	.row-fluid .offset6:first-child {
		margin-left: 51.33689839572192%;
		*margin-left: 51.22195586698629%
	}
	.row-fluid .offset5 {
		margin-left: 45.45454545454545%;
		*margin-left: 45.339602925809835%
	}
	.row-fluid .offset5:first-child {
		margin-left: 42.780748663101605%;
		*margin-left: 42.66580613436598%
	}
	.row-fluid .offset4 {
		margin-left: 36.89839572192513%;
		*margin-left: 36.7834531931895%
	}
	.row-fluid .offset4:first-child {
		margin-left: 34.22459893048128%;
		*margin-left: 34.10965640174565%
	}
	.row-fluid .offset3 {
		margin-left: 28.34224598930481%;
		*margin-left: 28.22730346056918%
	}
	.row-fluid .offset3:first-child {
		margin-left: 25.66844919786096%;
		*margin-left: 25.55350666912533%
	}
	.row-fluid .offset2 {
		margin-left: 19.78609625668449%;
		*margin-left: 19.67115372794886%
	}
	.row-fluid .offset2:first-child {
		margin-left: 17.11229946524064%;
		*margin-left: 16.99735693650501%
	}
	.row-fluid .offset1 {
		margin-left: 11.229946524064172%;
		*margin-left: 11.11500399532854%
	}
	.row-fluid .offset1:first-child {
		margin-left: 8.55614973262032%;
		*margin-left: 8.441207203884687%
	}
	input,textarea,.uneditable-input {
		margin-left: 0
	}
	.controls-row [class*="span"]+[class*="span"] {
		margin-left: 20px
	}
	input.span12,textarea.span12,.uneditable-input.span12 {
		width: 734px
	}
	input.span11,textarea.span11,.uneditable-input.span11 {
		width: 670px
	}
	input.span10,textarea.span10,.uneditable-input.span10 {
		width: 606px
	}
	input.span9,textarea.span9,.uneditable-input.span9 {
		width: 542px
	}
	input.span8,textarea.span8,.uneditable-input.span8 {
		width: 478px
	}
	input.span7,textarea.span7,.uneditable-input.span7 {
		width: 414px
	}
	input.span6,textarea.span6,.uneditable-input.span6 {
		width: 350px
	}
	input.span5,textarea.span5,.uneditable-input.span5 {
		width: 286px
	}
	input.span4,textarea.span4,.uneditable-input.span4 {
		width: 222px
	}
	input.span3,textarea.span3,.uneditable-input.span3 {
		width: 158px
	}
	input.span2,textarea.span2,.uneditable-input.span2 {
		width: 94px
	}
	input.span1,textarea.span1,.uneditable-input.span1 {
		width: 30px
	}
	body {
		padding: 62px 15px 0 100px
	}
	.container,#main-navbar .container {
		width: auto
	}
	.row {
		margin-left: 0
	}
}

@media ( max-width :767px) {
	.container-fluid {
		padding: 0
	}
	.dl-horizontal dt {
		float: none;
		clear: none;
		width: auto;
		text-align: left
	}
	.dl-horizontal dd {
		margin-left: 0
	}
	.container {
		width: auto
	}
	.row-fluid {
		width: 100%
	}
	.row,.thumbnails {
		margin-left: 0
	}
	.thumbnails>li {
		float: none;
		margin-left: 0
	}
	[class*="span"],.uneditable-input[class*="span"],.row-fluid [class*="span"]
		{
		float: none;
		display: block;
		width: 100%;
		margin-left: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box
	}
	.span12,.row-fluid .span12,.box {
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box
	}
	.row-fluid [class*="offset"]:first-child {
		margin-left: 0
	}
	.input-large,.input-xlarge,.input-xxlarge,input[class*="span"],select[class*="span"],textarea[class*="span"],.uneditable-input
		{
		display: block;
		width: 100%;
		min-height: 30px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box
	}
	.input-prepend input,.input-append input,.input-prepend input[class*="span"],.input-append input[class*="span"]
		{
		display: inline-block;
		width: auto
	}
	.controls-row [class*="span"]+[class*="span"] {
		margin-left: 0
	}
	.modal {
		position: fixed;
		top: 20px;
		left: 20px;
		right: 20px;
		width: auto;
		margin: 0
	}
	.modal.fade {
		top: -100px
	}
	.modal.fade.in {
		top: 20px
	}
	body {
		padding: 62px 15px 0 100px
	}
	.container,#main-navbar .container {
		width: auto
	}
	#main-navbar .logo {
		margin-left: 5px
	}
}

@media ( max-width :480px) {
	.page-header h1 small {
		display: block;
		line-height: 20px
	}
	input[type="checkbox"],input[type="radio"] {
		border: 1px solid #ccc
	}
	.form-horizontal .control-label {
		float: none;
		width: auto;
		padding-top: 0;
		text-align: left
	}
	.form-horizontal .controls {
		margin-left: 0
	}
	.form-horizontal .control-list {
		padding-top: 0
	}
	.form-horizontal .form-actions {
		padding-left: 10px;
		padding-right: 10px
	}
	.media .pull-left,.media .pull-right {
		float: none;
		display: block;
		margin-bottom: 10px
	}
	.media-object {
		margin-right: 0;
		margin-left: 0
	}
	.modal {
		top: 10px;
		left: 10px;
		right: 10px
	}
	.modal-header .close {
		padding: 10px;
		margin: -10px
	}
	.carousel-caption {
		position: static
	}
	body {
		padding: 41px 0 0 0
	}
	.box {
		margin-left: 5px;
		margin-right: 5px
	}
	#main-navbar a.usermenu span {
		display: none;
		visibility: hidden
	}
	#left-panel {
		border: 0;
		border-bottom: 1px solid #fff;
		top: 0;
		width: 100%;
		z-index: 1020;
		overflow: hidden;
		position: relative;
		margin-bottom: 20px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-transition: height .2s;
		-moz-transition: height .2s;
		-o-transition: height .2s;
		transition: height .2s;
		background-color: #313131;
		background-image: -moz-linear-gradient(top, #343434, #2c2c2c);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#343434),
			to(#2c2c2c) );
		background-image: -webkit-linear-gradient(top, #343434, #2c2c2c);
		background-image: -o-linear-gradient(top, #343434, #2c2c2c);
		background-image: linear-gradient(to bottom, #343434, #2c2c2c);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff343434',
			endColorstr='#ff2c2c2c', GradientType=0 )
	}
	#left-panel a,#left-panel .active,#left-panel .active a,#left-panel ul,#left-panel li
		{
		width: 100%;
		border: 0;
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
		padding: 0
	}
	#left-panel ul {
		margin: 36px 0 0 0;
		padding: 0;
		position: relative
	}
	#left-panel a,#left-panel a:hover,#left-panel a:active,#left-panel li.active a
		{
		text-shadow: rgba(0, 0, 0, 0.6) 0 -1px 0;
		color: #bbb
	}
	#left-panel a,#left-panel .active a,#left-panel .icon-caret-down,#left-panel .icon-caret-up
		{
		line-height: 36px;
		height: 36px;
		padding: 0 14px;
		text-transform: none;
		font-size: 13px;
		font-weight: 600;
		text-align: left
	}
	#left-panel a span {
		display: none
	}
	#left-panel .active {
		position: absolute;
		top: 0;
		left: 0;
		margin-top: -36px;
		z-index: 1022
	}
	#left-panel .icon-caret-down,#left-panel .icon-caret-up {
		font-weight: 400;
		display: block;
		position: absolute;
		top: 0;
		z-index: 1021;
		width: 100%;
		text-align: right;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box
	}
	#left-panel .icon-caret-up {
		display: none
	}
	#left-panel.open {
		height: auto
	}
	#left-panel.open li.active a {
		color: #fff;
		padding-left: 14px
	}
	#left-panel.open .icon-caret-up {
		display: block
	}
	#left-panel.open .icon-caret-down {
		display: none
	}
	#left-panel-content ul {
		padding-bottom: 0
	}
}

.graph-container,.graph-container div,.graph-container a,.graph-container span
	{
	margin: 0;
	padding: 0
}

.graph-container {
	position: relative
}

.graph-container>div {
	width: inherit;
	height: inherit
}

.graph-info {
	width: auto;
	margin-bottom: 8px;
	background-color: rgba(214, 214, 214, 0.09999999999999998);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}

.tickLabel {
	font-size: 12px;
	color: #666
}

#tooltip {
	position: absolute;
	display: none;
	padding: 5px 10px;
	font-size: 13px;
	background: rgba(0, 0, 0, 0.7);
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}

.graph-info span {
	position: relative;
	display: inline-block;
	float: left;
	margin-right: 10px;
	text-decoration: none;
	cursor: default;
	padding-left: 24px;
	font-weight: 400;
	font-size: 13px;
	line-height: 32px;
	color: #646464
}

.graph-info i {
	position: absolute;
	display: block;
	content: '';
	width: 8px;
	height: 8px;
	top: 13px;
	left: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}

.yAxis .tickLabel:first-child,.yAxis .tickLabel:last-child {
	display: none
}

.graph-info:before,.graph-info:after,.graph-container:before,.graph-container:after
	{
	content: '';
	display: block;
	clear: both
}

.well {
	background: rgba(0, 0, 0, 0.02)
}

.well.row-fluid {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.com {
	color: #93a1a1
}

.lit {
	color: #195f91
}

.pun,.opn,.clo {
	color: #93a1a1
}

.fun {
	color: #dc322f
}

.str,.atv {
	color: #D14
}

.kwd,.prettyprint .tag {
	color: #1e347b
}

.typ,.atn,.dec,.var {
	color: teal
}

.pln {
	color: #48484c
}

.prettyprint {
	padding: 8px;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8
}

.prettyprint.linenums {
	-webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
	-moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
	box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0
}

ol.linenums {
	margin: 0 0 0 33px
}

ol.linenums li {
	padding-left: 12px;
	color: #bebec5;
	line-height: 20px;
	text-shadow: 0 1px 0 #fff
} /*!
 * Colorpicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.colorpicker-saturation {
	width: 100px;
	height: 100px;
	background-image:
		url("../../../images/bootstrap-colorpicker/saturation.png");
	cursor: crosshair;
	float: left
}

.colorpicker-saturation i {
	display: block;
	height: 5px;
	width: 5px;
	border: 1px solid #000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	position: absolute;
	top: 0;
	left: 0;
	margin: -4px 0 0 -4px
}

.colorpicker-saturation i b {
	display: block;
	height: 5px;
	width: 5px;
	border: 1px solid #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}

.colorpicker-hue,.colorpicker-alpha {
	width: 15px;
	height: 100px;
	float: left;
	cursor: row-resize;
	margin-left: 4px;
	margin-bottom: 4px
}

.colorpicker-hue i,.colorpicker-alpha i {
	display: block;
	height: 1px;
	background: #000;
	border-top: 1px solid #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin-top: -1px
}

.colorpicker-hue {
	background-image: url("../../../images/bootstrap-colorpicker/hue.png")
}

.colorpicker-alpha {
	background-image: url("../../../images/bootstrap-colorpicker/alpha.png");
	display: none
}

.colorpicker {
	*zoom: 1;
	top: 0;
	left: 0;
	padding: 4px;
	min-width: 120px;
	margin-top: 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}

.colorpicker:before,.colorpicker:after {
	display: table;
	content: "";
	line-height: 0
}

.colorpicker:after {
	clear: both
}

.colorpicker:before {
	content: '';
	display: inline-block;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: -7px;
	left: 6px
}

.colorpicker:after {
	content: '';
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #fff;
	position: absolute;
	top: -6px;
	left: 7px
}

.colorpicker div {
	position: relative
}

.colorpicker.alpha {
	min-width: 140px
}

.colorpicker.alpha .colorpicker-alpha {
	display: block
}

.colorpicker-color {
	height: 10px;
	margin-top: 5px;
	clear: both;
	background-image: url("../../../images/bootstrap-colorpicker/alpha.png");
	background-position: 0 100%
}

.colorpicker-color div {
	height: 10px
}

.input-append.color .add-on i,.input-prepend.color .add-on i {
	display: block;
	cursor: pointer;
	width: 16px;
	height: 16px
} /*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.datepicker {
	top: 0;
	left: 0;
	padding: 4px;
	margin-top: 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}

.datepicker:before {
	content: '';
	display: inline-block;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: -7px;
	left: 6px
}

.datepicker:after {
	content: '';
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #fff;
	position: absolute;
	top: -6px;
	left: 7px
}

.datepicker>div {
	display: none
}

.datepicker table {
	margin: 0
}

.datepicker td,.datepicker th {
	text-align: center;
	width: 20px;
	height: 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}

.datepicker td.day:hover {
	background: #eee;
	cursor: pointer
}

.datepicker td.old,.datepicker td.new {
	color: #999
}

.datepicker td.active,.datepicker td.active:hover {
	background-color: #93ca47;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
}

.datepicker td span {
	display: block;
	width: 47px;
	height: 54px;
	line-height: 54px;
	float: left;
	margin: 2px;
	cursor: pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}

.datepicker td span:hover {
	background: #eee
}

.datepicker td span.active {
	background-color: #93ca47;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
}

.datepicker td span.old {
	color: #999
}

.datepicker th.switch {
	width: 145px
}

.datepicker th.next,.datepicker th.prev {
	font-size: 19.5px
}

.datepicker thead tr:first-child th {
	cursor: pointer
}

.datepicker thead tr:first-child th:hover {
	background: #eee
}

.input-append.date .add-on i,.input-prepend.date .add-on i {
	display: block;
	cursor: pointer;
	width: 16px;
	height: 16px
}

.wysiwyg-color-black {
	color: black
}

.wysiwyg-color-silver {
	color: silver
}

.wysiwyg-color-gray {
	color: gray
}

.wysiwyg-color-white {
	color: white
}

.wysiwyg-color-maroon {
	color: maroon
}

.wysiwyg-color-red {
	color: red
}

.wysiwyg-color-purple {
	color: purple
}

.wysiwyg-color-fuchsia {
	color: fuchsia
}

.wysiwyg-color-green {
	color: green
}

.wysiwyg-color-lime {
	color: lime
}

.wysiwyg-color-olive {
	color: olive
}

.wysiwyg-color-yellow {
	color: yellow
}

.wysiwyg-color-navy {
	color: navy
}

.wysiwyg-color-blue {
	color: blue
}

.wysiwyg-color-teal {
	color: teal
}

.wysiwyg-color-aqua {
	color: aqua
}

.wysiwyg-color-orange {
	color: orange
}

ul.wysihtml5-toolbar {
	margin: 0;
	padding: 0;
	display: block
}

ul.wysihtml5-toolbar::after {
	clear: both;
	display: table;
	content: ""
}

ul.wysihtml5-toolbar>li {
	float: left;
	display: list-item;
	list-style: none;
	margin: 0 5px 10px 0
}

ul.wysihtml5-toolbar a[data-wysihtml5-command=bold] {
	font-weight: bold
}

ul.wysihtml5-toolbar a[data-wysihtml5-command=italic] {
	font-style: italic
}

ul.wysihtml5-toolbar a[data-wysihtml5-command=underline] {
	text-decoration: underline
}

ul.wysihtml5-toolbar div.wysihtml5-colors {
	display: block;
	width: 50px;
	height: 20px;
	margin-top: 2px;
	margin-left: 5px;
	position: absolute;
	pointer-events: none
}

ul.wysihtml5-toolbar a.wysihtml5-colors-title {
	padding-left: 70px
}

ul.wysihtml5-toolbar .btn i {
	display: inline-block;
	position: relative;
	font-size: 14px
}

ul.wysihtml5-commands-disabled .dropdown-menu {
	display: none !important
}

.wysihtml5-command-active,.wysihtml5-toolbar .open .dropdown-toggle,.wysihtml5-toolbar .open .dropdown-toggle:active
	{
	background: #e5e5e5 !important;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px inset !important;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px inset !important;
	box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px inset !important
}

.notifications {
	position: fixed
}

.notifications.top-right {
	right: 10px;
	top: 50px
}

.notifications.top-left {
	left: 10px;
	top: 50px
}

.notifications.bottom-left {
	left: 10px;
	bottom: 50px
}

.notifications.bottom-right {
	right: 10px;
	bottom: 50px
}

.notifications>div {
	position: relative;
	z-index: 9999;
	margin: 5px 0
}

.alert-adminflare {
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.8);
	border: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
	color: white;
	-webkit-text-shadow: none;
	-moz-text-shadow: none;
	-o-text-shadow: none;
	text-shadow: none;
	-webkit-font-smoothing: antialiased;
	font-size: 13px
}

.alert-adminflare a.close {
	-webkit-text-shadow: none;
	-moz-text-shadow: none;
	-o-text-shadow: none;
	text-shadow: none;
	color: #fff;
	opacity: .25;
	filter: alpha(opacity = 25)
}

.alert-adminflare a.close:hover {
	opacity: .5;
	filter: alpha(opacity = 50)
}

.toggle {
	height: 28px;
	width: 80px
}

.slide {
	overflow: hidden;
	cursor: pointer;
	border: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.slide .on,.slide .off,.slide .blob {
	float: left
}

.slide .blob {
	position: relative;
	z-index: 99;
	cursor: hand;
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab
}

.adminflare .slide {
	-webkit-box-shadow: #fff 0 1px 0;
	-moz-box-shadow: #fff 0 1px 0;
	box-shadow: #fff 0 1px 0;
	-webkit-border-radius: 9999px;
	-moz-border-radius: 9999px;
	border-radius: 9999px;
	overflow: hidden !important
}

.adminflare .slide .on,.adminflare .slide .off,.adminflare .slide .blob
	{
	color: rgba(0, 0, 0, 0.7);
	font-size: 14px;
	font-weight: 700
}

.adminflare .slide .on {
	background: #93ca47;
	color: #fff;
	-webkit-border-top-left-radius: 999px;
	-moz-border-radius-topleft: 999px;
	border-top-left-radius: 999px;
	-webkit-border-bottom-left-radius: 999px;
	-moz-border-radius-bottomleft: 999px;
	border-bottom-left-radius: 999px;
	background-color: #ab4227;
	background-image: -moz-linear-gradient(top, #8d331c, #93ca47);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8d331c),
		to(#93ca47) );
	background-image: -webkit-linear-gradient(top, #8d331c, #93ca47);
	background-image: -o-linear-gradient(top, #8d331c, #93ca47);
	background-image: linear-gradient(to bottom, #8d331c, #93ca47);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8d331c',
		endColorstr='#ff93ca47', GradientType=0 );
	*background-color: #cd4a28;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=  false )
}

.adminflare .slide .off {
	background: #ccc;
	-webkit-border-top-right-radius: 999px;
	-moz-border-radius-topright: 999px;
	border-top-right-radius: 999px;
	-webkit-border-bottom-right-radius: 999px;
	-moz-border-radius-bottomright: 999px;
	border-bottom-right-radius: 999px;
	background-color: #c7c7c7;
	background-image: -moz-linear-gradient(top, #b3b3b3, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b3b3b3),
		to(#e6e6e6) );
	background-image: -webkit-linear-gradient(top, #b3b3b3, #e6e6e6);
	background-image: -o-linear-gradient(top, #b3b3b3, #e6e6e6);
	background-image: linear-gradient(to bottom, #b3b3b3, #e6e6e6);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb3b3b3',
		endColorstr='#ffe6e6e6', GradientType=0 );
	*background-color: #a6a6a6;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=  false )
}

.adminflare .slide .blob {
	background: #fff;
	-webkit-border-radius: 9999px;
	-moz-border-radius: 9999px;
	border-radius: 9999px;
	background-color: #ebebeb;
	background-image: -moz-linear-gradient(top, #fff, #ccc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff),
		to(#ccc) );
	background-image: -webkit-linear-gradient(top, #fff, #ccc);
	background-image: -o-linear-gradient(top, #fff, #ccc);
	background-image: linear-gradient(to bottom, #fff, #ccc);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',
		endColorstr='#ffcccccc', GradientType=0 );
	*background-color: #ccc;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=  false )
} /*! X-editable - v1.3.0 
* In-place editing with Twitter Bootstrap, jQuery UI or pure jQuery
* http://github.com/vitalets/x-editable
* Copyright (c) 2012 Vitaliy Potapov; Licensed MIT */
.editableform {
	margin-bottom: 0
}

.editableform .control-group {
	margin-bottom: 0;
	white-space: nowrap
}

.editable-buttons {
	display: inline-block;
	vertical-align: top;
	margin-left: 7px;
	zoom: 1;
	*display: inline
}

.editable-buttons .editable-cancel {
	margin-left: 7px
}

.editable-buttons button.ui-button-icon-only {
	height: 24px;
	width: 30px
}

.editable-buttons textarea {
	height: 150px
}

.editable-buttons .editable-date {
	padding: 0;
	margin: 0;
	float: left
}

.editable-input {
	vertical-align: top;
	display: inline-block;
	width: auto;
	white-space: normal;
	zoom: 1;
	*display: inline
}

.editableform-loading {
	background: url("../../../images/loading.gif") center center no-repeat;
	height: 25px;
	width: auto;
	min-width: 25px
}

.editable-inline .editableform-loading {
	background-position: left 5px
}

.editable-error-block {
	max-width: 300px;
	margin: 5px 0 0 0;
	width: auto;
	white-space: normal
}

.editable-error-block .ui-state-error {
	padding: 3px
}

.editable-error {
	color: red
}

.editable-checklist label input[type="checkbox"],.editable-checklist label span
	{
	vertical-align: middle;
	margin: 0
}

.editable-checklist label {
	white-space: nowrap
}

.editable-clear {
	clear: both;
	font-size: .9em;
	text-decoration: none;
	text-align: right
}

.editable-container {
	max-width: none !important
}

.editable-container.popover {
	width: auto
}

.editable-container.editable-inline {
	display: inline-block;
	vertical-align: middle
}

.editable-container.ui-widget {
	font-size: inherit
}

.editable-click,a.editable-click,a.editable-click:hover {
	text-decoration: none;
	border-bottom: dashed 1px #08c
}

.editable-click.editable-disabled,a.editable-click.editable-disabled,a.editable-click.editable-disabled:hover
	{
	color: #585858;
	cursor: default;
	border-bottom: 0
}

.editable-empty,.editable-empty:hover {
	font-style: italic;
	color: #d14;
	border-bottom: 0;
	text-decoration: none
}

.editable-unsaved {
	font-weight: bold
}

.editable-date {
	padding: 7px
}

.editable-date .datepicker:before,.editable-date .datepicker:after {
	display: none
}

.editable-date .datepicker td,.editable-date .datepicker th {
	width: 20px;
	height: 20px;
	border: none !important;
	background: transparent !important
}

.editable-date .datepicker td.day:hover {
	background: #ddd !important;
	cursor: pointer
}

.editable-date .datepicker td.day.active {
	cursor: default !important
}

.editable-date .datepicker td,.editable-date .datepicker th,.editable-date .datepicker .day,.editable-date .datepicker .month,.editable-date .datepicker .year
	{
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important
}

.editable-date .datepicker .active,.editable-date .datepicker .active:hover,.editable-date .datepicker td.active:hover,.editable-date .datepicker .active.disabled,.editable-date .datepicker .active.disabled:hover
	{
	background: #93ca47 !important
}

.editable-date .datepicker td span:hover {
	background: #ddd
}

.editable-date .datepicker th.switch {
	width: 145px
}

.editable-address {
	display: block;
	margin-bottom: 5px
}

.editable-address span {
	width: 70px;
	display: inline-block
} /*!
 * Timepicker for Bootstrap
 *
 * Copyright 2012 Joris de Wit, Stefan Petre, Andrew Rowls
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.bootstrap-timepicker.dropdown-menu {
	top: 0;
	left: 0;
	padding: 4px;
	margin-top: 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	display: none;
	min-width: 10px;
	z-index: 99999
}

.bootstrap-timepicker.dropdown-menu.open {
	display: inline-block
}

.bootstrap-timepicker.dropdown-menu:before {
	content: '';
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: -7px;
	left: 6px
}

.bootstrap-timepicker.dropdown-menu:after {
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #fff;
	position: absolute;
	top: -6px;
	left: 7px
}

.bootstrap-timepicker.modal {
	top: 30%;
	margin-top: 0;
	width: 200px;
	margin-left: -100px
}

.bootstrap-timepicker.modal .modal-content {
	padding: 0
}

.bootstrap-timepicker table {
	width: 100%;
	margin: 0
}

.bootstrap-timepicker table td {
	text-align: center;
	height: 30px;
	margin: 0;
	padding: 2px
}

.bootstrap-timepicker table td span {
	width: 100%
}

.bootstrap-timepicker table td a {
	border: 1px transparent solid;
	width: 3em;
	display: inline-block;
	margin: 0;
	padding: 8px 0;
	outline: 0;
	color: #333
}

.bootstrap-timepicker table td a:hover {
	text-decoration: none;
	background-color: #eee;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-color: #ddd
}

.bootstrap-timepicker table td a i {
	margin-top: 2px
}

.bootstrap-timepicker table td input {
	width: 25px;
	margin: 0;
	text-align: center
}

.bootstrap-timepicker-component .add-on {
	cursor: pointer
}

.bootstrap-timepicker-component .add-on i {
	display: block;
	width: 16px;
	height: 16px
}

.checkbox-custom input[type=checkbox] {
	display: none
}

.checkbox-custom i {
	background-image: url("../../../images/form.png");
	background-position: 0 3px;
	background-repeat: no-repeat;
	margin-left: -20px;
	margin-right: 4px;
	padding-left: 16px;
	width: 16px;
	height: 16px
}

.checkbox-custom i.checked {
	background-position: -48px 3px
}

.checkbox-custom i.disabled {
	background-position: -64px 3px
}

.checkbox-custom i.disabled.checked {
	background-position: -80px 3px
}

.checkbox-custom:hover i {
	background-position: -16px 3px
}

.checkbox-custom:hover i.checked {
	background-position: -32px 3px
}

.checkbox-custom:hover i.disabled {
	background-position: -64px 3px
}

.checkbox-custom:hover i.disabled.checked {
	background-position: -80px 3px
}

.combobox a {
	font-size: 13px
}

.radio-custom input[type=radio] {
	display: none
}

.radio-custom i {
	background-image: url("../../../images/form.png");
	background-position: 0 -23px;
	background-repeat: no-repeat;
	margin-left: -20px;
	margin-right: 4px;
	padding-left: 16px;
	width: 16px;
	height: 16px
}

.radio-custom i.checked {
	background-position: -48px -23px
}

.radio-custom i.disabled {
	background-position: -64px -23px
}

.radio-custom i.disabled.checked {
	background-position: -80px -23px
}

.radio-custom:hover i {
	background-position: -16px -23px
}

.radio-custom:hover i.checked {
	background-position: -32px -23px
}

.radio-custom:hover i.disabled {
	background-position: -64px -23px
}

.radio-custom:hover i.disabled.checked {
	background-position: -80px -23px
}

.select .dropdown-label {
	padding: 0 10px 0 0;
	margin: 0;
	display: inline-block;
	text-align: left;
	font-weight: normal;
	color: #333
}

#selectTextSize {
	display: inline-block;
	position: absolute;
	visibility: hidden;
	top: 0
}

.spinner input {
	width: 43px;
	float: left
}

.spinner .btn {
	position: relative;
	width: 20px;
	height: 14px;
	padding-top: 0;
	padding-right: 9px;
	padding-left: 9px
}

.spinner .btn.disabled {
	cursor: not-allowed
}

.spinner .spinner-buttons {
	position: relative;
	float: left;
	height: 28px;
	width: 20px;
	left: -22px
}

.spinner .spinner-up {
	padding: 0 0 4px 1px;
	top: 2px
}

.spinner .spinner-up i {
	position: relative;
	font-size: 11px;
	top: -5px;
	left: -1px
}

.spinner .spinner-down {
	padding: 0 0 4px 1px;
	top: 2px;
	height: 13px
}

.spinner .spinner-down i {
	position: relative;
	font-size: 11px;
	top: -6px;
	left: -1px
}

.datagrid thead {
	background-color: #f9f9f9
}

.datagrid thead .datagrid-header-title {
	float: left;
	line-height: 28px;
	font-weight: normal;
	font-size: 14px;
	margin-right: 10px
}

.datagrid thead .datagrid-header-left {
	float: left
}

.datagrid thead .datagrid-header-right {
	float: right
}

.datagrid thead .sorted {
	background: #f1f1f1
}

.datagrid thead .sorted i {
	float: right;
	line-height: 12px;
	margin-top: 3px
}

.datagrid thead .sortable {
	cursor: pointer
}

.datagrid thead .sortable:hover {
	background: #f1f1f1
}

.datagrid tfoot {
	background-color: #f9f9f9
}

.datagrid tfoot .datagrid-footer-left {
	float: left
}

.datagrid tfoot .datagrid-footer-left .grid-controls {
	margin-top: 7px;
	white-space: nowrap
}

.datagrid tfoot .datagrid-footer-left .grid-controls select {
	margin: 0 5px 1px;
	width: 60px
}

.datagrid tfoot .datagrid-footer-left .grid-controls span {
	font-weight: normal
}

.datagrid tfoot .datagrid-footer-right {
	float: right
}

.datagrid tfoot .datagrid-footer-right .grid-pager>span {
	font-weight: normal;
	position: relative;
	top: 8px
}

.datagrid tfoot .datagrid-footer-right .grid-pager .dropdown-menu {
	min-width: 50px
}

.datagrid tfoot .datagrid-footer-right .grid-pager .combobox {
	display: inline-block;
	position: relative;
	top: -2px;
	width: 80px
}

.datagrid tfoot .datagrid-footer-right .grid-pager .combobox>button,.datagrid tfoot .datagrid-footer-right .grid-pager .combobox>input
	{
	display: inline-block;
	width: 34px
}

.datagrid tfoot .datagrid-footer-right .grid-pager>button {
	position: relative;
	top: 7px
}

.datagrid tfoot .datagrid-footer-right select {
	display: none
}

.datagrid-stretch-header {
	border-bottom: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomright: 0;
	border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-left-radius: 0;
	margin-bottom: 0
}

.datagrid-stretch-header thead:last-child tr:last-child>th:first-child,.datagrid-stretch-header thead:last-child tr:last-child>th:last-child
	{
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomright: 0;
	border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-left-radius: 0
}

.datagrid-stretch-wrapper {
	border: 1px solid #ddd;
	overflow: auto
}

.datagrid-stretch-wrapper .datagrid {
	border: 0;
	border-collapse: collapse;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin-bottom: 0
}

.datagrid-stretch-wrapper .datagrid td,.datagrid-stretch-wrapper .datagrid th
	{
	border-bottom: 1px solid #ddd
}

.datagrid-stretch-wrapper .datagrid td:first-child,.datagrid-stretch-wrapper .datagrid th:first-child
	{
	border-left: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0
}

.datagrid-stretch-footer {
	border-top: 0;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topright: 0;
	border-top-right-radius: 0;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
	border-top-left-radius: 0
}

.datagrid-stretch-footer th {
	border-top: 0
}

.wizard {
	*zoom: 1;
	border: 1px solid #ddd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #f9f9f9
}

.wizard:before,.wizard:after {
	display: table;
	content: "";
	line-height: 0
}

.wizard:after {
	clear: both
}

.wizard ul {
	list-style: none outside none;
	padding: 0;
	margin: 0
}

.wizard ul li {
	float: left;
	margin: 0;
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	position: relative;
	color: #999;
	cursor: default;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}

.wizard ul li.complete {
	background: #f3f4f5;
	color: #778e19
}

.wizard ul li.complete:hover {
	background: #eee;
	cursor: pointer
}

.wizard ul li.complete .badge {
	background-color: #9bb921
}

.wizard ul li.active {
	background: #93ca47;
	color: #fff;
	height: 42px;
	line-height: 42px;
	margin: -1px;
	z-index: 11 !important;
	text-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0
}

.wizard ul li.active .badge {
	color: #93ca47;
	text-shadow: none;
	background-color: #fff
}

.wizard ul li .badge {
	margin-right: 8px
}

.wizard ul li:nth-child(1) {
	z-index: 10
}

.wizard ul li:nth-child(2) {
	z-index: 9
}

.wizard ul li:nth-child(3) {
	z-index: 8
}

.wizard ul li:nth-child(4) {
	z-index: 7
}

.wizard ul li:nth-child(5) {
	z-index: 6
}

.wizard ul li:nth-child(6) {
	z-index: 5
}

.wizard ul li:nth-child(7) {
	z-index: 4
}

.wizard ul li:nth-child(8) {
	z-index: 3
}

.wizard ul li:nth-child(9) {
	z-index: 2
}

.wizard ul li:nth-child(10) {
	z-index: 1
}

.wizard .actions {
	line-height: 38px;
	float: right;
	padding-right: 15px;
	vertical-align: middle
}

.wizard .actions a {
	line-height: 45px;
	font-size: 12px;
	margin-right: 8px
}

.wizard .actions .btn-prev i {
	margin-right: 5px
}

.wizard .actions .btn-next i {
	margin-left: 5px
}

.step-content .step-pane {
	display: none
}

.step-content .active {
	display: block
}

.easyPieChart {
	position: relative;
	text-align: center
}

.easyPieChart canvas {
	position: absolute;
	top: 0;
	left: 0
}

.btn-primary, .btn-primary:focus {
	color: #fff;
	-webkit-text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
	-moz-text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
	-o-text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
	text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
	-webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 inset;
	-moz-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 inset;
	box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 inset;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #93ca47;
	background-image: -moz-linear-gradient(top, #5c970b, #93ca47);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5c970b),
		to(#93ca47) );
	background-image: -webkit-linear-gradient(top, #5c970b, #93ca47);
	background-image: -o-linear-gradient(top, #5c970b, #93ca47);
	background-image: linear-gradient(to bottom, #5c970b, #93ca47);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5c970b',
		endColorstr='#ff93ca47', GradientType=0 );
	border-color: #93ca47 #93ca47 #a33b20;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #93ca47;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=  false );
	border-color: #314f08
}

.btn-primary .caret {
	border-top-color: #fff
}

.btn-primary:hover,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]
	{
	color: #fff;
	background-color: #93ca47;
	*background-color: #cd4a28
}

.btn-primary.disabled,.btn-primary[disabled] {
	background: #93ca47;
	border-color: #a33b20
}

.btn-primary.disabled:active,.btn-primary[disabled]:active,.btn-primary.disabled.active,.btn-primary[disabled].active
	{
	background: #93ca47;
}

.open .btn-primary.dropdown-toggle {
	background: #d75433 !important
}

.progress .bar {
	border-color: #c45132;
	background-color: #f77152;
	background-image: -moz-linear-gradient(top, #f8805d, #f55b41);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8805d),
		to(#f55b41) );
	background-image: -webkit-linear-gradient(top, #f8805d, #f55b41);
	background-image: -o-linear-gradient(top, #f8805d, #f55b41);
	background-image: linear-gradient(to bottom, #f8805d, #f55b41);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8805d',
		endColorstr='#fff55b41', GradientType=0 );
	*background-color: #f76d45;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=  false )
}

.progress.progress-striped .bar {
	background-color: #f65e43;
	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255,
		255, 0.15) ), color-stop(0.25, transparent),
		color-stop(0.5, transparent),
		color-stop(0.5, rgba(255, 255, 255, 0.15) ),
		color-stop(0.75, rgba(255, 255, 255, 0.15) ),
		color-stop(0.75, transparent), to(transparent) );
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent );
	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent );
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent );
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%,
		transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent )
}