<table id="surveyList_datatables" cellpadding="0" cellspacing="0"
	border="0"
	class="display table table-striped table-bordered table-hover"
	width="100%">
	<thead>
		<tr>
            <th style="border-bottom: none;padding: 5px;">
                <div>Tanggal</div>
            </th>
			<th style="border-bottom: none;padding: 5px;width: 75%;">
				<div>Feedback</div>
			</th>
		</tr>
	</thead>
</table>

<g:javascript>
var surveyListTable;
var reloadsurveyListTable;
$(function(){
	surveyListTable = $('#surveyList_datatables').dataTable({
		"sScrollX": "100%",
		"bScrollCollapse": true,
		"bAutoWidth" : false,
		"bPaginate" : true,
		"sInfo" : "",
		"sInfoEmpty" : "",
		"sDom": "<'row-fluid'r>t<'row-fluid'<'span12'i>><'row-fluid'<'span12'p>>",
		bFilter: true,
		"bStateSave": false,
		'sPaginationType': 'bootstrap',
		"fnInitComplete": function () {
			this.fnAdjustColumnSizing(true);
		   },
		   "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
			return nRow;
		   },
		"bSort": true,
		"bProcessing": true,
		"bServerSide": true,
		"sServerMethod": "POST",
		"iDisplayLength" : maxLineDisplay, //maxLineDisplay is set in menu/maxLineDisplay.gsp
		"sAjaxSource": "${g.createLink(action: "surveyListDatatablesList")}",
		"aoColumns": [

{
	"sName": "tanggal",
	"mDataProp": "tanggal",
	"aTargets": [0],
	"bSortable": false,
	"sWidth":"100px",
	"bVisible": true
},
{
	"sName": "feedback",
	"mDataProp": "feedback",
	"aTargets": [1],
	"bSortable": false,
	"sWidth":"100px",
	"bVisible": true
}],
        "fnServerData": function ( sSource, aoData, fnCallback, oSettings ) {
        				aoData.push(
									{"name": 'historyCustomerId', "value": ${(historyCustomerInstance?.id == null ? -1 : historyCustomerInstance?.id)}}
						);
						$.ajax({ "dataType": 'json',
							"type": "POST",
							"url": sSource,
							"data": aoData ,
							"success": function (json) {
								fnCallback(json);
							   },
							"complete": function () {
							   }
						});
		}			
	});
});
</g:javascript>


			
