<%@ page import="com.kombos.customerprofile.HistoryCustomer" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<title>Appointment Customer</title>
	</head>
	<body>
		<div id="edit-appointmentCustomer" class="content scaffold-edit" role="main">
			<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
			</g:if>
			<g:hasErrors bean="${historyCustomerInstance}">
			<ul class="errors" role="alert">
				<g:eachError bean="${historyCustomerInstance}" var="error">
				<li <g:if test="${error in org.springframework.validation.FieldError}">data-field-id="${error.field}"</g:if>><g:message error="${error}"/></li>
				</g:eachError>
			</ul>
			</g:hasErrors>
			%{--<g:form method="post" >--}%
            %{--onSuccess="reloadHistoryCustomerTable();" --}%
			<g:formRemote class="form-horizontal" name="edit" on404="alert('not found!');" update="appointmentCustomer-form"
				url="[controller: 'appointmentCustomer', action:'update']">
				<g:hiddenField name="id" value="${historyCustomerInstance?.id}" />
				<g:hiddenField name="version" value="${historyCustomerInstance?.version}" />
				<fieldset class="form">
					%{--<g:render template="formAppointmentCustomer"/>--}%
                    <g:render template="formAppCustomer"/>
				</fieldset>
				<fieldset class="buttons controls">
					<a class="btn cancel" href="javascript:void(0);"
                       onclick="expandTableLayout();"><g:message
                            code="default.button.cancel.label" default="Cancel" /></a>
					<g:submitButton class="btn btn-primary create" name="save" value="${message(code: 'default.button.save.label', default: 'Save')}"
                            onclick="return confirm('${message(code: 'default.button.save.confirm.message', default: 'Anda yakin data akan disimpan?')}');" />
				</fieldset>
			</g:formRemote>
			%{--</g:form>--}%
		</div>
	</body>
</html>
