<%@ page import="com.kombos.customerprofile.HistoryCustomer" %>
<!DOCTYPE html>
<html>
<head>
    <meta name="layout" content="main">
    <g:set var="entityName" value="${message(code: 'historyCustomer.label', default: 'HistoryCustomer')}"/>
    <title><g:message code="default.edit.label" args="[entityName]"/></title>
</head>

<body>

<div id="main_tabs">
    %{--<ul>--}%
        %{--<li><a href="#main_tabs-1"><g:message code="default.create.label" args="[entityName]"/></a></li>--}%
    %{--</ul>--}%

    <div id="main_tabs-1">

        <div id="edit-historyCustomer" class="content scaffold-edit" role="main">
            <legend><g:message code="default.edit.label" args="[entityName]"/></legend>
            <g:if test="${flash.message}">
                <div class="message" role="status">${flash.message}</div>
            </g:if>
            <g:hasErrors bean="${historyCustomerInstance}">
                <ul class="errors" role="alert">
                    <g:eachError bean="${historyCustomerInstance}" var="error">
                        <li <g:if test="${error in org.springframework.validation.FieldError}">data-field-id="${error.field}"</g:if>><g:message
                                error="${error}"/></li>
                    </g:eachError>
                </ul>
            </g:hasErrors>
        %{--<g:form method="post"  enctype="multipart/form-data">--}%
            <g:formRemote class="form-horizontal" name="edit" on404="alert('not found!');"
                          onLoading="jQuery('#spinner').fadeIn(1);"
                          onComplete="setTimeout(function(){jQuery('#spinner').fadeOut();},1000);"
                          onSuccess="reloadHistoryCustomerTable();" update="historyCustomer-form"
                          url="[controller: 'historyCustomer', action: 'update']">
                <g:hiddenField name="id" value="${(historyCustomerInstance?.id == null ? -1 : historyCustomerInstance?.id)}"/>
                <g:hiddenField name="version" value="${historyCustomerInstance?.version}"/>
                <fieldset class="form">
                    <g:render template="form"/>
                </fieldset>
                <fieldset class="buttons controls">
                    <g:actionSubmit class="btn btn-primary save" action="update" value="${message(code: 'default.button.update.label', default: 'Update')}" />
                    <a class="btn cancel" href="javascript:void(0);"
                       onclick="expandTableLayout();"><g:message
                            code="default.button.cancel.label" default="Cancel" /></a>
                </fieldset>
            </g:formRemote>
        %{--</g:form>--}%
            <br>
            <br>
            <br>
        </div>

    </div>
</div>

<script>
    $(function () {
        $("#main_tabs").tabs();
    });
</script>
</body>
</html>
