<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="layout" content="main" />
    <r:require modules="core, login, base64" />
    <title>Login</title>
    <style type="text/css" media="screen">
			#login-form {				
				border: .2em solid #fff;
				margin: 2em 2em 1em;
				padding: 1em;
				-moz-box-shadow: 0px 0px 1.25em #ccc;
				-webkit-box-shadow: 0px 0px 1.25em #ccc;
				box-shadow: 0px 0px 1.25em #ccc;
				-moz-border-radius: 0.6em;
				-webkit-border-radius: 0.6em;
				border-radius: 0.6em;
				float:right; 
				margin-right:100px;
				margin-top:30px;
				background: #FFF url('${resource(dir: 'images', file: 'secrecy.png')}') no-repeat left center;
			}

			.control-group {
   				margin-left: 30px;
			}

            .text-info-form{
                font-size: 10px;
                text-align: justify;
            }
		</style>
</head>
<body>
<g:javascript>
	function doSubmit(){
		document.login.password.value = Base64.encode(document.login.password.value);
		return false;
	}
	$('#left-button').click(function(event) {
      event.preventDefault();
      $('#login-title').animate({
        marginLeft: "-=200px"
      }, "fast");
   	});
   	$('#right-button').click(function(event) {
      event.preventDefault();
      $('#login-title').animate({
        marginLeft: "-=200px"
      }, "fast");
   	});
</g:javascript>
<%--<div class="row">--%>
<%--<div id="login-form" class="box span6">--%>
<%--    <div id="info-form" class="">--%>
<%--        <img src="${resource(dir: 'images', file: 'loginheader.png')}" style=" display: block;   margin-left: auto;   margin-right: auto;"/>--%>
<%--         --%>
<%--        <g:form action="signIn" name="login" class="form-horizontal" onsubmit="doSubmit();">--%>
<%--            <input type="hidden" name="targetUri" value="${targetUri}" />--%>
<%--            <legend>Login &nbsp;&nbsp;&nbsp;</legend>--%>
<%--            <div class="control-group">--%>
<%--                <label class="control-label" for="username"><g:message code="app.login.username.label" default="Username"/></label>--%>
<%--                <div class="controls">--%>
<%--                    <input id="username" type="text" name="username" value="${username}" />--%>
<%--                </div>--%>
<%--            </div>--%>
<%--            <div class="control-group">--%>
<%--                <label class="control-label" for="password"><g:message code="app.login.password.label" default="Password"/></label>--%>
<%--                <div class="controls">--%>
<%--                    <input id="password" type="password" name="password" value="" />--%>
<%--                </div>--%>
<%--            </div>--%>
<%--            <fieldset class="buttons controls" style="padding-left: 0px;margin-left: 80px;">--%>
<%--            	<span class="message text-error span2">${flash.message}</span>--%>
<%--                <input type="submit" class="btn btn-primary" value="<g:message code="app.login.button.label" default="Login"/>" />--%>
<%--            </fieldset>--%>
<%--        </g:form>--%>
<%--        <img src="${resource(dir: 'images', file: 'loginfooter.png')}" style=" display: block;   margin-left: auto;   margin-right: auto;"/>--%>
<%--        <label class="text-info-form">--%>
<%--        You are authorized to use this system, and those to which it grants access,for approved business purposes only.--%>
<%--        Use for any other purpose is prohibited. All transactional records, e-mail, software and other data generated by or residing upon this system, or the systems to which it grants access, are the property of the Company and may be used by the Company for any purpose.--%>
<%--        Authorized and unauthorized activities may be monitored.--%>
<%--        </label>--%>
<%--    </div>--%>
<%--</div>--%>
<%--</div>--%>
<div class="login-wrapper">
		<div>
			<div id="login-title" class="text-center">
				<h2 class="fadeInUp animation-delay8" style="font-weight:bold">
					<span class="text-success ba-green">Dealer Management System</span> 
<%--					<span style="color:#ccc; text-shadow:0 1px #fff">Application</span>--%>
				</h2>
			</div>
			
			
		</div>
		<div class="login-widget animation-delay1">	
			<div class="box">
				<div class="box-header">
					<div class="pull-left">
						<i class="icon-lock"></i> <span class="control-label">Login</span>
					</div>
				</div>
				<div class="box-content">
					<g:form action="signIn" name="login" class="form-login" onsubmit="doSubmit();">
						<input type="hidden" name="targetUri" value="${targetUri}" />
						<div class="form-group wrapper">
							<label class="control-label">Username</label>
							<input type="text" name="username" value="${username}" placeholder="&#xf007;&nbsp;Username" class="form-control input-sm" />
						</div>
						<div class="form-group wrapper">
							<label class="control-label">Password</label>
							<input type="password" name="password" value="" placeholder="&#xf084;&nbsp;Password" class="form-control input-sm">
						</div>
						<div class="form-group">
							<label class="label-checkbox inline">
								<g:checkBox name="rememberMe" value="${rememberMe}" class="regular-checkbox chk-delete" style="margin-top: 0px;"/>
								<span class="custom-checkbox info">Remember me</span>
							</label>
									
						</div>
		
						<div class="seperator"></div>
						<div class="form-group">
							<g:if test="${flash.message}">
							    <div class="message">${flash.message}</div><i class="fa fa-sign-in"></i>
							</g:if>
						</div>
						<hr/>
						<div class="form-group">	
<%--						<a class="btn btn-success btn-sm bounceIn animation-delay5 login-link pull-right" href="index.html"><i class="fa fa-sign-in"></i> Sign in</a>--%>
						<button type="submit" class="btn btn-primary btn-sm login-link pull-right">
							<i class="icon-sign-in"></i> <g:message code="app.login.button.label" default="Login"/>
						</button>
						</div>
						<div class="form-group">
							&nbsp;
							<g:if test="${flash.message}">
							    <div class="message">${flash.message}</div>
							</g:if>
						</div>
					</g:form>
				</div>
			</div><!-- /panel -->
		</div><!-- /login-widget -->
	</div><!-- /login-wrapper -->
</body>
</html>
