
<%@ page import="com.kombos.parts.HargaJualNonSPLDPerPart" %>

<r:require modules="baseapplayout,autoNumeric" />
<g:render template="../menu/maxLineDisplay"/>

<table id="hargaJualNonSPLDPerPart_datatables" cellpadding="0" cellspacing="0"
	border="0"
	class="display table table-striped table-bordered table-hover table-selectable"
	width="100%">
	<thead>
		<tr>

			<th style="border-bottom: none;padding: 5px;">
				<div><g:message code="hargaJualNonSPLDPerPart.t160TMT.label" default="Tanggal Berlaku" /></div>
			</th>


			<th style="border-bottom: none;padding: 5px;">
				<div><g:message code="hargaJualNonSPLDPerPart.goods.label" default="Kode Parts" /></div>
			</th>

            <th style="border-bottom: none;padding: 5px;">
                <div><g:message code="hargaJualNonSPLDPerPart.goods.label" default="Nama Parts" /></div>
            </th>


			<th style="border-bottom: none;padding: 5px;">
				<div><g:message code="hargaJualNonSPLDPerPart.t160PersenKenaikanHarga.label" default="Persen Kenaikan Harga (%)" /></div>
			</th>


		</tr>
		<tr>
		

			<th style="border-top: none;padding: 5px;">
				<div id="filter_t160TMT" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;" >
					<input type="hidden" name="search_t160TMT" value="date.struct">
					<input type="hidden" name="search_t160TMT_day" id="search_t160TMT_day" value="">
					<input type="hidden" name="search_t160TMT_month" id="search_t160TMT_month" value="">
					<input type="hidden" name="search_t160TMT_year" id="search_t160TMT_year" value="">
					<input type="text" data-date-format="dd/mm/yyyy" name="search_t160TMT_dp" value="" id="search_t160TMT" class="search_init">
				</div>
			</th>

            <th style="border-top: none;padding: 5px;">
                <div id="filter_kodeGoods" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;">
                    <input type="text" name="search_kodeGoods" id="search_kodeGoods" class="search_init" />
                </div>
            </th>
	
			<th style="border-top: none;padding: 5px;">
				<div id="filter_goods" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;">
					<input type="text" name="search_goods" class="search_init" />
				</div>
			</th>
	
			<th style="border-top: none;padding: 5px;">
				<div id="filter_t160PersenKenaikanHarga" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;">
					<input type="text" name="search_t160PersenKenaikanHarga" class="search_init persen" />
				</div>
			</th>
            <g:javascript>
                $('.persen').autoNumeric('init',{
                    vMin:'0',
                    vMax:'100',
                    aSep:'',
                    mDec: '2'
                });

            </g:javascript>


		</tr>
	</thead>
</table>

<g:javascript>
var hargaJualNonSPLDPerPartTable;
var reloadHargaJualNonSPLDPerPartTable;
$(function(){

	var recordshargaJualNonSPLDPerPartperpage = [];//new Array();
    var anHargaJualNonSPLDPerPartSelected;
    var jmlRecHargaJualNonSPLDPerPartPerPage=0;
    var id;

	reloadHargaJualNonSPLDPerPartTable = function() {
		hargaJualNonSPLDPerPartTable.fnDraw();
	}

	
	$('#search_t160TMT').datepicker().on('changeDate', function(ev) {
			var newDate = new Date(ev.date);
			$('#search_t160TMT_day').val(newDate.getDate());
			$('#search_t160TMT_month').val(newDate.getMonth()+1);
			$('#search_t160TMT_year').val(newDate.getFullYear());
			$(this).datepicker('hide');
			hargaJualNonSPLDPerPartTable.fnDraw();	
	});

	


$("th div input").bind('keypress', function(e) {
		var code = (e.keyCode ? e.keyCode : e.which);
		if(code == 13) { 
			e.stopPropagation();
		 	hargaJualNonSPLDPerPartTable.fnDraw();
		}
	});
	$("th div input").click(function (e) {
	 	e.stopPropagation();
	});

	hargaJualNonSPLDPerPartTable = $('#hargaJualNonSPLDPerPart_datatables').dataTable({
		"sScrollX": "100%",
		"bScrollCollapse": true,
		"bAutoWidth" : false,
		"bPaginate" : true,
		"sInfo" : "",
		"sInfoEmpty" : "",
		"sDom": "<'row-fluid'r>t<'row-fluid'<'span12'i>><'row-fluid'<'span12'p>>",
		bFilter: true,
		"bStateSave": false,
		'sPaginationType': 'bootstrap',
			"fnDrawCallback": function () {
            var rsHargaJualNonSPLDPerPart = $("#hargaJualNonSPLDPerPart_datatables tbody .row-select");
            var jmlHargaJualNonSPLDPerPartCek = 0;
            var nRow;
            var idRec;
            rsHargaJualNonSPLDPerPart.each(function() {
                idRec = $(this).next("input:hidden").val();
                nRow = $(this).parent().parent();//.addClass('row_selected');
                if(recordshargaJualNonSPLDPerPartperpage[idRec]=="1"){
                    jmlHargaJualNonSPLDPerPartCek = jmlHargaJualNonSPLDPerPartCek + 1;
                    $(this).attr('checked', true);
                    nRow.addClass('row_selected');
                } else if(recordshargaJualNonSPLDPerPartperpage[idRec]=="0"){
                    $(this).attr('checked', false);
                    nRow.removeClass('row_selected');
                }

            });
            jmlRecHargaJualNonSPLDPerPartPerPage = rsHargaJualNonSPLDPerPart.length;
            if(jmlHargaJualNonSPLDPerPartCek==jmlRecHargaJualNonSPLDPerPartPerPage && jmlRecHargaJualNonSPLDPerPartPerPage>0){
                $('.select-all').attr('checked', true);
            } else {
                $('.select-all').attr('checked', false);
            }
            //alert("apakah ini : "+rs.length);
        },

		"fnInitComplete": function () {
			this.fnAdjustColumnSizing(true);
		   },
		   "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
			return nRow;
		   },
		"bSort": true,
		"bProcessing": true,
		"bServerSide": true,
		"sServerMethod": "POST",
		"iDisplayLength" : maxLineDisplay, //maxLineDisplay is set in menu/maxLineDisplay.gsp
		"sAjaxSource": "${g.createLink(action: "datatablesList")}",
		"aoColumns": [

{
	"sName": "t160TMT",
	"mDataProp": "t160TMT",
	"aTargets": [0],
	"mRender": function ( data, type, row ) {
		return '<input type="checkbox" class="pull-left row-select" aria-label="Row '+row['id']+'" title="Select this"><input type="hidden" value="'+row['id']+'">&nbsp;&nbsp;<a href="#" onclick="show('+row['id']+');">'+data+'</a><a class="pull-right cell-action" href="javascript:void(0);" onclick="edit('+row['id']+');">&nbsp;&nbsp;<i class="icon-pencil"></i>&nbsp;&nbsp;</a>';
	},
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"300px",
	"bVisible": true
}

,
{
	"sName": "kodeGoods",
	"mDataProp": "kodeGoods",
	"aTargets": [1],
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"200px",
	"bVisible": true
}
,

{
	"sName": "namaGoods",
	"mDataProp": "namaGoods",
	"aTargets": [1],
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"200px",
	"bVisible": true
}

,

{
	"sName": "t160PersenKenaikanHarga",
	"mDataProp": "t160PersenKenaikanHarga",
	"aTargets": [2],
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"200px",
	"bVisible": true
}

],
        "fnServerData": function ( sSource, aoData, fnCallback, oSettings ) {

						var t160TMT = $('#search_t160TMT').val();
						var t160TMTDay = $('#search_t160TMT_day').val();
						var t160TMTMonth = $('#search_t160TMT_month').val();
						var t160TMTYear = $('#search_t160TMT_year').val();
						
						if(t160TMT){
							aoData.push(
									{"name": 'sCriteria_t160TMT', "value": "date.struct"},
									{"name": 'sCriteria_t160TMT_dp', "value": t160TMT},
									{"name": 'sCriteria_t160TMT_day', "value": t160TMTDay},
									{"name": 'sCriteria_t160TMT_month', "value": t160TMTMonth},
									{"name": 'sCriteria_t160TMT_year', "value": t160TMTYear}
							);
						}
	
						var goods = $('#filter_goods input').val();
						if(goods){
							aoData.push(
									{"name": 'sCriteria_goods', "value": goods}
							);
						}

						var kodeGoods = $('#search_kodeGoods').val();
						if(kodeGoods){
							aoData.push(
									{"name": 'sCriteria_kodeGoods', "value": kodeGoods}
							);
						}
	
						var t160PersenKenaikanHarga = $('#filter_t160PersenKenaikanHarga input').val();
						if(t160PersenKenaikanHarga){
							aoData.push(
									{"name": 'sCriteria_t160PersenKenaikanHarga', "value": t160PersenKenaikanHarga}
							);
						}
	
						var createdBy = $('#filter_createdBy input').val();
						if(createdBy){
							aoData.push(
									{"name": 'sCriteria_createdBy', "value": createdBy}
							);
						}
	
						var updatedBy = $('#filter_updatedBy input').val();
						if(updatedBy){
							aoData.push(
									{"name": 'sCriteria_updatedBy', "value": updatedBy}
							);
						}
	
						var lastUpdProcess = $('#filter_lastUpdProcess input').val();
						if(lastUpdProcess){
							aoData.push(
									{"name": 'sCriteria_lastUpdProcess', "value": lastUpdProcess}
							);
						}

						$.ajax({ "dataType": 'json',
							"type": "POST",
							"url": sSource,
							"data": aoData ,
							"success": function (json) {
								fnCallback(json);
							   },
							"complete": function () {
							   }
						});
		}			
	});

	$('.select-all').click(function(e) {

        $("#hargaJualNonSPLDPerPart_datatables tbody .row-select").each(function() {
            //alert(this.checked);
            //var id = $(this).next("input:hidden").val();
            if(this.checked){
                recordshargaJualNonSPLDPerPartperpage[$(this).next("input:hidden").val()] = "1";
            } else {
                recordshargaJualNonSPLDPerPartperpage[$(this).next("input:hidden").val()] = "0";
            }
        });

    });

	$('#hargaJualNonSPLDPerPart_datatables tbody tr').live('click', function () {

        id = $(this).find('.row-select').next("input:hidden").val();
        if($(this).find('.row-select').is(":checked")){
            recordshargaJualNonSPLDPerPartperpage[id] = "1";
            $(this).find('.row-select').parent().parent().addClass('row_selected');
            anHargaJualNonSPLDPerPartSelected = hargaJualNonSPLDPerPartTable.$('tr.row_selected');
            if(jmlRecHargaJualNonSPLDPerPartPerPage == anHargaJualNonSPLDPerPartSelected.length){
                $('.select-all').attr('checked', true);
            }
        } else {
            recordshargaJualNonSPLDPerPartperpage[id] = "0";
            $('.select-all').attr('checked', false);
            $(this).find('.row-select').parent().parent().removeClass('row_selected');
        }
    });

});
</g:javascript>


			
