
<%@ page import="com.kombos.parts.PickingSlipDetail" %>
<!DOCTYPE html>
<html>
<head>
<meta name="layout" content="main">
<r:require modules="bootstrapeditable" />
<g:set var="entityName"
	value="${message(code: 'request.label', default: 'Input Picking Slip')}" />
<title><g:message code="default.show.label" args="[entityName]" /></title>
<g:javascript disposition="head">
var deleteRequest;

$(function(){ 
	deleteRequest=function(id){
		$.ajax({type:'POST', url:'${request.contextPath}/pickingSlipInput/delete/',
			data: { id: id },
   			success:function(data,textStatus){
   				reloadRequestTable();
   				expandTableLayout();
   			},
   			error:function(XMLHttpRequest,textStatus,errorThrown){},
   			complete:function(XMLHttpRequest,textStatus){
   				$('#spinner').fadeOut();
   			}
   		});
	}
});

</g:javascript>
</head>
<body>
	<div id="show-pickingSlip" role="main">
		<legend>
			<g:message code="default.show.label" args="[entityName]" />
		</legend>
		<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
		</g:if>
		<table id="pickingSlip"
			class="table table-bordered table-hover">
			<tbody>
		    <g:if test="${pickingSlipInstance?.goods}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="goods-label" class="property-label"><g:message
					code="request.goods.label" default="Nama Parts" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="goods-label">
						%{--<ba:editableValue
								bean="${pickingSlipInstance}" field="goods"
								url="${request.contextPath}/Request/updatefield" type="text"
								title="Enter goods" onsuccess="reloadRequestTable();" />--}%
							%{----}%
								%{--<g:link controller="goods" action="show" id="${pickingSlipInstance?.goods?.id}">${pickingSlipInstance?.goods?.encodeAsHTML()}</g:link>--}%
                        <g:fieldValue bean="${pickingSlipInstance?.goods}" field="m111Nama"/>
						</span></td>
					
				</tr>
				</g:if>
            <g:if test="${pickingSlipInstance?.goods?.satuan}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="picking-label" class="property-label"><g:message
                                code="request.goods.label" default="Satuan" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="goods-label">
                        %{--<ba:editableValue
                                bean="${pickingSlipInstance}" field="goods"
                                url="${request.contextPath}/Request/updatefield" type="text"
                                title="Enter goods" onsuccess="reloadRequestTable();" />--}%


                        <g:fieldValue bean="${pickingSlipInstance?.goods?.satuan}" field="m118Satuan1"/>
                    </span></td>

                </tr>
            </g:if>
            <g:if test="${pickingSlipInstance?.t142Qty1}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="t172Qty1Return-label" class="property-label"><g:message
                                code="request.t142Qty1.label" default="Qty" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="t142Qty1-label">
                        %{--<ba:editableValue
                                bean="${pickingSlipInstance}" field="updatedBy"
                                url="${request.contextPath}/Request/updatefield" type="text"
                                title="Enter updatedBy" onsuccess="reloadRequestTable();" />--}%

                        <g:fieldValue bean="${pickingSlipInstance}" field="t142Qty1"/>

                    </span></td>

                </tr>
            </g:if>
				<g:if test="${pickingSlipInstance?.createdBy}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="createdBy-label" class="property-label"><g:message
					code="request.createdBy.label" default="Created By" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="createdBy-label">
						%{--<ba:editableValue
								bean="${pickingSlipInstance}" field="createdBy"
								url="${request.contextPath}/Request/updatefield" type="text"
								title="Enter createdBy" onsuccess="reloadRequestTable();" />--}%
							
								<g:fieldValue bean="${pickingSlipInstance}" field="createdBy"/>
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${pickingSlipInstance?.updatedBy}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="updatedBy-label" class="property-label"><g:message
					code="request.updatedBy.label" default="Updated By" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="updatedBy-label">
						%{--<ba:editableValue
								bean="${pickingSlipInstance}" field="updatedBy"
								url="${request.contextPath}/Request/updatefield" type="text"
								title="Enter updatedBy" onsuccess="reloadRequestTable();" />--}%
							
								<g:fieldValue bean="${pickingSlipInstance}" field="updatedBy"/>
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${pickingSlipInstance?.lastUpdProcess}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="lastUpdProcess-label" class="property-label"><g:message
					code="request.lastUpdProcess.label" default="Last Upd Process" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="lastUpdProcess-label">
						%{--<ba:editableValue
								bean="${pickingSlipInstance}" field="lastUpdProcess"
								url="${request.contextPath}/Request/updatefield" type="text"
								title="Enter lastUpdProcess" onsuccess="reloadRequestTable();" />--}%
							
								<g:fieldValue bean="${pickingSlipInstance}" field="lastUpdProcess"/>
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${pickingSlipInstance?.dateCreated}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="dateCreated-label" class="property-label"><g:message
					code="request.dateCreated.label" default="Date Created" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="dateCreated-label">
						%{--<ba:editableValue
								bean="${pickingSlipInstance}" field="dateCreated"
								url="${request.contextPath}/Request/updatefield" type="text"
								title="Enter dateCreated" onsuccess="reloadRequestTable();" />--}%
							
								<g:formatDate date="${pickingSlipInstance?.dateCreated}" />
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${pickingSlipInstance?.lastUpdated}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="lastUpdated-label" class="property-label"><g:message
					code="request.lastUpdated.label" default="Last Updated" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="lastUpdated-label">
						%{--<ba:editableValue
								bean="${pickingSlipInstance}" field="lastUpdated"
								url="${request.contextPath}/Request/updatefield" type="text"
								title="Enter lastUpdated" onsuccess="reloadRequestTable();" />--}%
							
								<g:formatDate date="${pickingSlipInstance?.lastUpdated}" />
							
						</span></td>
					
				</tr>
				</g:if>
			
			</tbody>
		</table>
		<g:form class="form-horizontal">
			<fieldset class="buttons controls">
				<a class="btn cancel" href="javascript:void(0);"
					onclick="expandTableLayout();"><g:message
						code="default.button.cancel.label" default="Cancel" /></a>		
				<g:remoteLink class="btn btn-primary edit" action="edit"
					id="${pickingSlipInstance?.id}"
					update="[success:'pickingSlip-form',failure:'pickingSlip-form']"
					on404="alert('not found');">
					<g:message code="default.button.edit.label" default="Edit" />
				</g:remoteLink>
				<ba:confirm id="delete" class="btn cancel"
					message="${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}"
					onsuccess="deleteRequest('${pickingSlipInstance?.id}')" label="${message(code: 'default.button.delete.label', default: 'Delete')}"/>
			</fieldset>
		</g:form>
	</div>
</body>
</html>
