
<div class="control-group">
    <div class="controls">
        <input type="file" required="" id="fileExcel" name="fileExcel" accept="application/excel|application/vnd.ms-excel" />
        <br/><br/>
        <a href="${request.getContextPath()}/formatFileUpload/UploadDetailFA.xls" >File Example Upload Detail Field Action</a>
    </div>
</div>
