<r:require modules="baseapplayout" />
<g:render template="../menu/maxLineDisplay"/>

<table id="history_service_datatables" cellpadding="0" cellspacing="0"
	border="0"
	class="display table table-striped table-bordered table-hover"
	width="100%">
	<thead>
		<tr>
			<th style="border-bottom: none;padding: 5px;">
				<div>Kode Part</div>
			</th>
			<th style="border-bottom: none;padding: 5px;">
				<div>Nama Part</div>
			</th>
			<th style="border-bottom: none;padding: 5px;" colspan="5">
				<div>Awal</div>
			</th>
			<th style="border-bottom: none;padding: 5px;" colspan="5">
				<div>Perubahan</div>
			</th>
			<th style="border-bottom: none;padding: 5px;">
				<div>Keterangan</div>
			</th>
		</tr>
		<tr>
			<th style="border-top: none; padding: 5px;"/>
			<th style="border-top: none; padding: 5px;"/>
			<th style="padding: 5px;">
				<div>Qty</div>
			</th>
			<th style="padding: 5px;">
				<div>Satuan</div>
			</th>
			<th style="padding: 5px;">
				<div>DP</div>
			</th>
			<th style="padding: 5px;">
				<div>Harga</div>
			</th>
			<th style="padding: 5px;">
				<div>Total</div>
			</th>
			<th style="padding: 5px;">
				<div>Qty</div>
			</th>
			<th style="padding: 5px;">
				<div>Satuan</div>
			</th>
			<th style="padding: 5px;">
				<div>DP</div>
			</th>
			<th style="padding: 5px;">
				<div>Harga</div>
			</th>
			<th style="padding: 5px;">
				<div>Total</div>
			</th>
			<th style="border-top: none; padding: 5px;"/>
		</tr>
	</thead>
</table>




			
