
<%@ page import="com.kombos.administrasi.JenisAlert" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'jenisAlert.label', default: 'Jenis Alert')}" />
		<title><g:message code="default.list.label" args="[entityName]" /></title>
		<r:require modules="baseapplayout, baseapplist" />
		<g:javascript>
			var show;
			var edit;
			var shrinkTableLayout;
	        var expandTableLayout;
			$(function(){ 
			
				$('.box-action').click(function(){
					switch($(this).attr('target')){
						case '_CREATE_' :                      
							shrinkTableLayout('jenisAlert');
							<g:remoteFunction action="create"
								onLoading="jQuery('#spinner').fadeIn(1);"
								onSuccess="loadFormInstance('jenisAlert', data, textStatus);"
								onComplete="jQuery('#spinner').fadeOut();" />
							break;
						case '_DELETE_' :  
							bootbox.confirm('${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}', 
								function(result){
									if(result){
										massDelete('jenisAlert', '${request.contextPath}/jenisAlert/massdelete', reloadJenisAlertTable);
									}
								});                    
							
							break;
				   }    
				   return false;
				});

				show = function(id) {
					showInstance('jenisAlert','${request.contextPath}/jenisAlert/show/'+id);
				};
				
				edit = function(id) {
					editInstance('jenisAlert','${request.contextPath}/jenisAlert/edit/'+id);
				};

				shrinkTableLayout = function(){
    	            if($("#jenisAlert-table").hasClass("span12")){
   			            $("#jenisAlert-table").toggleClass("span12 span5");
                    }
                    $("#jenisAlert-form").css("display","block");
   	            }

   	            expandTableLayout = function(){
   		            if($("#jenisAlert-table").hasClass("span5")){
   			            $("#jenisAlert-table").toggleClass("span5 span12");
   		            }
                    $("#jenisAlert-form").css("display","none");
   	            }

});
</g:javascript>
	</head>
	<body>
	<div class="navbar box-header no-border">
		<span class="pull-left"><g:message code="default.list.label" args="[entityName]" /></span>
		<ul class="nav pull-right">
			<li><a class="pull-right box-action" href="#"
				style="display: block;" target="_CREATE_">&nbsp;&nbsp;<i
					class="icon-plus"></i>&nbsp;&nbsp;
			</a></li>
			<li><a class="pull-right box-action" href="#"
				style="display: block;" target="_DELETE_">&nbsp;&nbsp;<i
					class="icon-remove"></i>&nbsp;&nbsp;
			</a></li>
			<li class="separator"></li>
		</ul>
	</div>
	<div class="box">
		<div class="span12" id="jenisAlert-table">
			<g:if test="${flash.message}">
				<div class="message" role="status">
					${flash.message}
				</div>
			</g:if>

			<g:render template="dataTables" />
		</div>
		<div class="span7" id="jenisAlert-form" style="display: none;"></div>
	</div>
</body>
</html>
