
<%@ page import="com.kombos.customercomplaint.PathComplainDoc" %>
<%@ page import="com.kombos.customercomplaint.Complaint" %>

<r:require modules="baseapplayout" />
<g:render template="../menu/maxLineDisplay"/>

<table id="pathComplainDoc_datatables" cellpadding="0" cellspacing="0"
       border="0"
       class="display table table-striped table-bordered table-hover"
       width="100%">
    <thead>
    <tr>

        <th style="border-bottom: none;padding: 5px;">
            <div><g:message code="complaint.namaFile.label" default="Nama File" /></div>
        </th>


        <th style="border-bottom: none;padding: 5px;">
            <div><g:message code="complaint.keterangan.label" default="Keterangan" /></div>
        </th>
    </tr>
    </thead>
</table>

<g:javascript>
var pathComplainDocTable;
var reloadPathComplainDocTable;
$(function(){

	reloadPathComplainDocTable = function() {
		pathComplainDocTable.fnDraw();
	}


    $("th div input").bind('keypress', function(e) {
		var code = (e.keyCode ? e.keyCode : e.which);
		if(code == 13) {
			e.stopPropagation();
		 	pathComplainDocTable.fnDraw();
		}
	});
	$("th div input").click(function (e) {
	 	e.stopPropagation();
	});

	pathComplainDocTable = $('#pathComplainDoc_datatables').dataTable({
		"sScrollX": "100%",
		"bScrollCollapse": true,
		"bAutoWidth" : false,
		"bPaginate" : true,
		"sInfo" : "",
		"sInfoEmpty" : "",
		"sDom": "<'row-fluid'r>t<'row-fluid'<'span12'i>><'row-fluid'<'span12'p>>",
		bFilter: true,
		"bStateSave": false,
		'sPaginationType': 'bootstrap',
		"fnInitComplete": function () {
			this.fnAdjustColumnSizing(true);
		   },
		   "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
			return nRow;
		   },
		"bSort": true,
		"bProcessing": true,
		"bServerSide": true,
		"sServerMethod": "POST",
		"iDisplayLength" : 3, //maxLineDisplay is set in menu/maxLineDisplay.gsp
		"sAjaxSource": "${request.contextPath}/complaint/datatablesListUplad?complaintId=${complaintInstance?.id}",
		"bDestroy": true,
		"aoColumns": [
{
	"sName": "t922NamaFile",
	"mDataProp": "t922NamaFile",
	"aTargets": [0],
	"mRender": function ( data, type, row ) {
		return '<input type="checkbox" class="pull-left row-select" aria-label="Row '+row['id']+'" title="Select this"><input type="hidden" value="'+row['id']+'">&nbsp;&nbsp;'+data
	},
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"300px",
	"bVisible": true
}
,

{
	"sName": "t922Ket",
	"mDataProp": "t922Ket",
	"aTargets": [1],
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"300px",
	"bVisible": true
}
],
        "fnServerData": function ( sSource, aoData, fnCallback, oSettings ) {

						$.ajax({ "dataType": 'json',
							"type": "POST",
							"url": sSource,
							"data": aoData ,
							"success": function (json) {
								fnCallback(json);
							   },
							"complete": function () {
							   }
						});
		}
	});
});
</g:javascript>