

<%@ page import="com.kombos.administrasi.ManPowerSertifikat" %>
<!DOCTYPE html>
<html>
<head>
<meta name="layout" content="main">
<r:require modules="bootstrapeditable" />
<g:set var="entityName"
	value="${message(code: 'manPowerSertifikat.label', default: 'Man Power Skill Map')}" />
<title><g:message code="default.show.label" args="[entityName]" /></title>
<g:javascript disposition="head">
var deleteManPowerSertifikat;

$(function(){ 
	deleteManPowerSertifikat=function(id){
		$.ajax({type:'POST', url:'${request.contextPath}/manPowerSertifikat/delete/',
			data: { id: id },
   			success:function(data,textStatus){
   				reloadManPowerSertifikatTable();
   				expandTableLayout();
   			},
   			error:function(XMLHttpRequest,textStatus,errorThrown){},
   			complete:function(XMLHttpRequest,textStatus){
   				$('#spinner').fadeOut();
   			}
   		});
	}
});

</g:javascript>
</head>
<body>
	<div id="show-manPowerSertifikat" role="main">
		<legend>
			<g:message code="default.show.label" args="[entityName]" />
		</legend>
		<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
		</g:if>
		<table id="manPowerSertifikat"
			class="table table-bordered table-hover">
			<tbody>

				
				<g:if test="${manPowerSertifikatInstance?.namaManPower}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="namaManPower-label" class="property-label"><g:message
					code="manPowerSertifikat.namaManPower.label" default="Nama ManPower" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="namaManPower-label">
						%{--<ba:editableValue
								bean="${manPowerSertifikatInstance}" field="namaManPower"
								url="${request.contextPath}/ManPowerSertifikat/updatefield" type="text"
								title="Enter namaManPower" onsuccess="reloadManPowerSertifikatTable();" />--}%
							

                        <g:fieldValue bean="${manPowerSertifikatInstance?.namaManPower}" field="t015NamaLengkap"/>
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${manPowerSertifikatInstance?.sertifikat}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="sertifikat-label" class="property-label"><g:message
					code="manPowerSertifikat.sertifikat.label" default="Sertifikat" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="sertifikat-label">
						%{--<ba:editableValue
								bean="${manPowerSertifikatInstance}" field="sertifikat"
								url="${request.contextPath}/ManPowerSertifikat/updatefield" type="text"
								title="Enter sertifikat" onsuccess="reloadManPowerSertifikatTable();" />--}%
							

                        <g:fieldValue bean="${manPowerSertifikatInstance?.sertifikat}" field="m016NamaSertifikat"/>
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${manPowerSertifikatInstance?.t016TglAwalSertifikat}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="t016TglAwalSertifikat-label" class="property-label"><g:message
					code="manPowerSertifikat.t016TglAwalSertifikat.label" default="Tgl Awal Sertifikat" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="t016TglAwalSertifikat-label">
						%{--<ba:editableValue
								bean="${manPowerSertifikatInstance}" field="t016TglAwalSertifikat"
								url="${request.contextPath}/ManPowerSertifikat/updatefield" type="text"
								title="Enter t016TglAwalSertifikat" onsuccess="reloadManPowerSertifikatTable();" />--}%
							
								<g:formatDate date="${manPowerSertifikatInstance?.t016TglAwalSertifikat}" />
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${manPowerSertifikatInstance?.t016TglAkhirSertifikat}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="t016TglAkhirSertifikat-label" class="property-label"><g:message
					code="manPowerSertifikat.t016TglAkhirSertifikat.label" default="Tgl Akhir Sertifikat" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="t016TglAkhirSertifikat-label">
						%{--<ba:editableValue
								bean="${manPowerSertifikatInstance}" field="t016TglAkhirSertifikat"
								url="${request.contextPath}/ManPowerSertifikat/updatefield" type="text"
								title="Enter t016TglAkhirSertifikat" onsuccess="reloadManPowerSertifikatTable();" />--}%
							
								<g:formatDate date="${manPowerSertifikatInstance?.t016TglAkhirSertifikat}" />
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${manPowerSertifikatInstance?.t016Ket}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="t016Ket-label" class="property-label"><g:message
					code="manPowerSertifikat.t016Ket.label" default="Ket" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="t016Ket-label">
						%{--<ba:editableValue
								bean="${manPowerSertifikatInstance}" field="t016Ket"
								url="${request.contextPath}/ManPowerSertifikat/updatefield" type="text"
								title="Enter t016Ket" onsuccess="reloadManPowerSertifikatTable();" />--}%
							
								<g:fieldValue bean="${manPowerSertifikatInstance}" field="t016Ket"/>
							
						</span></td>
					
				</tr>
				</g:if>

            <g:if test="${manPowerSertifikatInstance?.lastUpdProcess}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="lastUpdProcess-label" class="property-label"><g:message
                                code="jenisStall.lastUpdProcess.label" default="Last Upd Process" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="lastUpdProcess-label">
                        %{--<ba:editableValue
                                bean="${manPowerSertifikatInstance}" field="lastUpdProcess"
                                url="${request.contextPath}/JenisStall/updatefield" type="text"
                                title="Enter lastUpdProcess" onsuccess="reloadJenisStallTable();" />--}%

                        <g:fieldValue bean="${manPowerSertifikatInstance}" field="lastUpdProcess"/>

                    </span></td>

                </tr>
            </g:if>


			 	<g:if test="${manPowerSertifikatInstance?.dateCreated}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="dateCreated-label" class="property-label"><g:message
					code="jenisStall.dateCreated.label" default="Date Created" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="dateCreated-label">
						%{--<ba:editableValue
								bean="${manPowerSertifikatInstance}" field="dateCreated"
								url="${request.contextPath}/JenisStall/updatefield" type="text"
								title="Enter dateCreated" onsuccess="reloadJenisStallTable();" />--}%
							
								<g:formatDate date="${manPowerSertifikatInstance?.dateCreated}" type="datetime" style="MEDIUM" />
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${manPowerSertifikatInstance?.createdBy}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="createdBy-label" class="property-label"><g:message
					code="jenisStall.createdBy.label" default="Created By" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="createdBy-label">
						%{--<ba:editableValue
								bean="${manPowerSertifikatInstance}" field="createdBy"
								url="${request.contextPath}/JenisStall/updatefield" type="text"
								title="Enter createdBy" onsuccess="reloadJenisStallTable();" />--}%
							
								<g:fieldValue bean="${manPowerSertifikatInstance}" field="createdBy"/>
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${manPowerSertifikatInstance?.lastUpdated}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="lastUpdated-label" class="property-label"><g:message
					code="jenisStall.lastUpdated.label" default="Last Updated" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="lastUpdated-label">
						%{--<ba:editableValue
								bean="${manPowerSertifikatInstance}" field="lastUpdated"
								url="${request.contextPath}/JenisStall/updatefield" type="text"
								title="Enter lastUpdated" onsuccess="reloadJenisStallTable();" />--}%
							
								<g:formatDate date="${manPowerSertifikatInstance?.lastUpdated}" type="datetime" style="MEDIUM"  />
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${manPowerSertifikatInstance?.updatedBy}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="updatedBy-label" class="property-label"><g:message
					code="jenisStall.updatedBy.label" default="Updated By" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="updatedBy-label">
						%{--<ba:editableValue
								bean="${manPowerSertifikatInstance}" field="updatedBy"
								url="${request.contextPath}/JenisStall/updatefield" type="text"
								title="Enter updatedBy" onsuccess="reloadJenisStallTable();" />--}%
							
								<g:fieldValue bean="${manPowerSertifikatInstance}" field="updatedBy"/>
							
						</span></td>
					
				</tr>
				</g:if>
			</tbody>
		</table>
		<g:form class="form-horizontal">
			<fieldset class="buttons controls">
				<a class="btn cancel" href="javascript:void(0);"
					onclick="expandTableLayout();"><g:message
						code="default.button.cancel.label" default="Cancel" /></a>		
				<g:remoteLink class="btn btn-primary edit" action="edit"
					id="${manPowerSertifikatInstance?.id}"
					update="[success:'manPowerSertifikat-form',failure:'manPowerSertifikat-form']"
					on404="alert('not found');">
					<g:message code="default.button.edit.label" default="Edit" />
				</g:remoteLink>
				<ba:confirm id="delete" class="btn cancel"
					message="${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}"
					onsuccess="deleteManPowerSertifikat('${manPowerSertifikatInstance?.id}')" label="${message(code: 'default.button.delete.label', default: 'Delete')}"/>
			</fieldset>
		</g:form>
	</div>
</body>
</html>
