
<%@ page import="com.kombos.board.ASB" %>

<r:require modules="baseapplayout" />
<g:render template="../menu/maxLineDisplay"/>

<table id="ASB_datatables" cellpadding="0" cellspacing="0"
	border="0"
	class="display table table-striped table-bordered table-hover"
	width="100%">
	<thead>
        <tr>
            <th style="border-bottom: none;padding: 5px; text-align: center; vertical-align: middle" rowspan="4" >
                <div>FOREMAN</div>
            </th>
            <th style="border-bottom: none;padding: 5px; text-align: center; vertical-align: middle" colspan="3" rowspan="2">
                <div>APPOINMENT SCHEDULE BOARD (ASB)<br />GENERAL REPAIR</div>
            </th>

            <th style="border-bottom: none;padding: 5px; text-align: center; vertical-align: middle" colspan="40">
                <div><p id="lblTglView" class="lblTglView">${params?.tglHeader}</p></div>
            </th>
        </tr>
        <tr>
            <th style="border-bottom: none;padding: 5px; text-align: center; vertical-align: middle" colspan="40">
                <div>JAM</div>
            </th>
        </tr>
        <tr>
            <th style="border-bottom: none;padding: 5px; text-align: center; vertical-align: middle" rowspan="2">
                <div>Group</div>
            </th>
            <th style="border-bottom: none;padding: 5px; text-align: center; vertical-align: middle" rowspan="2">
                <div>Teknisi</div>
            </th>
            <th style="border-bottom: none;padding: 5px; text-align: center; vertical-align: middle" rowspan="2">
                <div>Stall</div>
            </th>
            <th style="border-bottom: none;padding: 5px; text-align: center; vertical-align: middle" colspan="4">
                <div>07:00</div>
            </th>
            <th style="border-bottom: none;padding: 5px; text-align: center; vertical-align: middle" colspan="4">
                <div>08:00</div>
            </th>
            <th style="border-bottom: none;padding: 5px; text-align: center; vertical-align: middle" colspan="4">
                <div>09:00</div>
            </th>
            <th style="border-bottom: none;padding: 5px; text-align: center; vertical-align: middle" colspan="4">
                <div>10:00</div>
            </th>
            <th style="border-bottom: none;padding: 5px; text-align: center; vertical-align: middle" colspan="4">
                <div>11:00</div>
            </th>
            <th style="border-bottom: none;padding: 5px; text-align: center; vertical-align: middle" colspan="4">
                <div>12:00</div>
            </th>
            <th style="border-bottom: none;padding: 5px; text-align: center; vertical-align: middle" colspan="4">
                <div>13:00</div>
            </th>
            <th style="border-bottom: none;padding: 5px; text-align: center; vertical-align: middle" colspan="4">
                <div>14:00</div>
            </th>
            <th style="border-bottom: none;padding: 5px; text-align: center; vertical-align: middle" colspan="4">
                <div>15:00</div>
            </th>
            <th style="border-bottom: none;padding: 5px; text-align: center; vertical-align: middle" colspan="4">
                <div>16:00</div>
            </th>
        </tr>
        <tr>
            <th style="border-bottom: none;padding: 5px;">
                <div> </div>
            </th>
            <th style="border-bottom: none;padding: 5px;">
                <div> </div>
            </th>
            <th style="border-bottom: none;padding: 5px;">
                <div> </div>
            </th>
            <th style="border-bottom: none;padding: 5px;">
                <div> </div>
            </th>
            <th style="border-bottom: none;padding: 5px;">
                <div> </div>
            </th>
            <th style="border-bottom: none;padding: 5px;">
                <div> </div>
            </th>
            <th style="border-bottom: none;padding: 5px;">
                <div> </div>
            </th>
            <th style="border-bottom: none;padding: 5px;">
                <div> </div>
            </th>
            <th style="border-bottom: none;padding: 5px;">
                <div> </div>
            </th>
            <th style="border-bottom: none;padding: 5px;">
                <div> </div>
            </th>
            <th style="border-bottom: none;padding: 5px;">
                <div> </div>
            </th>
            <th style="border-bottom: none;padding: 5px;">
                <div> </div>
            </th>
            <th style="border-bottom: none;padding: 5px;">
                <div> </div>
            </th>
            <th style="border-bottom: none;padding: 5px;">
                <div> </div>
            </th>
            <th style="border-bottom: none;padding: 5px;">
                <div> </div>
            </th>
            <th style="border-bottom: none;padding: 5px;">
                <div> </div>
            </th>
            <th style="border-bottom: none;padding: 5px;">
                <div> </div>
            </th>
            <th style="border-bottom: none;padding: 5px;">
                <div> </div>
            </th>
            <th style="border-bottom: none;padding: 5px;">
                <div> </div>
            </th>
            <th style="border-bottom: none;padding: 5px;">
                <div> </div>
            </th>
            <th style="border-bottom: none;padding: 5px;">
                <div> </div>
            </th>
            <th style="border-bottom: none;padding: 5px;">
                <div> </div>
            </th>
            <th style="border-bottom: none;padding: 5px;">
                <div> </div>
            </th>
            <th style="border-bottom: none;padding: 5px;">
                <div> </div>
            </th>
            <th style="border-bottom: none;padding: 5px;">
                <div> </div>
            </th>
            <th style="border-bottom: none;padding: 5px;">
                <div> </div>
            </th>
            <th style="border-bottom: none;padding: 5px;">
                <div> </div>
            </th>
            <th style="border-bottom: none;padding: 5px;">
                <div> </div>
            </th>
            <th style="border-bottom: none;padding: 5px;">
                <div> </div>
            </th>
            <th style="border-bottom: none;padding: 5px;">
                <div> </div>
            </th>
            <th style="border-bottom: none;padding: 5px;">
                <div> </div>
            </th>
            <th style="border-bottom: none;padding: 5px;">
                <div> </div>
            </th>
            <th style="border-bottom: none;padding: 5px;">
                <div> </div>
            </th>
            <th style="border-bottom: none;padding: 5px;">
                <div> </div>
            </th>
            <th style="border-bottom: none;padding: 5px;">
                <div> </div>
            </th>
            <th style="border-bottom: none;padding: 5px;">
                <div> </div>
            </th>
            <th style="border-bottom: none;padding: 5px;">
                <div> </div>
            </th>
            <th style="border-bottom: none;padding: 5px;">
                <div> </div>
            </th>
            <th style="border-bottom: none;padding: 5px;">
                <div> </div>
            </th>
            <th style="border-bottom: none;padding: 5px;">
                <div> </div>
            </th>
        </tr>

	</thead>
    <tfoot>
    <tr><td colspan="1" rowspan="1" style="width: 686.883px;"></td><td colspan="3" rowspan="1" style="width: 686.883px;"><span>Total Jumlah Unit Booking</span></td><td rowspan="1" colspan="21" style="width: 114.883px;"><span class="pull-right numeric" id="appTotal"></span></td></tr>
    <tr><td colspan="1" rowspan="1" style="width: 686.883px;"></td><td colspan="3" rowspan="1" style="width: 686.883px;"><span>Total Sisa Waktu yang Tersedia</span></td><td rowspan="1" colspan="21 " style="width: 114.883px;"><span class="pull-right numeric" id="sisa"></span></td></tr>
    </tfoot>
</table>

<g:javascript>
var ASBTable;
var reloadASBTable;
var getForemanInfo;
var getTeknisiInfo;
$(function(){

	 getForemanInfo = function(id){
    //  $(document).tooltip({ content: "Awesome title!" }).show();

        var content = "nocontent";
            $.ajax({type:'POST', url:'${request.contextPath}/groupManPower/getManPowerInfo/'+id,
                success:function(data,textStatus){
                    if(data){

                       content = data.namaLengkap + " - " + data.jabatan;
                       content = content +"</br>Group : "+data.group;
                       content = content +"</br>Anggota Group : </br>"

                       if(data.anggota){
                            jQuery.each(data.anggota, function (index, value) {
                                content = content + "</br>"+value;
                            });
                       }


                     $("#foreman"+id).tooltip({
                        html : true,
                        title : content,
                        position: 'center right'
                    });

                    }

                },
                error:function(XMLHttpRequest,textStatus,errorThrown){},
                complete:function(XMLHttpRequest,textStatus){

                }
            });

    }

	reloadASBTable = function() {
		ASBTable.fnDraw();
	}

$("th div input").bind('keypress', function(e) {
		var code = (e.keyCode ? e.keyCode : e.which);
		if(code == 13) { 
			e.stopPropagation();
		 	ASBTable.fnDraw();
		}
	});
	$("th div input").click(function (e) {
	 	e.stopPropagation();
	});

	ASBTable = $('#ASB_datatables').dataTable({
		"sScrollX": "100%",
		"bScrollCollapse": true,
		"bAutoWidth" : false,
//        "bPaginate" : true,
        "bPaginate" : false,
		"sInfo" : "",
		"sInfoEmpty" : "",
		"sDom": "<'row-fluid'r>t<'row-fluid'<'span12'i>><'row-fluid'<'span12'p>>",
		bFilter: true,
		"bStateSave": false,
		'sPaginationType': 'bootstrap',
		"fnInitComplete": function () {
//			this.fnAdjustColumnSizing(true);
		   },
		   "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {

                 $(nRow).children().each(function(index, td) {
                    if(index >= 3 && index <= 43) {
                        s = $(td).find('span');
                        <%
                        int indLoop = 0;
                        for (cari in listKategori){
                        %>
                            if (s.hasClass("${cari}")) {
                                $(td).css("background-color", "${listWarna[indLoop]}");
                        <%  if(cari.toString().indexOf("1")<0){%>
                                $(td).html("");
                        <%  }
                            indLoop++;
                        %>
                            }
                        <%
                        }
                        %>
                    }
            });

        return nRow;
       },
    "bSort": true,
    "bProcessing": true,
    "bServerSide": true,
    "sServerMethod": "POST",
    "iDisplayLength" : maxLineDisplay, //maxLineDisplay is set in menu/maxLineDisplay.gsp
    "sAjaxSource": "${g.createLink(action: "datatablesList")}",
		"aoColumns": [

{
	"sName": "foreman",
	"mDataProp": "foreman",
	"aTargets": [0],
	"mRender": function ( data, type, row ) {
	    return '<a href="#" id="foreman'+row['foremanId']+'" onmouseover="getForemanInfo('+row['foremanId']+')" data-toggle="tooltip" data-placement="right" alt="test" >'+data+'</a>'
	},
	"bSearchable": true,
	"bSortable": false,
	"sWidth":"300px",
	"bVisible": true
}

,

{
	"sName": "group",
	"mDataProp": "group",
	"aTargets": [1],
	"bSearchable": true,
	"bSortable": false,
	"sWidth":"200px",
	"bVisible": true
}

,

{
	"sName": "teknisi",
	"mDataProp": "teknisi",
	"aTargets": [2],
	"bSearchable": true,
	"bSortable": false,
	"sWidth":"200px",
	"bVisible": true
}

,

{
	"sName": "stall",
	"mDataProp": "stall",
	"aTargets": [3],
	"bSearchable": true,
	"bSortable": false,
	"sWidth":"200px",
	"bVisible": true
}

,
{
	"sName": "jam7",
	"mDataProp": "jam7",
	"bSearchable": true,
	"bSortable": false,
	"sWidth":"10px",
	"mRender": function ( data, type, row ) {
	    return '<span class='+data+'>' + row["noPolJam7"]+'</span>';
	},
	"bVisible": true
}
,
{
	"sName": "jam715",
	"mDataProp": "jam715",
	"bSearchable": true,
	"bSortable": false,
	"sWidth":"10px",
	"mRender": function ( data, type, row ) {
	    return '<span class='+data+'>' + row["noPolJam715"]+'</span>';
	},
	"bVisible": true
}
,
{
	"sName": "jam730",
	"mDataProp": "jam730",
	"bSearchable": true,
	"bSortable": false,
	"sWidth":"10px",
	"mRender": function ( data, type, row ) {
	    return '<span class='+data+'>' + row["noPolJam730"]+'</span>';
	},
	"bVisible": true
}
,
{
	"sName": "jam745",
	"mDataProp": "jam745",
	"bSearchable": true,
	"bSortable": false,
	"sWidth":"10px",
	"mRender": function ( data, type, row ) {
	    return '<span class='+data+'>' + row["noPolJam745"]+'</span>';
	},
	"bVisible": true
}
,
{
	"sName": "jam8",
	"mDataProp": "jam8",
	"bSearchable": true,
	"bSortable": false,
	"sWidth":"10px",
	"mRender": function ( data, type, row ) {
	    return '<span class='+data+'>' + row["noPolJam8"]+'</span>';
	},
	"bVisible": true
}
,
{
	"sName": "jam815",
	"mDataProp": "jam815",
	"bSearchable": true,
	"bSortable": false,
	"sWidth":"10px",
	"mRender": function ( data, type, row ) {
	    return '<span class='+data+'>' + row["noPolJam815"]+'</span>';
	},
	"bVisible": true
}
,
{
	"sName": "jam830",
	"mDataProp": "jam830",
	"bSearchable": true,
	"bSortable": false,
	"sWidth":"10px",
	"mRender": function ( data, type, row ) {
	    return '<span class='+data+'>' + row["noPolJam830"]+'</span>';
	},
	"bVisible": true
}
,
{
	"sName": "jam845",
	"mDataProp": "jam845",
	"bSearchable": true,
	"bSortable": false,
	"sWidth":"10px",
	"mRender": function ( data, type, row ) {
	    return '<span class='+data+'>' + row["noPolJam845"]+'</span>';
	},
	"bVisible": true
}
,
{
	"sName": "jam9",
	"mDataProp": "jam9",
	"bSearchable": true,
	"bSortable": false,
	"sWidth":"10px",
	"mRender": function ( data, type, row ) {
	    return '<span class='+data+'>' + row["noPolJam9"]+'</span>';
	},
	"bVisible": true
}
,
{
	"sName": "jam915",
	"mDataProp": "jam915",
	"bSearchable": true,
	"bSortable": false,
	"sWidth":"10px",
	"mRender": function ( data, type, row ) {
	    return '<span class='+data+'>' + row["noPolJam915"]+'</span>';
	},
	"bVisible": true
}
,
{
	"sName": "jam930",
	"mDataProp": "jam930",
	"bSearchable": true,
	"bSortable": false,
	"sWidth":"10px",
	"mRender": function ( data, type, row ) {
	    return '<span class='+data+'>' + row["noPolJam930"]+'</span>';
	},
	"bVisible": true
}
,
{
	"sName": "jam945",
	"mDataProp": "jam945",
	"bSearchable": true,
	"bSortable": false,
	"sWidth":"10px",
	"mRender": function ( data, type, row ) {
	    return '<span class='+data+'>' + row["noPolJam945"]+'</span>';
	},
	"bVisible": true
}
,
{
	"sName": "jam10",
	"mDataProp": "jam10",
	"bSearchable": true,
	"bSortable": false,
	"sWidth":"10px",
	"mRender": function ( data, type, row ) {
	    return '<span class='+data+'>' + row["noPolJam10"]+'</span>';
	},
	"bVisible": true
}
,
{
	"sName": "jam1015",
	"mDataProp": "jam1015",
	"bSearchable": true,
	"bSortable": false,
	"sWidth":"10px",
	"mRender": function ( data, type, row ) {
	    return '<span class='+data+'>' + row["noPolJam1015"]+'</span>';
	},
	"bVisible": true
}
,
{
	"sName": "jam1030",
	"mDataProp": "jam1030",
	"bSearchable": true,
	"bSortable": false,
	"sWidth":"10px",
	"mRender": function ( data, type, row ) {
	    return '<span class='+data+'>' + row["noPolJam1030"]+'</span>';
	},
	"bVisible": true
}
,
{
	"sName": "jam1045",
	"mDataProp": "jam1045",
	"bSearchable": true,
	"bSortable": false,
	"sWidth":"10px",
	"mRender": function ( data, type, row ) {
	    return '<span class='+data+'>' + row["noPolJam1045"]+'</span>';
	},
	"bVisible": true
}
,
{
	"sName": "jam11",
	"mDataProp": "jam11",
	"bSearchable": true,
	"sWidth":"10px",
	"bSortable": false,
	"mRender": function ( data, type, row ) {
	    return '<span class='+data+'>' + row["noPolJam11"]+'</span>';
	},
	"bVisible": true
}
,
{
	"sName": "jam1115",
	"mDataProp": "jam1115",
	"bSearchable": true,
	"sWidth":"10px",
	"bSortable": false,
	"mRender": function ( data, type, row ) {
	    return '<span class='+data+'>' + row["noPolJam1115"]+'</span>';
	},
	"bVisible": true
}
,
{
	"sName": "jam1130",
	"mDataProp": "jam1130",
	"bSearchable": true,
	"sWidth":"10px",
	"bSortable": false,
	"mRender": function ( data, type, row ) {
	    return '<span class='+data+'>' + row["noPolJam1130"]+'</span>';
	},
	"bVisible": true
}
,
{
	"sName": "jam1145",
	"mDataProp": "jam1145",
	"bSearchable": true,
	"bSortable": false,
	"sWidth":"10px",
	"mRender": function ( data, type, row ) {
            return '<span class='+data+'>' + row["noPolJam1145"]+'</span>';

	},
	"bVisible": true
}
,
{
	"sName": "jam12",
	"mDataProp": "jam12",
	"bSearchable": true,
	"sWidth":"10px",
	"mRender": function ( data, type, row ) {
            return '<span class='+data+'>' + row["noPolJam12"]+'</span>';

	},
	"bSortable": false,
	"bVisible": true
}
,
{
	"sName": "jam1215",
	"mDataProp": "jam1215",
	"bSearchable": true,
	"sWidth":"10px",
	"bSortable": false,
	"mRender": function ( data, type, row ) {
            return '<span class='+data+'>' + row["noPolJam1215"]+'</span>';
	},
	"bVisible": true
}
,
{
	"sName": "jam1230",
	"mDataProp": "jam1230",
	"bSearchable": true,
	"sWidth":"10px",
	"bSortable": false,
	"mRender": function ( data, type, row ) {
	    return '<span class='+data+'>' + row["noPolJam1230"]+'</span>';
	},
	"bVisible": true
}
,
{
	"sName": "jam1245",
	"mDataProp": "jam1245",
	"bSearchable": true,
	"sWidth":"10px",
	"mRender": function ( data, type, row ) {
	    return '<span class='+data+'>' + row["noPolJam1245"]+'</span>';
	},
	"bSortable": false,
	"bVisible": true
}
,
{
	"sName": "jam13",
	"mDataProp": "jam13",
	"bSearchable": true,
	"sWidth":"10px",
	"bSortable": false,
	"mRender": function ( data, type, row ) {
	    return '<span class='+data+'>' + row["noPolJam13"]+'</span>';
	},
	"bVisible": true
}
,
{
	"sName": "jam1315",
	"mDataProp": "jam1315",
	"bSearchable": true,
	"sWidth":"10px",
	"bSortable": false,
	"mRender": function ( data, type, row ) {
	    return '<span class='+data+'>' + row["noPolJam1315"]+'</span>';
	},
	"bVisible": true
}
,
{
	"sName": "jam1330",
	"mDataProp": "jam1330",
	"bSearchable": true,
	"sWidth":"10px",
	"bSortable": false,
	"mRender": function ( data, type, row ) {
	    return '<span class='+data+'>' + row["noPolJam1330"]+'</span>';
	},
	"bVisible": true
}
,
{
	"sName": "jam1345",
	"mDataProp": "jam1345",
	"bSearchable": true,
	"sWidth":"10px",
	"bSortable": false,
	"mRender": function ( data, type, row ) {
	    return '<span class='+data+'>' + row["noPolJam1345"]+'</span>';
	},
	"bVisible": true
}
,
{
	"sName": "jam14",
	"mDataProp": "jam14",
	"bSearchable": true,
	"sWidth":"10px",
	"bSortable": false,
	"mRender": function ( data, type, row ) {
	    return '<span class='+data+'>' + row["noPolJam14"]+'</span>';
	},
	"bVisible": true
}
,
{
	"sName": "jam1415",
	"mDataProp": "jam1415",
	"bSearchable": true,
	"sWidth":"10px",
	"bSortable": false,
	"mRender": function ( data, type, row ) {
	    return '<span class='+data+'>' + row["noPolJam1415"]+'</span>';
	},
	"bVisible": true
}
,
{
	"sName": "jam1430",
	"mDataProp": "jam1430",
	"bSearchable": true,
	"sWidth":"10px",
	"bSortable": false,
	"mRender": function ( data, type, row ) {
	    return '<span class='+data+'>' + row["noPolJam1430"]+'</span>';
	},
	"bVisible": true
}
,
{
	"sName": "jam1445",
	"mDataProp": "jam1445",
	"bSearchable": true,
	"sWidth":"10px",
	"bSortable": false,
	"mRender": function ( data, type, row ) {
	    return '<span class='+data+'>' + row["noPolJam1445"]+'</span>';
	},
	"bVisible": true
}
,
{
	"sName": "jam15",
	"mDataProp": "jam15",
	"bSearchable": true,
	"sWidth":"10px",
	"bSortable": false,
	"mRender": function ( data, type, row ) {
	    return '<span class='+data+'>' + row["noPolJam15"]+'</span>';
	},
	"bVisible": true
}
,
{
	"sName": "jam1515",
	"mDataProp": "jam1515",
	"bSearchable": true,
	"sWidth":"10px",
	"bSortable": false,
	"mRender": function ( data, type, row ) {
	    return '<span class='+data+'>' + row["noPolJam1515"]+'</span>';
	},
	"bVisible": true
}
,
{
	"sName": "jam1530",
	"mDataProp": "jam1530",
	"bSearchable": true,
	"sWidth":"10px",
	"bSortable": false,
	"mRender": function ( data, type, row ) {
	    return '<span class='+data+'>' + row["noPolJam1530"]+'</span>';
	},
	"bVisible": true
}
,
{
	"sName": "jam1545",
	"mDataProp": "jam1545",
	"bSearchable": true,
	"sWidth":"10px",
	"bSortable": false,
	"mRender": function ( data, type, row ) {
	    return '<span class='+data+'>' + row["noPolJam1545"]+'</span>';
	},
	"bVisible": true
}
,
{
	"sName": "jam16",
	"mDataProp": "jam16",
	"bSearchable": true,
	"sWidth":"10px",
	"bSortable": false,
	"mRender": function ( data, type, row ) {
	    return '<span class='+data+'>' + row["noPolJam16"]+'</span>';
	},
	"bVisible": true
}
,
{
	"sName": "jam1615",
	"mDataProp": "jam1615",
	"bSearchable": true,
	"sWidth":"10px",
	"bSortable": false,
	"mRender": function ( data, type, row ) {
	    return '<span class='+data+'>' + row["noPolJam1615"]+'</span>';
	},
	"bVisible": true
},
{
	"sName": "jam1630",
	"mDataProp": "jam1630",
	"bSearchable": true,
	"sWidth":"10px",
	"bSortable": false,
	"mRender": function ( data, type, row ) {
	    return '<span class='+data+'>' + row["noPolJam1630"]+'</span>';
	},
	"bVisible": true
}
,
{
	"sName": "jam1645",
	"mDataProp": "jam1645",
	"bSearchable": true,
	"sWidth":"10px",
	"bSortable": false,
	"mRender": function ( data, type, row ) {
	    return '<span class='+data+'>' + row["noPolJam1645"]+'</span>';
	},
	"bVisible": true
}

],
        "fnServerData": function ( sSource, aoData, fnCallback, oSettings ) {

			var sCriteria_cabang = $('#input_companyDealer').val();
		    if(sCriteria_cabang){
				aoData.push(
					{"name": 'input_companyDealer', "value": sCriteria_cabang}
				);
			}


            var tglView = $('#search_tglView').val();
            var tglViewDay = $('#search_tglView_day').val();
            var tglViewMonth = $('#search_tglView_month').val();
            var tglViewYear = $('#search_tglView_year').val();
            //alert("tglView=" + tglView + " tglViewDay=" + tglViewDay);
            if(tglView){
                aoData.push(
                        {"name": 'sCriteria_tglView', "value": "date.struct"},
                        {"name": 'sCriteria_tglView_dp', "value": tglView},
                        {"name": 'sCriteria_tglView_day', "value": tglViewDay},
                        {"name": 'sCriteria_tglView_month', "value": tglViewMonth},
                        {"name": 'sCriteria_tglView_year', "value": tglViewYear}
                );
            }

            aoData.push(
                    {"name": 'aksi', "value": "view"}
            );

            $.ajax({ "dataType": 'json',
                "type": "POST",
                "url": sSource,
                "data": aoData ,
                "success": function (json) {
                    fnCallback(json);
                    $("#appTotal").html(json.appTotal);
                    $("#sisa").html(json.sisa);
                   },
                "complete": function () {
                   }
            });
		}			
	});

//	setInterval (function() {
//        ASBTable.fnDraw();
//    }, 120000);

    new FixedColumns( ASBTable, {
		"iLeftWidth": 150,
		//"iLeftColumns": 2,
		"fnDrawCallback": function ( left, right ) {
			var that = this, groupVal = null, matches = 0, heights = [], index = -1;

			// Get the heights of the cells and remove redundant ones
			$('tbody tr td', left.body).each( function ( i ) {
				var currVal = this.innerHTML;

				// Reset values on new cell data.
				if (currVal != groupVal) {
					groupVal = currVal;
					index++;
					heights[index] = 0;
					matches = 0;
				} else  {
					matches++;
				}

				heights[ index ] += $(this.parentNode).height();
				if ( currVal == groupVal && matches > 0 ) {
					this.parentNode.parentNode.removeChild(this.parentNode);
				}
			} );

			// Now set the height of the cells which remain, from the summed heights
			$('tbody tr td', left.body).each( function ( i ) {
				that.fnSetRowHeight( this.parentNode, heights[ i ] );
			} );
		}
	} );

});


</g:javascript>


