<%@ page import="com.kombos.administrasi.Provinsi" %>





%{--<div class="control-group fieldcontain ${hasErrors(bean: provinsiInstance, field: 'm001ID', 'error')} ">--}%
	%{--<label class="control-label" for="m001ID">--}%
		%{--<g:message code="provinsi.m001ID.label" default="ID" />--}%
		%{----}%
	%{--</label>--}%
	%{--<div class="controls">--}%
        <g:if test="${provinsiInstance?.m001ID}">
	        <g:hiddenField name="m001ID" value="${provinsiInstance?.m001ID}" />
        </g:if>
        <g:else>
	        <g:hiddenField name="m001ID" value="${Provinsi.last().m001ID.toInteger() + 1}" />
        </g:else>
	%{--</div>--}%
%{--</div>--}%

<div class="control-group fieldcontain ${hasErrors(bean: provinsiInstance, field: 'm001NamaProvinsi', 'error')} ">
	<label class="control-label" for="m001NamaProvinsi">
		<g:message code="provinsi.m001NamaProvinsi.label" default="Nama Provinsi" />
		*
	</label>
	<div class="controls">
	<g:textField name="m001NamaProvinsi" value="${provinsiInstance?.m001NamaProvinsi}" required="required" maxlength="25" />
	</div>
</div>

