<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<title></title>
		<r:require modules="baseapplayout" />
		<g:render template="../menu/maxLineDisplay"/>
	</head>
	<body>
	<div class="navbar box-header no-border">
		<span class="pull-left">${label}</span>
	</div>
    <div class="box">
        <fieldset>
            <table>
                <tr>
                    <td style="width: 50px; display:table-cell; padding:5px;">
                        <label class="control-label" for="filterParameter">Filter By</label>
                    </td>
                    <td>
                        <input type="checkbox" id="filterCheckbox" style="position: relative; bottom: 7px;">
                        <select id="filterParameter" style="margin-left: 13px;" disabled>
                           <option value="sCriteria_jamApp">Jam</option>
                           <option value="sCriteria_menitApp">Menit</option>
                        </select>
                    </td>
                    <td style="width: 15px;">
                        <select id="filterPlusMinus" style="margin-left: 13px;" disabled>
                            <option value="minus">Terlambat</option>
                            <option value="plus">Kedepan</option>
                        </select>
                    </td>
                    <td style="width: 15px; display:table-cell; padding:5px;">
                        %{--<input type="text" class="input-small" id="filterValue" disabled>--}%
                        <select id="filterValue" disabled></select>
                    </td>
                </tr>
                <tr>
                    <td style="width: 130px; display:table-cell; padding:5px;">
                    </td>
                    <td colspan="4">
                        <a id="btnCari" class="btn btn-primary" href="javascript:void(0);">
                            Cari
                        </a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
	<div class="box">
		<div class="span12" id="${id}_table">
			<table id="${id}_datatables" cellpadding="0" cellspacing="0"
	border="0"
	class="display table table-striped table-bordered table-hover table-selectable"
	width="100%">
	<thead>
		<tr>
			 <g:each in="${columns}" status="i" var="col">
				<g:if test="${i == 0}">
					<th style="border-bottom: none;padding: 5px;">
					<div style="width: ${col.width};">${col.label}</div>
				</th>
				</g:if>
				<g:else>
				<th style="border-bottom: none;padding: 5px;">
					<div>${col.label}</div>
				</th>
				</g:else>
			</g:each>			
		</tr>
		<tr>
			 <g:each in="${columns}" status="i" var="col">
				<th style="border-top: none;padding: 5px;">
				<g:if test="${col.type == 'date'}">
					<div id="filter_${col.field}" style="padding-top: 0px;position:relative; margin-top: 0px;width: 275px;" >
					<input type="hidden" name="searchFrom_${col.field}" value="date.struct">
					<input type="hidden" name="searchFrom_${col.field}_day" id="searchFrom_${col.field}_day" value="">
					<input type="hidden" name="searchFrom_${col.field}_month" id="searchFrom_${col.field}_month" value="">
					<input type="hidden" name="searchFrom_${col.field}_year" id="searchFrom_${col.field}_year" value="">
					<input type="text" data-date-format="dd/mm/yyyy" name="searchFrom_${col.field}_dp" value="" id="searchFrom_${col.field}" class="search_init" style="width: 35%;">
					-
					<input type="hidden" name="searchTo_${col.field}" value="date.struct">
					<input type="hidden" name="searchTo_${col.field}_day" id="searchTo_${col.field}_day" value="">
					<input type="hidden" name="searchTo_${col.field}_month" id="searchTo_${col.field}_month" value="">
					<input type="hidden" name="searchTo_${col.field}_year" id="searchTo_${col.field}_year" value="">
					<input type="text" data-date-format="dd/mm/yyyy" name="searchTo_${col.field}_dp" value="" id="searchTo_${col.field}" class="search_init" style="width: 35%;">
					</div>
				</g:if>
				<g:elseif test="${col.type != 'seq' && col.type != 'sex'}">
					<div id="filter_${col.field}" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;">
						<input type="text" name="search_${col.field}" class="search_init" />
					</div>
				</g:elseif>
				</th>
			</g:each>			
		</tr>
	</thead>
</table>
<g:javascript>
var ${id}Table;
<g:each in="${columns}" status="i" var="col">
	<g:if test="${col.type == 'date'}">
var searchTo_${col.field}_dp;
var searchFrom_${col.field}_dp;
	</g:if>
</g:each>
$(function(){

    var optionJam = "";
    var optionMenit = "";

    for (var i = 0; i < 60; i++) {
        optionJam+= i < 24 ? "<option value='"+(i+1)+"'>"+(i+1)+"</option>" : "";
        optionMenit+= "<option value='"+(i+1)+"'>"+(i+1)+"</option>";
    }

    console.log(optionMenit)

   $("#filterCheckbox").click(function() {
        var flag = true;
        if ($(this).is(":checked")) {
            flag = false;
            var param = $("#filterParameter").val();

            if (param == "sCriteria_jamApp") {
                $("#filterValue").html(optionJam);
            } else {
                    $("#filterValue").html(optionMenit);
            }
        }
        $("#filterPlusMinus").prop("disabled", flag);
        $("#filterParameter").prop("disabled", flag);
        $("#filterValue").prop("disabled", flag);
   })

   $("#filterParameter").change(function() {
        if ($(this).val() == "sCriteria_jamApp") {
            $("#filterValue").html(optionJam);
        } else {
            $("#filterValue").html(optionMenit);
        }
   })

    $("#btnCari").click(function(e) {
        ${id}Table.fnDraw();
    })

<g:each in="${columns}" status="i" var="col">
	<g:if test="${col.type == 'date'}">
	
	searchFrom_${col.field}_dp = $('#searchFrom_${col.field}').datepicker().on('changeDate', function(ev) {
			var newDate = new Date(ev.date);
			$('#searchFrom_${col.field}_day').val(newDate.getDate());
			$('#searchFrom_${col.field}_month').val(newDate.getMonth()+1);
			$('#searchFrom_${col.field}_year').val(newDate.getFullYear());
			if(!searchTo_${col.field}_dp.date.valueOf()){
				var newDate = new Date(ev.date)
				newDate.setDate(newDate.getDate() + 1);
				searchTo_${col.field}_dp.setValue(newDate);
			} else if (ev.date.valueOf() > searchTo_${col.field}_dp.date.valueOf()) {
				var newDate = new Date(ev.date)
				newDate.setDate(newDate.getDate() + 1);
				searchTo_${col.field}_dp.setValue(newDate);
			} 
			$(this).datepicker('hide');
			${id}Table.fnDraw();

				
	}).data('datepicker');
	
	searchTo_${col.field}_dp = $('#searchTo_${col.field}').datepicker({
							onRender: function(date) {
								return date.valueOf() < searchFrom_${col.field}_dp.date.valueOf() ? 'disabled' : '';
							}
			}).on('changeDate', function(ev) {
			var newDate = new Date(ev.date);
			$('#searchTo_${col.field}_day').val(newDate.getDate());
			$('#searchTo_${col.field}_month').val(newDate.getMonth()+1);
			$('#searchTo_${col.field}_year').val(newDate.getFullYear());
			$(this).datepicker('hide');
			${id}Table.fnDraw();	
	}).data('datepicker');
	</g:if>
</g:each>


    $("th div input").bind('keypress', function(e) {
		var code = (e.keyCode ? e.keyCode : e.which);
		if(code == 13) {
			e.stopPropagation();
    ${id}Table.fnDraw();
		}
	});

${id}Table = $('#${id}_datatables').dataTable({
		"sScrollX": "100%",
		"bScrollCollapse": true,
		"bAutoWidth" : false,
		"bPaginate" : true,
		"sInfo" : "",
		"sInfoEmpty" : "",
		"sDom": "<'row-fluid'r>t<'row-fluid'<'span12'i>><'row-fluid'<'span12'p>>",
		bFilter: true,
		"bStateSave": false,
		'sPaginationType': 'bootstrap',
		"fnInitComplete": function () {
			this.fnAdjustColumnSizing(true);
		   },
		   "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
			return nRow;
		   },
		"bSort": true,
		"bProcessing": true,
		"bServerSide": true,
		"sServerMethod": "POST",
		"iDisplayLength" : maxLineDisplay, //maxLineDisplay is set in menu/maxLineDisplay.gsp
		"sAjaxSource": "${g.createLink(action: "${id}DatatablesList")}",
		"aoColumns": [
<g:each in="${columns}" status="i" var="col">
{
	"sName": "${col.field}",
	"mDataProp": "${col.field}",
	"aTargets": [${i}],
	"bSearchable": false,
	<g:if test="${i == 0}">
	"mRender": function ( data, type, row ) {
		return '<input type="checkbox" class="pull-left row-select" aria-label="Row '+row['id']+'" title="Select this"><input type="hidden" value="'+row['id']+'">&nbsp;&nbsp;'+data;
	},
	</g:if>
	<g:if test="${col.type != 'seq'}">
	"bSortable": false,
	</g:if>	
	<g:else>
	"bSortable": false,
	</g:else>
	
	"sWidth":"${col.width}",
	"bVisible": true
}
<g:if test="${i < columns.size() - 1}">
,
</g:if>
</g:each>
],
        "fnServerData": function ( sSource, aoData, fnCallback, oSettings ) {

    if ($("#filterCheckbox").is(":checked")) {
        var filterValue = $("#filterValue").val();
        var filterParameter = $("#filterParameter").val();
        if (filterValue) {
            aoData.push({
                "name": filterParameter,
                "value": filterValue
            });
            aoData.push({
                "name": "sCriteria_plusMinus",
                "value": $("#filterPlusMinus").val()
            })
        }
    }

<g:each in="${columns}" status="i" var="col">
<g:if test="${col.type == 'date'}">
			var ${col.field}_from = $('#searchFrom_${col.field}').val();
			var ${col.field}Day_from = $('#searchFrom_${col.field}_day').val();
			var ${col.field}Month_from = $('#searchFrom_${col.field}_month').val();
			var ${col.field}Year_from = $('#searchFrom_${col.field}_year').val();
						
			if(${col.field}_from){
				aoData.push(
					{"name": 'sCriteria_from_${col.field}', "value": "date.struct"},
					{"name": 'sCriteria_from_${col.field}_dp', "value": ${col.field}_from},
					{"name": 'sCriteria_from_${col.field}_day', "value": ${col.field}Day_from},
					{"name": 'sCriteria_from_${col.field}_month', "value": ${col.field}Month_from},
					{"name": 'sCriteria_from_${col.field}_year', "value": ${col.field}Year_from}
				);
			}
			
			var ${col.field}_to = $('#searchTo_${col.field}').val();
			var ${col.field}Day_to = $('#searchTo_${col.field}_day').val();
			var ${col.field}Month_to = $('#searchTo_${col.field}_month').val();
			var ${col.field}Year_to = $('#searchTo_${col.field}_year').val();
						
			if(${col.field}_to){
				aoData.push(
					{"name": 'sCriteria_to_${col.field}', "value": "date.struct"},
					{"name": 'sCriteria_to_${col.field}_dp', "value": ${col.field}_to},
					{"name": 'sCriteria_to_${col.field}_day', "value": ${col.field}Day_to},
					{"name": 'sCriteria_to_${col.field}_month', "value": ${col.field}Month_to},
					{"name": 'sCriteria_to_${col.field}_year', "value": ${col.field}Year_to}
				);
			}
	</g:if>
	<g:elseif test="${col.type == 'string'}">
		var ${col.field} = $('#filter_${col.field} input').val();
		if(${col.field}){
			aoData.push(
				{"name": 'sCriteria_${col.field}', "value": ${col.field}}
			);
		}
	</g:elseif>
	<g:elseif test="${col.type == 'numeric'}">
		var ${col.field} = $('#filter_${col.field} input').val();
		if(${col.field}){
			aoData.push(
				{"name": 'sCriteria_${col.field}', "value": ${col.field}}
			);
		}
	</g:elseif>
</g:each>		
						$.ajax({ "dataType": 'json',
							"type": "POST",
							"url": sSource,
							"data": aoData ,
							"success": function (json) {
								fnCallback(json);
							   },
							"complete": function () {
							   }
						});
		}			
	});
});
</g:javascript>

		</div>
		<div class="span12" id="${id}_sms" style="margin-left: 0;margin-top: 10px;">
			<g:javascript>
				var notifySmsStatus;
				var updateFormatSMS;

				$(function(){
                    $("#sendSMSFollowUp").click(function() {
                        var count = 0;
                        var customers = [];
                        $("#${id}_datatables tbody").find("tr").each(function(k,v) {
                            var checkTd = $(this).find("td:first-child input[type='checkbox']");
                            var hiddenTd = $(this).find("td:first-child input[type='hidden']").val();
                            if (checkTd.is(":checked")) {
                                count++;
                                customers.push(hiddenTd);
                            }
                        })
                        if (count != 0) {
                            $.post("<g:createLink action="sendSMSFollowUp"/>", {
                                "retention.id": $("#retention").val(),
                                "formatSMS": $("#formatSMS").val(),
                                "customers": JSON.stringify(customers)
                            }, function(data) {
                                if (data.status == "ok") {
                                    notifySmsStatus();
                                }
                            })
                        } else {
                            alert("Mohon pilih data customer terlebih dahulu!");
                        }
                    })

					notifySmsStatus = function() {
						toastr.success("SMS terkirim!");
					}
					
					updateFormatSMS = function(e) {
						$.ajax({type:'GET', url: "<g:createLink action="formatSMS"/>",
							data: { id: e.value },
							success:function(data,textStatus){
								if(data.status = 'ok'){
									$('#formatSMS').val(data.formatSMS);
								}
							},
							error:function(XMLHttpRequest,textStatus,errorThrown){},
							complete:function(XMLHttpRequest,textStatus){
								
							}
						});
						
					}
				});
            </g:javascript>
			%{--<g:formRemote class="form-horizontal" name="sendSMSFollowUp" on404="alert('not found!');" onSuccess="notifySmsStatus();"
              url="[controller: 'viewAppointment', action:'sendSMSFollowUp']">--}%
				<fieldset>
				<span class="box-label">
				SMS Follow Up
				</span>
				<div class="box">
					<div class="control-group fieldcontain">
						<label class="control-label" for="retention">
							Jenis SMS
						</label>

						<div class="controls">
							<g:select id="retention" name="retention.id" from="${com.kombos.maintable.Retention.list()}"
                                              optionKey="id" optionValue="m207NamaRetention" required=""
                                              class="many-to-one" noSelection="['': '']" onchange="updateFormatSMS(this);"/>
						</div>
					</div>
					<div class="control-group fieldcontain">
						<label class="control-label" for="formatSMS">
							Format SMS
						</label>

						<div class="controls">
							<g:textArea rows="5" cols="50" name="formatSMS" value="" />
						</div>
					</div>
				</div>
				</fieldset>
				<fieldset class="buttons controls">
					<a class="btn btn-primary create" id="sendSMSFollowUp">Send SMS now!</a>
				</fieldset>
			%{--</g:formRemote>--}%
		</div>
	</div>
</body>
</html>
