<%@ page import="com.kombos.maintable.EFakturKeluaran" %>

<div class="control-group fieldcontain ${hasErrors(bean: EfakturInstance, field: 'goods', 'error')} ">

    <div class="controls">
        <input type="file" required="" id="fileExcel" name="fileExcel" accept="application/excel|application/vnd.ms-excel" />

    </div>
</div>
