

<%@ page import="com.kombos.administrasi.MappingJobPanel" %>
<!DOCTYPE html>
<html>
<head>
<meta name="layout" content="main">
<r:require modules="bootstrapeditable" />
<g:set var="entityName"
	value="${message(code: 'mappingJobPanel.label', default: 'Mapping Job Panel')}" />
<title><g:message code="default.show.label" args="[entityName]" /></title>
<g:javascript disposition="head">
var deleteMappingJobPanel;

$(function(){ 
	deleteMappingJobPanel=function(id){
		$.ajax({type:'POST', url:'${request.contextPath}/mappingJobPanel/delete/',
			data: { id: id },
   			success:function(data,textStatus){
   				reloadMappingJobPanelTable();
   				expandTableLayout();
   			},
   			error:function(XMLHttpRequest,textStatus,errorThrown){},
   			complete:function(XMLHttpRequest,textStatus){
   				$('#spinner').fadeOut();
   			}
   		});
	}
});

</g:javascript>
</head>
<body>
	<div id="show-mappingJobPanel" role="main">
		<legend>
			<g:message code="default.show.label" args="[entityName]" />
		</legend>
		<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
		</g:if>
		<table id="mappingJobPanel"
			class="table table-bordered table-hover">
			<tbody>

				
				<g:if test="${mappingJobPanelInstance?.operation}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="operation-label" class="property-label"><g:message
					code="mappingJobPanel.operation.label" default="Operation" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="operation-label">
						%{--<ba:editableValue
								bean="${mappingJobPanelInstance}" field="operation"
								url="${request.contextPath}/MappingJobPanel/updatefield" type="text"
								title="Enter operation" onsuccess="reloadMappingJobPanelTable();" />--}%
							
								${mappingJobPanelInstance?.operation?.encodeAsHTML()}
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${mappingJobPanelInstance?.masterpanel}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="masterpanel-label" class="property-label"><g:message
					code="mappingJobPanel.masterpanel.label" default="Masterpanel" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="masterpanel-label">
						%{--<ba:editableValue
								bean="${mappingJobPanelInstance}" field="masterpanel"
								url="${request.contextPath}/MappingJobPanel/updatefield" type="text"
								title="Enter masterpanel" onsuccess="reloadMappingJobPanelTable();" />--}%
							
								${mappingJobPanelInstance?.masterpanel?.encodeAsHTML()}
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${mappingJobPanelInstance?.createdBy}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="createdBy-label" class="property-label"><g:message
					code="mappingJobPanel.createdBy.label" default="Created By" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="createdBy-label">
						%{--<ba:editableValue
								bean="${mappingJobPanelInstance}" field="createdBy"
								url="${request.contextPath}/MappingJobPanel/updatefield" type="text"
								title="Enter createdBy" onsuccess="reloadMappingJobPanelTable();" />--}%
							
								<g:fieldValue bean="${mappingJobPanelInstance}" field="createdBy"/>
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${mappingJobPanelInstance?.updatedBy}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="updatedBy-label" class="property-label"><g:message
					code="mappingJobPanel.updatedBy.label" default="Updated By" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="updatedBy-label">
						%{--<ba:editableValue
								bean="${mappingJobPanelInstance}" field="updatedBy"
								url="${request.contextPath}/MappingJobPanel/updatefield" type="text"
								title="Enter updatedBy" onsuccess="reloadMappingJobPanelTable();" />--}%
							
								<g:fieldValue bean="${mappingJobPanelInstance}" field="updatedBy"/>
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${mappingJobPanelInstance?.lastUpdProcess}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="lastUpdProcess-label" class="property-label"><g:message
					code="mappingJobPanel.lastUpdProcess.label" default="Last Upd Process" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="lastUpdProcess-label">
						%{--<ba:editableValue
								bean="${mappingJobPanelInstance}" field="lastUpdProcess"
								url="${request.contextPath}/MappingJobPanel/updatefield" type="text"
								title="Enter lastUpdProcess" onsuccess="reloadMappingJobPanelTable();" />--}%
							
								<g:fieldValue bean="${mappingJobPanelInstance}" field="lastUpdProcess"/>
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${mappingJobPanelInstance?.dateCreated}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="dateCreated-label" class="property-label"><g:message
					code="mappingJobPanel.dateCreated.label" default="Date Created" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="dateCreated-label">
						%{--<ba:editableValue
								bean="${mappingJobPanelInstance}" field="dateCreated"
								url="${request.contextPath}/MappingJobPanel/updatefield" type="text"
								title="Enter dateCreated" onsuccess="reloadMappingJobPanelTable();" />--}%
							
								<g:formatDate date="${mappingJobPanelInstance?.dateCreated}" type="datetime" style="MEDIUM" />
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${mappingJobPanelInstance?.lastUpdated}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="lastUpdated-label" class="property-label"><g:message
					code="mappingJobPanel.lastUpdated.label" default="Last Updated" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="lastUpdated-label">
						%{--<ba:editableValue
								bean="${mappingJobPanelInstance}" field="lastUpdated"
								url="${request.contextPath}/MappingJobPanel/updatefield" type="text"
								title="Enter lastUpdated" onsuccess="reloadMappingJobPanelTable();" />--}%
							
								<g:formatDate date="${mappingJobPanelInstance?.lastUpdated}" type="datetime" style="MEDIUM" />
							
						</span></td>
					
				</tr>
				</g:if>
			
			</tbody>
		</table>
		<g:form class="form-horizontal">
			<fieldset class="buttons controls">
				<a class="btn cancel" href="javascript:void(0);"
					onclick="expandTableLayout();"><g:message
						code="default.button.cancel.label" default="Cancel" /></a>		
				<g:remoteLink class="btn btn-primary edit" action="edit"
					id="${mappingJobPanelInstance?.id}"
					update="[success:'mappingJobPanel-form',failure:'mappingJobPanel-form']"
					on404="alert('not found');">
					<g:message code="default.button.edit.label" default="Edit" />
				</g:remoteLink>
				<ba:confirm id="delete" class="btn cancel"
					message="${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}"
					onsuccess="deleteMappingJobPanel('${mappingJobPanelInstance?.id}')" label="${message(code: 'default.button.delete.label', default: 'Delete')}"/>
			</fieldset>
		</g:form>
	</div>
</body>
</html>
