

<%@ page import="com.kombos.administrasi.DealerPenjual" %>
<!DOCTYPE html>
<html>
<head>
<meta name="layout" content="main">
<r:require modules="bootstrapeditable" />
<g:set var="entityName"
	value="${message(code: 'dealer.label', default: 'Dealer')}" />
<title><g:message code="default.show.label" args="[entityName]" /></title>
<g:javascript disposition="head">
var deleteDealer;

$(function(){ 
	deleteDealer=function(id){
		$.ajax({type:'POST', url:'${request.contextPath}/dealer/delete/',
			data: { id: id },
   			success:function(data,textStatus){
   				reloadDealerTable();
   				expandTableLayout();
   			},
   			error:function(XMLHttpRequest,textStatus,errorThrown){},
   			complete:function(XMLHttpRequest,textStatus){
   				$('#spinner').fadeOut();
   			}
   		});
	}
});

</g:javascript>
</head>
<body>
	<div id="show-dealer" role="main">
		<legend>
			<g:message code="default.show.label" args="[entityName]" />
		</legend>
		<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
		</g:if>
		<table id="dealer"
			class="table table-bordered table-hover">
			<tbody>

            <g:if test="${dealerInstance?.m091ID}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="m091ID-label" class="property-label"><g:message
                                code="dealerInstance.m091ID.label" default="Kode Dealer" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="m091ID-label">
                        <g:fieldValue bean="${dealerInstance}" field="m091ID"/>

                    </span></td>

                </tr>
            </g:if>

            <g:if test="${dealerInstance?.m091NamaDealer}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="m091NamaDealer-label" class="property-label"><g:message
                                code="dealerPenjual.m091NamaDealer.label" default="Nama Dealer" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="m091NamaDealer-label">
                        <g:fieldValue bean="${dealerInstance}" field="m091NamaDealer"/>

                    </span></td>

                </tr>
            </g:if>

            <g:if test="${dealerInstance?.m091AlamatDealer}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="m091AlamatDealer-label" class="property-label"><g:message
                                code="dealerPenjual.m091AlamatDealer.label" default="Alamat Dealer" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="m091AlamatDealer-label">
                        <g:fieldValue bean="${dealerInstance}" field="m091AlamatDealer"/>

                    </span></td>

                </tr>
            </g:if>

            <g:if test="${dealerInstance?.dateCreated}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="dateCreated-label" class="property-label"><g:message
                                code="dealer.dateCreated.label" default="Date Created" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="dateCreated-label">
                        <g:formatDate date="${dealerInstance?.dateCreated}" type="datetime" style="MEDIUM" />

                    </span></td>

                </tr>
            </g:if>

            <g:if test="${dealerInstance?.createdBy}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="createdBy-label" class="property-label"><g:message
                                code="dealer.createdBy.label" default="Created By" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="createdBy-label">
                        <g:fieldValue bean="${dealerInstance}" field="createdBy"/>

                    </span></td>

                </tr>
            </g:if>

            <g:if test="${dealerInstance?.lastUpdProcess}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="lastUpdProcess-label" class="property-label"><g:message
                                code="dealer.lastUpdProcess.label" default="Last Upd Process" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="lastUpdProcess-label">
                        <g:fieldValue bean="${dealerInstance}" field="lastUpdProcess"/>

                    </span></td>

                </tr>
            </g:if>


            <g:if test="${dealerInstance?.lastUpdated}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="lastUpdated-label" class="property-label"><g:message
                                code="dealer.lastUpdated.label" default="Last Updated" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="lastUpdated-label">
                        <g:formatDate date="${dealerInstance?.lastUpdated}" type="datetime" style="MEDIUM"  />

                    </span></td>

                </tr>
            </g:if>

            <g:if test="${dealerInstance?.updatedBy}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="updatedBy-label" class="property-label"><g:message
                                code="dealer.updatedBy.label" default="Updated By" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="updatedBy-label">
                        <g:fieldValue bean="${dealerInstance}" field="updatedBy"/>

                    </span></td>

                </tr>
            </g:if>


			</tbody>
		</table>
		<g:form class="form-horizontal">
			<fieldset class="buttons controls">
				<a class="btn cancel" href="javascript:void(0);"
					onclick="expandTableLayout();"><g:message
						code="default.button.cancel.label" default="Cancel" /></a>		
				<g:remoteLink class="btn btn-primary edit" action="edit"
					id="${dealerInstance?.id}"
					update="[success:'dealer-form',failure:'dealer-form']"
					on404="alert('not found');">
					<g:message code="default.button.edit.label" default="Edit" />
				</g:remoteLink>
				<ba:confirm id="delete" class="btn cancel"
					message="${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}"
					onsuccess="deleteDealer('${dealerInstance?.id}')" label="${message(code: 'default.button.delete.label', default: 'Delete')}"/>
			</fieldset>
		</g:form>
	</div>
</body>
</html>
