
<%@ page import="com.kombos.customerprofile.Agama" %>

<r:require modules="baseapplayout" />
<g:render template="../menu/maxLineDisplay"/>

<table id="agama_datatables" cellpadding="0" cellspacing="0"
	border="0"
	class="display table table-striped table-bordered table-hover table-selectable"
	width="100%">
	<thead>
		<tr>
			<th style="border-bottom: none;padding: 5px;">
				<div><g:message code="agama.m061ID.label" default="Kode Agama" /></div>
			</th>
			<th style="border-bottom: none;padding: 5px;">
				<div><g:message code="agama.m061NamaAgama.label" default="Nama Agama" /></div>
			</th>
		</tr>
		<tr>
			<th style="border-top: none;padding: 5px;">
				<div id="filter_m061ID" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;">
					<input type="text" name="search_m061ID" class="search_init" onkeypress="return isNumberKey(event)" />
				</div>
			</th>
			<th style="border-top: none;padding: 5px;">
				<div id="filter_m061NamaAgama" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;">
					<input type="text" name="search_m061NamaAgama" class="search_init" />
				</div>
			</th>
		</tr>
	</thead>
</table>

<g:javascript>
var agamaTable;
var reloadAgamaTable;
var reloadAgamaTableSave;
$(function(){

	reloadAgamaTable = function() {
		agamaTable.fnDraw();
	}
	reloadAgamaTableSave = function() {
	    toastr.success('<div>Save Data Sukses.</div>');
		agamaTable.fnDraw();
	}
    var recordsAgamaPerPage = [];//new Array();
    var anAgamaSelected;
    var jmlRecAgamaPerPage=0;
    var id;


$("th div input").bind('keypress', function(e) {
		var code = (e.keyCode ? e.keyCode : e.which);
		if(code == 13) {
			e.stopPropagation();
		 	agamaTable.fnDraw();
		}
	});
	$("th div input").click(function (e) {
	 	e.stopPropagation();
	});

	agamaTable = $('#agama_datatables').dataTable({
		"sScrollX": "100%",
		"bScrollCollapse": true,
		"bAutoWidth" : false,
		"bPaginate" : true,
		"sInfo" : "",
		"sInfoEmpty" : "",
		"sDom": "<'row-fluid'r>t<'row-fluid'<'span12'i>><'row-fluid'<'span12'p>>",
		bFilter: true,
		"bStateSave": false,
		'sPaginationType': 'bootstrap',
		"fnDrawCallback": function () {
            var rsAgama = $("#agama_datatables tbody .row-select");
            var jmlAgamaCek = 0;
            var nRow;
            var idRec;
            rsAgama.each(function() {
                idRec = $(this).next("input:hidden").val();
                nRow = $(this).parent().parent();//.addClass('row_selected');
                if(recordsAgamaPerPage[idRec]=="1"){
                    jmlAgamaCek = jmlAgamaCek + 1;
                    $(this).attr('checked', true);
                    nRow.addClass('row_selected');
                } else if(recordsAgamaPerPage[idRec]=="0"){
                    $(this).attr('checked', false);
                    nRow.removeClass('row_selected');
                }

            });
            jmlRecAgamaPerPage = rsAgama.length;
            if(jmlAgamaCek==jmlRecAgamaPerPage && jmlRecAgamaPerPage>0){
                $('.select-all').attr('checked', true);
            } else {
                $('.select-all').attr('checked', false);
            }
            //alert("apakah ini : "+rs.length);
        },
		"fnInitComplete": function () {
			this.fnAdjustColumnSizing(true);
		   },
		   "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
			return nRow;
		   },
		"bSort": true,
		"bProcessing": true,
		"bServerSide": true,
		"sServerMethod": "POST",
		"iDisplayLength" : maxLineDisplay, //maxLineDisplay is set in menu/maxLineDisplay.gsp
		"sAjaxSource": "${g.createLink(action: "datatablesList")}",
		"aoColumns": [

{
	"sName": "m061ID",
	"mDataProp": "m061ID",
	"aTargets": [0],
	"mRender": function ( data, type, row ) {
		return '<input type="checkbox" class="pull-left row-select" aria-label="Row '+row['id']+'" title="Select this"><input type="hidden" value="'+row['id']+'">&nbsp;&nbsp;<a href="#" onclick="show('+row['id']+');">'+data+'</a><a class="pull-right cell-action" href="javascript:void(0);" onclick="edit('+row['id']+');">&nbsp;&nbsp;<i class="icon-pencil"></i>&nbsp;&nbsp;</a>';
	},
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"300px",
	"bVisible": true
}

,

{
	"sName": "m061NamaAgama",
	"mDataProp": "m061NamaAgama",
	"aTargets": [1],
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"200px",
	"bVisible": true
}

],
        "fnServerData": function ( sSource, aoData, fnCallback, oSettings ) {

						var m061ID = $('#filter_m061ID input').val();
						if(m061ID){
							aoData.push(
									{"name": 'sCriteria_m061ID', "value": m061ID}
							);
						}

						var m061NamaAgama = $('#filter_m061NamaAgama input').val();
						if(m061NamaAgama){
							aoData.push(
									{"name": 'sCriteria_m061NamaAgama', "value": m061NamaAgama}
							);
						}

						$.ajax({ "dataType": 'json',
							"type": "POST",
							"url": sSource,
							"data": aoData ,
							"success": function (json) {
								fnCallback(json);
							   },
							"complete": function () {
							   }
						});
		}
	});
	$('.select-all').click(function(e) {

        $("#agama_datatables tbody .row-select").each(function() {
            if(this.checked){
                recordsAgamaPerPage[$(this).next("input:hidden").val()] = "1";
            } else {
                recordsAgamaPerPage[$(this).next("input:hidden").val()] = "0";
            }
        });

    });

	$('#agama_datatables tbody tr').live('click', function () {

        id = $(this).find('.row-select').next("input:hidden").val();
        if($(this).find('.row-select').is(":checked")){
            recordsAgamaPerPage[id] = "1";
            $(this).find('.row-select').parent().parent().addClass('row_selected');
            anAgamaSelected = agamaTable.$('tr.row_selected');
            if(jmlRecAgamaPerPage == anAgamaSelected.length){
                $('.select-all').attr('checked', true);
            }
        } else {
            recordsAgamaPerPage[id] = "0";
            $('.select-all').attr('checked', false);
            $(this).find('.row-select').parent().parent().removeClass('row_selected');
        }
    });
});
</g:javascript>



