@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxh_xHqYgAV9Bl_ZQbYUxnQU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxn5HxGBcBvicCpTp6spHfNo.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxjqR_3kx9_hJXbbyU8S6IN0.woff) format('woff');
}

/* body { */
/* 	margin: 0; */
/* 	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; */
/* 	line-height: 20px; */
/* 	color: #444; */
/* 	background-color: #f1f1f1 */
/* } */

#menu-navbar {
    height: 30px;
    overflow-y: hidden;
}

.breadcrumb {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    border-radius: 2px 2px 2px 2px;
    box-shadow: none;
    color: #AAAAAA;
    margin: -20px 0;
}
.breadcrumb span {
    text-shadow: 1px 1px 0 #FFFFFF;
}
.breadcrumb a {
    color: #AAAAAA;
    text-shadow: 0 1px 1px #FFFFFF;
}
.breadcrumb a:hover {
    color: #646464;
    text-decoration: none;
    text-shadow: 0 1px 1px #FFFFFF;
}

#left-panel ul ul{
	padding-top: 0;
}

.box-header {
    color: #222222;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 0;
    margin-left: 10px;
    padding-bottom: 0px;
    text-transform: capitalize;
}

.box-collapse,.box-expand, .box-action, .box-header .nav {
	color: #888;
	font-size: 11px;
	font-weight: 600;
	position: relative;
	text-transform: none;
	-webkit-text-shadow: #fff 0 1px 0;
	-moz-text-shadow: #fff 0 1px 0;
	-o-text-shadow: #fff 0 1px 0;
	text-shadow: #fff 0 1px 0
}

.box-collapse:hover,.box-expand:hover, .box-action:hover {
	color: #444;
	text-decoration: none
}

.box-header {
	overflow: hidden;
	margin-bottom: 0;
}

.box-header ul {
	overflow: visible;
	padding-left: 0;
	zoom: 1;
}

.box-header li {
	display: block;
	float: left;
	list-style-type: none;
	padding: 0;
}

.box-header .nav {
	bottom: 10px;	
	margin: 2px 1px 0 0;
}

.box-header .separator {
	background-color: #EEEEEE;
	background-color: rgba(255, 255, 255, 0.15);
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	display: inline-block;
	height: 16px;
	margin-top: 11px;
	width: 1px
}

.box-header .nav > li > a {
    color: #777777;
    float: none;
    padding: 5px 5px;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
}

.box-header .nav li.dropdown.open > .dropdown-toggle, .box-header .nav li.dropdown.active > .dropdown-toggle, .box-header .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: transparent;
    color: #555555;
}


element.style {
    position: relative;
}
.x-viewport body {
    overflow-y: auto;
}
.x-viewport, .x-viewport body {
    border: 0 none;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.x-border-layout-ct {
    background: none repeat scroll 0 0 #FFFFFF;
}
img, body, html {
    border: 0 none;
}
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
body {
    background: none repeat scroll 0 0 white;
    color: #333333;
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 11px;
    line-height: 150%;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

div.dataTables_paginate {
	float: left;
}
.table thead th {
	vertical-align: top;
}
label, input, button, select, textarea {
    font-size: 12px;
}

input {
	font-family: verdana,arial,helvetica,sans-serif;
}

#left-panel, #left-panel li,#left-panel a, #left-panel a span {
	width: 110px;
}

td:hover .cell-action{ /* Display the cell action on hover */
	display: block; /* Bring back on-screen when needed */
	color: #999999;
	text-decoration: none;
}

body {
    background: none repeat scroll 0 0 white;
    color: #333333;
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 11px;
    line-height: 150%;
    background-image: url("../../images/bg-body.png");
    padding: 99px 0 0 10px;
    margin: 0;
}

td .cell-action{ /* Display the cell action on hover */
	display: none; /* Bring back on-screen when needed */
}

table.display tr.even.row_selected td {
	background-color: #EFC980;
}

table.display tr.odd.row_selected td {
    background-color: #EFC980;
}

table.display tr.even.row_selected th {
	background-color: #EFC980;
}

table.display tr.odd.row_selected th {
    background-color: #EFC980;
}

table.display tr.even.background-color-yellow td {
    background-color: yellow;
}

table.display tr.odd.background-color-yellow td {
    background-color: yellow;
}

table.display tr.even.background-color-green td {
    background-color: greenyellow;
}

table.display tr.odd.background-color-green td {
    background-color: greenyellow;
}

#content-layout {
	margin-left: -10px; 
}

#main-content {
	margin-top: -10px;
}


#main-content .box div {
    -webkit-transition: width 0.3s ease, margin 0.3s ease;
    -moz-transition: width 0.3s ease, margin 0.3s ease;
    -o-transition: width 0.3s ease, margin 0.3s ease;
    transition: width 0.3s ease, margin 0.3s ease;
}

.navbar-fixed-top,.navbar-fixed-bottom, .search-navbar-fixed-top, .info-bar-fixed-bottom {
	position: fixed;
	z-index: 1050;
}

.navbar-fixed-top {
	margin-bottom: 0px;
}

.navbar .nav > li > a {
    color: #888888;
    padding: 8px 4px;
}

.search-navbar-fixed-top {
    top: 37px;
    left: 0;
   /* padding: 4px 24px 4px 94px;*/
    position: fixed;
    right: 0;
    height:53px;
    z-index: 1040;
}

.search-form-control {
	float:left;
	padding-left: 50px; 
	padding-top: 3px;
}

.search-navbar-fixed-top .search-input {
	border: 1px solid #454545;
    border-radius: 3px;
    display: block;
    float: left;
    width: 130px;
}

.search-navbar-fixed-top .search-button {	
    height: 20px;
    margin-right: 5px;
    margin-top: 0; 
    padding: 4px 4px 4px 4px;
    vertical-align: middle;
    outline: medium none;     
    text-decoration: none;
    width: 100px;
}

.search-navbar-fixed-top .search-combo {
	box-shadow: 1px 1px 0 #1D1D1D inset;
    color: #DBDBDB;
    font-size: 16px; 
    height: 30px; 
    line-height: 28px; 
    margin-right: 5px;
    margin-top: 0; 
    outline: medium none; 
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); 
    background: url("../images/search_bg_field.png") repeat-x scroll 0 0 #353535;
}

.search-navbar-fixed-top .search-query {
	box-shadow: 1px 1px 0 #1D1D1D inset;
    color: #DBDBDB;
    font-size: 16px;
    height: 20px;
    margin-right: 5px;
    margin-top: 0;
    outline: medium none;
    padding: 4px 4px 4px 8px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    vertical-align: middle;
    -moz-box-sizing: content-box;
    background: url("../images/search_bg_field.png") repeat-x scroll 0 0 #353535;
}
.search-navbar-fixed-top .search-query:-moz-placeholder, .search-navbar-fixed-top .search-combo:-moz-placeholder {
    color: rgba(238, 238, 238, 0.76);
}
.search-navbar-fixed-top .search-query::-moz-placeholder, .search-navbar-fixed-top .search-combo::-moz-placeholder {
    color: rgba(238, 238, 238, 0.76);
}
.search-navbar-fixed-top .search-query:focus, .search-navbar-fixed-top .search-combo:focus  {
    width: 160px;
}

.search-navbar-fixed-top label {
     padding: 1px 0px 0px 0px;
     margin-bottom: 2px;
}

.menu-navbar-fixed-top {
	font-size: 10px;
    
    left: 0;
    margin-bottom: 0;
    position: fixed;
    right: 0;
    z-index: 1030;
}

.info-bar-fixed-bottom {
	font-size: 14px;
	color: #ffffff;
    bottom: 0px;
    left: 0;
    margin-bottom: 0;
    position: fixed;
    right: 0;
    z-index: 1030;
    line-height: 20px;
}

.info-bar-fixed-bottom .info {
    background: #2b2b2b url("../../images/menu_bg.png");
}

.board-car1 {
    background-color: white;
    background: #078DC6 url("../../images/board/car1.png");
}
.board-car2 {
    background-color: white;
    background: #FFDE00 url("../../images/board/car2.png");
}
.board-car3 {
    background-color: white;
    background: #06B33A url("../../images/board/car3.png");
}
.board-car4 {
    background-color: white;
    background: #FF3229 url("../../images/board/car4.png");
}
.board-car5 {
    background-color: white;
    background: #ffe2e2 url("../../images/board/car5.png");
}
.followUp-ok {
    background:url("../../images/followUp/ok.png") no-repeat;
    background-position:center;
}
.followUp-delete {
    background:url("../../images/followUp/delete.png")  no-repeat;
    background-position:center;
}
.followUp-warning {
    background:url("../../images/followUp/warning.png")  no-repeat;
    background-position:center;
}

.info-bar-fixed-bottom .carousel-control{
	font-size: 14px;
	background: none;
}

.info-bar-fixed-bottom .carousel{
	margin-bottom: 0;
}

.info-bar-fixed-bottom .carousel-inner{
	padding: 5px 20px 5px 20px;
}

#main-navbar .dropdown-menu li a, #menu-navbar .dropdown-menu li a {
    font-size: 12px;
}

#search-navbar {
	background: #2b2b2b url("../../images/search_bg_dark.png");
	border-bottom: none;
}

#search-navbar form {
	padding: 2px 2px 2px 2px;
}

#search-navbar label {
	font-family: verdana,arial,helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 110%;
    color: #dedede;
}

#menu-navbar, #main-navbar .navbar-inner, #main-navbar .navbar-inner, #info-bar {
	background: #2b2b2b url("../../images/menu_bg.png");
	border-bottom: none;
}

#main-navbar {
    background: #2b2b2b url("../../images/bg-body.png"); 
    border-bottom: none;
}
#main-navbar .container-fluid {
    padding-left: 0px;
}
#main-navbar .container {
	margin: 0
}

#main-navbar .navbar-inner {
	background: #93ca47;
	border-bottom: 1px solid #8d331c;
	-webkit-box-shadow: rgba(255, 255, 255, 0.25) 0 1px 0 inset;
	-moz-box-shadow: rgba(255, 255, 255, 0.25) 0 1px 0 inset;
	box-shadow: rgba(255, 255, 255, 0.25) 0 1px 0 inset;
	background-color: #df6b3e;
	background-image: -moz-linear-gradient(top, #e37742, #93ca47);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e37742),
		to(#93ca47) );
	background-image: -webkit-linear-gradient(top, #e37742, #93ca47);
	background-image: -o-linear-gradient(top, #e37742, #93ca47);
	background-image: linear-gradient(to bottom, #e37742, #93ca47);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe37742',
		endColorstr='#ff93ca47', GradientType=0 )
}

#main-navbar .separator {
	background-color: rgba(255, 255, 255, 0.15);
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	display: inline-block;
	height: 14px;
	margin-top: 12px;
	width: 1px
}

#main-navbar .logo {
	display: block;
	float: left;
	font-size: 18px;
	margin: 0;
	padding-left: 15px;
}

#main-navbar .title {
	display: block;
	float: left;
	font-size: 20px;
	padding: 10px 0 5px 15px;
}

#main-navbar .messages {
	font-size: 10px;
	font-weight: 700;
	padding-left: 30px
}

#main-navbar .messages i {
	display: inline-block;
	font-size: 10px;
	line-height: 21px
}

#main-navbar .usermenu {
	font-size: 12px;
/* 	font-weight: 600; */
	line-height: 22px;
	padding: 10px 15px 8px 15px;
	color: #333333;
}

#main-navbar .usermenu>img {
	display: inline-block;
	height: 23px;
	vertical-align: top;
	width: 23px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0
}

#main-navbar .title{
	
}

#main-navbar .messages,#main-navbar .usermenu,#main-navbar .logo {
	/*color: #fff;*/
	text-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0;
	opacity: 1;
	filter: alpha(opacity = 100);
	-webkit-transition: opacity .2s;
	-moz-transition: opacity .2s;
	-o-transition: opacity .2s;
	transition: opacity .2s
}

#main-navbar .messages:hover,#main-navbar .usermenu:hover,#main-navbar .logo:hover
	{
	opacity: .7;
	filter: alpha(opacity = 70)
}

#main-navbar .open>a,#main-navbar .open>a:hover {
	background: rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 5px inset;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 5px inset;
	box-shadow: rgba(0, 0, 0, 0.1) 0 1px 5px inset;
	opacity: 1;
	filter: alpha(opacity = 100);
	-webkit-transition: opacity 0s;
	-moz-transition: opacity 0s;
	-o-transition: opacity 0s;
	transition: opacity 0s
}

#main-navbar .dropdown-menu li a {
	font-size: 13px
}

#main-navbar, #menu-navbar, #search-navbar {
	/*border-bottom: 1px solid #8d331c;*/
    border-bottom: 1px solid #93CA47;
}

#menu-navbar li,#left-panel a {
	list-style: none;
}

#menu-navbar>ul>li>a {
	text-decoration: none;
	text-shadow: none;
	color: #ffffff;
/*     color: #333333; */
}

#menu-navbar.navbar .nav > .active > a, #menu-navbar.navbar .nav > .open > a, #menu-navbar.navbar .nav > .active > a:hover, #menu-navbar.navbar .nav > .active > a:focus {
    background-color: none;
    /*box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;*/
    /*color: #ffae78;*/
    color: #ffffff;
    text-decoration: none;
}

#menu-navbar .active > a, #menu-navbar .open > a {
	clear: both;
	background: #2b2b2b url("../../images/bg-body-bar.jpg");
}

#menu-navbar > ul > li > a:hover,#left-panel > ul > li > a:hover span {
	/*color: #ccc;*/
    color : #FFF;
	text-shadow: rgba(255, 255, 255, 0.3) 0 0 5px
}

#menu-navbar .separator {
	background-color: #EEEEEE;
    background-color: rgba(255, 255, 255, 0.35);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    display: inline-block;
    height: 16px;
    margin-top: 10px;
    width: 1px;
}

.dropdown-menu {
    background-clip: padding-box;
    background-color: #FCFCFC;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    left: 0;
    list-style: none outside none;
    margin: 0;
    max-width: 500px;
    min-width: 160px;
    padding: 0;
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: 1000;
    font-weight: 300;
}

th .open > .dropdown-menu {
    display: block;
}

th .dropdown-menu {
	
    background-clip: padding-box;
    background-color: #FCFCFC;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
/*     float: left; */
/*     left: 0; */
    list-style: none outside none;
    margin: 0;
    max-width: 300px;
    min-width: 160px;
    padding: 0;
    position:static;
    text-shadow: none;
    top: 100%;
    z-index: 1000;
    font-weight: 200;
    clear: both;
}

.dropdown-menu-title {
    background: none repeat scroll 0 0 #F6F6F6;
    color: #646464;
    display: block;
    padding: 5px 10px;
}

ul.tasks li .time {
    font-size: 11px;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    right: 5px;
}

ul.notifications li, ul.tasks li, ul.messages li {
    width: 260px;
}

/* logo tam */
.navbar-inner .container-fluid {
	padding-left: 0px;
}
input.search_init {
  width: 70%;
  word-break:break-all;
}

.criteria .row-fluid [class*="span"] {
    margin-left: 4px;
}

ul.nav li.dropdown:hover > ul.dropdown-menu{
    display: block;    
}

a.menu:after, .dropdown-toggle:after {
    content: none;
}

table {
	font-size: 11px;
}

.btn {
	font-size: 12px
}

.error {
   color: red;  
}

.dataTables_wrapper{
	overflow-x:auto;
	height: auto;
	width: 100%;
}

.spinner{
	display: none;
    padding: 100px 45%;
    position: fixed;
}

.noselect {
    font-style: italic;
    font-weight: 700;
    color:#000000 !important;     
    background:#e8e8e8;
}

.noselect {
    font-style: italic;
    font-weight: 700;
    color:#000000 !important;     
    background:#e8e8e8;
}

.odd td {
	background: #E8F2D8;
}

.locked td {
	background:#E0E0E0;
}

.param {
	color: #333333;
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 150%;
}

.table td {
  padding: 4px;
  padding-left: 7px;
  padding-right: 7px;
}

input[disabled], select[disabled], textarea[disabled] {
    border-color: #CCCCCC;
    color: #555555;
}
.ba-green {
  color: #93ca47;
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    line-height: 20px;
    height: 20px;
}
.no-border {
	background: 0;
	border: 0;
	padding: 0;
}

.general-parameter .form-horizontal .control-label {
		width: 200px;
}

.general-parameter .form-horizontal .controls {
	margin-left: 220px;
}

legend + .control-group {
    margin-top: 0px;
}

.customer-company input, .customer-company textarea, .customer-company .uneditable-input {
    width: 156px;
}

.customer-company select {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    width: 170px;
}

form .nav-tabs {
	margin-bottom: 0;
}

form .tab-content{
	padding-bottom: 9px; 
	padding-top: 12px; 
	border-left: 1px solid #ddd; 
	border-right: 1px solid #ddd; 
	border-bottom: 1px solid #ddd;
}

.ui-tabs .ui-tabs-panel {
        display: block;
        border-width: 0;
        padding: 1em 1.4em;
        background: none;
        font-size: x-small;
    }

    label, input, button, select, textarea {
        font-size: 10px;
    }

    .form-horizontal .control-group {
        margin-bottom: 5px;
    }


.table input.inline-edit, .table select.inline-edit {
	width: auto;
	height: auto;
	margin-top: -3px;
	margin-left: -6px;
	margin-right: -6px;
	margin-bottom:-3px;
}

td.details {
	padding: 0;
}
td.details .table-bordered {
    border: none;
}
td.details .table-bordered thead:first-child tr:first-child > th:first-child, td.details .table-bordered tbody:first-child tr:first-child > td:first-child, td.details .table-bordered tbody:first-child tr:first-child > th:first-child {
    border: none;
}
td.details .dataTables_processing {
	display: none;class
}

td.details .table-bordered thead:last-child tr:last-child > th:first-child, td.details .table-bordered tbody:last-child tr:last-child > td:first-child, td.details .table-bordered tbody:last-child tr:last-child > th:first-child, td.details .table-bordered tfoot:last-child tr:last-child > td:first-child, td.details .table-bordered tfoot:last-child tr:last-child > th:first-child {
    border: none;
}
td.details .table-bordered th:first-child, td.details .table-bordered td:first-child {
    border-left: none;
}
div.innerDetails { display: none }

.home-task, .home-task a{
	font-size: 14px;
   	color: red;  
}
.home-task span{
	padding: 4px 4px 4px 4px;
}
#home-task{
	margin-left: 0px;
}
.home-iu span{
	font-size: 14px;
	background-color: #E46837;
    background-image: linear-gradient(to bottom, #5C970B, #93CA47);
    background-repeat: repeat-x;
    border-color: #D6D6D6; 
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    padding: 2px 10px 2px 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.home-iu{
	margin-left: 0px; 
    margin-bottom: 1px;
}
#home-iu .box{
	border-top-left-radius: 0px;
}
#home-iu ul {
	margin-top: -12px;
}
#home-shortcut img{
	position: relative;
    z-index: -1;
	width: 680px; 
	height: 430px;
	margin-right: 0px; 
	margin-bottom: 0px; 
	margin-left: -100px;
	padding-right: 80px; 
	
}
.home-summary span{
	font-size: 14px;
	background-color: #E46837;
    background-image: linear-gradient(to bottom, #5C970B, #93CA47);
    background-repeat: repeat-x;
    border-color: #D6D6D6; 
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    padding: 2px 10px 2px 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.home-summary{
	margin-left: 0px; 
    margin-bottom: 1px;
}
#home-summary .box{
	border-top-left-radius: 0px;
	padding: 0;
}
.home-approval span{
	font-size: 14px;
	background-color: #E46837;
    background-image: linear-gradient(to bottom, #5C970B, #93CA47);
    background-repeat: repeat-x;
    border-color: #D6D6D6; 
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    padding: 2px 10px 2px 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.home-approval{
	margin-left: 0px; 
    margin-bottom: 1px;
}
#home-approval .box{
	border-top-left-radius: 0px;
	padding: 0;
}

#home-approval table.table-bordered, #home-summary table.table-bordered{
	clear: both;
	margin-bottom: 0px !important;
	border: none !important;
}

#home-approval .table-bordered thead tr> th:first-child, #home-approval .table-bordered tbody tr > td:first-child, #home-approval .table-bordered tbody tr > th:first-child {
    border-left: none;
}
#home-summary .table-bordered tbody:first-child tr > td:first-child{
    border-left: none;
}


.datepicker{
	z-index: 2000;
}

#formPersetujuanApprovalModal input[type="text"], #formPersetujuanApprovalModal textarea{
	width: 300px;
}

.table-dark tbody > tr > td {
    background-color: #F9F9F9;
}

.table-dark tbody > tr > td.empty {
    background-color: #FFFFFF;
}
.table-label{
	font-size: 14px;
	background-color: #E46837;
    background-image: linear-gradient(to bottom, #5C970B, #93CA47);
    background-repeat: repeat-x;
    border-color: #D6D6D6; 
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    padding: 2px 10px 2px 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

fieldset .box-label {
	font-size: 14px;
	font-weight: 600;
	line-height: 30px;
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #E5E5E5;
    border-image: none;
    border-style: solid;
    border-width: 1px;
	border-color: #D6D6D6;
	color: #333333;
    padding: 2px 10px 2px 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
	display: block;
	width: auto;
}

fieldset .box-label{

}
fieldset .box {
	border-top-left-radius: 0;
    border-top-right-radius: 0;
}

fieldset .box input, fieldset .box textarea, fieldset .box .uneditable-input {
    width: 146px;
}

fieldset .box select {
    width: 160px;
}

#appointmentPreDiagnoseContent .form-horizontal .control-label{
	width: 250px;
}
#appointmentPreDiagnoseContent .form-horizontal .controls{
	margin-left: 270px;
}