#go_to_top {
	bottom: 35px;
    position: fixed;
    right: 2px;
    z-index: 2000;
}

#go_to_top .button {
	display: block;
	position: absolute;
	width: 35px;
	height: 35px;
	background: rgba(0, 0, 0, 0.75);
	margin-left: -35px;
	color: #e5e5e5;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
}

#go_to_top .button:hover {
	text-decoration: none;
	color: #fff;
	text-shadow: rgba(255, 255, 255, 0.6) 0 0 5px;
}

#go_to_top .button i {
	display: block;
	line-height: 35px;
	width: 35px;
	text-align: center;
	font-size: 18px;
}

