body {
    background: url("../images/login_bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #646464;
}
a {
    color: #646464;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #E0DFDF -moz-use-text-color #FEFEFE;
    border-image: none;
    border-left: 0 none;
    border-right: 0 none;
    border-style: solid none;
    border-width: 1px 0;
    margin: 20px 0;
}
h1 {
    font-size: 18px;
    line-height: 18px;
}
h2 {
    font-size: 16px;
    line-height: 16px;
}
h3 {
    font-size: 15px;
    line-height: 15px;
}
h4 {
    font-size: 14px;
    line-height: 14px;
}
h5 {
    font-size: 13px;
    line-height: 13px;
}
h6 {
    font-size: 12px;
    line-height: 12px;
}

.login-wrapper {
    animation: 1s ease 0s normal none 1 bounceInDownSmall;
    margin-left: 0;
    position: absolute;
    top: 50px;
    width: 100%;
}
.login-wrapper.fadeOutUp {
    animation: 0.5s ease-out 0s normal none 1 fadeOutUp;
    opacity: 0;
}
.login-wrapper .login-widget {
    margin: 20px auto 0;
    width: 400px;
    background: linear-gradient(to bottom, #F5F5F5 0px, #FFFFFF 19%, #FFFFFF 77%, #F5F5F5 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 2px;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.15);
}
.login-wrapper .login-widget .widget {
    box-shadow: 0 1px 15px -4px #000000;
}
.login-wrapper .control-label {
	font-weight: 700;
}
.box {
    margin: 20px 0;
}
.box-header {
    background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FAFAFA, #EFEFEF);
    border: 1px solid #DDDDDD;
    border-radius: 2px 2px 0 0;
    box-shadow: none;
    height: 20px;
    margin-bottom: -1px;
    overflow: hidden;
    padding: 10px;
}
.box-header h2 {
    color: #646464;
    float: left;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    margin-top: 2px;
    text-shadow: 0 1px 0 #FFFFFF;
}
.box-header h2 i {
    margin: 1px 3px 0 5px;
    opacity: 0.4;
}
.box-header .break {
    border-left: 1px solid #FCFCFC;
    border-right: 1px solid #DDDDDD;
    margin: -12px 10px -10px;
    padding: 12px 0 10px;
}
.box-header .box-icon {
    float: right;
    margin-top: 1px;
}
.box-header .box-icon i {
    opacity: 0.4;
    transition: all 0.1s ease-in-out 0s;
}
.box-header .box-icon i:hover {
    opacity: 0.8;
}
.box-header .box-icon a {
    margin: 0 5px;
}
.box-content {
    background: none repeat scroll 0 0 #FCFCFC;
    border: 1px solid #DDDDDD;
    border-radius: 0 0 2px 2px;
    margin-top: -1px;
    padding: 10px;
}
.navbar-fixed-top {
	position: fixed;
	margin-bottom: 0px;
}
.text-center{
	margin: 20px auto 0;
}
.ba-green {
  color: #93ca47;
}
.btn-primary {
	color: #fff;
	-webkit-text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
	-moz-text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
	-o-text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
	text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
	-webkit-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 inset;
	-moz-box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 inset;
	box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 inset;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #e46837;
	background-image: -moz-linear-gradient(top, #5c970b, #93ca47);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5c970b),
		to(#93ca47) );
	background-image: -webkit-linear-gradient(top, #5c970b, #93ca47);
	background-image: -o-linear-gradient(top, #5c970b, #93ca47);
	background-image: linear-gradient(to bottom, #5c970b, #93ca47);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5c970b',
		endColorstr='#ff93ca47', GradientType=0 );
	border-color: #93ca47 #93ca47 #a33b20;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #93ca47;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=  false );
	border-color: #314f08
}

.btn-primary .caret {
	border-top-color: #fff
}

.btn-primary:hover,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]
	{
	color: #fff;
	background-color: #93ca47;
	*background-color: #cd4a28
}

.btn-primary:active,.btn-primary.active {
	background-color: #b84224 \9
}

.btn-primary.disabled,.btn-primary[disabled] {
	background: #e07e63;
	border-color: #b86a57
}

.btn-primary.disabled:active,.btn-primary[disabled]:active,.btn-primary.disabled.active,.btn-primary[disabled].active
	{
	background: #e07e63
}

.login-wrapper .wrapper input[type="text"] {
    position: relative; 
}

.login-wrapper input { font-family: 'FontAwesome'; } /* This is for the placeholder */

.login-wrapper .wrapper:before {
    font-family: 'FontAwesome';
    color:red;
    position: absolute;
    top: 0px;
    left: -5px;
    content: "\f007";
    display: none;
}

