#theme_switcher {
	position: fixed;
	top: 80px;
	z-index: 2000;
	left: 100000;
}

#theme_switcher .button {
	display: block;
	position: absolute;
	width: 35px;
	height: 35px;
	background: rgba(0, 0, 0, 0.75);
	margin-left: -35px;
	color: #e5e5e5;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
}

#theme_switcher .button:hover {
	text-decoration: none;
	color: #fff;
	text-shadow: rgba(255, 255, 255, 0.6) 0 0 5px;
}

#theme_switcher .button i {
	display: block;
	line-height: 35px;
	width: 35px;
	text-align: center;
	font-size: 18px;
}

#theme_switcher .themes {
	display: block;
	width: 200px;
	background: rgba(0, 0, 0, 0.75);
	color: #fff;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	padding-bottom: 10px;
}

#theme_switcher .themes div {
	font-size: 15px;
	font-weight: 700;
	padding: 7px 20px;
}

#theme_switcher .themes a {
	display: block;
	color: #fff;
	padding: 7px 20px 7px 65px;
}

#theme_switcher .themes a span {
	display: block;
	position: absolute;
	width: 35px;
	height: 15px;
	margin: 3px 5px 0 -45px;
}

#theme_switcher .themes a.two-colors span {
	margin: 3px 5px 0 -45px;
	width: 15px;
}

#theme_switcher .themes a.two-colors span:last-child {
	margin: 3px 5px 0 -25px;
	width: 15px;
}
