
<!DOCTYPE html>
<html>
<head>
    <meta name="layout" content="main">
    <g:javascript disposition="head">
        //var reloadHistoryCustomerVehicleTable;
//        $( document ).ready(function() {
//            reloadHistoryCustomerVehicleTable();
//        });
    </g:javascript>
</head>
<body>
<div class="box">
    <div class="span12" id="SPKDetail-table">
        <g:render template="mappingVehicleDataTables"/>
    </div>
</div>
</body>

</html>
