<%@ page import="com.kombos.administrasi.FlatRate" %>

<div class="control-group fieldcontain ${hasErrors(bean: flatRateInstance, field: 'flatRate', 'error')} ">

    %{--</label>--}%
    <div class="controls">
        <input type="file" required="" id="fileExcelFlatRate" name="fileExcelFlatRate" accept="application/excel|application/vnd.ms-excel" />
        <br/>
        <a href="${request.getContextPath()}/formatFileUpload/UploadFlatRate.xls" >File Example Upload Flat Rate</a>
    </div>
</div>