
<%@ page import="com.kombos.reception.CustomerIn" %>

<r:require modules="baseapplayout" />
<g:render template="../menu/maxLineDisplay"/>



<table id="antrianBp_datatables" cellpadding="0" cellspacing="0"
	border="0"
	class="display table table-striped table-bordered table-hover"
	width="100%">
	<thead>
        <tr>
            <th style="border-bottom: none;padding: 5px; text-align: center; vertical-align: middle" >
                <div>Nomor Antrian</div>
            </th>
            <th style="border-bottom: none;padding: 5px; text-align: center; vertical-align: middle" >
                <div>Nomor Polisi</div>
            </th>
            <th style="border-bottom: none;padding: 5px; text-align: center; vertical-align: middle" >
                <div>Jam Datang</div>
            </th>
            <th style="border-bottom: none;padding: 5px; text-align: center; vertical-align: middle" >
                <div>Janji Datang</div>
            </th>
            <th style="border-bottom: none;padding: 5px; text-align: center; vertical-align: middle" >
                <div>Nomor Loket</div>
            </th>
            <th style="border-bottom: none;padding: 5px; text-align: center; vertical-align: middle" >
                <div>Jam Reception</div>
            </th>
            <th style="border-bottom: none;padding: 5px; text-align: center; vertical-align: middle" >
                <div>Jam Produksi</div>
            </th>
        </tr>
	</thead>
</table>

<g:javascript>

var antrianBpTable;
var reloadAntrianBpTable;
var reloadAntrianBpTableSave;
$(function(){

	reloadAntrianBpTable = function() {
		antrianBpTable.fnDraw();
	}
    var recordsAntrianBpPerPage = [];//new Array();
    var jmlRecAntrianBpPerPage=0;

	antrianBpTable = $('#antrianBp_datatables').dataTable({
		"sScrollX": "100%",
		"bScrollCollapse": true,
		"bAutoWidth" : false,
		"bPaginate" : true,
		"sInfo" : "",
		"sInfoEmpty" : "",
		"sDom": "<'row-fluid'r>t<'row-fluid'<'span12'i>><'row-fluid'<'span12'p>>",
		bFilter: true,
		"bStateSave": false,
		'sPaginationType': 'bootstrap',
		"fnDrawCallback": function () {
            var rsAntrianBp = $("#antrianBp_datatables tbody .row-select");
            var jmlAntrianBpCek = 0;
            var nRow;
            var idRec;
            rsAntrianBp.each(function() {
                idRec = $(this).next("input:hidden").val();
                nRow = $(this).parent().parent();//.addClass('row_selected');
                if(recordsAntrianBpPerPage[idRec]=="1"){
                    jmlAntrianBpCek = jmlAntrianBpCek + 1;
                    $(this).attr('checked', true);
                    nRow.addClass('row_selected');
                } else if(recordsAntrianBpPerPage[idRec]=="0"){
                    $(this).attr('checked', false);
                    nRow.removeClass('row_selected');
                }

            });
            jmlRecAntrianBpPerPage = rsAntrianBp.length;

        },
		"fnInitComplete": function () {
			this.fnAdjustColumnSizing(true);
		   },
		   "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
			return nRow;
		   },
		"bSort": true,
		"bProcessing": true,
		"bServerSide": true,
		"sServerMethod": "POST",
		"iDisplayLength" : maxLineDisplay, //maxLineDisplay is set in menu/maxLineDisplay.gsp
		"sAjaxSource": "${g.createLink(action: "datatablesList")}",
		"aoColumns": [

{
	"sName": "t400NomorAntrian",
	"mDataProp": "t400NomorAntrian",
	"aTargets": [0],
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"300px",
	"bVisible": true
}

,

{
	"sName": "nopol",
	"mDataProp": "nopol",
	"aTargets": [1],
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"200px",
	"bVisible": true
}
,

{
	"sName": "t400TglJamReception",
	"mDataProp": "t400TglJamReception",
	"aTargets": [2],
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"200px",
	"bVisible": true
}
,

{
	"sName": "t400TglJamSelesaiReception",
	"mDataProp": "t400TglJamSelesaiReception",
	"aTargets": [3],
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"200px",
	"bVisible": true
}
,

{
	"sName": "m404NoLoket",
	"mDataProp": "m404NoLoket",
	"aTargets": [4],
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"200px",
	"bVisible": true
}
,

{
	"sName": "t400TglJamOut",
	"mDataProp": "t400TglJamOut",
	"aTargets": [5],
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"200px",
	"bVisible": true
}
,

{
	"sName": "t400TglJamOut",
	"mDataProp": "t400TglJamOut",
	"aTargets": [6],
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"200px",
	"bVisible": true
}

],
        "fnServerData": function ( sSource, aoData, fnCallback, oSettings ) {

						$.ajax({ "dataType": 'json',
							"type": "POST",
							"url": sSource,
							"data": aoData ,
							"success": function (json) {
								fnCallback(json);
							   },
							"complete": function () {
							   }
						});
		}
	});

});
</g:javascript>


			
