
<%@ page import="com.kombos.reception.CustomerIn" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<r:require modules="baseapplayout, baseapplist, bootstraptooltip" />
		<g:javascript>
			var show;
			var edit;
			$(function(){

});

</g:javascript>
	</head>
	<body>
    <div class="navbar box-header no-border">
   		<span class="pull-right" style="font-size: smaller">${datetimeDesc}</span>
   	</div>

	<div class="box">
        <legend style="font-size: larger; font-size: 20px; text-align: center">BOARD ANTRIAN BODY PAINT</legend>
        <g:render template="dataTables" />

        <div>
            <span class="pull-left" style="font-size: smaller">Daftar Antrian Selanjutnya</span>
        </div>
	</div>
</body>
</html>
