<g:javascript>
</g:javascript>
<div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Message Alert</h3>
</div>
<div class="modal-body">
	<div class="box">
		Job "A" dan Job "B" sudah merupakan paket dalam Job "C"	
	</div>
</div>
<div class="modal-footer">
    <a onclick="openDialog('dialog-reception-joborder');" class="btn btn-success">OK</a>
</div>