<%@ page import="com.kombos.customerprofile.HistoryCustomer" %>

<div class="control-group fieldcontain ${hasErrors(bean: historyCustomerInstance, field: 't182ID', 'error')} ">
    <div class="controls">
        <input type="file" required="" id="fileExcel" name="fileExcel" accept="application/excel|application/vnd.ms-excel" />
        <br/>
        <a href="${request.getContextPath()}/formatFileUpload/UploadDataSaless.xls" >File Example Upload Data Sales</a>
    </div>
</div>
