<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <title></title>
</head>

<body>
<div>
    <g:form action='aclEntrySearch' name='aclEntrySearchForm'>
        <table>
            <tbody>
            <tr>
                <td><g:message code='aclEntry.aclObjectIdentity.label' default='Key Sales Order'/>:</td>
                <td style="padding-right: 100px;"><g:textField name='aclObjectIdentity' size='50' maxlength='255' value='${aclObjectIdentity1}'/></td>
            </tr>
            <tr>
                <td><g:message code='aclEntry.aclObjectIdentity.label' default='Type Penjualan :'/></td>
                <td style="padding-right: 100px;"><g:textField name='aclObjectIdentity' size='50' maxlength='255' value='${aclObjectIdentity3}'/></td>
            </tr>
            <tr>
                <td><g:message code='aclEntry.aclObjectIdentity.label' default='Penjualan untuk'/>:</td>
                <td style="padding-right: 100px;"><g:textField name='aclObjectIdentity' size='50' maxlength='255' value='${aclObjectIdentity3}'/></td>

                <td><g:message code='aclEntry.aclObjectIdentity.label' default='Type Pembelian'/>:</td>
                <td style="padding-right: 100px;"><g:textField name='aclObjectIdentity' size='50' maxlength='255' value='${aclObjectIdentity4}'/></td>
            </tr>
            <tr>
                <td><g:message code='aclEntry.aclObjectIdentity.label' default='Nama Pelanggan'/>:</td>
                <td style="padding-right: 100px;"><g:textField name='aclObjectIdentity' size='50' maxlength='255' value='${aclObjectIdentity5}'/></td>
            </tr>

            <tr>
                <td><g:message code='aclEntry.aclObjectIdentity.label' default='Tanggal Pengiriman'/>:</td>
                <td style="padding-right: 100px;"><g:textField name='aclObjectIdentity' size='50' maxlength='255' value='${aclObjectIdentity}'/></td>

                <td><g:message code='aclEntry.aclObjectIdentity.label' default='Biaya Pengiriman'/>:</td>
                <td style="padding-right: 100px;"><g:textField name='aclObjectIdentity' size='50' maxlength='255' value='${aclObjectIdentity}'/></td>
            </tr>
            <tr>
                <td><g:message code='aclEntry.aclObjectIdentity.label' default='Lokasi Pengiriman'/>:</td>
                <td style="padding-right: 100px;"><g:textField name='aclObjectIdentity' size='50' maxlength='255' value='${aclObjectIdentity}'/></td>
            </tr>
            <tr>
                <td><g:message code='aclEntry.aclObjectIdentity.label' default='Alamat Pengiriman'/></td>
                <td style="padding-right: 200px;"> <g:textArea name='aclObjectIdentity' size='50' maxlength='255' value='${aclObjectIdentity}'/></td>
                <td><g:message code='aclEntry.aclObjectIdentity.label' default='Catatan'/>:</td>
                <td style="padding-right: 100px;"><g:textArea name='aclObjectIdentity' size='50' maxlength='255' value='${aclObjectIdentity}'/></td>
            </tr>
            <tr>
                <td><g:message code='aclEntry.aclObjectIdentity.label' default=' '/></td>
                <td style="padding-right: 200px;"> </td>
                <td><g:message code='aclEntry.aclObjectIdentity.label' default='PPN (%)'/>:</td>
                <td style="padding-right: 100px;"><g:textField name='aclObjectIdentity' size='50' maxlength='255' value='${aclObjectIdentity}'/></td>
            </tr>

            </tbody>
        </table>
    </g:form>

    <table id="jobSuggestion" class="table table-bordered table-hover">

        <thead><th>Kode Material</th><th>Nama Material</th><th>Stock</th><th>Kuantitas</th> <th>Harga PerUnit</th> <th>Satuan</th> <th>Pemotongan Harga (%)</th><th>Jumlah Material</th></thead>
        <tbody><tr><td> A01 </td> <td> Battery Ax </td> <td>1.00</td> <td>0</td> <td>0</td> <td>0</td> <td>0</td> <td>Hapus</td></tr>
               <tr><td> B02 </td> <td> Battery Az </td> <td>1.00</td> <td>0</td> <td>0</td> <td>0</td> <td>0</td> <td>Hapus</td></tr>
               <tr><th colspan="6"> Total </th>  <th>  </th> </tr>
        </tbody>
    </table>
    <g:submitButton class="btn btn-primary create" name="Simpan" value="Simpan" />
    <g:submitButton class="btn btn-primary create" name="Batalkan" value="Batalkan" />

</div>
</body>
</html>