
<%@ page import="com.kombos.administrasi.PartsMapping" %>

<r:require modules="baseapplayout" />
<g:render template="../menu/maxLineDisplay"/>

<table id="partsMapping_datatables" cellpadding="0" cellspacing="0"
	border="0"
	class="display table table-striped table-bordered table-hover table-selectable"
	width="100%">
	<thead>
		<tr>

			<th style="border-bottom: none;padding: 5px;">
				<div><g:message code="partsMapping.fullModelCode.label" default="Full Model Code" /></div>
			</th>


            <th style="border-bottom: none;padding: 5px;">
                <div><g:message code="partsMapping.kodegoods.label" default="Kode Parts" /></div>
            </th>

            <th style="border-bottom: none;padding: 5px;">
				<div><g:message code="partsMapping.goods.label" default="Nama Parts" /></div>
			</th>


			<th style="border-bottom: none;padding: 5px;">
				<div><g:message code="partsMapping.t111Jumlah1.label" default="Jumlah" /></div>
			</th>


			<th style="border-bottom: none;padding: 5px;">
				<div><g:message code="partsMapping.satuan.label" default="Satuan" /></div>
			</th>

		
		</tr>
		<tr>
		
	
			<th style="border-top: none;padding: 5px;">
				<div id="filter_fullModelCode" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;">
					<input type="text" name="search_fullModelCode" class="search_init" />
				</div>
			</th>
	
			<th style="border-top: none;padding: 5px;">
				<div id="filter_goodsID" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;">
					<input type="text" name="search_goodsID" class="search_init" />
				</div>
			</th>

            <th style="border-top: none;padding: 5px;">
                <div id="filter_goods" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;">
                    <input type="text" name="search_goods" class="search_init" />
                </div>
            </th>

            <th style="border-top: none;padding: 5px;">
				<div id="filter_t111Jumlah1" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;">
					<input type="text" name="search_t111Jumlah1" onkeypress="return isNumberKey(event)" class="search_init" />
				</div>
			</th>

	
			<th style="border-top: none;padding: 5px;">
				<div id="filter_satuan" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;">
					<input type="text" name="search_satuan" class="search_init" />
				</div>
			</th>


		</tr>
	</thead>
</table>

<g:javascript>
var partsMappingTable;
var reloadPartsMappingTable;
$(function(){
	
	reloadPartsMappingTable = function() {
		partsMappingTable.fnDraw();
	}

	var recordspartsMappingperpage = [];//new Array();
    var anpartsMappingSelected;
    var jmlRecpartsMappingPerPage=0;
    var id;


	

$("th div input").bind('keypress', function(e) {
		var code = (e.keyCode ? e.keyCode : e.which);
		if(code == 13) { 
			e.stopPropagation();
		 	partsMappingTable.fnDraw();
		}
	});
	$("th div input").click(function (e) {
	 	e.stopPropagation();
	});

	partsMappingTable = $('#partsMapping_datatables').dataTable({
		"sScrollX": "100%",
		"bScrollCollapse": true,
		"bAutoWidth" : false,
		"bPaginate" : true,
		"sInfo" : "",
		"sInfoEmpty" : "",
		"sDom": "<'row-fluid'r>t<'row-fluid'<'span12'i>><'row-fluid'<'span12'p>>",
		bFilter: true,
		"bStateSave": false,
		'sPaginationType': 'bootstrap',
		"fnDrawCallback": function () {
            var rspartsMapping = $("#partsMapping_datatables tbody .row-select");
            var jmlpartsMappingCek = 0;
            var nRow;
            var idRec;
            rspartsMapping.each(function() {
                idRec = $(this).next("input:hidden").val();
                nRow = $(this).parent().parent();//.addClass('row_selected');
                if(recordspartsMappingperpage[idRec]=="1"){
                    jmlpartsMappingCek = jmlpartsMappingCek + 1;
                    $(this).attr('checked', true);
                    nRow.addClass('row_selected');
                } else if(recordspartsMappingperpage[idRec]=="0"){
                    $(this).attr('checked', false);
                    nRow.removeClass('row_selected');
                }

            });
            jmlRecpartsMappingPerPage = rspartsMapping.length;
            if(jmlpartsMappingCek==jmlRecpartsMappingPerPage && jmlRecpartsMappingPerPage>0){
                $('.select-all').attr('checked', true);
            } else {
                $('.select-all').attr('checked', false);
            }
            //alert("apakah ini : "+rs.length);
        },
		"fnInitComplete": function () {
			this.fnAdjustColumnSizing(true);
		   },
		   "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
			return nRow;
		   },
		"bSort": true,
		"bProcessing": true,
		"bServerSide": true,
		"sServerMethod": "POST",
		"iDisplayLength" : maxLineDisplay, //maxLineDisplay is set in menu/maxLineDisplay.gsp
		"sAjaxSource": "${g.createLink(action: "datatablesList")}",
		"aoColumns": [

{
	"sName": "fullModelCode",
	"mDataProp": "fullModelCode",
	"aTargets": [0],
	"mRender": function ( data, type, row ) {
		return '<input type="checkbox" class="pull-left row-select" aria-label="Row '+row['id']+'" title="Select this"><input type="hidden" value="'+row['id']+'">&nbsp;&nbsp;<a href="#" onclick="show('+row['id']+');">'+data+'</a><a class="pull-right cell-action" href="javascript:void(0);" onclick="edit('+row['id']+');">&nbsp;&nbsp;<i class="icon-pencil"></i>&nbsp;&nbsp;</a>';
	},
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"300px",
	"bVisible": true
}

,

{
	"sName": "goodsID",
	"mDataProp": "goodsID",
	"aTargets": [1],
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"200px",
	"bVisible": true
}

,

{
	"sName": "goods",
	"mDataProp": "goods",
	"aTargets": [1],
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"200px",
	"bVisible": true
}

,

{
	"sName": "t111Jumlah1",
	"mDataProp": "t111Jumlah1",
	"aTargets": [2],
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"200px",
	"bVisible": true
}

,

{
	"sName": "satuan",
	"mDataProp": "satuan",
	"aTargets": [8],
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"200px",
	"bVisible": true
}

],
        "fnServerData": function ( sSource, aoData, fnCallback, oSettings ) {
	
						var fullModelCode = $('#filter_fullModelCode input').val();
						if(fullModelCode){
							aoData.push(
									{"name": 'sCriteria_fullModelCode', "value": fullModelCode}
							);
						}
	
						var goods = $('#filter_goods input').val();
						if(goods){
							aoData.push(
									{"name": 'sCriteria_goods', "value": goods}
							);
						}
	
						var goodsID = $('#filter_goodsID input').val();
						if(goodsID){
							aoData.push(
									{"name": 'sCriteria_goodsID', "value": goodsID}
							);
						}


						var t111Jumlah1 = $('#filter_t111Jumlah1 input').val();
						if(t111Jumlah1){
							aoData.push(
									{"name": 'sCriteria_t111Jumlah1', "value": t111Jumlah1}
							);
						}
	
						var staDel = $('#filter_staDel input').val();
						if(staDel){
							aoData.push(
									{"name": 'sCriteria_staDel', "value": staDel}
							);
						}
	
						var foto = $('#filter_foto input').val();
						if(foto){
							aoData.push(
									{"name": 'sCriteria_foto', "value": foto}
							);
						}
	
						var createdBy = $('#filter_createdBy input').val();
						if(createdBy){
							aoData.push(
									{"name": 'sCriteria_createdBy', "value": createdBy}
							);
						}
	
						var updatedBy = $('#filter_updatedBy input').val();
						if(updatedBy){
							aoData.push(
									{"name": 'sCriteria_updatedBy', "value": updatedBy}
							);
						}
	
						var lastUpdProcess = $('#filter_lastUpdProcess input').val();
						if(lastUpdProcess){
							aoData.push(
									{"name": 'sCriteria_lastUpdProcess', "value": lastUpdProcess}
							);
						}
	
						var satuan = $('#filter_satuan input').val();
						if(satuan){
							aoData.push(
									{"name": 'sCriteria_satuan', "value": satuan}
							);
						}

						$.ajax({ "dataType": 'json',
							"type": "POST",
							"url": sSource,
							"data": aoData ,
							"success": function (json) {
								fnCallback(json);
							   },
							"complete": function () {
							   }
						});
		}			
	});

	 $('.select-all').click(function(e) {

        $("#partsMapping_datatables tbody .row-select").each(function() {
            //alert(this.checked);
            //var id = $(this).next("input:hidden").val();
            if(this.checked){
                recordspartsMappingperpage[$(this).next("input:hidden").val()] = "1";
            } else {
                recordspartsMappingperpage[$(this).next("input:hidden").val()] = "0";
            }
        });

    });

	$('#partsMapping_datatables tbody tr').live('click', function () {

        id = $(this).find('.row-select').next("input:hidden").val();
        if($(this).find('.row-select').is(":checked")){
            recordspartsMappingperpage[id] = "1";
            $(this).find('.row-select').parent().parent().addClass('row_selected');
            anpartsMappingSelected = partsMappingTable.$('tr.row_selected');
            if(jmlRecpartsMappingPerPage == anpartsMappingSelected.length){
                $('.select-all').attr('checked', true);
            }
        } else {
            recordspartsMappingperpage[id] = "0";
            $('.select-all').attr('checked', false);
            $(this).find('.row-select').parent().parent().removeClass('row_selected');
        }
    });

});
</g:javascript>


			
