

<%@ page import="com.kombos.administrasi.MappingStallTipeBerat" %>
<!DOCTYPE html>
<html>
<head>
<meta name="layout" content="main">
<r:require modules="bootstrapeditable" />
<g:set var="entityName"
	value="${message(code: 'mappingStallTipeBerat.label', default: 'Mapping Stall - Tipe Berat')}" />
<title><g:message code="default.show.label" args="[entityName]" /></title>
<g:javascript disposition="head">
var deleteMappingStallTipeBerat;

$(function(){ 
	deleteMappingStallTipeBerat=function(id){
		$.ajax({type:'POST', url:'${request.contextPath}/mappingStallTipeBerat/delete/',
			data: { id: id },
   			success:function(data,textStatus){
   				reloadMappingStallTipeBeratTable();
   				expandTableLayout();
   			},
   			error:function(XMLHttpRequest,textStatus,errorThrown){},
   			complete:function(XMLHttpRequest,textStatus){
   				$('#spinner').fadeOut();
   			}
   		});
	}
});

</g:javascript>
</head>
<body>
	<div id="show-mappingStallTipeBerat" role="main">
		<legend>
			<g:message code="default.show.label" args="[entityName]" />
		</legend>
		<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
		</g:if>
		<table id="mappingStallTipeBerat"
			class="table table-bordered table-hover">
			<tbody>

				
				<g:if test="${mappingStallTipeBeratInstance?.stall}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="stall-label" class="property-label"><g:message
					code="mappingStallTipeBerat.stall.label" default="Stall" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="stall-label">
						%{--<ba:editableValue
								bean="${mappingStallTipeBeratInstance}" field="stall"
								url="${request.contextPath}/MappingStallTipeBerat/updatefield" type="text"
								title="Enter stall" onsuccess="reloadMappingStallTipeBeratTable();" />--}%
							
								${mappingStallTipeBeratInstance?.stall?.encodeAsHTML()}
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${mappingStallTipeBeratInstance?.tipeBerat}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="tipeBerat-label" class="property-label"><g:message
					code="mappingStallTipeBerat.tipeBerat.label" default="Tipe Berat" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="tipeBerat-label">
						%{--<ba:editableValue
								bean="${mappingStallTipeBeratInstance}" field="tipeBerat"
								url="${request.contextPath}/MappingStallTipeBerat/updatefield" type="text"
								title="Enter tipeBerat" onsuccess="reloadMappingStallTipeBeratTable();" />--}%
							
								${mappingStallTipeBeratInstance?.tipeBerat?.encodeAsHTML()}
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${mappingStallTipeBeratInstance?.createdBy}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="createdBy-label" class="property-label"><g:message
					code="mappingStallTipeBerat.createdBy.label" default="Created By" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="createdBy-label">
						%{--<ba:editableValue
								bean="${mappingStallTipeBeratInstance}" field="createdBy"
								url="${request.contextPath}/MappingStallTipeBerat/updatefield" type="text"
								title="Enter createdBy" onsuccess="reloadMappingStallTipeBeratTable();" />--}%
							
								<g:fieldValue bean="${mappingStallTipeBeratInstance}" field="createdBy"/>
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${mappingStallTipeBeratInstance?.updatedBy}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="updatedBy-label" class="property-label"><g:message
					code="mappingStallTipeBerat.updatedBy.label" default="Updated By" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="updatedBy-label">
						%{--<ba:editableValue
								bean="${mappingStallTipeBeratInstance}" field="updatedBy"
								url="${request.contextPath}/MappingStallTipeBerat/updatefield" type="text"
								title="Enter updatedBy" onsuccess="reloadMappingStallTipeBeratTable();" />--}%
							
								<g:fieldValue bean="${mappingStallTipeBeratInstance}" field="updatedBy"/>
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${mappingStallTipeBeratInstance?.lastUpdProcess}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="lastUpdProcess-label" class="property-label"><g:message
					code="mappingStallTipeBerat.lastUpdProcess.label" default="Last Upd Process" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="lastUpdProcess-label">
						%{--<ba:editableValue
								bean="${mappingStallTipeBeratInstance}" field="lastUpdProcess"
								url="${request.contextPath}/MappingStallTipeBerat/updatefield" type="text"
								title="Enter lastUpdProcess" onsuccess="reloadMappingStallTipeBeratTable();" />--}%
							
								<g:fieldValue bean="${mappingStallTipeBeratInstance}" field="lastUpdProcess"/>
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${mappingStallTipeBeratInstance?.dateCreated}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="dateCreated-label" class="property-label"><g:message
					code="mappingStallTipeBerat.dateCreated.label" default="Date Created" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="dateCreated-label">
						%{--<ba:editableValue
								bean="${mappingStallTipeBeratInstance}" field="dateCreated"
								url="${request.contextPath}/MappingStallTipeBerat/updatefield" type="text"
								title="Enter dateCreated" onsuccess="reloadMappingStallTipeBeratTable();" />--}%
							
								<g:formatDate date="${mappingStallTipeBeratInstance?.dateCreated}" type="datetime" style="MEDIUM" />
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${mappingStallTipeBeratInstance?.lastUpdated}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="lastUpdated-label" class="property-label"><g:message
					code="mappingStallTipeBerat.lastUpdated.label" default="Last Updated" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="lastUpdated-label">
						%{--<ba:editableValue
								bean="${mappingStallTipeBeratInstance}" field="lastUpdated"
								url="${request.contextPath}/MappingStallTipeBerat/updatefield" type="text"
								title="Enter lastUpdated" onsuccess="reloadMappingStallTipeBeratTable();" />--}%
							
								<g:formatDate date="${mappingStallTipeBeratInstance?.lastUpdated}" type="datetime" style="MEDIUM" />
							
						</span></td>
					
				</tr>
				</g:if>
			
			</tbody>
		</table>
		<g:form class="form-horizontal">
			<fieldset class="buttons controls">
				<a class="btn cancel" href="javascript:void(0);"
					onclick="expandTableLayout();"><g:message
						code="default.button.cancel.label" default="Cancel" /></a>		
				<g:remoteLink class="btn btn-primary edit" action="edit"
					id="${mappingStallTipeBeratInstance?.id}"
					update="[success:'mappingStallTipeBerat-form',failure:'mappingStallTipeBerat-form']"
					on404="alert('not found');">
					<g:message code="default.button.edit.label" default="Edit" />
				</g:remoteLink>
				<ba:confirm id="delete" class="btn cancel"
					message="${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}"
					onsuccess="deleteMappingStallTipeBerat('${mappingStallTipeBeratInstance?.id}')" label="${message(code: 'default.button.delete.label', default: 'Delete')}"/>
			</fieldset>
		</g:form>
	</div>
</body>
</html>
