<%@ page import="com.kombos.customerprofile.HistoryCustomerVehicle" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'historyCustomerVehicle.label', default: 'Customer Vehicle')}" />
		<title><g:message code="default.create.label" args="[entityName]" /></title>
	</head>
	<body>
		<div id="create-historyCustomerVehicle" class="content scaffold-create" role="main">
			<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
			</g:if>
			<g:hasErrors bean="${historyCustomerVehicleInstance}">
			<ul class="errors" role="alert">
				<g:eachError bean="${historyCustomerVehicleInstance}" var="error">
				<li <g:if test="${error in org.springframework.validation.FieldError}">data-field-id="${error.field}"</g:if>><g:message error="${error}"/></li>
				</g:eachError>
			</ul>
			</g:hasErrors>
            <g:javascript>
                var submitForm;
                $(function(){
                    submitForm = function(){
                        var staUsed = $("#staVinUsed").val();
                        var a = $("#t183NoPolTengah").val();
                        var b = $("#t183NoPolBelakang").val();
                        var c = $("#kodeKotaNoPol").val();
                        if(staUsed=="1"){
                            var mssVincode = $("#mssgVincode").val();
                            alert(mssVincode);
                        }else{
                            bootbox.confirm("Apakah anda yakin?", function(result) {
                            if(result){
                                $.ajax({
                                    type:'POST',
                                    data:jQuery('#formVehicleSave').serialize(),
                                    url:'${request.getContextPath()}/historyCustomerVehicle/save',
                                    success:function(data,textStatus){
                                        toastr.success("Data berhasil disimpan");
                                        jQuery('#historyCustomerVehicle-form').html(data);
                                        reloadHistoryCustomerVehicleTable();
                                    },
                                    error:function(XMLHttpRequest,textStatus,errorThrown){}
                                });
                            }});
                        }
                    }

                })
            </g:javascript>
            <form id="formVehicleSave" class="form-horizontal" action="${request.getContextPath()}/historyCustomerVehicle/save" method="post" onsubmit="submitForm();return false;">
                <fieldset class="form">
                    <g:render template="form"/>
                </fieldset>


                <fieldset class="buttons controls">
                    <a class="btn cancel" href="javascript:void(0);" onclick="expandTableLayout();"><g:message
                            code="default.button.cancel.label" default="Cancel" /></a>
                    <g:submitButton class="btn btn-primary create" name="save" value="${message(code: 'default.button.create.label', default: 'Create')}" />
                </fieldset>
            </form>

                %{--<g:formRemote class="form-horizontal" name="create" on404="alert('not found!');" onSuccess="reloadHistoryCustomerVehicleTable();" update="historyCustomerVehicle-form"--}%
              %{--url="[controller: 'historyCustomerVehicle', action:'save']">	--}%
				%{--<fieldset class="form">--}%
					%{--<g:render template="form"/>--}%
				%{--</fieldset>--}%
				%{----}%
				%{----}%
				%{--<fieldset class="buttons controls">--}%
					%{--<a class="btn cancel" href="javascript:void(0);"--}%
                       %{--onclick="expandTableLayout();"><g:message--}%
                            %{--code="default.button.cancel.label" default="Cancel" /></a>--}%
					%{--<g:submitButton class="btn btn-primary create" name="save" value="${message(code: 'default.button.create.label', default: 'Create')}" />--}%
				%{--</fieldset>--}%
			%{--</g:formRemote>--}%
		</div>
	</body>
</html>