
<%@ page import="com.kombos.administrasi.ErrorTranslation" %>

<r:require modules="baseapplayout" />
<g:render template="../menu/maxLineDisplay"/>

<table id="errorTranslation_datatables" cellpadding="0" cellspacing="0"
	border="0"
    class="display table table-striped table-bordered table-hover table-selectable"
	width="100%">
	<thead>
		<tr>

			<th style="border-bottom: none;padding: 5px;">
				<div><g:message code="errorTranslation.m780ErrorMsg.label" default="Error Message" /></div>
			</th>


			<th style="border-bottom: none;padding: 5px;">
				<div><g:message code="errorTranslation.m780ErrTranslation.label" default="Error Translation" /></div>
			</th>


		</tr>
		<tr>
		
	
			<th style="border-top: none;padding: 5px;">
				<div id="filter_m780ErrorMsg" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;">
					<input type="text" name="search_m780ErrorMsg" class="search_init" />
				</div>
			</th>
	
			<th style="border-top: none;padding: 5px;">
				<div id="filter_m780ErrTranslation" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;">
					<input type="text" name="search_m780ErrTranslation" class="search_init" />
				</div>
			</th>
	
		</tr>
	</thead>
</table>

<g:javascript>
var errorTranslationTable;
var reloadErrorTranslationTable;
$(function(){
	
	reloadErrorTranslationTable = function() {
		errorTranslationTable.fnDraw();
	}

    var recordserrorTranslationperpage = [];
    var anErrorTranslationSelected;
    var jmlRecErrorTranslationPerPage=0;
    var id;	

$("th div input").bind('keypress', function(e) {
		var code = (e.keyCode ? e.keyCode : e.which);
		if(code == 13) { 
			e.stopPropagation();
		 	errorTranslationTable.fnDraw();
		}
	});
	$("th div input").click(function (e) {
	 	e.stopPropagation();
	});

	errorTranslationTable = $('#errorTranslation_datatables').dataTable({
		"sScrollX": "100%",
		"bScrollCollapse": true,
		"bAutoWidth" : false,
		"bPaginate" : true,
		"sInfo" : "",
		"sInfoEmpty" : "",
		"sDom": "<'row-fluid'r>t<'row-fluid'<'span12'i>><'row-fluid'<'span12'p>>",
		bFilter: true,
		"bStateSave": false,
		'sPaginationType': 'bootstrap',
        "fnDrawCallback": function () {
            var rsErrorTranslation = $("#errorTranslation_datatables tbody .row-select");
            var jmlErrorTranslationCek = 0;
            var nRow;
            var idRec;
            rsErrorTranslation.each(function() {
                idRec = $(this).next("input:hidden").val();
                nRow = $(this).parent().parent();//.addClass('row_selected');
                if(recordserrorTranslationperpage[idRec]=="1"){
                    jmlErrorTranslationCek = jmlErrorTranslationCek + 1;
                    $(this).attr('checked', true);
                    nRow.addClass('row_selected');
                } else if(recordserrorTranslationperpage[idRec]=="0"){
                    $(this).attr('checked', false);
                    nRow.removeClass('row_selected');
                }

            });
            jmlRecErrorTranslationPerPage = rsErrorTranslation.length;
            if(jmlErrorTranslationCek==jmlRecErrorTranslationPerPage && jmlRecErrorTranslationPerPage>0){
                $('.select-all').attr('checked', true);
            } else {
                $('.select-all').attr('checked', false);
            }
        },
		"fnInitComplete": function () {
			this.fnAdjustColumnSizing(true);
		   },
		   "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
			return nRow;
		   },
		"bSort": true,
		"bProcessing": true,
		"bServerSide": true,
		"sServerMethod": "POST",
		"iDisplayLength" : maxLineDisplay, //maxLineDisplay is set in menu/maxLineDisplay.gsp
		"sAjaxSource": "${g.createLink(action: "datatablesList")}",
		"aoColumns": [

{
	"sName": "m780ErrorMsg",
	"mDataProp": "m780ErrorMsg",
	"aTargets": [0],
    "mRender": function ( data, type, row ) {
		return '<input type="checkbox" class="pull-left row-select" aria-label="Row '+row['id']+'" title="Select this"><input type="hidden" value="'+row['id']+'">&nbsp;&nbsp;<a href="#" onclick="show('+row['id']+');">'+data+'</a><a class="pull-right cell-action" href="javascript:void(0);" onclick="edit('+row['id']+');">&nbsp;&nbsp;<i class="icon-pencil"></i>&nbsp;&nbsp;</a>';
	},
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"200px",
	"bVisible": true
}

,

{
	"sName": "m780ErrTranslation",
	"mDataProp": "m780ErrTranslation",
	"aTargets": [1],
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"200px",
	"bVisible": true
}

],
        "fnServerData": function ( sSource, aoData, fnCallback, oSettings ) {
	
						var m780ErrorMsg = $('#filter_m780ErrorMsg input').val();
						if(m780ErrorMsg){
							aoData.push(
									{"name": 'sCriteria_m780ErrorMsg', "value": m780ErrorMsg}
							);
						}
	
						var m780ErrTranslation = $('#filter_m780ErrTranslation input').val();
						if(m780ErrTranslation){
							aoData.push(
									{"name": 'sCriteria_m780ErrTranslation', "value": m780ErrTranslation}
							);
						}
	

						$.ajax({ "dataType": 'json',
							"type": "POST",
							"url": sSource,
							"data": aoData ,
							"success": function (json) {
								fnCallback(json);
							   },
							"complete": function () {
							   }
						});
		}			
	});
    $('.select-all').click(function(e) {
        $("#errorTranslation_datatables tbody .row-select").each(function() {
            if(this.checked){
                recordserrorTranslationperpage[$(this).next("input:hidden").val()] = "1";
            } else {
                recordserrorTranslationperpage[$(this).next("input:hidden").val()] = "0";
            }
        });
    });

    $('#errorTranslation_datatables tbody tr').live('click', function () {
        id = $(this).find('.row-select').next("input:hidden").val();
        if($(this).find('.row-select').is(":checked")){
            recordserrorTranslationperpage[id] = "1";
            $(this).find('.row-select').parent().parent().addClass('row_selected');
            anErrorTranslationSelected = errorTranslationTable.$('tr.row_selected');
            if(jmlRecErrorTranslationPerPage == anErrorTranslationSelected.length){
                $('.select-all').attr('checked', true);
            }
        } else {
            recordserrorTranslationperpage[id] = "0";
            $('.select-all').attr('checked', false);
            $(this).find('.row-select').parent().parent().removeClass('row_selected');
        }
    });

});
</g:javascript>