<%@ page import="com.kombos.reception.CustomerIn" %>

<g:javascript>
    var noPolTemp = "";
    var pertama = true;

$(document).ready(function(){
    document.getElementById("noPol").value="DB";
//    generate()
//  document.getElementById("t183NoPolTengah").focusable
    })
    function setNoPol(){
        if($('#t183NoPolTengah').val()=="" || $('#t183NoPolTengah').val()==null
               || $('#t183NoPolBelakang').val()=="" || $('#t183NoPolBelakang').val()==null){
            alert('Data No Polisi Masih Ada yang Kosong');
            return false
        }
        var kodeKota = $('#noPol').val();
        var noTengah = $('#t183NoPolTengah').val();
        var noBelakang = $('#t183NoPolBelakang').val();
        var statusBookingDesc = "";
        noPolz = $('#noPol').val().trim()+$('#t183NoPolTengah').val().trim()+$('#t183NoPolBelakang').val().toUpperCase().trim()
		$.ajax({
    		url:'${request.contextPath}/customerIn/findNoPol',
    		type: "POST", // Always use POST when deleting data
    		data: {kode : kodeKota, tengah : noTengah, belakang : noBelakang},
    		dataType: 'json',
    		success: function(data,textStatus,xhr){
    		    if(data.length>0){
                    statusBookingDesc = data[0].statusBooking + ", " + data[0].tglJam + "</br></br>" ;
                    if(data[0].statusBooking=='Booking'){
                        $('#t400StaComplain').attr('checked',true);
                    }
                    $('#statusBookingDesc').html(statusBookingDesc);
					$('#t400StaApp').attr('value',data[0].statusBooking);
					$('#namaPemakai').attr('value',data[0].namaCustomer);
                    $('#mobil').attr('value',data[0].mobil);
                    $('#warna').attr('value',data[0].warna);
                    $('#tahun').attr('value',data[0].tahun);
                    $('#t400xNamaUserIn').attr('value',data[0].driver);
                    $('#idCustomerVehicle').attr('value',data[0].idCV);
          }
    		    else if(data!=0){
//    		        alert('Data dengan nomor polisi tersebut tidak ditemukan');
                     statusBookingDesc = data[0].statusBooking + ", " + data[0].tglJam + "</br></br>" ;
                    $('#statusBookingDesc').html(statusBookingDesc);
				    $('#t400StaApp').attr('value',data[0].statusBooking);
                    $('#tujuanKedatangan').attr("disabled",false);
                    $('#t400StaComplain').attr('disabled',true);
                    $('#t400StaShow').attr('disabled',true);
					$('#namaPemakai').attr('value',"");
                    $('#mobil').attr('value',"");
                    $('#warna').attr('value',"");
                    $('#tahun').attr('value',"");
                    $('#t400xNamaUserIn').attr('value',"");
                    $('#idCustomerVehicle').attr('value',"");
    		    }
    		},
    		error:function(XMLHttpRequest,textStatus,errorThrown){},
   			complete:function(data,textStatus){
   			}
		});
    }

    var isCharOnly;
    var isNumberKey;
    var nomorBelakang = $('#t183NoPolBelakang');
    nomorBelakang.bind('keypress', inputNoPolisi).keyup(function() {
       var val = $(this).val()
       $(this).val(val.toUpperCase())
    });
    function inputNoPolisi(e){
        var code = (e.keyCode ? e.keyCode : e.which);
    }


    $(function(){
        isCharOnly = function(e) {
            e = e || event;
            return /[a-zA-Z-]/i.test(
                    String.fromCharCode(e.charCode || e.keyCode)
            ) || !e.charCode && e.keyCode  < 48;
        }

        isNumberKey = function(evt){
            var charCode = (evt.which) ? evt.which : evt.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57)){
                return false;
            }
            else{
                var noPolz = $('#noPol').val().trim()+$('#t183NoPolTengah').val().trim()+$('#t183NoPolBelakang').val().toUpperCase().trim()
                if(!pertama && noPolTemp!=noPolz){

                }else if(!pertama && noPolTemp==noPolz){

                }
                return true;
            }
        }

        $(".charonly").bind('keypress',isCharOnly);

        $(".numberonly").bind('keypress',isNumberKey);
    });
</g:javascript>
<div class="control-group fieldcontain ${hasErrors(bean: customerInInstance, field: 'customerVehicle', 'error')} required">
    <label class="control-label" for="noPol" style="font-size: 20px; height: 50px; text-align: left;line-height: 50px;">
        <g:message code="customerIn.nopol.label" default="Nomor Polisi" />
        <span class="required-indicator">*</span>
    </label>
	<div class="controls">
        <table style="width: 60%">
            <tr style="width: 80%">
                <td>
                    <g:select style="width: 85px; font-size: 30px; height: 61px; border-radius: 0;" id="noPol" name="noPol.id" from="${com.kombos.administrasi.KodeKotaNoPol.createCriteria().list(){eq("staDel","0");order("m116ID")}}" optionValue="m116ID" optionKey="m116ID" required="" value="${(!request.getRequestURI().contains("edit"))?"":customerInInstance?.customerVehicle?.currentCond?.kodeKotaNoPol}" class="many-to-one"/>
                    &nbsp;
                    <g:textField class="numberonly" name="t183NoPolTengah" id="t183NoPolTengah" maxlength="5" onkeypress="return isNumberKey(event);" style="width: 95px; font-size: 30px; height: 50px; border-radius: 0;" required="" value="${(!request.getRequestURI().contains("edit"))?"":customerInInstance?.customerVehicle?.currentCondtion?.t183NoPolTengah}"/>
                    &nbsp;
                    <g:textField class="charonly" name="t183NoPolBelakang" id="t183NoPolBelakang" maxlength="3" style="width: 70px; font-size: 30px; height: 50px; border-top-left-radius: 0; border-bottom-left-radius: 0;" required="" value="${(!request.getRequestURI().contains("edit"))?"":customerInInstance?.customerVehicle?.currentCondtion?.t183NoPolBelakang}"/>
                    &nbsp;
                    <a class="btn cancel" name="findDataCustomer" id="findDataCustomer" onclick="setNoPol();" style="font-size: 20px; height: 50px;line-height: 50px;" ><g:message code="default.ok.label" default="OK"/></a>

                </td>
                <td>
                    <table style="padding-left: 20px">
                        <tr>
                            <td style="text-align: center">
                                <label id="lblAtas" style="font-size: 20px; height: 50px;"></label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label id="lblBawah" style="font-size: 16px; height: 50px;"></label>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="controls" >
	<div id="statusBookingDesc" style="font-size:18px;">
		
	</div>
</div>

<div class="control-group fieldcontain ${hasErrors(bean: customerInInstance, field: 'tujuanKedatangan', 'error')} required">
	<label class="control-label" for="tujuanKedatangan" style="text-align: left">
		<g:message code="customerIn.tujuanKedatangan.label" default="Keperluan" />
		<span class="required-indicator">*</span>
	</label>
	<div class="controls">
		<g:select id="tujuanKedatangan" name="tujuanKedatangan.id" from="${com.kombos.maintable.TujuanKedatangan.list()}" optionKey="id" required="" value="${customerInInstance?.tujuanKedatangan?.id}" class="many-to-one" noSelection="['':'Pilih Keperluan']"/>
	    <g:checkBox name="t400StaComplain" id="t400StaComplain" value="1" checked="${customerInInstance?.t400StaComplain == '1'}"/>Complaint
        <input type="hidden" name="idCustomerVehicle" id="idCustomerVehicle" value=""/>
        <input type="hidden" name="t400StaApp" id="t400StaApp" value=""/>
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="keterangan" style="text-align: left">
        <g:message code="customerIn.mobil.label" default="Keterangan" />
    </label>
    <div class="controls">
        <input type="text" id="keterangan"/>
        <g:checkBox name="t400StaShow" id="t400StaShow" value="0"  />Tampil di Antrian
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="tujuanKedatangan" style="text-align: left">
        <g:message code="customerIn.mobil.label" default="Mobil" />
    </label>
    <div class="controls">
        <input type="text" disabled id="mobil"/>
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="tujuanKedatangan" style="text-align: left">
        <g:message code="customerIn.tahun.label" default="Tahun" />
    </label>
    <div class="controls">
        <input type="text" disabled id="tahun"/>
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="tujuanKedatangan" style="text-align: left">
        <g:message code="customerIn.warna.label" default="Warna" />
    </label>
    <div class="controls">
        <input type="text" disabled id="warna"/>
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="tujuanKedatangan" style="text-align: left">
        <g:message code="customerIn.namaPemakai.label" default="Nama Pemakai" />
    </label>
    <div class="controls">
        <input type="text" disabled id="namaPemakai"/>
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="tujuanKedatangan" style="text-align: left">
        <g:message code="customerIn.namaDriver.label" default="Nama Driver" />
    </label>
    <div class="controls">
        <input type="text" disabled name="t400xNamaUserIn"/>
    </div>
</div>