<%@ page import="com.kombos.parts.Satuan; com.kombos.parts.Goods; com.kombos.administrasi.FullModelCode; com.kombos.administrasi.PartsMapping" %>

<div class="control-group fieldcontain ${hasErrors(bean: partsMappingInsctance, field: 'partsMapping', 'error')} ">
    %{--<label class="control-label" for="t110FullModelCode">--}%
    %{--<g:message code="operation.upload.label" default="Upload File" />--}%

    %{--</label>--}%
    <div class="controls">
        <input type="file" required="" id="fileExcelPartsMapping" name="fileExcelPartsMapping" accept="application/excel|application/vnd.ms-excel" />
    </div>
</div>

