<%@ page import="com.kombos.maintable.EFaktur" %>
<!DOCTYPE html>
<html>
<head>
    <meta name="layout" content="main">
    <g:set var="entityName" value="${message(code: 'EFaktur.label', default: 'Revisi PPN Masukan Detail')}"/>
    <title><g:message code="default.list.label" args="[entityName]"/></title>

    <r:require modules="baseapplayout, baseapplist"/>
    <g:javascript disposition="head">
			var show;
			var edit;
			$(function(){

				$('.box-action').click(function(){
					switch($(this).attr('target')){
						case '_CREATE_' :
							shrinkTableLayout('EFaktur');
							<g:remoteFunction action="create"
                                              onLoading="jQuery('#spinner').fadeIn(1);"
                                              onSuccess="loadFormInstance('EFaktur', data, textStatus);"
                                              onComplete="jQuery('#spinner').fadeOut();"/>
        break;
    case '_DELETE_' :
        bootbox.confirm('${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}',
								function(result){
									if(result){
										massDelete('EFaktur', '${request.contextPath}/Revisi/massdelete', reloadEFakturTable);
									}
								});

							break;
				   }
				   return false;
				});

				show = function(id) {
					showInstance('EFaktur','${request.contextPath}/Revisi/show/'+id);
				};

				edit = function(id) {
					editInstance('EFaktur','${request.contextPath}/Revisi/edit/'+id);
				};

});

     closeUpload = function(){
        ${flash.message = ""}
        loadPath("Revisi/index");
     }
    </g:javascript>
</head>

<body>
<div class="navbar box-header no-border">
    <span class="pull-left"><g:message code="default.list.label" args="[entityName]"/></span>
    <ul class="nav pull-right">
        <li><a class="pull-right box-action" href="#"
               style="display: block;" target="_DELETE_">&nbsp;&nbsp;<i
                    class="icon-remove"></i>&nbsp;&nbsp;
        </a></li>
        <li class="separator"></li>
    </ul>
</div>

<div class="box">
    <div class="span12" id="EFaktur-table">
        <g:if test="${flash.message}">
            <div class="message" role="status">
                ${flash.message}
            </div>
        </g:if>
        <g:render template="dataTables"/>
    </div>
    <g:field type="button" onclick="closeUpload();" class="btn btn-cancel delete" name="close" id="close" value="${message(code: 'default.button.view.label', default: 'Close')}" />
    <div class="span7" id="EFaktur-form" style="display: none;"></div>
</div>
</body>
</html>
