

<%@ page import="com.kombos.administrasi.OperationDetail" %>
<!DOCTYPE html>
<html>
<head>
<meta name="layout" content="main">
<r:require modules="bootstrapeditable" />
<g:set var="entityName"
	value="${message(code: 'operationDetail.label', default: 'Operation Detail')}" />
<title><g:message code="default.show.label" args="[entityName]" /></title>
<g:javascript disposition="head">
var deleteOperationDetail;

$(function(){ 
	deleteOperationDetail=function(id){
		$.ajax({type:'POST', url:'${request.contextPath}/operationDetail/delete/',
			data: { id: id },
   			success:function(data,textStatus){
   				reloadOperationDetailTable();
   				expandTableLayout();
   			},
   			error:function(XMLHttpRequest,textStatus,errorThrown){},
   			complete:function(XMLHttpRequest,textStatus){
   				$('#spinner').fadeOut();
   			}
   		});
	}
});

</g:javascript>
</head>
<body>
	<div id="show-operationDetail" role="main">
		<legend>
			<g:message code="default.show.label" args="[entityName]" />
		</legend>
		<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
		</g:if>
		<table id="operationDetail"
			class="table table-bordered table-hover">
			<tbody>

				
				<g:if test="${operationDetailInstance?.jobID}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="jobID-label" class="property-label"><g:message
					code="operationDetail.jobID.label" default="Kode Job Paket" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="jobID-label">
						%{--<ba:editableValue
								bean="${operationDetailInstance}" field="jobID"
								url="${request.contextPath}/OperationDetail/updatefield" type="text"
								title="Enter jobID" onsuccess="reloadOperationDetailTable();" />--}%
							
								${operationDetailInstance?.jobID?.encodeAsHTML()}
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${operationDetailInstance?.jobIdDetail}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="jobIdDetail-label" class="property-label"><g:message
					code="operationDetail.jobIdDetail.label" default="Kode Job Detail" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="jobIdDetail-label">
						%{--<ba:editableValue
								bean="${operationDetailInstance}" field="jobIdDetail"
								url="${request.contextPath}/OperationDetail/updatefield" type="text"
								title="Enter jobIdDetail" onsuccess="reloadOperationDetailTable();" />--}%
							
								${operationDetailInstance?.jobIdDetail?.encodeAsHTML()}
							
						</span></td>
					
				</tr>
				</g:if>
			
				%{--<g:if test="${operationDetailInstance?.staDel}">--}%
				%{--<tr>--}%
				%{--<td class="span2" style="text-align: right;"><span--}%
					%{--id="staDel-label" class="property-label"><g:message--}%
					%{--code="operationDetail.staDel.label" default="Sta Del" />:</span></td>--}%
					%{----}%
						%{--<td class="span3"><span class="property-value"--}%
						%{--aria-labelledby="staDel-label">--}%
						%{--<ba:editableValue--}%
								%{--bean="${operationDetailInstance}" field="staDel"--}%
								%{--url="${request.contextPath}/OperationDetail/updatefield" type="text"--}%
								%{--title="Enter staDel" onsuccess="reloadOperationDetailTable();" />--}%
							%{----}%
								%{--<g:fieldValue bean="${operationDetailInstance}" field="staDel"/>--}%
							%{----}%
						%{--</span></td>--}%
					%{----}%
				%{--</tr>--}%
				%{--</g:if>--}%
			
				<g:if test="${operationDetailInstance?.lastUpdProcess}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="lastUpdProcess-label" class="property-label"><g:message
					code="operationDetail.lastUpdProcess.label" default="Last Upd Process" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="lastUpdProcess-label">
						%{--<ba:editableValue
								bean="${operationDetailInstance}" field="lastUpdProcess"
								url="${request.contextPath}/OperationDetail/updatefield" type="text"
								title="Enter lastUpdProcess" onsuccess="reloadOperationDetailTable();" />--}%
							
								<g:fieldValue bean="${operationDetailInstance}" field="lastUpdProcess"/>
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${operationDetailInstance?.dateCreated}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="dateCreated-label" class="property-label"><g:message
					code="operationDetail.dateCreated.label" default="Date Created" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="dateCreated-label">
						%{--<ba:editableValue
								bean="${operationDetailInstance}" field="dateCreated"
								url="${request.contextPath}/OperationDetail/updatefield" type="text"
								title="Enter dateCreated" onsuccess="reloadOperationDetailTable();" />--}%
							
								<g:formatDate date="${operationDetailInstance?.dateCreated}" type="datetime" style="MEDIUM"  />
							
						</span></td>
					
				</tr>
				</g:if>

            <g:if test="${operationDetailInstance?.createdBy}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="createdBy-label" class="property-label"><g:message
                                code="operationDetail.createdBy.label" default="Created By" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="createdBy-label">
                        %{--<ba:editableValue
                                bean="${operationDetailInstance}" field="createdBy"
                                url="${request.contextPath}/OperationDetail/updatefield" type="text"
                                title="Enter createdBy" onsuccess="reloadOperationDetailTable();" />--}%

                        <g:fieldValue bean="${operationDetailInstance}" field="createdBy"/>

                    </span></td>

                </tr>
            </g:if>
			
				<g:if test="${operationDetailInstance?.lastUpdated}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="lastUpdated-label" class="property-label"><g:message
					code="operationDetail.lastUpdated.label" default="Last Updated" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="lastUpdated-label">
						%{--<ba:editableValue
								bean="${operationDetailInstance}" field="lastUpdated"
								url="${request.contextPath}/OperationDetail/updatefield" type="text"
								title="Enter lastUpdated" onsuccess="reloadOperationDetailTable();" />--}%
							
								<g:formatDate date="${operationDetailInstance?.lastUpdated}" type="datetime" style="MEDIUM"  />
							
						</span></td>
					
				</tr>
				</g:if>

            <g:if test="${operationDetailInstance?.updatedBy}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="updatedBy-label" class="property-label"><g:message
                                code="operationDetail.updatedBy.label" default="Updated By" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="updatedBy-label">
                        %{--<ba:editableValue
                                bean="${operationDetailInstance}" field="updatedBy"
                                url="${request.contextPath}/OperationDetail/updatefield" type="text"
                                title="Enter updatedBy" onsuccess="reloadOperationDetailTable();" />--}%

                        <g:fieldValue bean="${operationDetailInstance}" field="updatedBy"/>

                    </span></td>

                </tr>
            </g:if>
			
			</tbody>
		</table>
		<g:form class="form-horizontal">
			<fieldset class="buttons controls">
				<a class="btn cancel" href="javascript:void(0);"
					onclick="expandTableLayout();"><g:message
						code="default.button.cancel.label" default="Cancel" /></a>		
				<g:remoteLink class="btn btn-primary edit" action="edit"
					id="${operationDetailInstance?.id}"
					update="[success:'operationDetail-form',failure:'operationDetail-form']"
					on404="alert('not found');">
					<g:message code="default.button.edit.label" default="Edit" />
				</g:remoteLink>
				<ba:confirm id="delete" class="btn cancel"
					message="${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}"
					onsuccess="deleteOperationDetail('${operationDetailInstance?.id}')" label="${message(code: 'default.button.delete.label', default: 'Delete')}"/>
			</fieldset>
		</g:form>
	</div>
</body>
</html>
