

<%@ page import="com.kombos.administrasi.KategoriJob" %>
<!DOCTYPE html>
<html>
<head>
<meta name="layout" content="main">
<r:require modules="bootstrapeditable" />
<g:set var="entityName"
	value="${message(code: 'kategoriJob.label', default: 'Kategori Job')}" />
<title><g:message code="default.show.label" args="[entityName]" /></title>
<g:javascript disposition="head">
var deleteKategoriJob;

$(function(){ 
	deleteKategoriJob=function(id){
		$.ajax({type:'POST', url:'${request.contextPath}/kategoriJob/delete/',
			data: { id: id },
   			success:function(data,textStatus){
   				reloadKategoriJobTable();
   				expandTableLayout();
   			},
   			error:function(XMLHttpRequest,textStatus,errorThrown){},
   			complete:function(XMLHttpRequest,textStatus){
   				$('#spinner').fadeOut();
   			}
   		});
	}
});

</g:javascript>
</head>
<body>
	<div id="show-kategoriJob" role="main">
		<legend>
			<g:message code="default.show.label" args="[entityName]" />
		</legend>
		<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
		</g:if>
		<table id="kategoriJob"
			class="table table-bordered table-hover">
			<tbody>

				
				<g:if test="${kategoriJobInstance?.m055KategoriJob}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="m055KategoriJob-label" class="property-label"><g:message
					code="kategoriJob.m055KategoriJob.label" default="Kategori Job" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="m055KategoriJob-label">
						%{--<ba:editableValue
								bean="${kategoriJobInstance}" field="m055KategoriJob"
								url="${request.contextPath}/KategoriJob/updatefield" type="text"
								title="Enter m055KategoriJob" onsuccess="reloadKategoriJobTable();" />--}%

								<g:fieldValue bean="${kategoriJobInstance}" field="m055KategoriJob"/>
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${kategoriJobInstance?.m055staReadOnly}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="m055staReadOnly-label" class="property-label"><g:message
					code="kategoriJob.m055staReadOnly.label" default="Keterangan" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="m055staReadOnly-label">
						%{--<ba:editableValue
								bean="${kategoriJobInstance}" field="m055staReadOnly"
								url="${request.contextPath}/KategoriJob/updatefield" type="text"
								title="Enter m055staReadOnly" onsuccess="reloadKategoriJobTable();" />--}%
							    ${keterangan}
								%{--<g:fieldValue bean="${kategoriJobInstance}" field="m055staReadOnly"/>--}%
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${kategoriJobInstance?.lastUpdProcess}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="lastUpdProcess-label" class="property-label"><g:message
					code="kategoriJob.lastUpdProcess.label" default="Last Upd Process" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="lastUpdProcess-label">
						%{--<ba:editableValue
								bean="${kategoriJobInstance}" field="lastUpdProcess"
								url="${request.contextPath}/KategoriJob/updatefield" type="text"
								title="Enter lastUpdProcess" onsuccess="reloadKategoriJobTable();" />--}%
							
								<g:fieldValue bean="${kategoriJobInstance}" field="lastUpdProcess"/>
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${kategoriJobInstance?.dateCreated}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="dateCreated-label" class="property-label"><g:message
					code="kategoriJob.dateCreated.label" default="Date Created" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="dateCreated-label">
						%{--<ba:editableValue
								bean="${kategoriJobInstance}" field="dateCreated"
								url="${request.contextPath}/KategoriJob/updatefield" type="text"
								title="Enter dateCreated" onsuccess="reloadKategoriJobTable();" />--}%
							
								<g:formatDate date="${kategoriJobInstance?.dateCreated}" type="datetime" style="MEDIUM" />
							
						</span></td>
					
				</tr>
				</g:if>

            <g:if test="${kategoriJobInstance?.createdBy}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="createdBy-label" class="property-label"><g:message
                                code="kategoriJob.createdBy.label" default="Created By" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="createdBy-label">
                        %{--<ba:editableValue
                                bean="${kategoriJobInstance}" field="createdBy"
                                url="${request.contextPath}/KategoriJob/updatefield" type="text"
                                title="Enter createdBy" onsuccess="reloadKategoriJobTable();" />--}%

                        <g:fieldValue bean="${kategoriJobInstance}" field="createdBy"/>

                    </span></td>

                </tr>
            </g:if>
			
				<g:if test="${kategoriJobInstance?.lastUpdated}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="lastUpdated-label" class="property-label"><g:message
					code="kategoriJob.lastUpdated.label" default="Last Updated" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="lastUpdated-label">
						%{--<ba:editableValue
								bean="${kategoriJobInstance}" field="lastUpdated"
								url="${request.contextPath}/KategoriJob/updatefield" type="text"
								title="Enter lastUpdated" onsuccess="reloadKategoriJobTable();" />--}%
							
								<g:formatDate date="${kategoriJobInstance?.lastUpdated}" type="datetime" style="MEDIUM" />
							
						</span></td>
					
				</tr>
				</g:if>

            <g:if test="${kategoriJobInstance?.updatedBy}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="updatedBy-label" class="property-label"><g:message
                                code="kategoriJob.updatedBy.label" default="Updated By" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="updatedBy-label">
                        %{--<ba:editableValue
                                bean="${kategoriJobInstance}" field="updatedBy"
                                url="${request.contextPath}/KategoriJob/updatefield" type="text"
                                title="Enter updatedBy" onsuccess="reloadKategoriJobTable();" />--}%

                        <g:fieldValue bean="${kategoriJobInstance}" field="updatedBy"/>

                    </span></td>

                </tr>
            </g:if>
			
				%{--<g:if test="${kategoriJobInstance?.m055ID}">--}%
				%{--<tr>--}%
				%{--<td class="span2" style="text-align: right;"><span--}%
					%{--id="m055ID-label" class="property-label"><g:message--}%
					%{--code="kategoriJob.m055ID.label" default="ID" />:</span></td>--}%
					%{----}%
						%{--<td class="span3"><span class="property-value"--}%
						%{--aria-labelledby="m055ID-label">--}%
						%{--<ba:editableValue--}%
								%{--bean="${kategoriJobInstance}" field="m055ID"--}%
								%{--url="${request.contextPath}/KategoriJob/updatefield" type="text"--}%
								%{--title="Enter m055ID" onsuccess="reloadKategoriJobTable();" />--}%
							%{----}%
								%{--<g:fieldValue bean="${kategoriJobInstance}" field="m055ID"/>--}%
							%{----}%
						%{--</span></td>--}%
					%{----}%
				%{--</tr>--}%
				%{--</g:if>--}%
			
			</tbody>
		</table>
		<g:form class="form-horizontal">
			<fieldset class="buttons controls">
				<a class="btn cancel" href="javascript:void(0);"
					onclick="expandTableLayout();"><g:message
						code="default.button.cancel.label" default="Cancel" /></a>
            <g:if test="${kategoriJobInstance?.m055staReadOnly=='1'}">
                <g:remoteLink class="btn btn-primary edit" action="edit"
					id="${kategoriJobInstance?.id}"
					update="[success:'kategoriJob-form',failure:'kategoriJob-form']"
					on404="alert('not found');">
					<g:message code="default.button.edit.label" default="Edit" />
				</g:remoteLink>
				<ba:confirm id="delete" class="btn cancel"
					message="${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}"
					onsuccess="deleteKategoriJob('${kategoriJobInstance?.id}')" label="${message(code: 'default.button.delete.label', default: 'Delete')}"/>
            </g:if>
			</fieldset>
		</g:form>
	</div>
</body>
</html>
