

<%@ page import="com.kombos.parts.GoodsHargaJual" %>
<!DOCTYPE html>
<html>
<head>
<meta name="layout" content="main">
<r:require modules="bootstrapeditable" />
<g:set var="entityName"
	value="${message(code: 'goodsHargaJual.label', default: 'Harga Jual Goods')}" />
<title><g:message code="default.show.label" args="[entityName]" /></title>
<g:javascript disposition="head">
var deleteGoodsHargaJual;

$(function(){ 
	deleteGoodsHargaJual=function(id){
		$.ajax({type:'POST', url:'${request.contextPath}/goodsHargaJual/delete/',
			data: { id: id },
   			success:function(data,textStatus){
   				reloadGoodsHargaJualTable();
   				expandTableLayout();
   			},
   			error:function(XMLHttpRequest,textStatus,errorThrown){},
   			complete:function(XMLHttpRequest,textStatus){
   				$('#spinner').fadeOut();
   			}
   		});
	}
});

</g:javascript>
</head>
<body>
	<div id="show-goodsHargaJual" role="main">
		<legend>
			<g:message code="default.show.label" args="[entityName]" />
		</legend>
		<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
		</g:if>
		<table id="goodsHargaJual"
			class="table table-bordered table-hover">
			<tbody>


				<g:if test="${goodsHargaJualInstance?.t151TMT}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="t151TMT-label" class="property-label"><g:message
					code="goodsHargaJual.t151TMT.label" default="Tanggal Berlaku" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="t151TMT-label">

								<g:formatDate date="${goodsHargaJualInstance?.t151TMT}" />
							
						</span></td>
					
				</tr>
				</g:if>

            <g:if test="${goodsHargaJualInstance?.goods}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="goods-label" class="property-label"><g:message
                                code="goodsHargaJual.goods.label" default="Nama Goods" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="goods-label">
                        <g:fieldValue field="m111Nama" bean="${goodsHargaJualInstance?.goods}" />
                    </span></td>

                </tr>
            </g:if>



            <g:if test="${goodsHargaJualInstance?.t151HargaTanpaPPN}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="t151HargaTanpaPPN-label" class="property-label"><g:message
					code="goodsHargaJual.t151HargaTanpaPPN.label" default="Harga Jual" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="t151HargaTanpaPPN-label">
								<g:fieldValue bean="${goodsHargaJualInstance}" field="t151HargaTanpaPPN"/>
							
						</span></td>
					
				</tr>
				</g:if>

				<g:if test="${goodsHargaJualInstance?.satuan}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="satuan-label" class="property-label"><g:message
					code="goodsHargaJual.satuan.label" default="Satuan" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="satuan-label">
                            <g:fieldValue field="m118Satuan1" bean="${goodsHargaJualInstance?.satuan}" />
						</span></td>
					
				</tr>
				</g:if>

            <g:if test="${goodsHargaJualInstance?.lastUpdProcess}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="lastUpdProcess-label" class="property-label"><g:message
                                code="goodsHargaJual.lastUpdProcess.label" default="Last Upd Process" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="lastUpdProcess-label">
                        <g:fieldValue bean="${goodsHargaJualInstance}" field="lastUpdProcess"/>

                    </span></td>

                </tr>
            </g:if>

            <g:if test="${goodsHargaJualInstance?.dateCreated}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="dateCreated-label" class="property-label"><g:message
                                code="goodsHargaJual.dateCreated.label" default="Date Created" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="dateCreated-label">
                        <g:formatDate date="${goodsHargaJualInstance?.dateCreated}" type="datetime" style="MEDIUM" />

                    </span></td>

                </tr>
            </g:if>

            <g:if test="${goodsHargaJualInstance?.createdBy}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="createdBy-label" class="property-label"><g:message
                                code="goodsHargaJual.createdBy.label" default="Created By" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="createdBy-label">
                        <g:fieldValue bean="${goodsHargaJualInstance}" field="createdBy"/>

                    </span></td>

                </tr>
            </g:if>

            <g:if test="${goodsHargaJualInstance?.lastUpdated}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="lastUpdated-label" class="property-label"><g:message
                                code="goodsHargaJual.lastUpdated.label" default="Last Updated" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="lastUpdated-label">
                        <g:formatDate date="${goodsHargaJualInstance?.lastUpdated}" type="datetime" style="MEDIUM"  />

                    </span></td>

                </tr>
            </g:if>

            <g:if test="${goodsHargaJualInstance?.updatedBy}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="updatedBy-label" class="property-label"><g:message
                                code="goodsHargaJual.updatedBy.label" default="Updated By" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="updatedBy-label">
                        <g:fieldValue bean="${goodsHargaJualInstance}" field="updatedBy"/>

                    </span></td>

                </tr>
            </g:if>


			</tbody>
		</table>
		<g:form class="form-horizontal">
			<fieldset class="buttons controls">
				<a class="btn cancel" href="javascript:void(0);"
					onclick="expandTableLayout();"><g:message
						code="default.button.cancel.label" default="Cancel" /></a>		
				<g:remoteLink class="btn btn-primary edit" action="edit"
					id="${goodsHargaJualInstance?.id}"
					update="[success:'goodsHargaJual-form',failure:'goodsHargaJual-form']"
					on404="alert('not found');">
					<g:message code="default.button.edit.label" default="Edit" />
				</g:remoteLink>
				<ba:confirm id="delete" class="btn cancel"
					message="${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}"
					onsuccess="deleteGoodsHargaJual('${goodsHargaJualInstance?.id}')" label="${message(code: 'default.button.delete.label', default: 'Delete')}"/>
			</fieldset>
		</g:form>
	</div>
</body>
</html>
