<%@ page import="com.kombos.parts.GoodsHargaJual" %>

<div class="control-group fieldcontain ${hasErrors(bean: goodsHargaJualInstance, field: 't151TMT', 'error')} ">
    <div class="controls">
        <input type="file" required="" id="fileExcel" name="fileExcel" accept="application/excel|application/vnd.ms-excel" />
        <br/>
        <a href="${request.getContextPath()}/formatFileUpload/UploadHargaJualGoods.xls" >File Example Upload Harga Jual Goods</a>
    </div>
</div>

