
<%@ page import="com.kombos.parts.PengembalianDP" %>

<r:require modules="baseapplayout" />
<g:render template="../menu/maxLineDisplay"/>
<script type="text/javascript">
    <g:javascript>
    function isNumberKey(evt)
    {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
    </g:javascript>
    jQuery(function($) {
        $('.persen').autoNumeric('init',{
            vMin:'0',
            vMax:'100',
            mDec: '2',
            aSep:''
        });
    });
</script>
<table id="pengembalianDP_datatables" cellpadding="0" cellspacing="0"
	border="0"
	class="display table table-striped table-bordered table-hover table-selectable"
	width="100%">
	<thead>
		<tr>

			<th style="border-bottom: none;padding: 5px;">
				<div><g:message code="pengembalianDP.m166TglBerlaku.label" default="Tanggal Berlaku" /></div>
			</th>


			<th style="border-bottom: none;padding: 5px;">
				<div><g:message code="pengembalianDP.m166PersenKembaliDP.label" default="Persen Pengembalian DP Parts (%)" /></div>
			</th>


			<th style="border-bottom: none;padding: 5px;">
				<div><g:message code="pengembalianDP.m166MaxKembaliDiKasir.label" default="Batas Max Pengembalian Di Kasir" /></div>
			</th>


			<th style="border-bottom: none;padding: 5px;">
				<div><g:message code="pengembalianDP.companyDealer.label" default="Company Dealer" /></div>
			</th>


			<th style="border-bottom: none;padding: 5px;">
				<div><g:message code="pengembalianDP.createdBy.label" default="Created By" /></div>
			</th>


			<th style="border-bottom: none;padding: 5px;">
				<div><g:message code="pengembalianDP.updatedBy.label" default="Updated By" /></div>
			</th>


			<th style="border-bottom: none;padding: 5px;">
				<div><g:message code="pengembalianDP.lastUpdProcess.label" default="Last Upd Process" /></div>
			</th>

		
		</tr>
		<tr>
		

			<th style="border-top: none;padding: 5px;">
				<div id="filter_m166TglBerlaku" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;" >
					<input type="hidden" name="search_m166TglBerlaku" value="date.struct">
					<input type="hidden" name="search_m166TglBerlaku_day" id="search_m166TglBerlaku_day" value="">
					<input type="hidden" name="search_m166TglBerlaku_month" id="search_m166TglBerlaku_month" value="">
					<input type="hidden" name="search_m166TglBerlaku_year" id="search_m166TglBerlaku_year" value="">
					<input type="text" data-date-format="dd/mm/yyyy" name="search_m166TglBerlaku_dp" value="" id="search_m166TglBerlaku" class="search_init">
				</div>
			</th>
	
			<th style="border-top: none;padding: 5px;">
				<div id="filter_m166PersenKembaliDP" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;">
					<input type="text" name="search_m166PersenKembaliDP" class="search_init persen" />
				</div>
			</th>
	
			<th style="border-top: none;padding: 5px;">
				<div id="filter_m166MaxKembaliDiKasir" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;">
					<input type="text" name="search_m166MaxKembaliDiKasir" class="search_init" onkeypress="return isNumberKey(event)" />
				</div>
			</th>
	
			<th style="border-top: none;padding: 5px;">
				<div id="filter_companyDealer" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;">
					<input type="text" name="search_companyDealer" class="search_init" />
				</div>
			</th>
	
			<th style="border-top: none;padding: 5px;">
				<div id="filter_createdBy" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;">
					<input type="text" name="search_createdBy" class="search_init" />
				</div>
			</th>
	
			<th style="border-top: none;padding: 5px;">
				<div id="filter_updatedBy" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;">
					<input type="text" name="search_updatedBy" class="search_init" />
				</div>
			</th>
	
			<th style="border-top: none;padding: 5px;">
				<div id="filter_lastUpdProcess" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;">
					<input type="text" name="search_lastUpdProcess" class="search_init" />
				</div>
			</th>


		</tr>
	</thead>
</table>

<g:javascript>
var pengembalianDPTable;
var reloadPengembalianDPTable;
$(function(){
	
	reloadPengembalianDPTable = function() {
		pengembalianDPTable.fnDraw();
	}

    var recordsPengembalianDPPerPage = [];
    var anPengembalianDPSelected;
    var jmlRecPengembalianDPPerPage=0;
    var id;
	
	$('#search_m166TglBerlaku').datepicker().on('changeDate', function(ev) {
			var newDate = new Date(ev.date);
			$('#search_m166TglBerlaku_day').val(newDate.getDate());
			$('#search_m166TglBerlaku_month').val(newDate.getMonth()+1);
			$('#search_m166TglBerlaku_year').val(newDate.getFullYear());
			$(this).datepicker('hide');
			pengembalianDPTable.fnDraw();	
	});

	


$("th div input").bind('keypress', function(e) {
		var code = (e.keyCode ? e.keyCode : e.which);
		if(code == 13) { 
			e.stopPropagation();
		 	pengembalianDPTable.fnDraw();
		}
	});
	$("th div input").click(function (e) {
	 	e.stopPropagation();
	});

	pengembalianDPTable = $('#pengembalianDP_datatables').dataTable({
		"sScrollX": "100%",
		"bScrollCollapse": true,
		"bAutoWidth" : false,
		"bPaginate" : true,
		"sInfo" : "",
		"sInfoEmpty" : "",
		"sDom": "<'row-fluid'r>t<'row-fluid'<'span12'i>><'row-fluid'<'span12'p>>",
		bFilter: true,
		"bStateSave": false,
		'sPaginationType': 'bootstrap',
		"fnDrawCallback": function () {
            var rsPengembalianDP = $("#pengembalianDP_datatables tbody .row-select");
            var jmlPengembalianDPCek = 0;
            var nRow;
            var idRec;
            rsPengembalianDP.each(function() {
                idRec = $(this).next("input:hidden").val();
                nRow = $(this).parent().parent();//.addClass('row_selected');
                if(recordsPengembalianDPPerPage[idRec]=="1"){
                    jmlPengembalianDPCek = jmlPengembalianDPCek + 1;
                    $(this).attr('checked', true);
                    nRow.addClass('row_selected');
                } else if(recordsPengembalianDPPerPage[idRec]=="0"){
                    $(this).attr('checked', false);
                    nRow.removeClass('row_selected');
                }

            });
            jmlRecPengembalianDPPerPage = rsPengembalianDP.length;
            if(jmlPengembalianDPCek==jmlRecPengembalianDPPerPage && jmlRecPengembalianDPPerPage>0){
                $('.select-all').attr('checked', true);
            } else {
                $('.select-all').attr('checked', false);
            }
        },
		"fnInitComplete": function () {
			this.fnAdjustColumnSizing(true);
		   },
		   "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
			return nRow;
		   },
		"bSort": true,
		"bProcessing": true,
		"bServerSide": true,
		"sServerMethod": "POST",
		"iDisplayLength" : maxLineDisplay, //maxLineDisplay is set in menu/maxLineDisplay.gsp
		"sAjaxSource": "${g.createLink(action: "datatablesList")}",
		"aoColumns": [

{
	"sName": "m166TglBerlaku",
	"mDataProp": "m166TglBerlaku",
	"aTargets": [0],
	"mRender": function ( data, type, row ) {
		return '<input type="checkbox" class="pull-left row-select" aria-label="Row '+row['id']+'" title="Select this"><input type="hidden" value="'+row['id']+'">&nbsp;&nbsp;<a href="#" onclick="show('+row['id']+');">'+data+'</a><a class="pull-right cell-action" href="javascript:void(0);" onclick="edit('+row['id']+');">&nbsp;&nbsp;<i class="icon-pencil"></i>&nbsp;&nbsp;</a>';
	},
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"300px",
	"bVisible": true
}

,

{
	"sName": "m166PersenKembaliDP",
	"mDataProp": "m166PersenKembaliDP",
	"aTargets": [1],
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"200px",
	"bVisible": true
}

,

{
	"sName": "m166MaxKembaliDiKasir",
	"mDataProp": "m166MaxKembaliDiKasir",
	"aTargets": [2],
	"bSearchable": true,
	"mRender": function ( data, type, row ) {
				            			if(data != null)
				            				return '<span class="pull-right numeric">'+data+'</span>';
				            			else
				            				return '<span></span>';
								},
	"bSortable": true,
	"sWidth":"200px",
	"bVisible": true
}

,

{
	"sName": "companyDealer",
	"mDataProp": "companyDealer",
	"aTargets": [3],
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"200px",
	"bVisible": false
}

,

{
	"sName": "createdBy",
	"mDataProp": "createdBy",
	"aTargets": [4],
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"200px",
	"bVisible": false
}

,

{
	"sName": "updatedBy",
	"mDataProp": "updatedBy",
	"aTargets": [5],
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"200px",
	"bVisible": false
}

,

{
	"sName": "lastUpdProcess",
	"mDataProp": "lastUpdProcess",
	"aTargets": [6],
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"200px",
	"bVisible": false
}

],
        "fnServerData": function ( sSource, aoData, fnCallback, oSettings ) {

						var m166TglBerlaku = $('#search_m166TglBerlaku').val();
						var m166TglBerlakuDay = $('#search_m166TglBerlaku_day').val();
						var m166TglBerlakuMonth = $('#search_m166TglBerlaku_month').val();
						var m166TglBerlakuYear = $('#search_m166TglBerlaku_year').val();
						
						if(m166TglBerlaku){
							aoData.push(
									{"name": 'sCriteria_m166TglBerlaku', "value": "date.struct"},
									{"name": 'sCriteria_m166TglBerlaku_dp', "value": m166TglBerlaku},
									{"name": 'sCriteria_m166TglBerlaku_day', "value": m166TglBerlakuDay},
									{"name": 'sCriteria_m166TglBerlaku_month', "value": m166TglBerlakuMonth},
									{"name": 'sCriteria_m166TglBerlaku_year', "value": m166TglBerlakuYear}
							);
						}
	
						var m166PersenKembaliDP = $('#filter_m166PersenKembaliDP input').val();
						if(m166PersenKembaliDP){
							aoData.push(
									{"name": 'sCriteria_m166PersenKembaliDP', "value": m166PersenKembaliDP}
							);
						}
	
						var m166MaxKembaliDiKasir = $('#filter_m166MaxKembaliDiKasir input').val();
						if(m166MaxKembaliDiKasir){
							aoData.push(
									{"name": 'sCriteria_m166MaxKembaliDiKasir', "value": m166MaxKembaliDiKasir}
							);
						}
	
						var companyDealer = $('#filter_companyDealer input').val();
						if(companyDealer){
							aoData.push(
									{"name": 'sCriteria_companyDealer', "value": companyDealer}
							);
						}
	
						var createdBy = $('#filter_createdBy input').val();
						if(createdBy){
							aoData.push(
									{"name": 'sCriteria_createdBy', "value": createdBy}
							);
						}
	
						var updatedBy = $('#filter_updatedBy input').val();
						if(updatedBy){
							aoData.push(
									{"name": 'sCriteria_updatedBy', "value": updatedBy}
							);
						}
	
						var lastUpdProcess = $('#filter_lastUpdProcess input').val();
						if(lastUpdProcess){
							aoData.push(
									{"name": 'sCriteria_lastUpdProcess', "value": lastUpdProcess}
							);
						}

						$.ajax({ "dataType": 'json',
							"type": "POST",
							"url": sSource,
							"data": aoData ,
							"success": function (json) {
								fnCallback(json);
							   },
							"complete": function () {
							$('td span.numeric').text(function(index, text) {
												return $.number(text,0);
									});
							   }
						});
		}			
	});
	
	$('.select-all').click(function(e) {

        $("#pengembalianDP_datatables tbody .row-select").each(function() {
            if(this.checked){
                recordsPengembalianDPPerPage[$(this).next("input:hidden").val()] = "1";
            } else {
                recordsPengembalianDPPerPage[$(this).next("input:hidden").val()] = "0";
            }
        });

    });

	$('#pengembalianDP_datatables tbody tr').live('click', function () {
        id = $(this).find('.row-select').next("input:hidden").val();
        if($(this).find('.row-select').is(":checked")){
            recordsPengembalianDPPerPage[id] = "1";
            $(this).find('.row-select').parent().parent().addClass('row_selected');
            anPengembalianDPSelected = pengembalianDPTable.$('tr.row_selected');
            if(jmlRecPengembalianDPPerPage == anPengembalianDPSelected.length){
                $('.select-all').attr('checked', true);
            }

        } else {
            recordsPengembalianDPPerPage[id] = "0";
            $('.select-all').attr('checked', false);
            $(this).find('.row-select').parent().parent().removeClass('row_selected');
        }
    });
});
</g:javascript>


			
