
<%@ page import="com.kombos.administrasi.ManPowerAbsensi" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'manPowerAbsensi.label', default: 'ManPower Rencana Hadir')}" />
		<title><g:message code="default.list.label" args="[entityName]" /></title>
		<r:require modules="baseapplayout" />
	</head>
	<body>
	<div class="navbar box-header no-border">
		<span class="pull-left"><g:message code="default.list.label" args="[entityName]" /></span>
	</div>
	<div class="box">
		<div class="span7" id="absensi-form">
			<g:if test="${flash.message}">
				<div class="message" role="status">
					${flash.message}
				</div>
			</g:if>
            <fieldset>
                    <table style="padding-right: 10px">
                        <tr>
                            <td colspan="3" >
                                <div class="controls" style="right: 0">
                                  testterrr
                                </div>
                            </td>
                        </tr>
                    </table>
            </fieldset>
		</div>
	</div>
</body>
</html>
