<table>
    <th>
        <td>
            No
        </td>
        <td>
            Nama
        </td>
    </th>
<g:each in="manPowerPenggantis" var="manPower">
    <tr>
        
        <td>${manPower.id}</td>
        <td>${manPower.t015NamaLengkap}</td>

    </tr>
</g:each>
</table>