<table border="1" style="width: 80%">
    <tr>
        <th style="width: 10%">
           No
        </th>
        <th style="width: 80%;text-align: center">
            Nama
        </th>
        <th style="width: 80%;text-align: center">
            Hapus
        </th>
    </tr>
    %{
        int number = 0
     }%
    <g:each in='${manPowerPenggantis}' >
        <tr>%{
             number = number + 1
        }%

            <td style="text-align: center">%{out<< number}%</td>
            <td style="text-align: center">${it.manPowerPengganti?.t015NamaLengkap}</td>
            <td>
                <g:field type="button"   onclick="deleteManPowerPengganti(${it.id},${idManPower});" class="btn deleteManPower create"  name="btnDelete" id="deleteManPower" value="${message(code: 'default.button.delete.label', default: 'Delete')}"/>
            </td>

        </tr>
    </g:each>
</table>