<%@ page import="com.kombos.administrasi.Operation" %>

<div class="control-group fieldcontain ${hasErrors(bean: operationInstance, field: 'm053JobsId', 'error')} ">
    <div class="controls">
        <input type="file"  id="fileExcel" name="fileExcel" accept="application/excel|application/vnd.ms-excel" />
    </div>
</div>

