<%@ page import="com.kombos.parts.HargaJualNonSPLDPerPart" %>

<div class="control-group fieldcontain ${hasErrors(bean: hargaJualInstance, field: 'goods', 'error')} ">
    <div class="controls">
        <input type="file" required="" id="fileExcel" name="fileExcel" accept="application/excel|application/vnd.ms-excel" />
    </div>
</div>


