<%@ page import="com.kombos.hrd.TrainingInstructor" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'trainingInstructor.label', default: 'TrainingInstructor')}" />
		<title><g:message code="default.edit.label" args="[entityName]" /></title>
	</head>
	<body>
		<div id="edit-trainingInstructor" class="content scaffold-edit" role="main">
            <legend>Ubah Data Instruktur Training</legend>
			<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
			</g:if>
			%{--<g:hasErrors bean="${trainingInstructorInstance}">
			<ul class="errors" role="alert">
				<g:eachError bean="${trainingInstructorInstance}" var="error">
				<li <g:if test="${error in org.springframework.validation.FieldError}">data-field-id="${error.field}"</g:if>><g:message error="${error}"/></li>
				</g:eachError>
			</ul>
			</g:hasErrors>--}%
			%{--<g:form method="post" >--}%
			<g:formRemote class="form-horizontal" name="edit" on404="alert('not found!');" onSuccess="reloadTrainingInstructorTable();" update="trainingInstructor-form"
				url="[controller: 'trainingInstructor', action:'update']">
				<g:hiddenField name="id" value="${trainingInstructorInstance?.id}" />
				<g:hiddenField name="version" value="${trainingInstructorInstance?.version}" />
				<fieldset class="form">
					<g:render template="form"/>
				</fieldset>
				<fieldset class="buttons controls">
					<g:actionSubmit class="btn btn-primary save" action="update" value="${message(code: 'default.button.update.label', default: 'Update')}" />
                    <a class="btn cancel" href="javascript:void(0);"
                       onclick="expandTableLayout('trainingInstructor');"><g:message
                            code="default.button.cancel.label" default="Cancel" /></a>
				</fieldset>
			</g:formRemote>
			%{--</g:form>--}%
		</div>
	</body>
</html>
