<%--
  Created by IntelliJ IDEA.
  User: DENDYSWARAN
  Date: 5/8/14
  Time: 11:50 PM
--%>

<%@ page import="com.kombos.maintable.Company; com.kombos.hrd.Karyawan; com.kombos.customerprofile.HistoryCustomer; com.kombos.administrasi.VendorAsuransi; com.kombos.parts.Vendor; com.kombos.administrasi.CompanyDealer; com.kombos.parts.Konversi" contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <meta name="layout" content="main">
    <title>DATA</title>
    <style>
    #detail-table thead th, #detail-table tbody tr td  {font-size: 10px; white-space: nowrap;vertical-align: middle;}
    #detail-table tbody tr td {text-align: center;}
    #detail-table tbody td input[type="text"] {font-size: 10px; width: 100%; margin-top: 10px;}
    #detail-form {margin-left: 0px;} #btnSearchAccount {position: relative; left: 9px; top: 2px;}
    </style>
    <r:require modules="baseapplayout, baseapplist"/>
    <g:javascript>
        $(function(){
            $("input[type=radio][value='1']").attr('checked', 'checked');
             $("input:checkbox").change(function(){
             var group = ":checkbox[name='"+ $(this).attr("name") + "']";
               if($(this).is(':checked')){
                 $(group).not($(this)).attr("checked",false);
               }
             });

             checkAll = function(ele,val) {
                 var checkboxes = document.getElementsByTagName('input');
                 if (ele.checked) {
                     for (var i = 0; i < checkboxes.length; i++) {
                         if (checkboxes[i].type == 'checkbox' && (checkboxes[i].value != "All2" && checkboxes[i].value != "All1")) {
                             checkboxes[i].checked = false;
                         }
                         if (checkboxes[i].type == 'checkbox' && checkboxes[i].value == val) {
                             checkboxes[i].checked = true;
                         }
                     }
                 } else {
                     for (var i = 0; i < checkboxes.length; i++) {
                         if (checkboxes[i].type == 'checkbox' && (checkboxes[i].value != "All2" && checkboxes[i].value != "All1")) {
                             checkboxes[i].checked = true;
                         }
                         if (checkboxes[i].type == 'checkbox' && checkboxes[i].value == val) {
                             checkboxes[i].checked = false;
                         }
                     }
                 }
             }
            generateNofak = function(){
                var arr = new Array()
                var noFak = ""
                var dataid = ""
                var conf = confirm("Apakah Anda Yakin?")
                if(conf){
                    $("#detail-table tbody .row-select").each(function() {
                        if(this.checked){
                            var fak = this.value
                            var dataid = $(this).next("input:hidden").val()
                            var map = {
                                noFaktur : fak,
                                dataid : dataid
                            }
                            arr.push(map)
                        }
                    });
                    var params = {
                        arr : JSON.stringify(arr)
                    }
                    $.post("${request.getContextPath()}/EFaktur/generateNofak", params, function(data) {

                    if (!data.error){
                        toastr.success("Sukses Generate Nomor Faktur By System");
                        reloadEFakturTable();
                    }
                    else
                        alert("Internal Server Error");
                    });
                     toastr.success("Please Waite...");
                    console.log(arr);
                }
            }

        });
    </g:javascript>
</head>
<body>

<style type="text/css">
#adaFK{
    background-color: #faf7f7 !important;
}
#noFK{
    background-color: #FFFFFF !important;
}
</style>
<div class="box">
    <div class="span12" id="showDetail-table">
        <div class="row-fluid" style="overflow: auto">
            <table id="detail-table" class="display table table-striped table-bordered table-hover table-selectable fixed">
                <thead>
                <th>No.</th>
                <th><input type="checkbox" class="row-select" name="All" value="All1" onchange="checkAll(this,'1')">&nbsp; Pilihan Generate</th>
                <th>FK</th>
                <th>KD_JENIS_TRANSAKSI</th>
                <th>FG_PENGGANTI</th>
                <th>NOMOR_FAKTUR</th>
                <th>MASA_PAJAK</th>
                <th>TAHUN_PAJAK</th>
                <th>TANGGAL_FAKTUR</th>
                <th>NPWP</th>
                <th>NAMA</th>
                <th>ALAMAT_LENGKAP</th>
                <th>JUMLAH_DPP</th>
                <th>JUMLAH_PPNBM</th>
                <th>ID_KETERANGAN_TAMBAHAN</th>
                <th>FG_UANG_MUKA</th>
                <th>UANG_MUKA_DPP</th>
                <th>UANG_MUKA_PPN</th>
                <th>UANG_MUKA_PPNBM</th>
                <th>REFERENSI</th>
                <th>LT</th>
                <th>NPWP2</th>
                <th>NAMA2</th>
                <th>JALAN</th>
                <th>BLOK</th>
                <th>NOMOR</th>
                <th>RT</th>
                <th>RW</th>
                <th>KECAMATAN</th>
                <th>KELURAHAN</th>
                <th>KABUPATEN</th>
                <th>PROPINSI</th>
                <th>KODE POS</th>
                <th>NOMOR_TELEPON</th>
                <th>OF</th>
                <th>KODE_OBJEK</th>
                <th>NAMA_OBJEK</th>
                <th>HARGA_SATUAN</th>
                <th>JUMLAH_BARANG</th>
                <th>HARGA_TOTAL</th>
                <th>DISKON</th>
                <th>DPP</th>
                <th>PPN</th>
                <th>TARIF_PPNB</th>
                <th>PPNB</th>
                </thead>
                <g:if test="${dataFakturDetail}">
                    %{def nom = 0;}%
                    <g:each in="${dataFakturDetail}" status="i" var="j" >
                        <tr>
                            %{def id = "'noFK'";}%
                            <g:if test="${j.FK !=null && j.FK !=" " && j.FK !="-"}">
                                %{ nom += 1;
                                id = "'adaFK'"
                                }%
                                <td %{out.print("id=" + id)}%>%{out.print(nom)}%</td>
                                <td %{out.print("id=" + id)}%><input type="checkbox" class="row-select" name="radio_${j.id}" value="1"><input type="hidden" name="data_${j.id}" value="${j.id}"></td>
                            </g:if>
                            <g:else>
                                <td %{out.print("id=" + id)}%>&nbsp;</td>
                                <td %{out.print("id=" + id)}%>&nbsp;</td>
                                <td %{out.print("id=" + id)}%>&nbsp;</td>
                            </g:else>
                            <td %{out.print("id=" + id)}%>${j.getFK()}</td>
                            <td %{out.print("id=" + id)}%>${j.getKD_JENIS_TRANSAKSI()}</td>
                            <td %{out.print("id=" + id)}%>${j.getFG_PENGGANTI()}</td>
                            <td %{out.print("id=" + id)}%>${j.getNOMOR_FAKTUR()}</td>
                            <td %{out.print("id=" + id)}%>${j.getMASA_PAJAK()}</td>
                            <td %{out.print("id=" + id)}%>${j.getTAHUN_PAJAK()}</td>
                            <td %{out.print("id=" + id)}%>${j.getTANGGAL_FAKTUR()}</td>
                            <td %{out.print("id=" + id)}%>${j.getNPWP()}</td>
                            <td %{out.print("id=" + id)}%>${j.getNAMA_OBJEK()}</td>
                            <td %{out.print("id=" + id)}%>${j.getALAMAT_LENGKAP()}</td>
                            <td %{out.print("id=" + id)}%>${j.getJUMLAH_DPP()}</td>
                            <td %{out.print("id=" + id)}%>${j.getJUMLAH_PPNBM()}</td>
                            <td %{out.print("id=" + id)}%>${j.getID_KETERANGAN_TAMBAHAN()}</td>
                            <td %{out.print("id=" + id)}%>${j.getFG_UANG_MUKA()}</td>
                            <td %{out.print("id=" + id)}%>${j.getUANG_MUKA_DPP()}</td>
                            <td %{out.print("id=" + id)}%>${j.getUANG_MUKA_PPN()}</td>
                            <td %{out.print("id=" + id)}%>${j.getUANG_MUKA_PPNBM()}</td>
                            <td %{out.print("id=" + id)}%>${j.getREFERENSI()}</td>
                            <td %{out.print("id=" + id)}%>${j.getLT()}</td>
                            <td %{out.print("id=" + id)}%>${j.getNPWP2()}</td>
                            <td %{out.print("id=" + id)}%>${j.getNAMA2()}</td>
                            <td %{out.print("id=" + id)}%>${j.getJALAN()}</td>
                            <td %{out.print("id=" + id)}%>${j.getBLOK()}</td>
                            <td %{out.print("id=" + id)}%>${j.getNOMOR()}</td>
                            <td %{out.print("id=" + id)}%>${j.getRT()}</td>
                            <td %{out.print("id=" + id)}%>${j.getRW()}</td>
                            <td %{out.print("id=" + id)}%>${j.getKECAMATAN()}</td>
                            <td %{out.print("id=" + id)}%>${j.getKELURAHAN()}</td>
                            <td %{out.print("id=" + id)}%>${j.getKABUPATEN()}</td>
                            <td %{out.print("id=" + id)}%>${j.getPROPINSI()}</td>
                            <td %{out.print("id=" + id)}%>${j.getKODE_POS()}</td>
                            <td %{out.print("id=" + id)}%>${j.getNOMOR_TELEPON()}</td>
                            <td %{out.print("id=" + id)}%>${j.getOF_()}</td>
                            <td %{out.print("id=" + id)}%>${j.getKODE_OBJEK()}</td>
                            <td %{out.print("id=" + id)}%>${j.getNAMA()}</td>
                            <td %{out.print("id=" + id)}%>${j.getHARGA_SATUAN()}</td>
                            <td %{out.print("id=" + id)}%>${j.getJUMLAH_BARANG()}</td>
                            <td %{out.print("id=" + id)}%>${j.getHARGA_TOTAL()}</td>
                            <td %{out.print("id=" + id)}%>${j.getDISKON()}</td>
                            <td %{out.print("id=" + id)}%>${j.getDPP()}</td>
                            <td %{out.print("id=" + id)}%>${j.getPPN()}</td>
                            <td %{out.print("id=" + id)}%>${j.getTARIF_PPNBM()}</td>
                            <td %{out.print("id=" + id)}%>${j.getPPNBM()}</td>
                        </tr>
                    </g:each>
                </g:if>
            </table>
        </div>
        <button class="btn btn-primary save" data-dismiss="modal" name="SAVE" id="saveTrxDetail" onclick="generateNofak()" style="margin-top: 13px;">Generate</button>
        <button class="btn cancel" data-dismiss="modal" name="close" id="closeTrxDetail" style="margin-top: 13px;">Close</button>
    </div>
</div>

</body>
</html>