<%@ page import="com.kombos.maintable.Company; com.kombos.hrd.Karyawan; com.kombos.customerprofile.HistoryCustomer; com.kombos.administrasi.VendorAsuransi; com.kombos.parts.Vendor; com.kombos.administrasi.CompanyDealer; com.kombos.parts.Konversi" contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <meta name="layout" content="main">
    <title>DATA</title>
    <style>
    #detail-table thead th, #detail-table tbody tr td  {font-size: 10px; white-space: nowrap;vertical-align: middle;}
    #detail-table tbody tr td {text-align: center;}
    #detail-table tbody td input[type="text"] {font-size: 10px; width: 100%; margin-top: 10px;}
    #detail-form {margin-left: 0px;} #btnSearchAccount {position: relative; left: 9px; top: 2px;}
    </style>
    <r:require modules="baseapplayout, baseapplist"/>
    <g:javascript>
        $(function(){
             $("input:checkbox").change(function(){
             var group = ":checkbox[name='"+ $(this).attr("name") + "']";
               if($(this).is(':checked')){
                 $(group).not($(this)).attr("checked",false);
               }
             });

             checkAll = function(ele,val) {
                 var checkboxes = document.getElementsByTagName('input');

                 if (ele.checked) {
                     for (var i = 0; i < checkboxes.length; i++) {
                         checkboxes[i].checked = false;
                         if (checkboxes[i].type == 'checkbox' && checkboxes[i].value == val) {
                             checkboxes[i].checked = true;

                         }
                     }
                     ele.checked = true;

                 }else {
                     for (var i = 0; i < checkboxes.length; i++) {

                         if (checkboxes[i].type == 'checkbox' && checkboxes[i].value == val) {
                             checkboxes[i].checked = false;
                         }
                     }
                 }

                 $('.cb1').on('click',function(){
                    $('#dua').prop('checked',false);
                    if($('.cb1:checked').length == $('.cb1').length){
                        $('#satu').prop('checked',true);
                    }else{
                        $('#satu').prop('checked',false);
                    }
                 });

                 $('.cb2').on('click',function(){
                    $('#satu').prop('checked',false);
                    if($('.cb2:checked').length == $('.cb2').length){
                        $('#dua').prop('checked',true);
                    }else{
                        $('#dua').prop('checked',false);
                    }
                 });
             }
            saveApproval = function(){
                var arr = new Array()
                var staAprove = ""
                var dataid = ""
                var conf = confirm("Apakah Anda Yakin?")
                if(conf){
                    $("#detail-table tbody .row-select").each(function() {
                        if(this.checked){
                            var sta = this.value
                            var dataid = $(this).next("input:hidden").val()
                            var map = {
                                staApprove : sta,
                                dataid : dataid
                            }
                            arr.push(map)
                        }
                    });
                    var params = {
                        arr : JSON.stringify(arr)
                    }
                    $.post("${request.getContextPath()}/EFaktur/saveApproval", params, function(data) {

                    if (!data.error){
                        toastr.success("Save Approval Success...");
                        reloadEFakturTable();
                    }
                    else
                        alert("Internal Server Error");
                    });
                     toastr.success("Please Waite...");
                    console.log(arr);
                }
            }
        });
    </g:javascript>
</head>
<body>

<style type="text/css">
#adaFK{
    background-color: #faf7f7 !important;
}
#noFK{
    background-color: #FFFFFF !important;
}
</style>
<div class="box"  style="overflow: auto">
    <div class="span12" id="showDetail-table" >
        <div class="row-fluid">
            <table id="detail-table" class="display table table-striped table-bordered table-hover table-selectable fixed">
                <thead>
                <th>No.</th>
                <th><input type="checkbox" id="satu" class = "cb" name="All" value="All1" onchange="checkAll(this,'1')">&nbsp; Approve</th>
                <th><input type="checkbox" id="dua" class = "cb" name="All" value="All2" onchange="checkAll(this,'2')"> &nbsp; Rejected</th>
                <th>FM</th>
                <th>KD_JENIS_TRANSAKSI</th>
                <th>FG_PENGGANTI</th>
                <th>NOMOR_FAKTUR</th>
                <th>MASA_PAJAK</th>
                <th>TAHUN_PAJAK</th>
                <th>TANGGAL_FAKTUR</th>
                <th>NPWP</th>
                <th>NAMA</th>
                <th>ALAMAT_LENGKAP</th>
                <th>JUMLAH_DPP</th>
                <th>JUMLAH_PPNBM</th>
                <th>IS_CREDITABLES</th>
                </thead>
                <g:if test="${dataFakturDetail}">
                    %{def nom = 0;}%
                    <g:each in="${dataFakturDetail}" status="i" var="j" >
                        <tr>

                            %{def id = "'noFK'";}%
                            <g:if test="${j.FM !=null && j.FM !=" " && j.FM !="-"}">
                                %{ nom += 1;
                                id = "'adaFK'"
                                }%
                                <td %{out.print("id=" + id)}%>%{out.print(nom)}%</td>
                                <td %{out.print("id=" + id)}%><input type="checkbox" class="row-select cb1" name="radio_${j.id}" value="1"><input type="hidden" name="data_${j.id}" value="${j.id}"></td>
                                <td %{out.print("id=" + id)}%><input type="checkbox" class="row-select cb2" name="radio_${j.id}" value="2"><input type="hidden" name="data_${j.id}" value="${j.id}"></td>
                            </g:if>
                            <g:else>
                                <td %{out.print("id=" + id)}%>&nbsp;</td>
                                <td %{out.print("id=" + id)}%>&nbsp;</td>
                                <td %{out.print("id=" + id)}%>&nbsp;</td>
                            </g:else>
                            <td %{out.print("id=" + id)}%>${j.getFM()}</td>
                            <td %{out.print("id=" + id)}%>${j.getKD_JENIS_TRANSAKSI()}</td>
                            <td %{out.print("id=" + id)}%>${j.getFG_PENGGANTI()}</td>
                            <td %{out.print("id=" + id)}%>${j.getNOMOR_FAKTUR()}</td>
                            <td %{out.print("id=" + id)}%>${j.getMASA_PAJAK()}</td>
                            <td %{out.print("id=" + id)}%>${j.getTAHUN_PAJAK()}</td>
                            <td %{out.print("id=" + id)}%>${j.getTANGGAL_FAKTUR()}</td>
                            <td %{out.print("id=" + id)}%>${j.getNPWP()}</td>
                            <td %{out.print("id=" + id)}%>${j.getNAMA()}</td>
                            <td %{out.print("id=" + id)}%>${j.getALAMAT_LENGKAP()}</td>
                            <td %{out.print("id=" + id)}%>${j.getJUMLAH_DPP()}</td>
                            <td %{out.print("id=" + id)}%>${j.getJUMLAH_PPNBM()}</td>
                            <td %{out.print("id=" + id)}%>${j.getIS_CREDITABLE()}</td>
                        </tr>
                    </g:each>
                </g:if>
            </table>
        </div>
        <button class="btn btn-primary save" data-dismiss="modal" name="SAVE" id="saveTrxDetail" onclick="saveApproval()" style="margin-top: 13px;">Save</button>
        <button class="btn cancel" data-dismiss="modal" name="close" id="closeTrxDetail" style="margin-top: 13px;">Tutup</button>
    </div>
</div>

</body>
</html>