<!DOCTYPE html>
<html>
<head>
    <meta name="layout" content="main">
    <r:require modules="baseapplayout" />
    <g:javascript>
var partsDisposalSubTable_${idTable};
$(function(){

    if(partsDisposalSubTable_${idTable})
    	partsDisposalSubTable_${idTable}.dataTable().fnDestroy();
partsDisposalSubTable_${idTable} = $('#partsDisposal_datatables_sub_${idTable}').dataTable({
		"bScrollCollapse": true,
		"bAutoWidth" : false,
		"bPaginate" : true,
		"sInfo" : "",
		"sInfoEmpty" : "",
		"sDom": "<'row-fluid'r>t<'row-fluid'>",
		bFilter: true,
		"bStateSave": false,
		'sPaginationType': 'bootstrap',
		"fnInitComplete": function () {
			this.fnAdjustColumnSizing(true);
		 },
		 "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
			return nRow;
		 },
		"bSort": true,
		"bProcessing": true,
		"bServerSide": true,
		"sServerMethod": "POST",
		"iDisplayLength" : maxLineDisplay, //maxLineDisplay is set in menu/maxLineDisplay.gsp
		"sAjaxSource": "${g.createLink(action: "datatablesSubList")}",
		"aoColumns": [
{
               "mDataProp": null,
               "bSortable": false,
               "sWidth":"10px",
               "sDefaultContent": ''
},
{
               "mDataProp": null,
               "sClass": "subcontrol center",
               "bSortable": false,
               "sWidth":"9px",
               "sDefaultContent": ''
},
{
	"sName": "kodeParts",
	"mDataProp": "kodeParts",
	"aTargets": [0],
	"mRender": function ( data, type, row ) {
		return '<input type="checkbox" class="pull-left row-select" aria-label="Row '+data+'" title="Select this">  <input type="hidden" value="'+row['id']+'">&nbsp;&nbsp;' + data;
	},
	"bSortable": false,
	"sWidth":"124px",
	"bVisible": true
},
{
	"sName": "namaParts",
	"mDataProp": "namaParts",
	"aTargets": [1],
	"bSortable": false,
	"sWidth":"150px",
	"bVisible": true
},
{
	"sName": "qty",
	"mDataProp": "qty",
	"aTargets": [2],
	"bSortable": false,
	"sWidth":"150px",
	"bVisible": true
},
{
	"sName": "location",
	"mDataProp": "location",
	"aTargets": [3],
	"bSortable": false,
	"sWidth":"150px",
	"bVisible": true
}

],
        "fnServerData": function ( sSource, aoData, fnCallback, oSettings ) {
						aoData.push(
									{"name": 'id', "value": "${id}"}

						);
						$.ajax({ "dataType": 'json',
							"type": "POST",
							"url": sSource,
							"data": aoData ,
							"success": function (json) {
								fnCallback(json);
							   },
							"complete": function () {
							   }
						});
		}			
	});
});
    </g:javascript>
</head>
<body>
<div class="innerDetails">
    <table id="partsDisposal_datatables_sub_${idTable}" cellpadding="0" cellspacing="0" border="0"
           class="display table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th style="border-bottom: none; padding: 5px; width: 200px;">
                <div>Kode Part</div>
            </th>
            <th style="border-bottom: none; padding: 5px; width: 200px;">
                <div>Nama Parts</div>
            </th>
            <th style="border-bottom: none; padding: 5px; width: 200px;">
                <div>Qty Disposal</div>
            </th>
            <th style="border-bottom: none; padding: 5px; width: 200px;">
                <div>Location</div>
            </th>

        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
</body>
</html>
