
<%@ page import="com.kombos.administrasi.MappingWorkItems" %>

<r:require modules="baseapplayout" />
<g:render template="../menu/maxLineDisplay"/>

<table id="mappingWorkItems_datatables" cellpadding="0" cellspacing="0"
	border="0"
    class="display table table-striped table-bordered table-hover table-selectable"
	width="100%">
	<thead>
		<tr>


            <th style="border-bottom: none;padding: 5px;">
				<div><g:message code="mappingWorkItems.operation.label" default="Nama Job" /></div>
			</th>


			<th style="border-bottom: none;padding: 5px;">
				<div><g:message code="mappingWorkItems.workItems.label" default="Work Items" /></div>
			</th>



		</tr>
		<tr>


            <th style="border-top: none;padding: 5px;">
				<div id="filter_operation" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;">
					<input type="text" name="search_operation" class="search_init" />
				</div>
			</th>
	
			<th style="border-top: none;padding: 5px;">
				<div id="filter_workItems" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;">
					<input type="text" name="search_workItems" class="search_init" />
				</div>
			</th>


		</tr>
	</thead>
</table>

<g:javascript>
var mappingWorkItemsTable;
var reloadMappingWorkItemsTable;
$(function(){
	
	reloadMappingWorkItemsTable = function() {
		mappingWorkItemsTable.fnDraw();
	}

    var recordsmappingWorkItemsperpage = [];
    var anMappingWorkItemsSelected;
    var jmlRecMappingWorkItemsPerPage=0;
    var id;

$("th div input").bind('keypress', function(e) {
		var code = (e.keyCode ? e.keyCode : e.which);
		if(code == 13) { 
			e.stopPropagation();
		 	mappingWorkItemsTable.fnDraw();
		}
	});
	$("th div input").click(function (e) {
	 	e.stopPropagation();
	});

	mappingWorkItemsTable = $('#mappingWorkItems_datatables').dataTable({
		"sScrollX": "100%",
		"bScrollCollapse": true,
		"bAutoWidth" : false,
		"bPaginate" : true,
		"sInfo" : "",
		"sInfoEmpty" : "",
		"sDom": "<'row-fluid'r>t<'row-fluid'<'span12'i>><'row-fluid'<'span12'p>>",
		bFilter: true,
		"bStateSave": false,
		'sPaginationType': 'bootstrap',
        "fnDrawCallback": function () {
            var rsMappingWorkItems = $("#mappingWorkItems_datatables tbody .row-select");
            var jmlMappingWorkItemsCek = 0;
            var nRow;
            var idRec;
            rsMappingWorkItems.each(function() {
                idRec = $(this).next("input:hidden").val();
                nRow = $(this).parent().parent();//.addClass('row_selected');
                if(recordsmappingWorkItemsperpage[idRec]=="1"){
                    jmlMappingWorkItemsCek = jmlMappingWorkItemsCek + 1;
                    $(this).attr('checked', true);
                    nRow.addClass('row_selected');
                } else if(recordsmappingWorkItemsperpage[idRec]=="0"){
                    $(this).attr('checked', false);
                    nRow.removeClass('row_selected');
                }

            });
            jmlRecMappingWorkItemsPerPage = rsMappingWorkItems.length;
            if(jmlMappingWorkItemsCek==jmlRecMappingWorkItemsPerPage && jmlRecMappingWorkItemsPerPage>0){
                $('.select-all').attr('checked', true);
            } else {
                $('.select-all').attr('checked', false);
            }
        },
        "fnInitComplete": function () {
			this.fnAdjustColumnSizing(true);
		   },
		   "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
			return nRow;
		   },
		"bSort": true,
		"bProcessing": true,
		"bServerSide": true,
		"sServerMethod": "POST",
		"iDisplayLength" : maxLineDisplay, //maxLineDisplay is set in menu/maxLineDisplay.gsp
		"sAjaxSource": "${g.createLink(action: "datatablesList")}",
		"aoColumns": [


{
	"sName": "operation",
	"mDataProp": "operation",
	"aTargets": [0],
	"mRender": function ( data, type, row ) {
		return '<input type="checkbox" class="pull-left row-select" aria-label="Row '+row['id']+'" title="Select this"><input type="hidden" value="'+row['id']+'">&nbsp;&nbsp;<a href="#" onclick="show('+row['id']+');">'+data+'</a><a class="pull-right cell-action" href="javascript:void(0);" onclick="edit('+row['id']+');">&nbsp;&nbsp;<i class="icon-pencil"></i>&nbsp;&nbsp;</a>';
	},	"bSearchable": true,
	"bSortable": true,
	"sWidth":"200px",
	"bVisible": true
}

,

{
	"sName": "workItems",
	"mDataProp": "workItems",
	"aTargets": [1],
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"200px",
	"bVisible": true
}

],
        "fnServerData": function ( sSource, aoData, fnCallback, oSettings ) {
	
						var companyDealer = $('#filter_companyDealer input').val();
						if(companyDealer){
							aoData.push(
									{"name": 'sCriteria_companyDealer', "value": companyDealer}
							);
						}
	
						var operation = $('#filter_operation input').val();
						if(operation){
							aoData.push(
									{"name": 'sCriteria_operation', "value": operation}
							);
						}
	
						var workItems = $('#filter_workItems input').val();
						if(workItems){
							aoData.push(
									{"name": 'sCriteria_workItems', "value": workItems}
							);
						}
	
						var createdBy = $('#filter_createdBy input').val();
						if(createdBy){
							aoData.push(
									{"name": 'sCriteria_createdBy', "value": createdBy}
							);
						}
	
						var updatedBy = $('#filter_updatedBy input').val();
						if(updatedBy){
							aoData.push(
									{"name": 'sCriteria_updatedBy', "value": updatedBy}
							);
						}
	
						var lastUpdProcess = $('#filter_lastUpdProcess input').val();
						if(lastUpdProcess){
							aoData.push(
									{"name": 'sCriteria_lastUpdProcess', "value": lastUpdProcess}
							);
						}

						$.ajax({ "dataType": 'json',
							"type": "POST",
							"url": sSource,
							"data": aoData ,
							"success": function (json) {
								fnCallback(json);
							   },
							"complete": function () {
							   }
						});
		}			
	});
    $('.select-all').click(function(e) {
        $("#mappingWorkItems_datatables tbody .row-select").each(function() {
            if(this.checked){
                recordsmappingWorkItemsperpage[$(this).next("input:hidden").val()] = "1";
            } else {
                recordsmappingWorkItemsperpage[$(this).next("input:hidden").val()] = "0";
            }
        });
    });

	$('#mappingWorkItems_datatables tbody tr').live('click', function () {
        id = $(this).find('.row-select').next("input:hidden").val();
        if($(this).find('.row-select').is(":checked")){
            recordsmappingWorkItemsperpage[id] = "1";
            $(this).find('.row-select').parent().parent().addClass('row_selected');
            anMappingWorkItemsSelected = mappingWorkItemsTable.$('tr.row_selected');
            if(jmlRecMappingWorkItemsPerPage == anMappingWorkItemsSelected.length){
                $('.select-all').attr('checked', true);
            }
        } else {
            recordsmappingWorkItemsperpage[id] = "0";
            $('.select-all').attr('checked', false);
            $(this).find('.row-select').parent().parent().removeClass('row_selected');
        }
    });

});
</g:javascript>


			
