

<%@ page import="com.kombos.administrasi.MappingWorkItems" %>
<!DOCTYPE html>
<html>
<head>
<meta name="layout" content="main">
<r:require modules="bootstrapeditable" />
<g:set var="entityName"
	value="${message(code: 'mappingWorkItems.label', default: 'Mapping Job Work Items')}" />
<title><g:message code="default.show.label" args="[entityName]" /></title>
<g:javascript disposition="head">
var deleteMappingWorkItems;

$(function(){ 
	deleteMappingWorkItems=function(id){
		$.ajax({type:'POST', url:'${request.contextPath}/mappingWorkItems/delete/',
			data: { id: id },
   			success:function(data,textStatus){
   				reloadMappingWorkItemsTable();
   				expandTableLayout();
   			},
   			error:function(XMLHttpRequest,textStatus,errorThrown){},
   			complete:function(XMLHttpRequest,textStatus){
   				$('#spinner').fadeOut();
   			}
   		});
	}
});

</g:javascript>
</head>
<body>
	<div id="show-mappingWorkItems" role="main">
		<legend>
			<g:message code="default.show.label" args="[entityName]" />
		</legend>
		<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
		</g:if>
		<table id="mappingWorkItems"
			class="table table-bordered table-hover">
			<tbody>

            <g:if test="${mappingWorkItemsInstance?.companyDealer}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="companyDealer-label" class="property-label"><g:message
                                code="mappingWorkItems.companyDealer.label" default="Company Dealer" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="companyDealer-label">
                        %{--<ba:editableValue
                                bean="${mappingWorkItemsInstance}" field="companyDealer"
                                url="${request.contextPath}/MappingWorkItems/updatefield" type="text"
                                title="Enter companyDealer" onsuccess="reloadMappingWorkItemsTable();" />--}%
                        <g:fieldValue field="companyDealer" bean="${mappingWorkItemsInstance}"/>
                    </span></td>

                </tr>
            </g:if>

            <g:if test="${mappingWorkItemsInstance?.operation}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="operation-label" class="property-label"><g:message
                                code="mappingWorkItems.operation.label" default="Nama Job" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="operation-label">
                        %{--<ba:editableValue
                                bean="${mappingWorkItemsInstance}" field="operation"
                                url="${request.contextPath}/MappingWorkItems/updatefield" type="text"
                                title="Enter operation" onsuccess="reloadMappingWorkItemsTable();" />--}%
                        <g:fieldValue field="operation" bean="${mappingWorkItemsInstance}"/>
                    </span></td>

                </tr>
            </g:if>

            <g:if test="${mappingWorkItemsInstance?.workItems}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="workItems-label" class="property-label"><g:message
                                code="mappingWorkItems.workItems.label" default="Work Items" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="workItems-label">
                        %{--<ba:editableValue
                                bean="${mappingWorkItemsInstance}" field="workItems"
                                url="${request.contextPath}/MappingWorkItems/updatefield" type="text"
                                title="Enter workItems" onsuccess="reloadMappingWorkItemsTable();" />--}%
                        <g:fieldValue field="workItems" bean="${mappingWorkItemsInstance}"/>
                    </span></td>

                </tr>
            </g:if>

            <g:if test="${mappingWorkItemsInstance?.lastUpdProcess}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="lastUpdProcess-label" class="property-label"><g:message
                                code="mappingWorkItems.lastUpdProcess.label" default="Last Upd Process" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="lastUpdProcess-label">
                        %{--<ba:editableValue
                                bean="${mappingWorkItemsInstance}" field="lastUpdProcess"
                                url="${request.contextPath}/mappingWorkItems/updatefield" type="text"
                                title="Enter lastUpdProcess" onsuccess="reloadmappingWorkItemsTable();" />--}%

                        <g:fieldValue bean="${mappingWorkItemsInstance}" field="lastUpdProcess"/>

                    </span></td>

                </tr>
            </g:if>

            <g:if test="${mappingWorkItemsInstance?.dateCreated}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="dateCreated-label" class="property-label"><g:message
                                code="mappingWorkItems.dateCreated.label" default="Date Created" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="dateCreated-label">
                        %{--<ba:editableValue
                                bean="${mappingWorkItemsInstance}" field="dateCreated"
                                url="${request.contextPath}/mappingWorkItems/updatefield" type="text"
                                title="Enter dateCreated" onsuccess="reloadmappingWorkItemsTable();" />--}%

                        <g:formatDate date="${mappingWorkItemsInstance?.dateCreated}" type="datetime" style="MEDIUM" />

                    </span></td>

                </tr>
            </g:if>

            <g:if test="${mappingWorkItemsInstance?.createdBy}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="createdBy-label" class="property-label"><g:message
                                code="mappingWorkItems.createdBy.label" default="Created By" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="createdBy-label">
                        %{--<ba:editableValue
                                bean="${mappingWorkItemsInstance}" field="createdBy"
                                url="${request.contextPath}/mappingWorkItems/updatefield" type="text"
                                title="Enter createdBy" onsuccess="reloadmappingWorkItemsTable();" />--}%

                        <g:fieldValue bean="${mappingWorkItemsInstance}" field="createdBy"/>

                    </span></td>

                </tr>
            </g:if>

            <g:if test="${mappingWorkItemsInstance?.lastUpdated}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="lastUpdated-label" class="property-label"><g:message
                                code="mappingWorkItems.lastUpdated.label" default="Last Updated" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="lastUpdated-label">
                        %{--<ba:editableValue
                                bean="${mappingWorkItemsInstance}" field="lastUpdated"
                                url="${request.contextPath}/mappingWorkItems/updatefield" type="text"
                                title="Enter lastUpdated" onsuccess="reloadmappingWorkItemsTable();" />--}%

                        <g:formatDate date="${mappingWorkItemsInstance?.lastUpdated}" type="datetime" style="MEDIUM"  />

                    </span></td>

                </tr>
            </g:if>

            <g:if test="${mappingWorkItemsInstance?.updatedBy}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="updatedBy-label" class="property-label"><g:message
                                code="mappingWorkItems.updatedBy.label" default="Updated By" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="updatedBy-label">
                        %{--<ba:editableValue
                                bean="${mappingWorkItemsInstance}" field="updatedBy"
                                url="${request.contextPath}/mappingWorkItems/updatefield" type="text"
                                title="Enter updatedBy" onsuccess="reloadmappingWorkItemsTable();" />--}%

                        <g:fieldValue bean="${mappingWorkItemsInstance}" field="updatedBy"/>

                    </span></td>

                </tr>
            </g:if>
				
			
			</tbody>
		</table>
		<g:form class="form-horizontal">
			<fieldset class="buttons controls">
				<a class="btn cancel" href="javascript:void(0);"
					onclick="expandTableLayout();"><g:message
						code="default.button.close.label" default="Close" /></a>
				<g:remoteLink class="btn btn-primary edit" action="edit"
					id="${mappingWorkItemsInstance?.id}"
					update="[success:'mappingWorkItems-form',failure:'mappingWorkItems-form']"
					on404="alert('not found');">
					<g:message code="default.button.edit.label" default="Edit" />
				</g:remoteLink>
				<ba:confirm id="delete" class="btn cancel"
					message="${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}"
					onsuccess="deleteMappingWorkItems('${mappingWorkItemsInstance?.id}')" label="${message(code: 'default.button.delete.label', default: 'Delete')}"/>
			</fieldset>
		</g:form>
	</div>
</body>
</html>
