
<%@ page import="com.kombos.administrasi.KelompokNPB" %>

<r:require modules="baseapplayout" />
<g:render template="../menu/maxLineDisplay"/>

<table id="kelompokNPB_datatables" cellpadding="0" cellspacing="0"
	border="0"
	class="display table table-striped table-bordered table-hover table-selectable"
	width="100%">
	<thead>
		<tr>

			<th style="border-bottom: none;padding: 5px;">
				<div><g:message code="kelompokNPB.kodeKelompok.label" default="Kode Kelompok" /></div>
			</th>


			<th style="border-bottom: none;padding: 5px;">
				<div><g:message code="kelompokNPB.lastUpdProcess.label" default="Last Upd Process" /></div>
			</th>


			<th style="border-bottom: none;padding: 5px;">
				<div><g:message code="kelompokNPB.namaKelompok.label" default="Nama Kelompok" /></div>
			</th>

		
		</tr>
		<tr>
		
	
			<th style="border-top: none;padding: 5px;">
				<div id="filter_kodeKelompok" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;">
					<input type="text" name="search_kodeKelompok" class="search_init" />
				</div>
			</th>
	
			<th style="border-top: none;padding: 5px;">
				<div id="filter_lastUpdProcess" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;">
					<input type="text" name="search_lastUpdProcess" class="search_init" />
				</div>
			</th>
	
			<th style="border-top: none;padding: 5px;">
				<div id="filter_namaKelompok" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;">
					<input type="text" name="search_namaKelompok" class="search_init" />
				</div>
			</th>


		</tr>
	</thead>
</table>

<g:javascript>
var kelompokNPBTable;
var reloadKelompokNPBTable;
$(function(){
	
	reloadKelompokNPBTable = function() {
		kelompokNPBTable.fnDraw();
	}

        var recordsKelompokNPBperpage = [];
        var anKelompokNPBSelected;
        var jmlRecKelompokNPBPerPage=0;
        var id;


$("th div input").bind('keypress', function(e) {
		var code = (e.keyCode ? e.keyCode : e.which);
		if(code == 13) { 
			e.stopPropagation();
		 	kelompokNPBTable.fnDraw();
		}
	});
	$("th div input").click(function (e) {
	 	e.stopPropagation();
	});

	kelompokNPBTable = $('#kelompokNPB_datatables').dataTable({
		"sScrollX": "100%",
		"bScrollCollapse": true,
		"bAutoWidth" : false,
		"bPaginate" : true,
		"sInfo" : "",
		"sInfoEmpty" : "",
		"sDom": "<'row-fluid'r>t<'row-fluid'<'span12'i>><'row-fluid'<'span12'p>>",
		bFilter: true,
		"bStateSave": false,
		'sPaginationType': 'bootstrap',
        "fnDrawCallback": function () {
            //alert( $('li.active').text() );
            var rsKelompokNPB = $("#kelompokNPB_datatables tbody .row-select");
            var jmlKelompokNPBCek = 0;
            var idRec;
            var nRow;
            rsKelompokNPB.each(function() {
                idRec = $(this).next("input:hidden").val();
                nRow = $(this).parent().parent();//.addClass('row_selected');
                if(recordsKelompokNPBperpage[idRec]=="1"){
                    jmlKelompokNPBCek = jmlKelompokNPBCek + 1;
                    $(this).attr('checked', true);
                    nRow.addClass('row_selected');
                } else if(recordsKelompokNPBperpage[idRec]=="0"){
                    $(this).attr('checked', false);
                    nRow.removeClass('row_selected');
                }

            });
            jmlRecKelompokNPBPerPage = rsKelompokNPB.length;
            if(jmlKelompokNPBCek==jmlRecKelompokNPBPerPage && jmlRecKelompokNPBPerPage>0){
                $('.select-all').attr('checked', true);
            } else {
                $('.select-all').attr('checked', false);
            }
            //alert("apakah ini : "+rs.length);
        },
		"fnInitComplete": function () {
			this.fnAdjustColumnSizing(true);
		   },
		   "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
			return nRow;
		   },
		"bSort": true,
		"bProcessing": true,
		"bServerSide": true,
		"sServerMethod": "POST",
		"iDisplayLength" : maxLineDisplay, //maxLineDisplay is set in menu/maxLineDisplay.gsp
		"sAjaxSource": "${g.createLink(action: "datatablesList")}",
		"aoColumns": [

{
	"sName": "kodeKelompok",
	"mDataProp": "kodeKelompok",
	"aTargets": [0],
	"mRender": function ( data, type, row ) {
		return '<input type="checkbox" class="pull-left row-select" aria-label="Row '+row['id']+'" title="Select this"><input type="hidden" value="'+row['id']+'">&nbsp;&nbsp;<a href="#" onclick="show('+row['id']+');">'+data+'</a><a class="pull-right cell-action" href="javascript:void(0);" onclick="edit('+row['id']+');">&nbsp;&nbsp;<i class="icon-pencil"></i>&nbsp;&nbsp;</a>';
	},
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"300px",
	"bVisible": true
}

,

{
	"sName": "lastUpdProcess",
	"mDataProp": "lastUpdProcess",
	"aTargets": [1],
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"200px",
	"bVisible": false
}

,

{
	"sName": "namaKelompok",
	"mDataProp": "namaKelompok",
	"aTargets": [2],
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"200px",
	"bVisible": true
}

],
        "fnServerData": function ( sSource, aoData, fnCallback, oSettings ) {
	
						var kodeKelompok = $('#filter_kodeKelompok input').val();
						if(kodeKelompok){
							aoData.push(
									{"name": 'sCriteria_kodeKelompok', "value": kodeKelompok}
							);
						}
	
						var lastUpdProcess = $('#filter_lastUpdProcess input').val();
						if(lastUpdProcess){
							aoData.push(
									{"name": 'sCriteria_lastUpdProcess', "value": lastUpdProcess}
							);
						}
	
						var namaKelompok = $('#filter_namaKelompok input').val();
						if(namaKelompok){
							aoData.push(
									{"name": 'sCriteria_namaKelompok', "value": namaKelompok}
							);
						}

						$.ajax({ "dataType": 'json',
							"type": "POST",
							"url": sSource,
							"data": aoData ,
							"success": function (json) {
								fnCallback(json);
							   },
							"complete": function () {
							   }
						});
		}			
	});

		$('.select-all').click(function(e) {
            $("#kelompokNPB_datatables tbody .row-select").each(function() {
                if(this.checked){
                    recordsKelompokNPBperpage[$(this).next("input:hidden").val()] = "1";
                } else {
                    recordsKelompokNPBperpage[$(this).next("input:hidden").val()] = "0";
                }
            });
        });

        $('#kelompokNPB_datatables tbody tr').live('click', function () {
            id = $(this).find('.row-select').next("input:hidden").val();
            if($(this).find('.row-select').is(":checked")){
                recordsKelompokNPBperpage[id] = "1";
                $(this).find('.row-select').parent().parent().addClass('row_selected');
                anKelompokNPBSelected = kelompokNPBTable.$('tr.row_selected');
                if(jmlRecKelompokNPBPerPage == anKelompokNPBSelected.length){
                    $('.select-all').attr('checked', true);
                }
            } else {
                recordsKelompokNPBperpage[id] = "0";
                $('.select-all').attr('checked', false);
                $(this).find('.row-select').parent().parent().removeClass('row_selected');
            }
        });



});
</g:javascript>


			
