<%@ page import="com.kombos.parts.GoodsDiskon" %>

<div class="control-group fieldcontain ${hasErrors(bean: goodsDiskonInstance, field: 'goodsDiskon', 'error')} ">

    <div class="controls">
        <input type="file" required="" id="fileExcel" name="fileExcel" accept="application/excel|application/vnd.ms-excel" />
    </div>
</div>
