
<%@ page import="com.kombos.customerprofile.Hobby" %>

<r:require modules="baseapplayout" />
<g:render template="../menu/maxLineDisplay"/>

<table id="hobby_datatables" cellpadding="0" cellspacing="0"
	border="0"
    class="display table table-striped table-bordered table-hover table-selectable"
	width="100%">
	<thead>
		<tr>
			<th style="border-bottom: none;padding: 5px;">
				<div><g:message code="hobby.m063ID.label" default="Kode Hobby" /></div>
			</th>
			<th style="border-bottom: none;padding: 5px;">
				<div><g:message code="hobby.m063NamaHobby.label" default="Hobby" /></div>
			</th>
		</tr>
		<tr>
			<th style="border-top: none;padding: 5px;">
				<div id="filter_m063ID" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;">
					<input type="text" name="search_m063ID" class="search_init" onkeypress="return isNumberKey(event)" />
				</div>
			</th>
			<th style="border-top: none;padding: 5px;">
				<div id="filter_m063NamaHobby" style="padding-top: 0px;position:relative; margin-top: 0px;width: 135px;">
					<input type="text" name="search_m063NamaHobby" class="search_init" />
				</div>
			</th>
		</tr>
	</thead>
</table>

<g:javascript>
var hobbyTable;
var reloadHobbyTable;
var reloadHobbyTableSave;
$(function(){

	reloadHobbyTable = function() {
		hobbyTable.fnDraw();
	}
	reloadHobbyTableSave = function() {
	    toastr.success('<div>Save Data Sukses.</div>');
		hobbyTable.fnDraw();
	}
    var recordsHobbyPerPage = [];//new Array();
    var anHobbySelected;
    var jmlRecHobbyPerPage=0;
    var id;



$("th div input").bind('keypress', function(e) {
		var code = (e.keyCode ? e.keyCode : e.which);
		if(code == 13) {
			e.stopPropagation();
		 	hobbyTable.fnDraw();
		}
	});
	$("th div input").click(function (e) {
	 	e.stopPropagation();
	});

	hobbyTable = $('#hobby_datatables').dataTable({
		"sScrollX": "100%",
		"bScrollCollapse": true,
		"bAutoWidth" : false,
		"bPaginate" : true,
		"sInfo" : "",
		"sInfoEmpty" : "",
		"sDom": "<'row-fluid'r>t<'row-fluid'<'span12'i>><'row-fluid'<'span12'p>>",
		bFilter: true,
		"bStateSave": false,
		'sPaginationType': 'bootstrap',
		"fnDrawCallback": function () {
            var rsHobby = $("#hobby_datatables tbody .row-select");
            var jmlHobbyCek = 0;
            var nRow;
            var idRec;
            rsHobby.each(function() {
                idRec = $(this).next("input:hidden").val();
                nRow = $(this).parent().parent();//.addClass('row_selected');
                if(recordsHobbyPerPage[idRec]=="1"){
                    jmlHobbyCek = jmlHobbyCek + 1;
                    $(this).attr('checked', true);
                    nRow.addClass('row_selected');
                } else if(recordsHobbyPerPage[idRec]=="0"){
                    $(this).attr('checked', false);
                    nRow.removeClass('row_selected');
                }

            });
            jmlRecHobbyPerPage = rsHobby.length;
            if(jmlHobbyCek==jmlRecHobbyPerPage && jmlRecHobbyPerPage>0){
                $('.select-all').attr('checked', true);
            } else {
                $('.select-all').attr('checked', false);
            }
            //alert("apakah ini : "+rs.length);
        },
		"fnInitComplete": function () {
			this.fnAdjustColumnSizing(true);
		   },
		   "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
			return nRow;
		   },
		"bSort": true,
		"bProcessing": true,
		"bServerSide": true,
		"sServerMethod": "POST",
		"iDisplayLength" : maxLineDisplay, //maxLineDisplay is set in menu/maxLineDisplay.gsp
		"sAjaxSource": "${g.createLink(action: "datatablesList")}",
		"aoColumns": [

{
	"sName": "m063ID",
	"mDataProp": "m063ID",
	"aTargets": [0],
	"mRender": function ( data, type, row ) {
		return '<input type="checkbox" class="pull-left row-select" aria-label="Row '+row['id']+'" title="Select this"><input type="hidden" value="'+row['id']+'">&nbsp;&nbsp;<a href="#" onclick="show('+row['id']+');">'+data+'</a><a class="pull-right cell-action" href="javascript:void(0);" onclick="edit('+row['id']+');">&nbsp;&nbsp;<i class="icon-pencil"></i>&nbsp;&nbsp;</a>';
	},
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"300px",
	"bVisible": true
}

,

{
	"sName": "m063NamaHobby",
	"mDataProp": "m063NamaHobby",
	"aTargets": [1],
	"bSearchable": true,
	"bSortable": true,
	"sWidth":"200px",
	"bVisible": true
}
],
        "fnServerData": function ( sSource, aoData, fnCallback, oSettings ) {
						var m063ID = $('#filter_m063ID input').val();
						if(m063ID){
							aoData.push(
									{"name": 'sCriteria_m063ID', "value": m063ID}
							);
						}
						var m063NamaHobby = $('#filter_m063NamaHobby input').val();
						if(m063NamaHobby){
							aoData.push(
									{"name": 'sCriteria_m063NamaHobby', "value": m063NamaHobby}
							);
						}
						$.ajax({ "dataType": 'json',
							"type": "POST",
							"url": sSource,
							"data": aoData ,
							"success": function (json) {
								fnCallback(json);
							   },
							"complete": function () {
							   }
						});
		}
	});
	
	$('.select-all').click(function(e) {

        $("#hobby_datatables tbody .row-select").each(function() {
            if(this.checked){
                recordsHobbyPerPage[$(this).next("input:hidden").val()] = "1";
            } else {
                recordsHobbyPerPage[$(this).next("input:hidden").val()] = "0";
            }
        });

    });

	$('#hobby_datatables tbody tr').live('click', function () {

        id = $(this).find('.row-select').next("input:hidden").val();
        if($(this).find('.row-select').is(":checked")){
            recordsHobbyPerPage[id] = "1";
            $(this).find('.row-select').parent().parent().addClass('row_selected');
            anHobbySelected = hobbyTable.$('tr.row_selected');
            if(jmlRecHobbyPerPage == anHobbySelected.length){
                $('.select-all').attr('checked', true);
            }
        } else {
            recordsHobbyPerPage[id] = "0";
            $('.select-all').attr('checked', false);
            $(this).find('.row-select').parent().parent().removeClass('row_selected');
        }
    });
});
</g:javascript>



