
<%@ page import="com.kombos.customerprofile.Hobby" %>
<!DOCTYPE html>
<html>
<head>
<meta name="layout" content="main">
<r:require modules="bootstrapeditable" />
<g:set var="entityName"
	value="${message(code: 'hobby.label', default: 'Hobby')}" />
<title><g:message code="default.show.label" args="[entityName]" /></title>
<g:javascript disposition="head">
var deleteHobby;

$(function(){
	deleteHobby=function(id){
		$.ajax({type:'POST', url:'${request.contextPath}/hobby/delete/',
			data: { id: id },
   			success:function(data,textStatus){
   				reloadHobbyTable();
   				expandTableLayout();
   			},
   			error:function(XMLHttpRequest,textStatus,errorThrown){},
   			complete:function(XMLHttpRequest,textStatus){
   				$('#spinner').fadeOut();
   			}
   		});
	}
});

</g:javascript>
</head>
<body>
	<div id="show-hobby" role="main">
		<legend>
			<g:message code="default.show.label" args="[entityName]" />
		</legend>
		<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
		</g:if>
		<table id="hobby"
			class="table table-bordered table-hover">
			<tbody>


				<g:if test="${hobbyInstance?.m063ID}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="m063ID-label" class="property-label"><g:message
					code="hobby.m063ID.label" default="Kode Hobby" />:</span></td>

						<td class="span3"><span class="property-value"
						aria-labelledby="m063ID-label">
						%{--<ba:editableValue
								bean="${hobbyInstance}" field="m063ID"
								url="${request.contextPath}/Hobby/updatefield" type="text"
								title="Enter m063ID" onsuccess="reloadHobbyTable();" />--}%

								<g:fieldValue bean="${hobbyInstance}" field="m063ID"/>

						</span></td>

				</tr>
				</g:if>

				<g:if test="${hobbyInstance?.m063NamaHobby}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="m063NamaHobby-label" class="property-label"><g:message
					code="hobby.m063NamaHobby.label" default="Nama Hobby" />:</span></td>

						<td class="span3"><span class="property-value"
						aria-labelledby="m063NamaHobby-label">
						%{--<ba:editableValue
								bean="${hobbyInstance}" field="m063NamaHobby"
								url="${request.contextPath}/Hobby/updatefield" type="text"
								title="Enter m063NamaHobby" onsuccess="reloadHobbyTable();" />--}%

								<g:fieldValue bean="${hobbyInstance}" field="m063NamaHobby"/>

						</span></td>

				</tr>
				</g:if>

				%{--<g:if test="${hobbyInstance?.staDel}">--}%
				%{--<tr>--}%
				%{--<td class="span2" style="text-align: right;"><span--}%
					%{--id="staDel-label" class="property-label"><g:message--}%
					%{--code="hobby.staDel.label" default="Sta Del" />:</span></td>--}%
					%{----}%
						%{--<td class="span3"><span class="property-value"--}%
						%{--aria-labelledby="staDel-label">--}%
						%{--<ba:editableValue--}%
								%{--bean="${hobbyInstance}" field="staDel"--}%
								%{--url="${request.contextPath}/Hobby/updatefield" type="text"--}%
								%{--title="Enter staDel" onsuccess="reloadHobbyTable();" />--}%
							%{----}%
								%{--<g:fieldValue bean="${hobbyInstance}" field="staDel"/>--}%
							%{----}%
						%{--</span></td>--}%
					%{----}%
				%{--</tr>--}%
				%{--</g:if>--}%

				<g:if test="${hobbyInstance?.lastUpdProcess}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="lastUpdProcess-label" class="property-label"><g:message
					code="hobby.lastUpdProcess.label" default="Last Upd Process" />:</span></td>

						<td class="span3"><span class="property-value"
						aria-labelledby="lastUpdProcess-label">
						%{--<ba:editableValue
								bean="${hobbyInstance}" field="lastUpdProcess"
								url="${request.contextPath}/Hobby/updatefield" type="text"
								title="Enter lastUpdProcess" onsuccess="reloadHobbyTable();" />--}%

								<g:fieldValue bean="${hobbyInstance}" field="lastUpdProcess"/>

						</span></td>

				</tr>
				</g:if>

				<g:if test="${hobbyInstance?.dateCreated}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="dateCreated-label" class="property-label"><g:message
					code="hobby.dateCreated.label" default="Date Created" />:</span></td>

						<td class="span3"><span class="property-value"
						aria-labelledby="dateCreated-label">
						%{--<ba:editableValue
								bean="${hobbyInstance}" field="dateCreated"
								url="${request.contextPath}/Hobby/updatefield" type="text"
								title="Enter dateCreated" onsuccess="reloadHobbyTable();" />--}%

								<g:formatDate date="${hobbyInstance?.dateCreated}" type="datetime" style="MEDIUM" />

						</span></td>

				</tr>
				</g:if>

            <g:if test="${hobbyInstance?.createdBy}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="createdBy-label" class="property-label"><g:message
                                code="hobby.createdBy.label" default="Created By" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="createdBy-label">
                        %{--<ba:editableValue
                                bean="${hobbyInstance}" field="createdBy"
                                url="${request.contextPath}/Hobby/updatefield" type="text"
                                title="Enter createdBy" onsuccess="reloadHobbyTable();" />--}%

                        <g:fieldValue bean="${hobbyInstance}" field="createdBy"/>

                    </span></td>

                </tr>
            </g:if>

				<g:if test="${hobbyInstance?.lastUpdated}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="lastUpdated-label" class="property-label"><g:message
					code="hobby.lastUpdated.label" default="Last Updated" />:</span></td>

						<td class="span3"><span class="property-value"
						aria-labelledby="lastUpdated-label">
						%{--<ba:editableValue
								bean="${hobbyInstance}" field="lastUpdated"
								url="${request.contextPath}/Hobby/updatefield" type="text"
								title="Enter lastUpdated" onsuccess="reloadHobbyTable();" />--}%

								<g:formatDate date="${hobbyInstance?.lastUpdated}" type="datetime" style="MEDIUM" />

						</span></td>

				</tr>
				</g:if>

            <g:if test="${hobbyInstance?.updatedBy}">
                <tr>
                    <td class="span2" style="text-align: right;"><span
                            id="updatedBy-label" class="property-label"><g:message
                                code="hobby.updatedBy.label" default="Updated By" />:</span></td>

                    <td class="span3"><span class="property-value"
                                            aria-labelledby="updatedBy-label">
                        %{--<ba:editableValue
                                bean="${hobbyInstance}" field="updatedBy"
                                url="${request.contextPath}/Hobby/updatefield" type="text"
                                title="Enter updatedBy" onsuccess="reloadHobbyTable();" />--}%

                        <g:fieldValue bean="${hobbyInstance}" field="updatedBy"/>

                    </span></td>

                </tr>
            </g:if>

			</tbody>
		</table>
		<g:form class="form-horizontal">
			<fieldset class="buttons controls">
				<a class="btn cancel" href="javascript:void(0);"
					onclick="expandTableLayout();"><g:message
						code="default.button.cancel.label" default="Cancel" /></a>
				<g:remoteLink class="btn btn-primary edit" action="edit"
					id="${hobbyInstance?.id}"
					update="[success:'hobby-form',failure:'hobby-form']"
					on404="alert('not found');">
					<g:message code="default.button.edit.label" default="Edit" />
				</g:remoteLink>
				<ba:confirm id="delete" class="btn cancel"
					message="${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}"
					onsuccess="deleteHobby('${hobbyInstance?.id}')" label="${message(code: 'default.button.delete.label', default: 'Delete')}"/>
			</fieldset>
		</g:form>
	</div>
</body>
</html>
