

<%@ page import="com.kombos.finance.MappingJournal" %>
<!DOCTYPE html>
<html>
<head>
<meta name="layout" content="main">
<r:require modules="bootstrapeditable" />
<g:set var="entityName"
	value="${message(code: 'mappingJournal.label', default: 'MappingJournal')}" />
<title><g:message code="default.show.label" args="[entityName]" /></title>
<g:javascript disposition="head">
var deleteMappingJournal;

$(function(){ 
	deleteMappingJournal=function(id){
		$.ajax({type:'POST', url:'${request.contextPath}/mappingJournal/delete/',
			data: { id: id },
   			success:function(data,textStatus){
   				reloadMappingJournalTable();
   				expandTableLayout('mappingJournal');
   			},
   			error:function(XMLHttpRequest,textStatus,errorThrown){},
   			complete:function(XMLHttpRequest,textStatus){
   				$('#spinner').fadeOut();
   			}
   		});
	}
});

</g:javascript>
</head>
<body>
	<div id="show-mappingJournal" role="main">
		<legend>
			<g:message code="default.show.label" args="[entityName]" />
		</legend>
		<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
		</g:if>
		<table id="mappingJournal"
			class="table table-bordered table-hover">
			<tbody>

				
				<g:if test="${mappingJournalInstance?.createdBy}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="createdBy-label" class="property-label"><g:message
					code="mappingJournal.createdBy.label" default="Created By" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="createdBy-label">
						%{--<ba:editableValue
								bean="${mappingJournalInstance}" field="createdBy"
								url="${request.contextPath}/MappingJournal/updatefield" type="text"
								title="Enter createdBy" onsuccess="reloadMappingJournalTable();" />--}%
							
								<g:fieldValue bean="${mappingJournalInstance}" field="createdBy"/>
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${mappingJournalInstance?.dateCreated}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="dateCreated-label" class="property-label"><g:message
					code="mappingJournal.dateCreated.label" default="Date Created" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="dateCreated-label">
						%{--<ba:editableValue
								bean="${mappingJournalInstance}" field="dateCreated"
								url="${request.contextPath}/MappingJournal/updatefield" type="text"
								title="Enter dateCreated" onsuccess="reloadMappingJournalTable();" />--}%
							
								<g:formatDate date="${mappingJournalInstance?.dateCreated}" />
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${mappingJournalInstance?.description}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="description-label" class="property-label"><g:message
					code="mappingJournal.description.label" default="Description" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="description-label">
						%{--<ba:editableValue
								bean="${mappingJournalInstance}" field="description"
								url="${request.contextPath}/MappingJournal/updatefield" type="text"
								title="Enter description" onsuccess="reloadMappingJournalTable();" />--}%
							
								<g:fieldValue bean="${mappingJournalInstance}" field="description"/>
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${mappingJournalInstance?.lastUpdProcess}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="lastUpdProcess-label" class="property-label"><g:message
					code="mappingJournal.lastUpdProcess.label" default="Last Upd Process" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="lastUpdProcess-label">
						%{--<ba:editableValue
								bean="${mappingJournalInstance}" field="lastUpdProcess"
								url="${request.contextPath}/MappingJournal/updatefield" type="text"
								title="Enter lastUpdProcess" onsuccess="reloadMappingJournalTable();" />--}%
							
								<g:fieldValue bean="${mappingJournalInstance}" field="lastUpdProcess"/>
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${mappingJournalInstance?.lastUpdated}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="lastUpdated-label" class="property-label"><g:message
					code="mappingJournal.lastUpdated.label" default="Last Updated" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="lastUpdated-label">
						%{--<ba:editableValue
								bean="${mappingJournalInstance}" field="lastUpdated"
								url="${request.contextPath}/MappingJournal/updatefield" type="text"
								title="Enter lastUpdated" onsuccess="reloadMappingJournalTable();" />--}%
							
								<g:formatDate date="${mappingJournalInstance?.lastUpdated}" />
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${mappingJournalInstance?.mappingCode}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="mappingCode-label" class="property-label"><g:message
					code="mappingJournal.mappingCode.label" default="Mapping Code" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="mappingCode-label">
						%{--<ba:editableValue
								bean="${mappingJournalInstance}" field="mappingCode"
								url="${request.contextPath}/MappingJournal/updatefield" type="text"
								title="Enter mappingCode" onsuccess="reloadMappingJournalTable();" />--}%
							
								<g:fieldValue bean="${mappingJournalInstance}" field="mappingCode"/>
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${mappingJournalInstance?.mappingJournalDetail}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="mappingJournalDetail-label" class="property-label"><g:message
					code="mappingJournal.mappingJournalDetail.label" default="Mapping Journal Detail" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="mappingJournalDetail-label">
						%{--<ba:editableValue
								bean="${mappingJournalInstance}" field="mappingJournalDetail"
								url="${request.contextPath}/MappingJournal/updatefield" type="text"
								title="Enter mappingJournalDetail" onsuccess="reloadMappingJournalTable();" />--}%
							
								<g:each in="${mappingJournalInstance.mappingJournalDetail}" var="m">
								<g:link controller="mappingJournalDetail" action="show" id="${m.id}">${m?.encodeAsHTML()}</g:link>
								</g:each>
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${mappingJournalInstance?.mappingName}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="mappingName-label" class="property-label"><g:message
					code="mappingJournal.mappingName.label" default="Mapping Name" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="mappingName-label">
						%{--<ba:editableValue
								bean="${mappingJournalInstance}" field="mappingName"
								url="${request.contextPath}/MappingJournal/updatefield" type="text"
								title="Enter mappingName" onsuccess="reloadMappingJournalTable();" />--}%
							
								<g:fieldValue bean="${mappingJournalInstance}" field="mappingName"/>
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${mappingJournalInstance?.staDel}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="staDel-label" class="property-label"><g:message
					code="mappingJournal.staDel.label" default="Sta Del" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="staDel-label">
						%{--<ba:editableValue
								bean="${mappingJournalInstance}" field="staDel"
								url="${request.contextPath}/MappingJournal/updatefield" type="text"
								title="Enter staDel" onsuccess="reloadMappingJournalTable();" />--}%
							
								<g:fieldValue bean="${mappingJournalInstance}" field="staDel"/>
							
						</span></td>
					
				</tr>
				</g:if>
			
				<g:if test="${mappingJournalInstance?.updatedBy}">
				<tr>
				<td class="span2" style="text-align: right;"><span
					id="updatedBy-label" class="property-label"><g:message
					code="mappingJournal.updatedBy.label" default="Updated By" />:</span></td>
					
						<td class="span3"><span class="property-value"
						aria-labelledby="updatedBy-label">
						%{--<ba:editableValue
								bean="${mappingJournalInstance}" field="updatedBy"
								url="${request.contextPath}/MappingJournal/updatefield" type="text"
								title="Enter updatedBy" onsuccess="reloadMappingJournalTable();" />--}%
							
								<g:fieldValue bean="${mappingJournalInstance}" field="updatedBy"/>
							
						</span></td>
					
				</tr>
				</g:if>
			
			</tbody>
		</table>
		<g:form class="form-horizontal">
			<fieldset class="buttons controls">
				<a class="btn cancel" href="javascript:void(0);"
					onclick="expandTableLayout('mappingJournal');"><g:message
						code="default.button.cancel.label" default="Cancel" /></a>		
				<g:remoteLink class="btn btn-primary edit" action="edit"
					id="${mappingJournalInstance?.id}"
					update="[success:'mappingJournal-form',failure:'mappingJournal-form']"
					on404="alert('not found');">
					<g:message code="default.button.edit.label" default="Edit" />
				</g:remoteLink>
				<ba:confirm id="delete" class="btn cancel"
					message="${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}"
					onsuccess="deleteMappingJournal('${mappingJournalInstance?.id}')" label="${message(code: 'default.button.delete.label', default: 'Delete')}"/>
			</fieldset>
		</g:form>
	</div>
</body>
</html>
